ai-voice-agent-refined-prompts-with-rag-&-twilio-(company-information)-k0LcVOJLyRWMebnA.json
{"createdAt":"2025-04-08T09:59:48.645Z","updatedAt":"2025-04-08T12:21:50.694Z","id":"k0LcVOJLyRWMebnA","name":"AI Voice Agent Refined Prompts with RAG & Twilio (Company Information)","active":true,"nodes":[{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"company-files","mode":"list","cachedResultName":"company-files"},"options":{}},"id":"38110388-22d5-43f1-b76e-047d498cfbcf","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[-220,-220],"typeVersion":1,"credentials":{"pineconeApi":{"id":"ma3QfVS0RlM8kmmz","name":"PineconeApi account 3"}}},{"parameters":{"modelName":"models/text-embedding-004"},"id":"303b3385-3f7e-4cb7-9ef2-cb728963aa63","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[-260,60],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{}},"id":"27d3a4ee-22fb-4e7a-9c6f-065e35e54885","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[-60,0],"typeVersion":1},{"parameters":{"chunkOverlap":100,"options":{}},"id":"f62f1d48-e662-44b0-b2d8-114623ba23ae","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[-80,200],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"fileName":"={{ $json.name }}"}},"id":"a0120b0c-b04e-4226-b03f-0ad0ce87f7c6","name":"Download File From Google Drive","type":"n8n-nodes-base.googleDrive","position":[-440,-220],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo","mode":"list","cachedResultName":"RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo"},"event":"fileUpdated","options":{}},"id":"b4cbddf9-7995-43b0-982d-90e5310432b5","name":"Google Drive File Updated","type":"n8n-nodes-base.googleDriveTrigger","position":[-760,-80],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo","mode":"list","cachedResultName":"RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo"},"event":"fileCreated","options":{"fileType":"all"}},"id":"615f96eb-9b55-4d7f-9ddb-6e6b98dd6ebb","name":"Google Drive File Created","type":"n8n-nodes-base.googleDriveTrigger","position":[-760,-340],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"name":"company_knowledge_search","description":"Retrieve information from any company documents"},"id":"67a7e24d-3c7a-4d4d-b349-cf47f5f442f8","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[-100,700],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"value":"company-files","mode":"list","cachedResultName":"company-files"},"options":{}},"id":"e2ff5592-0421-4498-8b11-cf75d0ed9140","name":"Pinecone Vector Store (Retrieval)","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[-200,880],"typeVersion":1,"credentials":{"pineconeApi":{"id":"ma3QfVS0RlM8kmmz","name":"PineconeApi account 3"}}},{"parameters":{"modelName":"models/text-embedding-004"},"id":"0060c868-00a1-4e18-8860-a51cffbef70f","name":"Embeddings Google Gemini (retrieval)","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[-220,1040],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"modelName":"models/gemini-2.5-pro-exp-03-25","options":{}},"id":"bd20855c-b89c-46fd-883e-0bdcd24adb04","name":"Google Gemini Chat Model (retrieval)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[160,880],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"promptType":"define","text":"={{ $json.body.message.toolCalls[0].function.arguments.instructions }}","options":{"systemMessage":"=You are a highly capable assistant designed to retrieve and provide precise, concise, and informative answers based on company_knowledge_search tool.\n\nGuidelines for Response Generation:\nAlways Use the Tool for Retrieval:\nBefore answering any company-related query, use the company_knowledge_search to search for relevant information.\nIf the information is found, extract and present it in a clear, structured manner.\n\nFormat Responses Clearly:\nKeep answers direct and relevant.\nIf needed, summarize lengthy information while retaining key details.\nUse bullet points or numbered lists for clarity if the information is complex.\n\nMaintain Confidentiality & Relevance:\nProvide only factual information from company records.\nAvoid adding unnecessary details or opinions.\n\nTool Usage:\nMandatory: Always execute a query using company_knowledge_search before responding to company-related questions.\n\nIf the user asks for additional details, re-run the tool with a refined query if necessary."}},"id":"fa79d445-ae61-4288-9368-3ebd11ad5c68","name":"AI Agent2","type":"@n8n/n8n-nodes-langchain.agent","position":[-500,480],"typeVersion":1.7},{"parameters":{"modelName":"models/gemini-2.5-pro-exp-03-25","options":{}},"id":"68921adb-4b64-48ae-9f06-13c9afea919e","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-600,780],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"httpMethod":"POST","path":"2d6e25c3-c063-4198-b7bc-1dfa917126ef","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,480],"id":"e0b838e8-9128-4dfb-9f54-0e9398276fb2","name":"Webhook1","webhookId":"2d6e25c3-c063-4198-b7bc-1dfa917126ef"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"results\": [\n  {\n    \"toolCallId\": \"{{ $('Webhook1').item.json.body.message.toolCalls[0].id }}\",\n    \"result\": {{ JSON.stringify($json.output) }}\n  }\n  ]\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-60,480],"id":"8da5f82b-0495-4164-a9a1-23977e45be6c","name":"Respond to Webhook1"},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 49875d2b-a290-46d6-87c0-d2e63d4825a2"},{"name":"Content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"assistantId\": \"9754ff62-4d22-448a-ba26-c46b78c25ba2\",\n  \"phoneNumberId\": \"fafc56a9-77ad-476c-aa6e-95865e67b9e7\",\n  \"customers\": [\n        {\n      \"name\": \"{{ $json.fields[\"Full Name\"] }}\",\n      \"number\": \"{{ $json.fields[\"Phone Number\"] }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1080,1020],"id":"330d721a-2121-4fc6-a457-a8bbc41af5ec","name":"HTTP Request1","disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook1').item.json.body.message.call.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-400,780],"id":"e03faef0-5500-434f-8c9c-69bac1b2d6a2","name":"Window Buffer Memory2"},{"parameters":{"name":"company_knowledge_search","description":"Retrieve information from any company documents"},"id":"f00f35d0-c2cd-4b0d-bf7d-2a8b938f4e7b","name":"Vector Store Tool1","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[1360,720],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"value":"company-files","mode":"list","cachedResultName":"company-files"},"options":{}},"id":"ce342f67-0b34-4b94-a62d-9de955ae4a73","name":"Pinecone Vector Store (Retrieval)1","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[1260,900],"typeVersion":1,"credentials":{"pineconeApi":{"id":"ma3QfVS0RlM8kmmz","name":"PineconeApi account 3"}}},{"parameters":{"modelName":"models/text-embedding-004"},"id":"e83cc5a9-5085-4d9f-88a9-d790ed33970a","name":"Embeddings Google Gemini (retrieval)1","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[1240,1060],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"modelName":"models/gemini-2.5-pro-exp-03-25","options":{}},"id":"8816f793-1703-425a-9cee-a773d896a036","name":"Google Gemini Chat Model (retrieval)1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1620,900],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"options":{"systemMessage":"=You are a highly capable assistant designed to retrieve and provide precise, concise, and informative answers based on company_knowledge_search tool.\n\nGuidelines for Response Generation:\nAlways Use the Tool for Retrieval:\nBefore answering any company-related query, use the company_knowledge_search to search for relevant information.\nIf the information is found, extract and present it in a clear, structured manner.\n\nFormat Responses Clearly:\nKeep answers direct and relevant.\nIf needed, summarize lengthy information while retaining key details.\nUse bullet points or numbered lists for clarity if the information is complex.\n\nMaintain Confidentiality & Relevance:\nProvide only factual information from company records.\nAvoid adding unnecessary details or opinions.\n\nTool Usage:\nMandatory: Always execute a query using company_knowledge_search before responding to company-related questions.\n\nIf the user asks for additional details, re-run the tool with a refined query if necessary."}},"id":"99050c9b-5d9e-4fe3-afa5-b2dae92e15a6","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[960,500],"typeVersion":1.7},{"parameters":{"modelName":"models/gemini-2.5-pro-exp-03-25","options":{}},"id":"654d7c87-730d-4c66-bbfa-f43c6504e236","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[860,800],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[720,500],"id":"e20ad85a-795b-4176-a375-d26900081384","name":"When chat message received","webhookId":"34237149-81f1-46f3-9188-de047af60d31"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1060,800],"id":"298253d6-c6d8-4958-8de5-5c006241a62a","name":"Window Buffer Memory"}],"connections":{"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Download File From Google Drive":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Google Drive File Updated":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Google Drive File Created":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Pinecone Vector Store (Retrieval)":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Embeddings Google Gemini (retrieval)":{"ai_embedding":[[{"node":"Pinecone Vector Store (Retrieval)","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model (retrieval)":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Webhook1":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"HTTP Request1":{"main":[[]]},"Window Buffer Memory2":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Vector Store Tool1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Pinecone Vector Store (Retrieval)1":{"ai_vectorStore":[[{"node":"Vector Store Tool1","type":"ai_vectorStore","index":0}]]},"Embeddings Google Gemini (retrieval)1":{"ai_embedding":[[{"node":"Pinecone Vector Store (Retrieval)1","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model (retrieval)1":{"ai_languageModel":[[{"node":"Vector Store Tool1","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive File Updated":{"lastTimeChecked":"2025-04-08T12:21:50Z"},"node:Google Drive File Created":{"lastTimeChecked":"2025-04-08T12:21:50Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"753126cb-7879-4c30-b76b-d6d6735a277e","triggerCount":5,"tags":[]}