ai-voice-agent-with-rag-(company-information)-dK5LAxGm26TKIbzp.json
{"createdAt":"2025-03-06T06:52:19.449Z","updatedAt":"2025-03-17T11:32:40.620Z","id":"dK5LAxGm26TKIbzp","name":"AI Voice Agent with RAG (Company Information)","active":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=You are a helpful voice AI agent that excels at calling people on behalf of your user. You'll either have to find people through the personal contacts tool or find phone numbers on Google Maps.\n\n##Tools\n1. Call the contact_finder tool to find people in the users contacts list. Always ask the user to confirm after this step which contact they're interested in calling.\n2. Call the google_maps_scraper tool to find businesses. The user should provide how many businesses they want you to find, but if they don't provide an answer, please provide 5. Always ask the user to confirm after this step which business they're interested in calling.\n3. Call the voice_agent tool to call the contact or business. Never call multiple contacts or businesses during the same message or request. Always make sure that you confirm which contact the user wants to call from the result provided from the contact_finder or google_maps_scraper tool before calling. If you book an appointment successfully, always schedule it on the calendar tool immediately afterwards\n4. Call the Google Calendar tool after a call to book a successful event. If there is no successful event, do not book anything on the calendar.\n\n##Rules\n- If you find contacts or businesses on Google Maps, please always clarify which contact you'd like the user to call. You can only call one contact or business per request. \n- NEVER call multiple people simultaenously under any circumstances\n- ALWAYS ask the context of the call. They need to provide: who you're calling, what the goal is, timeframes if necessary, and what happens if you can't achieve the outcome.\n- Only book a calendar event 1) after the voice agent and 2) if the voice agent was successful in booking something\n\nToday's date is {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1580,-140],"id":"5e1de0de-0e4f-4ff6-8df1-abe4e53d5d50","name":"AI Agent","disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1420,80],"id":"b2a37f70-a754-4717-b8a9-57d7e9b884fe","name":"OpenAI Chat Model","disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1540,80],"id":"3842678c-1034-447b-aa20-2c4719fc425a","name":"Window Buffer Memory","disabled":true},{"parameters":{"name":"contact_finder","description":"Call this tool to find my personal contacts","workflowId":{"__rl":true,"value":"nKNLrKOkRx6ohVvV","mode":"list","cachedResultName":"Personal Contact Finder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"name":"={{ $fromAI(\"name\", \"name of person\") }}"},"matchingColumns":["name"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[1800,80],"id":"502f22c2-623e-41af-9d2c-cbf2308ea1d1","name":"Personal Contact Finder","disabled":true},{"parameters":{"name":"google_maps_scraper","description":"Call this tool to search for a business using google maps","workflowId":{"__rl":true,"value":"tWSdcM1eNNTcgGsN","mode":"list","cachedResultName":"Feb 17th Google Maps"},"workflowInputs":{"mappingMode":"defineBelow","value":{"results":"={{ $fromAI(\"numberOfSearchResults\", \"how many search results does the user want, which is a numerical value\") }}","country":"={{ $fromAI(\"countryCodeLowerCase\", \"this is the country code that you'll use to search Google Maps with, such asus, ca, etc - it must be lower case\") }}","state":"={{ $fromAI(\"stateInitials\", \"this is the intials of the state that you'll use to search Google Maps with, such as NY, CA, etc - uppercase\") }}","location":"={{ $fromAI(\"city\", \"this is the city that you'll use to search Google Maps with, such as New York, Los Angeles, etc\") }}","search":"={{ $fromAI(\"industry\", \"this is the industry that you'll use to search Google Maps with, such as landscaping, roofing, photography, etc\") }}"},"matchingColumns":[],"schema":[{"id":"search","displayName":"search","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"results","displayName":"results","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[1660,80],"id":"68943394-7edd-40f9-8d20-13239431c5c9","name":"Google Maps","disabled":true},{"parameters":{"name":"voice_agent","description":"Call this tool to make voice calls","workflowId":{"__rl":true,"value":"XyFfj6eWQZSJw870","mode":"list","cachedResultName":"Feb 17 Voice Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{"end_time":"={{ $fromAI(\"endTime\", \"the end time of the booking the user is looking to book if any\") }}","start_time":"={{ $fromAI(\"startTime\", \"the start time of the booking the user is looking to book if any\") }}","date":"={{ $fromAI(\"date\", \"the date of the user is looking to book if any\") }}","first_message":"={{ $fromAI(\"first_message\", \"Please provide what the opening first message should be out of the voice agents mouth\") }}","context":"={{ $fromAI(\"context\", \"please provide the context of the call, so that the call agent knows exactly what to talk about\") }}","goal":"={{ $fromAI(\"conversation_goal\", \"Please provide what the goal is of the conversation\") }}","relationship":"={{ $fromAI(\"relationship\", \"Please provide the relationship the user has with this entity. Is it a friend or a business?\") }}","name":"={{ $fromAI(\"name\", \"Please providethe person or businesses name\") }}","fall_back_plan":"={{ $fromAI(\"fall_back_plan\", \"Please provide a fallback plan in case the entity is not available at the given time. Should default to calling back in 10 minutes if user wants to move forward with it\") }}","special_requests":"={{ $fromAI(\"special_requests\", \"Please provide any special requests here\") }}","special_request_required":"={{ $fromAI(\"special_requests_required\", \"Is the special request required? This is a boolean field - either true or false\") }}"},"matchingColumns":[],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"start_time","displayName":"start_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"end_time","displayName":"end_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"context","displayName":"context","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"first_message","displayName":"first_message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"goal","displayName":"goal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"relationship","displayName":"relationship","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"fall_back_plan","displayName":"fall_back_plan","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"special_requests","displayName":"special_requests","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"special_request_required","displayName":"special_request_required","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[1940,80],"id":"e6cd9b9f-a72c-436e-899c-877a0512a260","name":"Voice Agent","disabled":true},{"parameters":{"calendar":{"__rl":true,"value":"e65463fc466fd521dc1ecc1964b4d6dbac77710e2a00f0a73b597f41477d9def@group.calendar.google.com","mode":"list","cachedResultName":"AI Agent"},"start":"={{ $fromAI(\"startTime\", \"the start time of the booking\") }}","end":"={{ $fromAI(\"endTime\", \"the end time of the booking\") }}","additionalFields":{"description":"={{ $fromAI(\"event_description\", \"the description of the booking\") }}","summary":"={{ $fromAI(\"event_summary\", \"the title/summary of the booking\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[2080,80],"id":"ae917527-cfda-486a-8c12-90f89670ccea","name":"Google Calendar","disabled":true},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[560,-160],"id":"4549767d-efb4-4c2a-bf55-3b8aade192fa","name":"Telegram Trigger","webhookId":"600c6d64-98f1-4597-9448-1397bd15b675","disabled":true},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[940,-240],"id":"003ac3cb-df16-43b7-84b2-dff2d319aba3","name":"Telegram1","webhookId":"8b826288-7a45-4a12-bbf7-e07462532efb","disabled":true},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1180,-240],"id":"f32da76a-5df2-43ab-a036-bc3fa7e1a194","name":"OpenAI","disabled":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1380,-140],"id":"76f227c2-7554-43d6-b87f-0a43e5e66dde","name":"Merge","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"31c62aff-11d6-4909-9803-9a4574da9fb3","name":"text","value":"={{ $('Telegram Trigger').item.json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,-80],"id":"89c4e97f-72ed-4ddc-a832-0093ce79c6ed","name":"Edit Fields1","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b59a106b-1951-414f-8a7d-28586d74750a","leftValue":"={{ $json.message.voice }}","rightValue":"d","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f45c3cc7-dc14-4a4a-bcf0-f8a112acb88c","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[740,-160],"id":"768d1f76-b5e5-41d8-bc05-10076fd32dfa","name":"Switch","disabled":true},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1940,-140],"id":"2dc39b58-5df5-4bd6-bdca-a5c903d66a0d","name":"Telegram","webhookId":"43eeb17e-4ed7-4476-adad-7b22f5484bdd","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1340,820],"id":"f011b35d-753e-4998-852e-6c83c91219f8","name":"When chat message received","webhookId":"b93632ea-8f26-473b-8f8a-a9c46d825036","disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.body.message.toolCalls[0].function.arguments.instructions }}","options":{"systemMessage":"You are a personal assistant of GMIndia customer support. Your job is only to reply to the questions asked."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[560,500],"id":"2ad5e314-0f51-489c-a8dd-295502905343","name":"AI Agent1","disabled":true},{"parameters":{"modelName":"models/gemini-2.0-flash-thinking-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1560,820],"id":"873a5d35-a529-4d11-8d3d-9fc59267c058","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}},"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.message.call.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[640,720],"id":"30e55b6a-3954-4b8d-8472-69cdecc3ba6f","name":"Window Buffer Memory1","disabled":true},{"parameters":{"descriptionType":"manual","toolDescription":"Use google document to respond to the user questions","authentication":"serviceAccount","operation":"get","documentURL":"https://docs.google.com/document/d/1K3NZQ1oe2oX3r_VRLszjsEL8q9TsxrQqI6D7ZJL9fbY/edit?tab=t.0","simple":false},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[1740,600],"id":"3662a312-5b66-4da2-836b-cb1e22a74d9d","name":"Google Docs","credentials":{"googleApi":{"id":"vedrXe1YUbS1Auvz","name":"Google Service Account account 2"}},"disabled":true},{"parameters":{"toolDescription":"Use google document to respond answer to the user questions","url":"https://docs.google.com/document/d/1K3NZQ1oe2oX3r_VRLszjsEL8q9TsxrQqI6D7ZJL9fbY/edit?usp=sharing"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1540,620],"id":"49ac308c-2ea5-415e-8831-94eeabca7df2","name":"HTTP Request","disabled":true},{"parameters":{"httpMethod":"POST","path":"a80a4b14-5ec4-4fc5-bd71-9761622b3c38","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[320,500],"id":"3e25d833-5d97-4126-bf47-9306c5c5d2d8","name":"Webhook","webhookId":"a80a4b14-5ec4-4fc5-bd71-9761622b3c38","disabled":true},{"parameters":{"model":"deepseek-r1-distill-qwen-32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[480,720],"id":"0a4599fd-b8f0-4423-a03f-6dc7122291d7","name":"Groq Chat Model","credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[1340,600],"id":"7e79f9d2-d6d9-42a1-9dfe-493892ae4b7e","name":"Call n8n Workflow Tool","disabled":true},{"parameters":{"respondWith":"json","responseBody":"={\n  \"results\": [\n  {\n    \"toolCallId\": \"{{ $('Webhook').item.json.body.message.toolCalls[0].id }}\",\n    \"result\": {{ JSON.stringify($json.output) }}\n  }\n  ]\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[960,500],"id":"966777dc-acd5-43d8-919f-15bad20c11b7","name":"Respond to Webhook","disabled":true},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"company-files","mode":"list","cachedResultName":"company-files"},"options":{}},"id":"93bcd898-5b40-48b3-9df0-96907387e2af","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[-220,-220],"typeVersion":1,"credentials":{"pineconeApi":{"id":"ma3QfVS0RlM8kmmz","name":"PineconeApi account 3"}}},{"parameters":{"modelName":"models/text-embedding-004"},"id":"bc0f89f7-ce3e-4d5c-9096-3e98c4317286","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[-260,60],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{}},"id":"0afd15c3-ea84-42d5-911c-c8daa5312e4b","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[-60,0],"typeVersion":1},{"parameters":{"chunkOverlap":100,"options":{}},"id":"0816a63c-c352-40e9-b30d-41a2cfb2cfdc","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[-80,200],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"fileName":"={{ $json.name }}"}},"id":"9e2607bd-6a01-4443-9a50-c5280ef84349","name":"Download File From Google Drive","type":"n8n-nodes-base.googleDrive","position":[-440,-220],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo","mode":"list","cachedResultName":"RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo"},"event":"fileUpdated","options":{}},"id":"b77de3f2-d075-4c7c-873d-05be2b7dd7cb","name":"Google Drive File Updated","type":"n8n-nodes-base.googleDriveTrigger","position":[-760,-80],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo","mode":"list","cachedResultName":"RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo"},"event":"fileCreated","options":{"fileType":"all"}},"id":"3a55dcec-46dd-4423-a659-b433eff092bf","name":"Google Drive File Created","type":"n8n-nodes-base.googleDriveTrigger","position":[-760,-340],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"name":"company_knowledge_search","description":"Retrieve information from any company documents"},"id":"86da3a71-189b-4bbc-830f-671b9f1802cc","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[-100,700],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"value":"company-files","mode":"list","cachedResultName":"company-files"},"options":{}},"id":"2c05d255-9a87-4387-ae74-34af0a2ed7c4","name":"Pinecone Vector Store (Retrieval)","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[-200,880],"typeVersion":1,"credentials":{"pineconeApi":{"id":"ma3QfVS0RlM8kmmz","name":"PineconeApi account 3"}}},{"parameters":{"modelName":"models/text-embedding-004"},"id":"630506be-08c8-4ae0-aeb1-759e1bb8f87b","name":"Embeddings Google Gemini (retrieval)","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[-220,1040],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"id":"5166f3d2-53fb-4cb7-8950-a56dddb91b22","name":"Google Gemini Chat Model (retrieval)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[160,880],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"promptType":"define","text":"={{ $json.body.message.toolCalls[0].function.arguments.instructions }}","options":{"systemMessage":"=You are a highly capable assistant designed to retrieve and provide precise, concise, and informative answers based on internal company documents.\n\nGuidelines for Response Generation:\nAlways Use the Tool for Retrieval:\nBefore answering any company-related query, use the company_knowledge_search to search for relevant information.\nIf the information is found, extract and present it in a clear, structured manner.\n\nFormat Responses Clearly:\nKeep answers direct and relevant.\nIf needed, summarize lengthy information while retaining key details.\nUse bullet points or numbered lists for clarity if the information is complex.\n\n\n\nMaintain Confidentiality & Relevance:\nProvide only factual information from company records.\nAvoid adding unnecessary details or opinions.\n\nTool Usage:\nMandatory: Always execute a query using company_knowledge_search before responding to company-related questions.\n\nIf the user asks for additional details, re-run the tool with a refined query if necessary."}},"id":"3520ec41-0889-4bc3-bf6d-fa49ad2f3d46","name":"AI Agent2","type":"@n8n/n8n-nodes-langchain.agent","position":[-500,480],"typeVersion":1.7},{"parameters":{"modelName":"models/gemini-1.5-flash-001","options":{}},"id":"715ff01f-8d0c-44c9-8371-c0934962af51","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-600,780],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook1').item.json.body.message.call.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-400,780],"id":"2f0b95cc-50f5-4903-b41e-75d3e1ef1bde","name":"Window Buffer Memory2"},{"parameters":{"httpMethod":"POST","path":"a80a4b14-5ec4-4fc5-bd71-9761622b3c38","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-780,480],"id":"8c728aed-fbc4-4c12-afce-364c49fe902b","name":"Webhook1","webhookId":"a80a4b14-5ec4-4fc5-bd71-9761622b3c38"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"results\": [\n  {\n    \"toolCallId\": \"{{ $('Webhook1').item.json.body.message.toolCalls[0].id }}\",\n    \"result\": {{ JSON.stringify($json.output) }}\n  }\n  ]\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-60,480],"id":"5c17f994-148e-4aa0-929c-b6bacde44b1d","name":"Respond to Webhook1"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Personal Contact Finder":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Maps":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Voice Agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Telegram1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Switch":{"main":[[{"node":"Telegram1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Google Docs":{"ai_tool":[[]]},"HTTP Request":{"ai_tool":[[]]},"Webhook":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[]]},"AI Agent1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Download File From Google Drive":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Google Drive File Updated":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Google Drive File Created":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Pinecone Vector Store (Retrieval)":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Embeddings Google Gemini (retrieval)":{"ai_embedding":[[{"node":"Pinecone Vector Store (Retrieval)","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model (retrieval)":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Window Buffer Memory2":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Webhook1":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive File Updated":{"lastTimeChecked":"2025-03-17T11:32:40Z"},"node:Google Drive File Created":{"lastTimeChecked":"2025-03-17T11:32:41Z"}},"meta":null,"pinData":{},"versionId":"1ce32628-dcd5-4d60-9d0e-6ed0325195d9","triggerCount":3,"tags":[]}