ai-voice-agent-with-rag-&-tiwilio-(company-information)-NOOFMy0quoSsw5Cv.json
{"createdAt":"2025-04-07T12:24:53.321Z","updatedAt":"2025-04-08T08:27:15.837Z","id":"NOOFMy0quoSsw5Cv","name":"AI Voice Agent with RAG & Tiwilio (Company Information)","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"company-files","mode":"list","cachedResultName":"company-files"},"options":{}},"id":"89c270d8-b658-4850-82b0-fcc25c64caa9","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[-220,-220],"typeVersion":1,"credentials":{"pineconeApi":{"id":"ma3QfVS0RlM8kmmz","name":"PineconeApi account 3"}}},{"parameters":{"modelName":"models/text-embedding-004"},"id":"28489532-4ead-4607-a15c-e7d7ffe3d5a9","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[-260,60],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{}},"id":"b6793fb5-53f7-4dce-8675-9e436cd4196d","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[-60,0],"typeVersion":1},{"parameters":{"chunkOverlap":100,"options":{}},"id":"e13817bf-5b99-41df-8297-3881e996688c","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[-80,200],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"fileName":"={{ $json.name }}"}},"id":"da1f9293-48e3-4794-80d5-cf08bdc23ac1","name":"Download File From Google Drive","type":"n8n-nodes-base.googleDrive","position":[-440,-220],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo","mode":"list","cachedResultName":"RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo"},"event":"fileUpdated","options":{}},"id":"c5ef8b03-999d-4dd2-9c52-692f02fd6e07","name":"Google Drive File Updated","type":"n8n-nodes-base.googleDriveTrigger","position":[-760,-80],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo","mode":"list","cachedResultName":"RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo"},"event":"fileCreated","options":{"fileType":"all"}},"id":"75d3a69a-837a-4321-856a-5a27051ca88f","name":"Google Drive File Created","type":"n8n-nodes-base.googleDriveTrigger","position":[-760,-340],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"name":"company_knowledge_search","description":"Retrieve information from any company documents"},"id":"082b7e6d-b61e-48fe-a84c-5e1a29114f48","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[-100,700],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"value":"company-files","mode":"list","cachedResultName":"company-files"},"options":{}},"id":"faaf5bcc-807c-4052-afc7-02e09de75ed3","name":"Pinecone Vector Store (Retrieval)","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[-200,880],"typeVersion":1,"credentials":{"pineconeApi":{"id":"ma3QfVS0RlM8kmmz","name":"PineconeApi account 3"}}},{"parameters":{"modelName":"models/text-embedding-004"},"id":"371370d5-a871-49dd-b827-5c0aa85c978b","name":"Embeddings Google Gemini (retrieval)","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[-220,1040],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"id":"a9750aae-8ec6-4955-97e5-c290b5c90fdd","name":"Google Gemini Chat Model (retrieval)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[160,880],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"promptType":"define","text":"={{ $json.body.message.toolCalls[0].function.arguments.instructions }}","options":{"systemMessage":"=You are a highly capable assistant designed to retrieve and provide precise, concise, and informative answers based on internal company documents.\n\nGuidelines for Response Generation:\nAlways Use the Tool for Retrieval:\nBefore answering any company-related query, use the company_knowledge_search to search for relevant information.\nIf the information is found, extract and present it in a clear, structured manner.\n\nFormat Responses Clearly:\nKeep answers direct and relevant.\nIf needed, summarize lengthy information while retaining key details.\nUse bullet points or numbered lists for clarity if the information is complex.\n\nMaintain Confidentiality & Relevance:\nProvide only factual information from company records.\nAvoid adding unnecessary details or opinions.\n\nTool Usage:\nMandatory: Always execute a query using company_knowledge_search before responding to company-related questions.\n\nIf the user asks for additional details, re-run the tool with a refined query if necessary."}},"id":"de7a0a5c-18cf-47a0-81bf-3546cdbbca80","name":"AI Agent2","type":"@n8n/n8n-nodes-langchain.agent","position":[-500,480],"typeVersion":1.7},{"parameters":{"modelName":"models/gemini-1.5-flash-001","options":{}},"id":"a196b9c6-e66e-47c4-a8bf-0c33df9e86ac","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-600,780],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook1').item.json.body.message.call.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-400,780],"id":"027cc429-a1e0-4e47-bc33-a7d77348a7a6","name":"Window Buffer Memory2"},{"parameters":{"httpMethod":"POST","path":"7fc6ce02-5c13-42a1-8e3a-3f740166ca8f","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-740,480],"id":"b62e95c9-67cd-4ef8-88a6-2010c7880b6d","name":"Webhook1","webhookId":"7fc6ce02-5c13-42a1-8e3a-3f740166ca8f"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"results\": [\n  {\n    \"toolCallId\": \"{{ $('Webhook1').item.json.body.message.toolCalls[0].id }}\",\n    \"result\": {{ JSON.stringify($json.output) }}\n  }\n  ]\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-60,480],"id":"34e7f61d-9ee6-40e5-81a7-5f4ef9a8dcdd","name":"Respond to Webhook1"},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 49875d2b-a290-46d6-87c0-d2e63d4825a2"},{"name":"Content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"assistantId\": \"9754ff62-4d22-448a-ba26-c46b78c25ba2\",\n  \"phoneNumberId\": \"fafc56a9-77ad-476c-aa6e-95865e67b9e7\",\n  \"customers\": [\n        {\n      \"name\": \"{{ $json.fields[\"Full Name\"] }}\",\n      \"number\": \"{{ $json.fields[\"Phone Number\"] }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1080,1020],"id":"d89e2ecb-a0d4-41d6-a142-1406f35cf939","name":"HTTP Request1","disabled":true}],"connections":{"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Download File From Google Drive":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Google Drive File Updated":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Google Drive File Created":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Pinecone Vector Store (Retrieval)":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Embeddings Google Gemini (retrieval)":{"ai_embedding":[[{"node":"Pinecone Vector Store (Retrieval)","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model (retrieval)":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Window Buffer Memory2":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Webhook1":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"HTTP Request1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive File Updated":{"lastTimeChecked":"2025-09-24T08:09:33Z"},"node:Google Drive File Created":{"lastTimeChecked":"2025-09-24T08:09:33Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"506b3cb1-95ac-42f3-a19a-a08890284bfa","triggerCount":3,"shared":[{"createdAt":"2025-04-07T12:24:53.321Z","updatedAt":"2025-04-07T12:24:53.321Z","role":"workflow:owner","workflowId":"NOOFMy0quoSsw5Cv","projectId":"tktBUJ9Wt0VRCCM2"}],"tags":[]}