ai-voice-agent-with-rag-(company-information)-dK5LAxGm26TKIbzp.json
{"createdAt":"2025-03-06T06:52:19.449Z","updatedAt":"2025-04-01T12:22:49.541Z","id":"dK5LAxGm26TKIbzp","name":"AI Voice Agent with RAG (Company Information)","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"company-files","mode":"list","cachedResultName":"company-files"},"options":{}},"id":"93bcd898-5b40-48b3-9df0-96907387e2af","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[-220,-220],"typeVersion":1,"credentials":{"pineconeApi":{"id":"ma3QfVS0RlM8kmmz","name":"PineconeApi account 3"}}},{"parameters":{"modelName":"models/text-embedding-004"},"id":"bc0f89f7-ce3e-4d5c-9096-3e98c4317286","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[-260,60],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{}},"id":"0afd15c3-ea84-42d5-911c-c8daa5312e4b","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[-60,0],"typeVersion":1},{"parameters":{"chunkOverlap":100,"options":{}},"id":"0816a63c-c352-40e9-b30d-41a2cfb2cfdc","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[-80,200],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"fileName":"={{ $json.name }}"}},"id":"9e2607bd-6a01-4443-9a50-c5280ef84349","name":"Download File From Google Drive","type":"n8n-nodes-base.googleDrive","position":[-440,-220],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo","mode":"list","cachedResultName":"RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo"},"event":"fileUpdated","options":{}},"id":"b77de3f2-d075-4c7c-873d-05be2b7dd7cb","name":"Google Drive File Updated","type":"n8n-nodes-base.googleDriveTrigger","position":[-760,-80],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo","mode":"list","cachedResultName":"RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo"},"event":"fileCreated","options":{"fileType":"all"}},"id":"3a55dcec-46dd-4423-a659-b433eff092bf","name":"Google Drive File Created","type":"n8n-nodes-base.googleDriveTrigger","position":[-760,-340],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"name":"company_knowledge_search","description":"Retrieve information from any company documents"},"id":"86da3a71-189b-4bbc-830f-671b9f1802cc","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[-100,700],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"value":"company-files","mode":"list","cachedResultName":"company-files"},"options":{}},"id":"2c05d255-9a87-4387-ae74-34af0a2ed7c4","name":"Pinecone Vector Store (Retrieval)","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[-200,880],"typeVersion":1,"credentials":{"pineconeApi":{"id":"ma3QfVS0RlM8kmmz","name":"PineconeApi account 3"}}},{"parameters":{"modelName":"models/text-embedding-004"},"id":"630506be-08c8-4ae0-aeb1-759e1bb8f87b","name":"Embeddings Google Gemini (retrieval)","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[-220,1040],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"id":"5166f3d2-53fb-4cb7-8950-a56dddb91b22","name":"Google Gemini Chat Model (retrieval)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[160,880],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"promptType":"define","text":"={{ $json.body.message.toolCalls[0].function.arguments.instructions }}","options":{"systemMessage":"=You are a highly capable assistant designed to retrieve and provide precise, concise, and informative answers based on internal company documents.\n\nGuidelines for Response Generation:\nAlways Use the Tool for Retrieval:\nBefore answering any company-related query, use the company_knowledge_search to search for relevant information.\nIf the information is found, extract and present it in a clear, structured manner.\n\nFormat Responses Clearly:\nKeep answers direct and relevant.\nIf needed, summarize lengthy information while retaining key details.\nUse bullet points or numbered lists for clarity if the information is complex.\n\n\n\nMaintain Confidentiality & Relevance:\nProvide only factual information from company records.\nAvoid adding unnecessary details or opinions.\n\nTool Usage:\nMandatory: Always execute a query using company_knowledge_search before responding to company-related questions.\n\nIf the user asks for additional details, re-run the tool with a refined query if necessary."}},"id":"3520ec41-0889-4bc3-bf6d-fa49ad2f3d46","name":"AI Agent2","type":"@n8n/n8n-nodes-langchain.agent","position":[-500,480],"typeVersion":1.7},{"parameters":{"modelName":"models/gemini-1.5-flash-001","options":{}},"id":"715ff01f-8d0c-44c9-8371-c0934962af51","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-600,780],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook1').item.json.body.message.call.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-400,780],"id":"2f0b95cc-50f5-4903-b41e-75d3e1ef1bde","name":"Window Buffer Memory2"},{"parameters":{"httpMethod":"POST","path":"a80a4b14-5ec4-4fc5-bd71-9761622b3c38","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-720,480],"id":"8c728aed-fbc4-4c12-afce-364c49fe902b","name":"Webhook1","webhookId":"a80a4b14-5ec4-4fc5-bd71-9761622b3c38"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"results\": [\n  {\n    \"toolCallId\": \"{{ $('Webhook1').item.json.body.message.toolCalls[0].id }}\",\n    \"result\": {{ JSON.stringify($json.output) }}\n  }\n  ]\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-60,480],"id":"5c17f994-148e-4aa0-929c-b6bacde44b1d","name":"Respond to Webhook1"}],"connections":{"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Download File From Google Drive":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Google Drive File Updated":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Google Drive File Created":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Pinecone Vector Store (Retrieval)":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Embeddings Google Gemini (retrieval)":{"ai_embedding":[[{"node":"Pinecone Vector Store (Retrieval)","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model (retrieval)":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Window Buffer Memory2":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Webhook1":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive File Updated":{"lastTimeChecked":"2025-03-21T05:47:47Z"},"node:Google Drive File Created":{"lastTimeChecked":"2025-03-21T05:47:47Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"15c529e3-bed9-4043-b10b-b99ab72e3c61","triggerCount":3,"shared":[{"createdAt":"2025-03-06T06:52:19.449Z","updatedAt":"2025-03-06T06:52:19.449Z","role":"workflow:owner","workflowId":"dK5LAxGm26TKIbzp","projectId":"tktBUJ9Wt0VRCCM2"}],"tags":[]}