automate-scrum-meeting-4R4biuYGHP1c8cEx.json
{"createdAt":"2025-01-31T06:12:47.390Z","updatedAt":"2025-01-31T09:31:50.384Z","id":"4R4biuYGHP1c8cEx","name":"Automate Scrum Meeting","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"deepseek-r1:8b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-1720,1180],"id":"0683c65e-3722-4342-98f4-7d57d3ee075c","name":"Ollama Chat Model1","disabled":true},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=I have a meeting transcript, and I need concise notes summarizing the contributions or actions of each participant by the end of the meeting. \nFocus on what each person did or decided during the discussion, and present it in a simple, easy-to-read format with output json query for the required field Name and Contribution.\n\nthis is the transcript: {{ $json.data }}\n\nI want to convert into table format heading as name, contribution and meeting summary.\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1440,920],"id":"416100b3-6170-4c29-a7e5-40b1768b0025","name":"AI Agent1","disabled":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"binaryPropertyName":"data","googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1980,920],"id":"ddf57286-edc2-4376-83f5-5f6153c883d5","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"resource":"fileFolder","queryString":"=(2025-01-31","returnAll":true,"filter":{"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"18IrQ3rZzfh4Wxau4cSxLylUfdZV_kjnr","mode":"list","cachedResultName":"Meet Recordings","cachedResultUrl":"https://drive.google.com/drive/folders/18IrQ3rZzfh4Wxau4cSxLylUfdZV_kjnr"},"whatToSearch":"files","fileTypes":["application/vnd.google-apps.document"]},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-860,560],"id":"fd07fff7-0161-4452-a121-f8127601a363","name":"Google Drive1","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"bf4bc45b-e595-4bc1-bf60-0b62a1867dbd","leftValue":"={{ $json.headers.date }}","rightValue":"={{ `Date: ${new Date().toUTCString().slice(0, 11)} ${new Date().getUTCFullYear()}` }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1460,580],"id":"31027496-7e53-4854-8587-60ca4989a620","name":"If publish date is today","disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"sender":"meetings-noreply@google.com"},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-1980,580],"id":"db40e099-23e0-4385-a766-f69ca46e51ee","name":"Gmail Trigger1","credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}},"disabled":true},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1720,580],"id":"c81cdf54-6d13-485a-9cdc-787350cccaaf","name":"Gmail2","webhookId":"7afe62fc-93f9-4900-9fb6-9fe2bb3a086e","credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}},"disabled":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Extract the subject from the Gmail node JSON\nconst subject = $json.subject || \"\";\n\n// Extract the date and time from the subject using regex\nconst match = subject.match(/(\\d{1,2} \\w+ \\d{4}) at (\\d{2}:\\d{2} GMT[+-]\\d{1,2}:\\d{2})/);\n\nif (match) {\n    // Parse the date and time\n    const datePart = match[1]; // e.g., \"30 Jan 2025\"\n    const timePart = match[2]; // e.g., \"15:22 GMT+5:30\"\n\n    // Map month names to numbers\n    const months = {\n        Jan: \"01\",\n        Feb: \"02\",\n        Mar: \"03\",\n        Apr: \"04\",\n        May: \"05\",\n        Jun: \"06\",\n        Jul: \"07\",\n        Aug: \"08\",\n        Sep: \"09\",\n        Oct: \"10\",\n        Nov: \"11\",\n        Dec: \"12\",\n    };\n\n    // Split the datePart into components\n    const [day, month, year] = datePart.split(\" \");\n\n    // Construct the formatted date in \"YYYY-MM-DD\"\n    const formattedDate = `${year}-${months[month]}-${day.padStart(2, \"0\")}`;\n\n    // Correct the timezone to remove leading zero in hours if present\n    const correctedTimePart = timePart.replace(/GMT([+-])0?(\\d+)/, \"GMT$1$2\");\n\n    // Combine the formatted date and time\n    const formattedDateTime = `${formattedDate} ${correctedTimePart}`;\n\n    // Return the output in the required object format\n    return { output: `(${formattedDateTime}) – Transcript` };\n} else {\n    // Handle cases where the subject doesn't match the expected format\n    return { error: \"Invalid subject format\" };\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,560],"id":"4a642a89-d83f-4148-9bd9-c3682d336e76","name":"Code1","disabled":true},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"meeting_summary\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"participants\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\t\"name\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"contributions\": {\n\t\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t\t}\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"required\": [\"name\", \"contributions\"]\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"required\": [\"participants\"]\n\t\t}\n\t},\n\t\"required\": [\"meeting_summary\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1240,1180],"id":"daf13341-2849-48b0-9d1d-950911504966","name":"Structured Output Parser","disabled":true},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-1740,920],"id":"cdc678d9-01ef-44a3-bd1a-a9b8920a717a","name":"Extract from File","disabled":true},{"parameters":{"sendTo":"vk.asokan@gmindia.tech","subject":"=GMI Scrum Meeting Alert:{{ $('Gmail2').item.json.headers.date }}","message":"={{ $('HTML1').item.json.html }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[40,920],"id":"9ec6c554-3c3f-4e5a-9eda-ef46b1bb491d","name":"Gmail1","webhookId":"cc169755-db6f-4a76-b847-94d866e20f76","disabled":true},{"parameters":{"modelName":"models/gemini-exp-1206","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1420,1160],"id":"281a65e5-50e8-4e2b-93df-ed8a70bc9d9c","name":"Google Gemini Chat Model","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-880,1160],"id":"2ee4560a-8491-4fe9-a190-0f9889e850ee","name":"Structured Output Parser1","disabled":true},{"parameters":{"jsCode":"const today = new Date().toISOString().split('T')[0]; // Format: YYYY-MM-DD\nreturn [{ sendMail: true, today: today }]; // Include today's date in the output\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,920],"id":"6bb49eca-5e52-4011-8de6-3046946e2838","name":"Code3","disabled":true},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n  <div class=\"container\">\n    <p>{{ $json.data }}</p>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-440,920],"id":"51a8cf2b-3c16-4669-905b-237667e2954d","name":"HTML1","disabled":true},{"parameters":{"operation":"toText","sourceProperty":"output","binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1040,920],"id":"7053a86f-742d-44cb-92d4-69d82877c829","name":"Convert to File","disabled":true},{"parameters":{"operation":"text","options":{"encoding":"utf8","keepSource":"both"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-760,920],"id":"f89be0d5-cdfe-4be5-bc83-83c10d6fc9b4","name":"Extract from File1","alwaysOutputData":true,"disabled":true},{"parameters":{"operation":"get","documentURL":"={{ $json.id }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-700,1120],"id":"4aa2130a-c0f7-457f-8ec9-a6d3cec8fc07","name":"Google Docs","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"bf4bc45b-e595-4bc1-bf60-0b62a1867dbd","leftValue":"={{ $json.name }}","rightValue":"=(2025-01-31 ","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-340,560],"id":"06d60aa3-c5f2-415c-9f7a-eb6925e4b68f","name":"If publish date is today1","disabled":true},{"parameters":{"fieldToSplitOut":"name","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-580,560],"id":"802c56fd-3bf6-4a59-a05f-30f1f469d341","name":"Split Out1","disabled":true},{"parameters":{"model":"deepseek-r1:8b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[3020,500],"id":"be1bd167-cbdc-435f-8710-e027fbcd4c5c","name":"Ollama Chat Model"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"binaryPropertyName":"data","googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2680,280],"id":"df2065f1-6071-4735-b29c-0cbaa5e96c2d","name":"Google Drive2"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.output }}","returnAll":true,"filter":{"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1YXfRTv13fvT0dzWHJAWdbVRq8u1hjAwE","mode":"list","cachedResultName":"Meet Recordings","cachedResultUrl":"https://drive.google.com/drive/folders/1YXfRTv13fvT0dzWHJAWdbVRq8u1hjAwE"},"whatToSearch":"files","fileTypes":["application/vnd.google-apps.document"]},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3800,-40],"id":"de595757-7574-452e-b34d-0bcc9deb0254","name":"Google Drive3","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"bf4bc45b-e595-4bc1-bf60-0b62a1867dbd","leftValue":"={{ $json.headers.date }}","rightValue":"={{ `Date: ${new Date().toUTCString().slice(0, 11)} ${new Date().getUTCFullYear()}` }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3200,-60],"id":"d53214c7-c683-429c-b694-f086ee6450fd","name":"If publish date is today2"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"sender":"meetings-noreply@google.com"},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[2680,-60],"id":"7d7bb4b0-adaf-4073-8a0d-21cda1b8cfb4","name":"Gmail Trigger"},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2940,-60],"id":"d4835fcf-2234-406f-b998-00db7f68a979","name":"Gmail","webhookId":"7afe62fc-93f9-4900-9fb6-9fe2bb3a086e"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Extract the subject from the Gmail node JSON\nconst subject = $json.subject || \"\";\n\n// Extract the date using regex\nconst match = subject.match(/(\\d{1,2}) (\\w+) (\\d{4}) at (\\d{2}:\\d{2} GMT[+-]\\d{1,2}:\\d{2})/);\n\nif (match) {\n    // Parse the date components\n    const day = match[1];   // e.g., \"30\"\n    const month = match[2]; // e.g., \"Jan\"\n    const year = match[3];  // e.g., \"2025\"\n\n    // Map month names to numbers\n    const months = {\n        Jan: \"01\",\n        Feb: \"02\",\n        Mar: \"03\",\n        Apr: \"04\",\n        May: \"05\",\n        Jun: \"06\",\n        Jul: \"07\",\n        Aug: \"08\",\n        Sep: \"09\",\n        Oct: \"10\",\n        Nov: \"11\",\n        Dec: \"12\",\n    };\n\n    // Format the date as (YYYY-MM-DD\n    const formattedDate = `(${year}-${months[month]}-${day.padStart(2, \"0\")}`;\n\n    // Return the formatted output\n    return { output: formattedDate };\n} else {\n    // Handle cases where the subject doesn't match the expected format\n    return { error: \"Invalid subject format\" };\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3540,-40],"id":"db51336e-59f0-45e0-a389-3ecc826ab38d","name":"Code"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2920,280],"id":"2acb83ff-8bbe-4cc9-ba19-dc11dc59fb29","name":"Extract from File2"},{"parameters":{"sendTo":"vk.asokan@gmindia.tech","subject":"=GMI Scrum Meeting Alert:{{ $('Gmail').item.json.headers.date }}","message":"={{ $('HTML').item.json.html }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[5140,280],"id":"b40ed9a5-2cd1-469c-ba58-4f6f1f64ac74","name":"Gmail3","webhookId":"cc169755-db6f-4a76-b847-94d866e20f76"},{"parameters":{"jsCode":"const today = new Date().toISOString().split('T')[0]; // Format: YYYY-MM-DD\nreturn [{ sendMail: true, today: today }]; // Include today's date in the output\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4920,280],"id":"3c7b2eec-388d-415e-a93f-8b438a5108e6","name":"Code4"},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n  <div class=\"container\">\n    <p>{{ $json.output }}</p>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[4660,280],"id":"028253ee-dbc8-4117-867a-bc821e914565","name":"HTML"},{"parameters":{"operation":"toText","sourceProperty":"output","binaryPropertyName":"=data","options":{"encoding":"utf8"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3680,280],"id":"d74b018b-6e27-4050-ae14-a8ec3c9de964","name":"Convert to File1"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4000,280],"id":"74ea7c62-022f-4ed8-82cc-dad93c32aab9","name":"Extract from File3","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"bf4bc45b-e595-4bc1-bf60-0b62a1867dbd","leftValue":"={{ $json.name }}","rightValue":"={{ $('Code').item.json.output }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4320,-40],"id":"352b2a1f-78c7-4239-b41a-0e08f40939e2","name":"If publish date is today3"},{"parameters":{"fieldToSplitOut":"name","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4080,-40],"id":"7e40104c-78f2-42d3-ba05-e5593724ef3e","name":"Split Out"},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=I have a meeting transcript, and I need concise notes summarizing the contributions or actions of each participant by the end of the meeting. \nFocus on what each person did or decided during the discussion, and present it in a simple, easy-to-read format with output json query for the required field Name and Contribution.\n\nthis is the transcript: {{ $json.data }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[3220,280],"id":"bd85920c-49b2-4532-be6d-be30e24dac2c","name":"AI Agent2"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{"temperature":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3240,480],"id":"05e1c805-56ce-43ee-8b69-7c64cba2e368","name":"Google Gemini Chat Model2"},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"state\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"contributors\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"name\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"contribution\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3400,500],"id":"ac590f69-a996-4dd3-9ecd-bb1fb66ffcf6","name":"Structured Output Parser2"}],"connections":{"Gmail Trigger1":{"main":[[{"node":"Gmail2","type":"main","index":0}]]},"Gmail2":{"main":[[{"node":"If publish date is today","type":"main","index":0}]]},"If publish date is today":{"main":[[{"node":"Code1","type":"main","index":0}],[]]},"Code1":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"AI Agent1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Code3":{"main":[[{"node":"Gmail1","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"If publish date is today1","type":"main","index":0}]]},"If publish date is today1":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"If publish date is today2":{"main":[[],[{"node":"Code","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"If publish date is today2","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"Extract from File2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Gmail3","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Extract from File3","type":"main","index":0}]]},"Extract from File3":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"If publish date is today3":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"If publish date is today3","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5d32ab18-8972-4cf0-a896-2e9c87398435","triggerCount":0,"shared":[{"createdAt":"2025-01-31T06:12:47.390Z","updatedAt":"2025-01-31T06:12:47.390Z","role":"workflow:owner","workflowId":"4R4biuYGHP1c8cEx","projectId":"tktBUJ9Wt0VRCCM2"}],"tags":[]}