bdg-call-trigger-IPrMwOW4l406zP5B.json
{"createdAt":"2025-04-11T12:43:50.638Z","updatedAt":"2025-04-11T12:48:23.332Z","id":"IPrMwOW4l406zP5B","name":"BDG Call Trigger","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-380,-20],"id":"fb1d3203-dbfb-4b28-bee5-6c277991b279","name":"Schedule Trigger"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appRLHVHY2juPNUpS","mode":"list","cachedResultName":"Outbound System","cachedResultUrl":"https://airtable.com/appRLHVHY2juPNUpS"},"table":{"__rl":true,"value":"tblxCtIDsDUfcKKLz","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appRLHVHY2juPNUpS/tblxCtIDsDUfcKKLz"},"filterByFormula":"({status}='TBC')","returnAll":false,"limit":10,"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-160,-20],"id":"28f560da-4c48-4571-9c2c-840359ebd307","name":"Airtable","credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"191d5d95-e599-4d22-9158-d5deaf37b6ed","name":"ID","value":"={{ $json.id }}","type":"string"},{"id":"c34045b3-5e72-4f77-95ed-eac78548cd5f","name":"First Name","value":"={{ $json['First Name'] }}","type":"string"},{"id":"14fd38a7-af59-45cd-a907-10f909213539","name":"Mobile","value":"={{ $json.Mobile }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,-20],"id":"03d99290-0131-4c60-a3a5-9c514c3c9fdd","name":"Edit Fields"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appRLHVHY2juPNUpS","mode":"list","cachedResultName":"Outbound System","cachedResultUrl":"https://airtable.com/appRLHVHY2juPNUpS"},"table":{"__rl":true,"value":"tblxCtIDsDUfcKKLz","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appRLHVHY2juPNUpS/tblxCtIDsDUfcKKLz"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Edit Fields').item.json.ID }}","Status":"In-Progress"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"VoiceMail","value":"VoiceMail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"},{"name":"Unreachable","value":"Unreachable"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"xxx","value":"xxx"}],"readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[540,-20],"id":"f05af4b9-306a-4fb6-a5e1-00caf6f65fa0","name":"Airtable1","credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 4804e967-a343-4911-9c66-d2cd966c9113"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customer\": {\n    \"name\": \"{{ $json['First Name'] }}\",\n    \"number\": \"+18548886027\"\n  },\n  \"assistantId\": \"33c1f93d-2f60-4c00-9c09-5842c9bec041\",\n  \"phoneNumberId\": \"90bf640b-8890-4c80-ae8c-256abfaeb0bd\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,-20],"id":"62c868cd-aa3c-4b5a-9804-e088d766e055","name":"HTTP Request"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Airtable1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"29d24882-6dcf-46ea-826d-c1d6726f2069","triggerCount":0,"tags":[]}