booking-ai-voice-agent-call-center-trigger-B0KeM93zTKJZMUET.json
{"createdAt":"2025-04-11T07:34:46.073Z","updatedAt":"2025-04-15T05:51:28.561Z","id":"B0KeM93zTKJZMUET","name":"Booking AI Voice Agent Call Center Trigger","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"28a5d298-d20e-45b4-ac10-cd756e538204","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-240,-160],"id":"2dc15f6a-9861-403e-af7c-09f98a732a0b","name":"Webhook","webhookId":"28a5d298-d20e-45b4-ac10-cd756e538204"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appI1kXiCM8F04naj","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://airtable.com/appI1kXiCM8F04naj"},"table":{"__rl":true,"value":"tblfya8J6xKHj1fBp","mode":"list","cachedResultName":"Register a Call","cachedResultUrl":"https://airtable.com/appI1kXiCM8F04naj/tblfya8J6xKHj1fBp"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.body.data.fields[2].value }}","Phone Number":"={{ $json.body.data.fields[1].value }}","Full Name":"={{ $json.body.data.fields[0].value }}","Status":"Un-Called"},"matchingColumns":[],"schema":[{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Called","value":"Called"},{"name":"Un-Called","value":"Un-Called"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-20,-160],"id":"7b39a38d-7c43-4bc3-b99b-74009d6a3ad7","name":"Airtable","credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 49875d2b-a290-46d6-87c0-d2e63d4825a2"},{"name":"Content-type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"assistantId\": \"a277265e-f865-4212-bf8e-0c3b24c660c4\",\n  \"phoneNumberId\": \"875d60ab-edb0-40d9-be0b-bd2b0f8fd472\",\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"name\": \"{{ $json.fields['Full Name'] }}\",\n      \"phone\": \"{{ $json.fields['Phone Number'] }}\",\n      \"email\": \"{{ $json.fields['Email'] }}\"\n    }\n  },\n  \"customers\": [\n    {\n      \"name\": \"{{ $('Webhook').item.json.body.data.fields[0].value }}\",\n      \"number\": \"{{ $('Webhook').item.json.body.data.fields[1].value }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,-160],"id":"2b55c686-97f0-4704-891c-96f0dbcfa188","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7499af77-fd0d-4627-aa0d-502b67784456","triggerCount":1,"tags":[]}