brittania-double-glazing-call-center-trigger-LDJUsv1DFgrG2F8K.json
{"createdAt":"2025-04-09T07:39:42.254Z","updatedAt":"2025-04-09T14:17:19.411Z","id":"LDJUsv1DFgrG2F8K","name":"Brittania Double Glazing Call Center Trigger","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"360d69c3-9ce4-4c40-8be9-9fd5b29f115e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-240,-160],"id":"f5e345e8-562d-4e6e-b9fb-d7a658ba955a","name":"Webhook","webhookId":"360d69c3-9ce4-4c40-8be9-9fd5b29f115e"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appI1kXiCM8F04naj","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://airtable.com/appI1kXiCM8F04naj"},"table":{"__rl":true,"value":"tblfya8J6xKHj1fBp","mode":"list","cachedResultName":"Register a Call","cachedResultUrl":"https://airtable.com/appI1kXiCM8F04naj/tblfya8J6xKHj1fBp"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.body.data.fields[2].value }}","Phone Number":"={{ $json.body.data.fields[1].value }}","Full Name":"={{ $json.body.data.fields[0].value }}","Status":"Un-Called"},"matchingColumns":[],"schema":[{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Called","value":"Called"},{"name":"Un-Called","value":"Un-Called"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-20,-160],"id":"42d06e13-54fe-4f95-bdaf-a997003e6866","name":"Airtable","credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 49875d2b-a290-46d6-87c0-d2e63d4825a2"},{"name":"Content-type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"assistantId\": \"f2eb7375-3f35-41ab-a0d3-7bafb4510bb1\",\n  \"phoneNumberId\": \"875d60ab-edb0-40d9-be0b-bd2b0f8fd472\",\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"name\": \"{{ $json.fields['Full Name'] }}\"\n    }\n  },\n  \"customers\": [\n    {\n      \"name\": \"{{ $('Webhook').item.json.body.data.fields[0].value }}\",\n      \"number\": \"{{ $('Webhook').item.json.body.data.fields[1].value }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,-160],"id":"73089b9b-b614-464a-a601-ea68b9e96b74","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aa6ac3bb-77e4-4e0b-94e5-555cf38d754b","triggerCount":1,"tags":[]}