britannia-double-glazing-ai-voice-agent-using-rag-|-vapi-|-twilio-copy-oAX2sB6N7Agzv8BE.json
{"createdAt":"2025-04-09T08:35:55.384Z","updatedAt":"2025-04-09T09:59:42.635Z","id":"oAX2sB6N7Agzv8BE","name":"Britannia Double Glazing AI Voice Agent Using RAG | Vapi | Twilio copy","active":false,"nodes":[{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"company-files","mode":"list","cachedResultName":"company-files"},"options":{"pineconeNamespace":"company-information"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[0,120],"id":"0689465b-4c66-4550-bc1d-7f35a50592ec","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"ma3QfVS0RlM8kmmz","name":"PineconeApi account 3"}},"disabled":true},{"parameters":{"modelName":"models/text-embedding-004"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[0,340],"id":"0f94ca2e-9473-4113-a46b-9c49009bb1da","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}},"disabled":true},{"parameters":{"dataType":"binary","options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Extract the File ID for adding a Meta Data').item.json.File_id }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[220,340],"id":"98361d1f-85e4-4965-984d-0d257405a1bf","name":"Default Data Loader","disabled":true},{"parameters":{"chunkOverlap":20,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[380,520],"id":"1ce06046-d0b1-4c83-aff5-a111142d9ccd","name":"Recursive Character Text Splitter","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"1024273b-8f66-4a7e-a4be-ac06bfa80131","name":"File_id","value":"={{ $json.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-620,360],"id":"f8b811f8-cb5c-4f6d-af37-1cec99dadb9c","name":"Extract the File ID for adding a Meta Data","disabled":true},{"parameters":{"name":"company_knowledge_search","description":"Retrieve information from any company documents"},"id":"7d100bfe-4417-48f7-b7cc-e1915de6d154","name":"Vector Store Tool1","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[440,2200],"typeVersion":1,"disabled":true},{"parameters":{"pineconeIndex":{"__rl":true,"value":"company-files","mode":"list","cachedResultName":"company-files"},"options":{}},"id":"2381a7aa-f0ff-4183-ac0b-3a636373f189","name":"Pinecone Vector Store (Retrieval)1","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[340,2380],"typeVersion":1,"credentials":{"pineconeApi":{"id":"ma3QfVS0RlM8kmmz","name":"PineconeApi account 3"}},"disabled":true},{"parameters":{"modelName":"models/text-embedding-004"},"id":"d0a6980f-5c90-4f80-8528-5af95a54d8fd","name":"Embeddings Google Gemini (retrieval)1","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[320,2540],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}},"disabled":true},{"parameters":{"modelName":"models/gemini-2.5-pro-exp-03-25","options":{}},"id":"5d0950bc-1d4e-4401-9ca8-f39c4ca0d4c3","name":"Google Gemini Chat Model (retrieval)1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[700,2380],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}},"disabled":true},{"parameters":{"options":{"systemMessage":"=You are a highly capable assistant designed to retrieve and provide precise, concise, and informative answers based on company_knowledge_search tool.\n\nGuidelines for Response Generation:\nAlways Use the Tool for Retrieval:\nBefore answering any company-related query, use the company_knowledge_search to search for relevant information.\nIf the information is found, extract and present it in a clear, structured manner.\n\nFormat Responses Clearly:\nKeep answers direct and relevant.\nIf needed, summarize lengthy information while retaining key details.\nUse bullet points or numbered lists for clarity if the information is complex.\n\nMaintain Confidentiality & Relevance:\nProvide only factual information from company records.\nAvoid adding unnecessary details or opinions.\n\nTool Usage:\nMandatory: Always execute a query using company_knowledge_search before responding to company-related questions.\n\nIf the user asks for additional details, re-run the tool with a refined query if necessary."}},"id":"296a754d-d370-4ce0-8108-eb7199658757","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[40,1980],"typeVersion":1.7,"disabled":true},{"parameters":{"modelName":"models/gemini-2.5-pro-exp-03-25","options":{}},"id":"808a5934-2b9e-4c78-8ef4-4e58d59cdc2a","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-60,2280],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[140,2280],"id":"fd6394a2-a0a5-4579-8abe-ce94bb752e45","name":"Window Buffer Memory","disabled":true},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1000,380],"id":"f49e37ce-b171-48f4-befb-81e6fb867b5e","name":"Groq Chat Model","credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}},"disabled":true},{"parameters":{"name":"Data","description":"Call this tool to access the data base to answer the user's question"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[840,160],"id":"37025eb9-9791-405d-aba7-64c84975775c","name":"Vector Store Tool","disabled":true},{"parameters":{"pineconeIndex":{"__rl":true,"value":"company-files","mode":"list","cachedResultName":"company-files"},"options":{"pineconeNamespace":"company-information"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[680,380],"id":"4818cc67-86d0-4e51-b946-a16d4ee168b6","name":"Pinecone Vector Store3","credentials":{"pineconeApi":{"id":"ma3QfVS0RlM8kmmz","name":"PineconeApi account 3"}},"disabled":true},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"FullName\": { \"type\": \"string\" },\n      \"EmailAddress\": { \"type\": \"string\" },\n      \"PhoneNumber\": { \"type\": \"string\" },\n      \"Location\": { \"type\": \"string\" },\n      \"PortfolioWebsite\": { \"type\": \"string\" },\n      \"LinkedInURL\": { \"type\": \"string\" },\n      \"University\": { \"type\": \"string\" },\n      \"EducationLevel\": { \"type\": \"string\" },\n      \"GraduationYear\": { \"type\": \"string\" },\n      \"Majors\": { \"type\": \"string\" },\n      \"GPA\": { \"type\": \"string\" },\n      \"YearsOfWorkExperience\": { \"type\": \"string\" },\n      \"Skills\": { \"type\": \"string\" },\n      \"LastJobTitle\": { \"type\": \"string\" },\n      \"LastCompany\": { \"type\": \"string\" },\n      \"ResumeSummary\": { \"type\": \"string\" }\n    },\n    \"required\": [\n      \"FullName\",\n      \"EmailAddress\",\n      \"PhoneNumber\",\n      \"Location\",\n      \"PortfolioWebsite\",\n      \"LinkedInURL\",\n      \"University\",\n      \"EducationLevel\",\n      \"GraduationYear\",\n      \"Majors\",\n      \"GPA\",\n      \"YearsOfWorkExperience\",\n      \"Skills\",\n      \"LastJobTitle\",\n      \"LastCompany\",\n      \"ResumeSummary\"\n    ]\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-420,2260],"id":"44878ec9-6037-492d-9d93-bf81dad142d6","name":"Structured Output Parser","disabled":true},{"parameters":{"modelName":"models/text-embedding-004"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[660,540],"id":"b588c9d0-814e-4585-a3ef-93cdd8275c21","name":"Embeddings Google Gemini5","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[80,2520],"id":"5387231e-9198-443f-95a4-d8fcf402b277","name":"Window Buffer Memory1","disabled":true},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-600,2440],"id":"7a41fa52-b91b-42d6-8167-13d80c0a55ed","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}},"disabled":true},{"parameters":{"name":"Data","description":"Call this tool to access the data base to answer the user's question"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-760,2220],"id":"d1619516-bc9e-46cd-bae5-80f676b6ec71","name":"Vector Store Tool2","disabled":true},{"parameters":{"pineconeIndex":{"__rl":true,"value":"company-files","mode":"list","cachedResultName":"company-files"},"options":{"pineconeNamespace":"company-information"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[-920,2440],"id":"3015dfea-7f33-4844-8065-e7ecf25ec1f7","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"ma3QfVS0RlM8kmmz","name":"PineconeApi account 3"}},"disabled":true},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1140,2220],"id":"21a6ea26-bf8a-4621-9f09-b4726e8f8c0a","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}},"disabled":true},{"parameters":{"agent":"conversationalAgent","options":{"systemMessage":"=Check the tool and provide the correct company information"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-780,1960],"id":"2458da08-bd0c-42a5-95da-12bad902f53e","name":"Resume review Agent","alwaysOutputData":true,"disabled":true},{"parameters":{"modelName":"models/text-embedding-004"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-940,2600],"id":"f6a96027-5481-4737-b11b-fd8a2115e9fb","name":"Embeddings Google Gemini6","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-880,2200],"id":"d824846c-8e55-4b15-9620-5c9cc1c6ccd3","name":"Window Buffer Memory2","disabled":true},{"parameters":{"httpMethod":"POST","path":"5b512310-c203-4fb1-a434-352bfda02db1","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-680,840],"id":"64465f17-448b-49ad-aada-b5e2e8b65ffa","name":"Webhook","webhookId":"5b512310-c203-4fb1-a434-352bfda02db1"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"results\": [\n  {\n    \"toolCallId\": \"{{ $('Webhook').item.json.body.message.toolCalls[0].id }}\",\n    \"result\": {{ JSON.stringify($json.output) }}\n  }\n  ]\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-60,840],"id":"6c2fada9-0b7f-4c1e-ac09-c79444340f55","name":"Respond to Webhook"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.message.call.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-540,1120],"id":"bfc26758-02a0-475a-8384-841880f7a200","name":"Window Buffer Memory3"},{"parameters":{"modelName":"models/gemini-2.5-pro-exp-03-25","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-800,1140],"id":"88cfcd89-9e28-4352-8f16-21da5c8a0d29","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"={{ $json.body.message.toolCalls[0].function.arguments.instructions }}","options":{"systemMessage":"=Check the tool and provide the correct company information"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-440,840],"id":"b520b339-6a8d-4613-a976-3ccc08f93853","name":"AI Agent1","alwaysOutputData":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo","mode":"list","cachedResultName":"RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-860,360],"id":"70487dad-0e9a-4afb-a4ee-07117d45260d","name":"Drive Folder","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.File_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-400,360],"id":"f45b9766-38d6-4e47-820d-1c0fdc5dbef7","name":"Download the file using ID","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"content":"## Test Nodes ","height":980,"width":2040,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,1940],"id":"b235d9e2-a179-4956-b989-ce9f2a821600","name":"Sticky Note"},{"parameters":{"content":"## Store Company Information to Vectore Database","height":580,"width":1440,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-900,100],"id":"e8ada0ff-7668-4624-9b5c-ae8c81b6f695","name":"Sticky Note1","disabled":true},{"parameters":{"content":"## AI Voice Agent\n","height":860,"width":1060,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,800],"id":"edd4c5cb-5597-451d-9f77-ee4d6de0114e","name":"Sticky Note2"}],"connections":{"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store1","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Extract the File ID for adding a Meta Data":{"main":[[{"node":"Download the file using ID","type":"main","index":0}]]},"Vector Store Tool1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Pinecone Vector Store (Retrieval)1":{"ai_vectorStore":[[{"node":"Vector Store Tool1","type":"ai_vectorStore","index":0}]]},"Embeddings Google Gemini (retrieval)1":{"ai_embedding":[[{"node":"Pinecone Vector Store (Retrieval)1","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model (retrieval)1":{"ai_languageModel":[[{"node":"Vector Store Tool1","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Vector Store Tool":{"ai_tool":[[]]},"Pinecone Vector Store3":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[]]},"Embeddings Google Gemini5":{"ai_embedding":[[{"node":"Pinecone Vector Store3","type":"ai_embedding","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool2","type":"ai_languageModel","index":0}]]},"Vector Store Tool2":{"ai_tool":[[{"node":"Resume review Agent","type":"ai_tool","index":0}]]},"Pinecone Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool2","type":"ai_vectorStore","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Resume review Agent","type":"ai_languageModel","index":0}]]},"Embeddings Google Gemini6":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Window Buffer Memory2":{"ai_memory":[[{"node":"Resume review Agent","type":"ai_memory","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Window Buffer Memory3":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Drive Folder":{"main":[[{"node":"Extract the File ID for adding a Meta Data","type":"main","index":0}]]},"Download the file using ID":{"main":[[{"node":"Pinecone Vector Store1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Stored Resume Drive Folder":{"lastTimeChecked":"2025-04-08T13:31:17Z"},"node:Drive Folder":{"lastTimeChecked":"2025-04-09T06:08:13Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2940fc74-3b27-4146-8169-7990ce634850","triggerCount":2,"tags":[]}