browser-automate-tool-tfdB4dY1EitazBjy.json
{"updatedAt":"2025-10-06T13:41:05.793Z","createdAt":"2025-10-06T13:41:05.793Z","id":"tfdB4dY1EitazBjy","name":"Browser automate tool","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"extraction","operation":"query","sessionId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Start_Browser` tool\", 'string') }}","windowId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Start_Browser` tool\", 'string') }}","prompt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt', ``, 'string') }}","additionalFields":{}},"id":"8b87f01c-2994-4492-b466-b2c752b6b7d6","name":"Query","type":"n8n-nodes-base.airtopTool","position":[1300,260],"typeVersion":1,"credentials":{"airtopApi":{"id":"fY2epYQOPCtek1M0","name":"Airtop account"}}},{"parameters":{"resource":"window","operation":"load","sessionId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Start_Browser` tool\", 'string') }}","windowId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Start_Browser` tool\", 'string') }}","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","additionalFields":{}},"id":"6646a77b-0ce7-4e1c-9ca5-861d25918dd4","name":"Load URL","type":"n8n-nodes-base.airtopTool","position":[1420,260],"typeVersion":1,"credentials":{"airtopApi":{"id":"fY2epYQOPCtek1M0","name":"Airtop account"}}},{"parameters":{"resource":"interaction","operation":"type","sessionId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Start_Browser` tool\", 'string') }}","windowId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Start_Browser` tool\", 'string') }}","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","pressEnterKey":true,"elementDescription":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Element_Description', `Search bars usually contain a placeholder that says \"search\"`, 'string') }}","additionalFields":{}},"id":"e391e52e-f25a-4d50-a965-d3b9b31e16f2","name":"Type","type":"n8n-nodes-base.airtopTool","position":[1180,260],"typeVersion":1,"alwaysOutputData":true,"credentials":{"airtopApi":{"id":"fY2epYQOPCtek1M0","name":"Airtop account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"list","value":""},"text":"=Watch your agent work!\n\n{{ $json.data.liveViewUrl }}","otherOptions":{"includeLinkToWorkflow":false}},"id":"ba214436-e0f0-4f4a-ad71-8b2908a9744b","name":"Slack","type":"n8n-nodes-base.slack","position":[1760,500],"webhookId":"72d47d9c-6860-4248-8e83-7790264fdaf2","typeVersion":2.3,"disabled":true},{"parameters":{"profileName":"={{ $json.profile_name }}","additionalFields":{}},"id":"ac4a3381-2a92-4a55-b857-78d3a220592d","name":"Session","type":"n8n-nodes-base.airtop","position":[900,480],"typeVersion":1,"credentials":{"airtopApi":{"id":"fY2epYQOPCtek1M0","name":"Airtop account"}}},{"parameters":{"resource":"window","url":"={{ $('When Executed by Another Workflow').item.json.url }}","getLiveView":true,"additionalFields":{}},"id":"9f78c22b-8b7b-464a-9403-ae265c115b7f","name":"Window","type":"n8n-nodes-base.airtop","position":[1080,480],"typeVersion":1,"credentials":{"airtopApi":{"id":"fY2epYQOPCtek1M0","name":"Airtop account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0a0680af-39bd-4bc7-b9cd-84c1766c79a1","name":"sessionId","type":"string","value":"={{ $('Session').item.json.sessionId }}"},{"id":"13940ee8-c1d4-4718-a7b4-176c44c097b7","name":"windowId","type":"string","value":"={{ $('Window').item.json.data.windowId }}"},{"id":"a0f2005c-2cd2-4a8d-891b-a4759b72a124","name":"output","type":"string","value":"Session and window created successfully"}]},"options":{}},"id":"53f81801-8931-48b8-8370-f8fd837b0b89","name":"Return IDs","type":"n8n-nodes-base.set","position":[1440,480],"typeVersion":3.4},{"parameters":{"workflowInputs":{"values":[{"name":"url"},{"name":"profile_name"}]}},"id":"1605f70b-9fc2-4d9d-b6a0-395402013c8b","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[720,480],"typeVersion":1.1},{"parameters":{"name":"Start_Browser","description":"Start a new browser session and window","workflowId":{"__rl":true,"value":"Otn5ymZwUnuuxoil","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url', `URL to load in the browser window`, 'string') }}","profile_name":"testairtop"},"matchingColumns":[],"schema":[{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"profile_name","displayName":"profile_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"611295d7-0108-43ec-8219-7685dc91d17f","name":"Start Browser","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[940,260],"typeVersion":2.1},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[980,0],"id":"def4cec4-6abf-4aa7-a34a-c95debf85f4a","name":"When chat message received","webhookId":"5098f362-c62a-4b7b-9370-0129f90e8553"},{"parameters":{"operation":"terminate","sessionId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Start_Browser` tool\", 'string') }}"},"id":"ee39514d-a78e-46a7-8bc5-2aad28c64014","name":"End Session","type":"n8n-nodes-base.airtopTool","position":[1540,260],"typeVersion":1,"credentials":{"airtopApi":{"id":"fY2epYQOPCtek1M0","name":"Airtop account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[720,260],"id":"e8aae49f-8fb7-4fe2-b9d8-498c97e4c08f","name":"Think"},{"parameters":{"options":{"systemMessage":"=# Overview\nYou are a smart, advanced web agent connected to tools that let you control a remote web browser. Your primary goal is to fulfill the human's request accurately and efficiently by interacting with web pages using your tools.\n\n## Tools\n\n### Start_Browser\n- Always begin with this tool.\n- It returns a `sessionId` and `windowId` which are **required** for all other tools.\n- You must include these IDs in every subsequent tool call.\n\n### Load URL\n- Loads a website in the browser window.\n- Pass the `sessionId`, `windowId`, and the desired URL (e.g., `\"https://www.bestbuy.com\"`).\n\n### Query\n- You don't have access to the browser screen but you can call this tool to get knowledge and hints of the current browser window.\n- Use this tool to retrieve information that the human asked for.\n\n### Click\n- Use this tool to click on elements like buttons.\n\n### Type\n- Use this to type text into a visible input field. This tool clicks Enter after typing the text so don't send [ENTER] commandes.\n\n### End Session\n- When the task is fully complete, use this tool to properly close the browser session.\n- You must ALWAYS USE THIS TOOL BEFORE RESPONDING TO THE HUMAN\n\n### Think\n- Use when you need to reflect on what you've done and think about what steps to take next\n\n\n## Important\n- Always think step-by-step. Use `Query` whenever you’re unsure what’s on the screen or what to click/type next.\n- You will NEVER need to login","maxIterations":20,"returnIntermediateSteps":false,"passthroughBinaryImages":true}},"id":"02f102ca-468d-4768-91d3-67ce2391a354","name":"Browser Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1160,0],"retryOnFail":true,"typeVersion":1.8,"waitBetweenTries":5000},{"parameters":{"content":"# Browser Agent\n","height":240,"width":760,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[900,-80],"id":"6b4638e8-da26-4505-90b4-28d28ee82a0e","name":"Sticky Note"},{"parameters":{"content":"## Browser Tools\n","height":220,"width":760,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[900,180],"id":"3eec3607-4c55-4f16-b17a-f7801a880edf","name":"Sticky Note1"},{"parameters":{"content":"## Think","height":220,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,180],"id":"ebc1bd46-770d-4381-a491-e6b922550196","name":"Sticky Note2"},{"parameters":{"content":"## Model / Memory","height":240,"width":260,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,-80],"id":"81967a6c-94e9-4305-8e82-e42a79f0515a","name":"Sticky Note3"},{"parameters":{"content":"","height":200,"width":160,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,200],"id":"b37a7baf-906e-45d3-8a06-b962cc00416b","name":"Sticky Note4"},{"parameters":{"content":"## Start Browser Tool","height":240,"width":1040,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,420],"id":"51efa547-46ed-4963-ac7a-63750c00c9ab","name":"Sticky Note5"},{"parameters":{"model":"anthropic/claude-3.5-sonnet","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1960,520],"id":"0c094f5e-acc6-42d5-987b-70d0b02e0e49","name":"3.5 Sonnet","credentials":{"openRouterApi":{"id":"q8gJW1ZCrgIhyyJH","name":"OpenRouter account 3"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[780,0],"id":"ba5557a4-a343-42fb-ab1b-8a9929030412","name":"Memory"},{"parameters":{"resource":"interaction","sessionId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', \"The `sessionId` returned by the `Start_Browser` tool\", 'string') }}","windowId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Window_ID', \"The `windowId` returned by the `Start_Browser` tool\", 'string') }}","elementDescription":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Element_Description', `Describe in detail the element to click on, e.g. The menu item \"about us\" at the top of the page`, 'string') }}","additionalFields":{"waitForNavigation":"domcontentloaded"}},"id":"e19390a9-bec8-4530-ba53-68c654b5b18f","name":"ClickTool","type":"n8n-nodes-base.airtopTool","position":[1720,260],"typeVersion":1,"alwaysOutputData":true,"credentials":{"airtopApi":{"id":"fY2epYQOPCtek1M0","name":"Airtop account"}}},{"parameters":{"toolDescription":"Use this tool to click on an element","method":"POST","url":"=https://api.airtop.ai/api/v1/sessions/{{ $fromAI('sessionId') }}/windows/{{ $fromAI('windowId') }}/click","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"elementDescription","value":"={{ $fromAI('elementDescription', `the element to click on in as much detail as possible`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1060,260],"id":"b16e2321-0543-4498-aa0f-5bc8c99dbb50","name":"Click","credentials":{"httpHeaderAuth":{"id":"oPB9coAEzNtoAzuo","name":"Header Auth account 6"}}},{"parameters":{"sendTo":"m.jasim@gmindia.tech","subject":"Watch Automatic Browser Event","message":"=Watch your agent work!  \n\n{{ $json.data.liveViewUrl }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1260,480],"id":"2f9af618-7239-4aff-b62d-4b46d26cd549","name":"Send a message","webhookId":"b11e4c59-c11e-4c76-8973-c3ea36b489f2","credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[160,0],"id":"a5eef9ed-ffd2-4d58-a8fd-6a4ab5c41e9b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"content":"## Disabled","height":260,"width":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1700,440],"id":"5e7454a7-162f-4499-a348-5a9aa5c3833d","name":"Sticky Note6"},{"parameters":{"model":"deepseek-r1-distill-llama-70b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[660,0],"id":"e5cdbed8-480a-4e4f-899d-46777b1845cb","name":"Groq Chat Model","credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}}},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[480,0],"id":"d38b911c-7dda-434c-a7dd-74a49100ce46","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"q8gJW1ZCrgIhyyJH","name":"OpenRouter account 3"}}}],"connections":{"Type":{"ai_tool":[[{"node":"Browser Agent","type":"ai_tool","index":0}]]},"Query":{"ai_tool":[[{"node":"Browser Agent","type":"ai_tool","index":0}]]},"Slack":{"main":[[]]},"Window":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Session":{"main":[[{"node":"Window","type":"main","index":0}]]},"Load URL":{"ai_tool":[[{"node":"Browser Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Session","type":"main","index":0}]]},"Start Browser":{"ai_tool":[[{"node":"Browser Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Browser Agent","type":"main","index":0}]]},"End Session":{"ai_tool":[[{"node":"Browser Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Browser Agent","type":"ai_tool","index":0}]]},"3.5 Sonnet":{"ai_languageModel":[[]]},"Memory":{"ai_memory":[[{"node":"Browser Agent","type":"ai_memory","index":0}]]},"Click":{"ai_tool":[[{"node":"Browser Agent","type":"ai_tool","index":0}]]},"Send a message":{"main":[[{"node":"Return IDs","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]},"Groq Chat Model":{"ai_languageModel":[[]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Browser Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"8743e881-9fde-4a44-b275-297534c1dcb7","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T13:41:05.800Z","createdAt":"2025-10-06T13:41:05.800Z","role":"workflow:owner","workflowId":"tfdB4dY1EitazBjy","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}