calender-schedule-test-flow-taHs6tfeK04imWQx.json
{"createdAt":"2025-04-09T12:29:13.614Z","updatedAt":"2025-04-09T12:32:15.822Z","id":"taHs6tfeK04imWQx","name":"Calender Schedule Test Flow","active":false,"nodes":[{"parameters":{"options":{}},"id":"b425c1b8-7b29-4740-9ff7-9ef7361784d5","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-520,200],"webhookId":"8f427031-1110-4ea3-aef7-5d06ba7d5bce","typeVersion":1.1},{"parameters":{"options":{"systemMessage":"=🎯 Role of the Assistant\nYou are a virtual assistant specializing in appointment management for Dr. Hakim. Your goal is to schedule consultations accurately, ensuring real availability while providing a smooth experience for patients.\n\n🕒 Office Hours\nMonday - Friday: 9:00 AM - 8:00 PM\nSaturday: 9:00 AM - 1:00 PM\nSunday: ❌ Closed\nConsultation Duration: 1 hour\nBreak Between Patients: 15 minutes\n\n📅 Booking Process\n\n1️⃣ Request Patient Information (Mandatory):\nFull Name\nPhone Number\nDesired Date and Time\n2️⃣ Availability Check:\nIf the requested time is outside office hours → offer only available slots.\nIf the requested time is available, ask for confirmation and book it.\nIf the requested time is unavailable, apologize and suggest the actual available slots on the requested day (between 9:00 AM and 8:00 PM, respecting breaks).\n\n##Example:\nIf a patient requests an appointment at 10:00 AM, check Google Calendar to confirm availability between 9:00 AM and 8:00 PM, considering the consultation duration (1 hour) and the 15-minute breaks.\n\n🚨 Do not confirm the appointment immediately—you must receive the patient's confirmation first.\n\n3️⃣ Confirmation & Updates:\nConfirm availability with the patient before finalizing.\nUpdate Google Calendar & Google Sheets after every booking.\nGoogle Calendar Event Title: \"Patient Name - Phone Number\".\nFor modifications or cancellations, free the slot and update the schedule.\n\n##Tools:\nUse \"Cheek Avilability\" to check available slots.\nUse \"Creat event\" to book the appointment.\nUse \"Add Data\" to record patient information.\n\n💬 Communication\n✅ Respond clearly, professionally, and in a friendly manner.\n✅ Always confirm the final date and time with the patient.\n✅ Ensure Google Calendar and Google Sheets are updated after every booking.\n\n📅 Today's date: {{ $now }}."}},"id":"d4fc0aea-4e1c-4efb-97ef-c044d9b61830","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[-180,180],"typeVersion":1.7},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"id":"12ca31f5-f8ee-4ea4-829b-bf17b0e5de43","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-100,400],"typeVersion":1.3},{"parameters":{"content":"**AI Agent 👇**\nThe Prompt is already there, You just need to setup the prompt user message with your text message.","height":141,"width":194,"color":7},"id":"a4794526-bd59-409e-96f9-fc49f5ed1f08","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-140,20],"typeVersion":1},{"parameters":{"content":"**Chat Model ☝️**\nAdd your Open Ai API Key ","height":80,"width":150,"color":7},"id":"ba27d4ad-cf94-48e5-a33c-0ea5309b4ded","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-280,540],"typeVersion":1},{"parameters":{"content":"**Gpoogle Calendar ☝️**\nConnect to Google Calendar","height":80,"width":190,"color":7},"id":"d2f031e1-3d52-4731-8c11-3065e9e952a7","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[80,540],"typeVersion":1},{"parameters":{"content":"**Google Sheets ☝️**\nConnect to Google Sheets","height":80,"width":190,"color":7},"id":"1145aceb-e44c-4193-be3b-579650bd7d6f","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[340,540],"typeVersion":1},{"parameters":{"content":"**Memory ☝️**\nAdd the Session ID ","height":80,"width":150,"color":7},"id":"a686c777-d875-47b7-99e5-19ebb7ba787d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-120,540],"typeVersion":1},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"m.jasim@gmindia.tech","mode":"list","cachedResultName":"m.jasim@gmindia.tech"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}","options":{}},"id":"fe91b628-91d7-45a2-bcdf-abfc952d1c20","name":"Check Availability","type":"n8n-nodes-base.googleCalendarTool","position":[40,400],"typeVersion":1.3,"credentials":{"googleCalendarOAuth2Api":{"id":"JSeoedDUbajJMoWN","name":"Google Calendar account 4"}}},{"parameters":{"calendar":{"__rl":true,"value":"m.jasim@gmindia.tech","mode":"list","cachedResultName":"m.jasim@gmindia.tech"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{}},"id":"23236585-b169-4b5f-911a-00297710881c","name":"Creat event","type":"n8n-nodes-base.googleCalendarTool","position":[200,400],"typeVersion":1.3,"credentials":{"googleCalendarOAuth2Api":{"id":"JSeoedDUbajJMoWN","name":"Google Calendar account 4"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1JAbg-TJZr7fqiRMAjQY6baDAkQoigzUd4YqbTPoQqWE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JAbg-TJZr7fqiRMAjQY6baDAkQoigzUd4YqbTPoQqWE/edit?usp=drivesdk","cachedResultName":"RDV Medcin"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JAbg-TJZr7fqiRMAjQY6baDAkQoigzUd4YqbTPoQqWE/edit#gid=0","cachedResultName":"Feuille 1"},"columns":{"value":{"Nom complet":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nom_complet', ``, 'string') }}","Date / heure ":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date___heure_', ``, 'string') }}","Numéro de telephone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Num_ro_de_telephone', ``, 'string') }}"},"schema":[{"id":"Nom complet","type":"string","display":true,"required":false,"displayName":"Nom complet","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Numéro de telephone","type":"string","display":true,"required":false,"displayName":"Numéro de telephone","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Date / heure ","type":"string","display":true,"required":false,"displayName":"Date / heure ","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Confirmé","type":"string","display":true,"removed":true,"required":false,"displayName":"Confirmé","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"0d16d061-f876-46f8-8360-84d762f6f634","name":"Add data","type":"n8n-nodes-base.googleSheetsTool","position":[380,360],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"modelName":"models/gemini-2.5-pro-exp-03-25","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-240,400],"id":"e64e7870-cccc-43b8-a788-0eed6a3cf326","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}}],"connections":{"Add data":{"ai_tool":[[]]},"Creat event":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Check Availability":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4a85e728-8f05-471c-b318-9069fa1e4525","triggerCount":0,"tags":[]}