call-trigger-&-call-report-ai-cold-calling-dJkPhloXaS6Urov5.json
{"createdAt":"2025-04-15T05:51:48.848Z","updatedAt":"2025-04-21T13:25:47.995Z","id":"dJkPhloXaS6Urov5","name":"Call Trigger & Call Report AI Cold Calling","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"ad4d22d0-c1a4-461f-acf1-e80381ae41cc","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2540,0],"id":"81a62e43-dfaa-4c69-b056-7c9d503cbd05","name":"Webhook","webhookId":"ad4d22d0-c1a4-461f-acf1-e80381ae41cc","disabled":true},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appOaDXdVW25xklYt","mode":"list","cachedResultName":"Agent Appointment Booking","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt"},"table":{"__rl":true,"value":"tblZG4uy9Q5L2eYVW","mode":"list","cachedResultName":"Data","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt/tblZG4uy9Q5L2eYVW"},"columns":{"mappingMode":"defineBelow","value":{"customernumber":"={{$json.body.message.call.customer.number}}","cost(twilio)":"=","cost(totals)":"={{$json.body.message.costBreakdown.total}}","id":"={{ $json.body.message.call.id }}","callproviderID":"={{ $json.body.message.call.phoneCallProviderId }}","phonenumberID":"={{$json.body.message.call.phoneNumberId}}","type":"={{$json.body.message.call.type}}","started":"={{$json.body.message.startedAt}}","ended":"={{$json.body.message.endedAt}}","milliseconds":"={{$json.body.message.durationMs}}","cost(stt)":"={{$json.body.message.costBreakdown.stt}}","cost(llm)":"={{$json.body.message.costBreakdown.llm}}","cost(tts)":"={{$json.body.message.costBreakdown.tts}}","cost(total)":"={{$json.body.message.costBreakdown.total}}","ended reason":"={{$json.body.message.endedReason}}","transcript":"={{$json.body.message.transcript}}","recordings":"={{$json.body.message.recordingUrl}}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"callproviderID","displayName":"callproviderID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"phonenumberID","displayName":"phonenumberID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"customernumber","displayName":"customernumber","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"started","displayName":"started","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ended","displayName":"ended","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"milliseconds","displayName":"milliseconds","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"cost(stt)","displayName":"cost(stt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"cost(llm)","displayName":"cost(llm)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"cost(tts)","displayName":"cost(tts)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"cost(total)","displayName":"cost(total)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"cost(twilio)","displayName":"cost(twilio)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"cost(totals)","displayName":"cost(totals)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"ended reason","displayName":"ended reason","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"transcript","displayName":"transcript","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"recordings","displayName":"recordings","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-440,840],"id":"bb2601e7-14a2-4e9d-b625-fec270d7b07d","name":"Raw Data","credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appOaDXdVW25xklYt","mode":"list","cachedResultName":"Agent Appointment Booking","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt"},"table":{"__rl":true,"value":"tbly1thyuxH9XupSx","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt/tbly1thyuxH9XupSx"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"Called","Date Time":"={{ $now }}","Attempt":"Success","Summary":"={{ $('Webhook1').item.json.body.message.summary }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"VoiceMail","value":"VoiceMail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"},{"name":"Unreachable","value":"Unreachable"},{"name":"Success","value":"Success"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"xxx","value":"xxx"}],"readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[300,680],"id":"382de60c-1709-431c-a51c-5fae4d17cda8","name":"Connected Call","credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appOaDXdVW25xklYt","mode":"list","cachedResultName":"Agent Appointment Booking","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt"},"table":{"__rl":true,"value":"tbly1thyuxH9XupSx","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt/tbly1thyuxH9XupSx"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"Failed","Summary":"={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"VoiceMail","value":"VoiceMail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"},{"name":"Unreachable","value":"Unreachable"},{"name":"Success","value":"Success"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"xxx","value":"xxx"}],"readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[480,1180],"id":"2568b466-6a8d-4303-92a3-19813ed4d265","name":"Failed Call","credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appOaDXdVW25xklYt","mode":"list","cachedResultName":"Agent Appointment Booking","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt"},"table":{"__rl":true,"value":"tbly1thyuxH9XupSx","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt/tbly1thyuxH9XupSx"},"columns":{"mappingMode":"defineBelow","value":{"Attempt":"Unreachable","id":"={{ $json.id }}","Date Time":"={{ $now }}","Status":"VoiceMail","Summary":"={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"VoiceMail","value":"VoiceMail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"},{"name":"Unreachable","value":"Unreachable"},{"name":"Success","value":"Success"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"xxx","value":"xxx"}],"readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1300,1100],"id":"70648c95-9c4a-4cb8-9a6c-90e6141900e5","name":"Unreachable","credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appOaDXdVW25xklYt","mode":"list","cachedResultName":"Agent Appointment Booking","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt"},"table":{"__rl":true,"value":"tbly1thyuxH9XupSx","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt/tbly1thyuxH9XupSx"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('+1 Day AND @ 4:00pm (Optimal Call Time)').item.json.id }}","Status":"VoiceMail","Attempt":"#3","Summary":"={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}","Date Time":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"VoiceMail","value":"VoiceMail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"},{"name":"Unreachable","value":"Unreachable"},{"name":"Success","value":"Success"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"xxx","value":"xxx"}],"readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1820,840],"id":"5c4728c9-9db1-4923-a226-c8857d705163","name":"Voicemail Attempt #3","credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appOaDXdVW25xklYt","mode":"list","cachedResultName":"Agent Appointment Booking","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt"},"table":{"__rl":true,"value":"tbly1thyuxH9XupSx","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt/tbly1thyuxH9XupSx"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('1 Minute').item.json.id }}","Status":"VoiceMail","Attempt":"#2","Summary":"={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}","Date Time":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"VoiceMail","value":"VoiceMail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"},{"name":"Unreachable","value":"Unreachable"},{"name":"Success","value":"Success"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"xxx","value":"xxx"}],"readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1820,500],"id":"3b810699-bb13-4ad0-98a7-8f993ce23ed0","name":"Voicemail Attempt #2","credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"87640d60-4973-4256-8e37-e8c7fc3bf1a8","leftValue":"={{ $json.fields['ended reason'] }}","rightValue":"customer-did-not-answer","operator":{"type":"string","operation":"notEquals"}},{"id":"7d0759f2-7c19-45be-bbb9-09db3da6eacc","leftValue":"={{ $json.fields['ended reason'] }}","rightValue":"assistant-error","operator":{"type":"string","operation":"notEquals"}},{"id":"bcce32ec-9fc1-4f42-b352-69ed90b8b7a6","leftValue":"={{ $json.fields['ended reason'] }}","rightValue":"pipeline-error-*","operator":{"type":"string","operation":"notEquals"}},{"id":"fb91210a-c14a-432b-ba6d-3c859d5972a4","leftValue":"={{ $json.fields['ended reason'] }}","rightValue":"pipeline-error-first-message-failed","operator":{"type":"string","operation":"notEquals"}},{"id":"9104cca1-09aa-4781-9400-3fa998134595","leftValue":"={{ $json.fields['ended reason'] }}","rightValue":"pipeline-no-available-llm-model","operator":{"type":"string","operation":"notEquals"}},{"id":"8717e004-1033-4a34-b827-d16c2d147501","leftValue":"={{ $json.fields['ended reason'] }}","rightValue":"phone-call-provider-closed-websocket","operator":{"type":"string","operation":"notEquals"}},{"id":"37a69a1f-b6d7-42ce-b20e-d3a8dbc6df92","leftValue":"={{ $json.fields['ended reason'] }}","rightValue":"twilio-failed-to-connect-call","operator":{"type":"string","operation":"notEquals"}},{"id":"52f427ca-adbc-4364-a1c0-81c3b23d26a3","leftValue":"={{ $json.fields['ended reason'] }}","rightValue":"unknown-error","operator":{"type":"string","operation":"notEquals"}},{"id":"fad61fe3-b7e5-4bca-be09-f22f89bdeb4a","leftValue":"={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}","rightValue":"voicemail","operator":{"type":"string","operation":"notContains"}},{"id":"7b24dc3c-be9b-4b7a-aa71-83eb0b13b071","leftValue":"={{ $('Event = end-of-call-report').item.json.body.message.artifact.transcript }}","rightValue":"leave a message","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-220,840],"id":"f3d8b273-04a6-41e5-9f37-18787c596b09","name":"Condition = Answered"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3457791-6f2c-4c4f-8e92-d73b65c728bc","leftValue":"={{ $('Event = end-of-call-report').item.json.body.message.endedReason }}","rightValue":"voicemail","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"058579be-1c16-45db-abe7-dffdc709b015","leftValue":"={{ $('Event = end-of-call-report').item.json.body.message.endedReason }}","rightValue":"customer-busy","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6252cc6b-aa3f-43e0-9dc6-a497a2f303ee","leftValue":"={{ $('Event = end-of-call-report').item.json.body.message.endedReason }}","rightValue":"customer-did-not-answer","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"655fde08-4343-4336-b4ec-3f8a9217b384","leftValue":"={{ $('Event = end-of-call-report').item.json.body.message.endedReason }}","rightValue":"customer-ended-call","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[60,1000],"id":"79e5aea1-b65a-4c49-9cdc-73a8a6b1465b","name":"Condition = Voicemail"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23f6dcb0-0cd3-4d53-995e-7bf6f3e981de","leftValue":"={{ $json.Attempt }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,980],"id":"2b403f08-8144-49dc-b1cd-4e1afb96b6b6","name":"First Call"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5dbf49f4-4e26-4684-b86a-13b11de984fe","leftValue":"={{ $json.Attempt }}","rightValue":"#1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,1000],"id":"94a4baca-7c18-48ed-9e2d-bb9baea7a4f7","name":"First Call - Recapture"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9373607-17cb-466f-a492-9a1e52627d26","leftValue":"={{ $json.Attempt }}","rightValue":"#2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1060,1020],"id":"7019ba49-8fe9-4325-97ec-60d6f84fdc0a","name":"Third Call"},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer cb10042c-e626-462a-9804-fd2a10f1c4e4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"assistantId\": \"b4d31f49-eec6-4a7f-818b-918625957ba1\",\n  \"customer\": {\n    \"name\": \"{{ $json.fields['First Name'] }}\",\n    \"number\": \"{{ $json.fields.Mobile }}\"\n  },\n  \"phoneNumberId\": \"8b6a043f-f584-48af-8a67-c4489f24f434\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2540,420],"id":"3c99b9aa-2b71-4361-841f-30474c7677c9","name":"Call #2","disabled":true},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer cb10042c-e626-462a-9804-fd2a10f1c4e4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"assistantId\": \"b4d31f49-eec6-4a7f-818b-918625957ba1\",\n  \"customer\": {\n    \"name\": \"{{ $json['First Name'] }}\",\n    \"number\": \"{{ $json.Mobile }}\"\n  },\n  \"phoneNumberId\": \"8b6a043f-f584-48af-8a67-c4489f24f434\"\n}","options":{"batching":{"batch":{"batchSize":10,"batchInterval":120000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2540,220],"id":"7d1935a4-658a-4b70-b551-989b0a4ca810","name":"Call #3","disabled":true},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appOaDXdVW25xklYt","mode":"list","cachedResultName":"Agent Appointment Booking","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt"},"table":{"__rl":true,"value":"tbly1thyuxH9XupSx","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt/tbly1thyuxH9XupSx"},"filterByFormula":"=({Mobile} = '{{ $('Event = end-of-call-report').item.json.body.message.call.customer.number }}')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[80,680],"id":"e2644d91-090f-457e-87e6-6ca061604a93","name":"Get ID","credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appOaDXdVW25xklYt","mode":"list","cachedResultName":"Agent Appointment Booking","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt"},"table":{"__rl":true,"value":"tbly1thyuxH9XupSx","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt/tbly1thyuxH9XupSx"},"filterByFormula":"=({Mobile} = '{{ $('Event = end-of-call-report').item.json.body.message.call.customer.number }}')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[300,980],"id":"ae7cd251-9be0-4673-8700-ec1b51170701","name":"Get ID #2","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appOaDXdVW25xklYt","mode":"list","cachedResultName":"Agent Appointment Booking","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt"},"table":{"__rl":true,"value":"tbly1thyuxH9XupSx","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt/tbly1thyuxH9XupSx"},"filterByFormula":"=({Mobile} = '{{ $('Event = end-of-call-report').item.json.body.message.call.customer.number }}')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[300,1180],"id":"4ec06c71-95ce-43b6-ad09-64616c7445ce","name":"Get ID #3","credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"32155059-a744-47e1-879c-f93968fe8a8a","leftValue":"={{ $json.body.message.type }}","rightValue":"end-of-call-report","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-640,980],"id":"ff17fbce-5e4b-4b26-885a-ddbcc0028403","name":"Event = end-of-call-report"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appOaDXdVW25xklYt","mode":"list","cachedResultName":"Agent Appointment Booking","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt"},"table":{"__rl":true,"value":"tbly1thyuxH9XupSx","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt/tbly1thyuxH9XupSx"},"columns":{"mappingMode":"defineBelow","value":{"Attempt":"#1","Summary":"={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}","Status":"VoiceMail","id":"={{ $json.id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"VoiceMail","value":"VoiceMail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"},{"name":"Unreachable","value":"Unreachable"},{"name":"Success","value":"Success"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"xxx","value":"xxx"}],"readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1080,500],"id":"aeb4951d-4aad-4e5a-838a-8c9511f1531b","name":"Voicemail Attempt #1","credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1300,500],"id":"808453ac-6e3a-4237-a87a-6d20697ea1bd","name":"1 Minute","webhookId":"0c1d989a-b8de-4488-86c5-281db988f5b7"},{"parameters":{"resume":"specificTime","dateTime":"={{ \n  String(\n    $now.plus(1, \"day\")\n      .toDateTime()\n      .setZone(\"Asia/Kolkata\") // IST Timezone\n      .set({ hour: 16, minute: 0, second: 0, millisecond: 0 })\n      .toISO()\n  )\n}}\n"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1300,840],"id":"ef417f79-efc6-4ca6-820a-423d44df0e73","name":"+1 Day AND @ 4:00pm (Optimal Call Time)","webhookId":"cc3caa32-c6d5-4333-8719-5962749cc0c3"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appi8o2urjTtctZ5S","mode":"list","cachedResultName":"Outbound System","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S"},"table":{"__rl":true,"value":"tblIaRaDlT6gGW1JM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S/tblIaRaDlT6gGW1JM"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"Voicemail","Attempt":"#1","Summary":"={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"Voicemail","value":"Voicemail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#Success","value":"#Success"},{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2540,640],"id":"b4f73525-0500-4730-80c6-0ea00a02e9e0","name":"Voicemail Attempt #","disabled":true},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appi8o2urjTtctZ5S","mode":"list","cachedResultName":"Outbound System","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S"},"table":{"__rl":true,"value":"tblIaRaDlT6gGW1JM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S/tblIaRaDlT6gGW1JM"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('1 Minute').item.json.id }}","Status":"Voicemail","Attempt":"#2","Summary":"={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}","Date Time":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"Voicemail","value":"Voicemail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#Success","value":"#Success"},{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2540,1080],"id":"7b7c85bf-9aa7-4573-adeb-2fcd60a4e776","name":"Voicemail Attempt #4","disabled":true},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 4804e967-a343-4911-9c66-d2cd966c9113"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customer\": {\n    \"name\": \"{{ $json['First Name'] }}\",\n    \"number\": \"+18548886027\"\n  },\n  \"assistantId\": \"33c1f93d-2f60-4c00-9c09-5842c9bec041\",\n  \"phoneNumberId\": \"90bf640b-8890-4c80-ae8c-256abfaeb0bd\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,500],"id":"81ac4aff-26fd-4b0a-8c99-b267faca88c9","name":"call #2"},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 4804e967-a343-4911-9c66-d2cd966c9113"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customer\": {\n    \"name\": \"{{ $json['First Name'] }}\",\n    \"number\": \"+18548886027\"\n  },\n  \"assistantId\": \"33c1f93d-2f60-4c00-9c09-5842c9bec041\",\n  \"phoneNumberId\": \"90bf640b-8890-4c80-ae8c-256abfaeb0bd\"\n}","options":{"batching":{"batch":{"batchSize":10,"batchInterval":120000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,840],"id":"cb811a5b-50c5-4564-bb72-8f6d73174fe6","name":"call #3"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appi8o2urjTtctZ5S","mode":"list","cachedResultName":"Outbound System","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S"},"table":{"__rl":true,"value":"tblIaRaDlT6gGW1JM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S/tblIaRaDlT6gGW1JM"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('+1 Day AND @ 4:00pm (Optimal Call Time)').item.json.id }}","Status":"Voicemail","Attempt":"#3","Summary":"={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}","Date Time":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"Voicemail","value":"Voicemail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#Success","value":"#Success"},{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2540,860],"id":"7d7fd377-b021-4b28-9d82-b348d491e9cb","name":"Voicemail Attempt #5","disabled":true},{"parameters":{"httpMethod":"POST","path":"windowsanddoorscallreport","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-900,980],"id":"f818d7d2-69cf-467f-91b4-f75671aac0f9","name":"Webhook1","webhookId":"ad4d22d0-c1a4-461f-acf1-e80381ae41cc"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-60,20],"id":"aecdb494-6174-4b1c-9b80-7d6bdf2acf10","name":"Schedule Trigger"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appOaDXdVW25xklYt","mode":"list","cachedResultName":"Agent Appointment Booking","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt"},"table":{"__rl":true,"value":"tbly1thyuxH9XupSx","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt/tbly1thyuxH9XupSx"},"filterByFormula":"({status}='TBC')","returnAll":false,"limit":10,"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[160,20],"id":"91d1d4f4-24c7-40b0-b05e-370cccfd8def","name":"Airtable","credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"191d5d95-e599-4d22-9158-d5deaf37b6ed","name":"ID","value":"={{ $json.id }}","type":"string"},{"id":"c34045b3-5e72-4f77-95ed-eac78548cd5f","name":"First Name","value":"={{ $json['First Name'] }}","type":"string"},{"id":"14fd38a7-af59-45cd-a907-10f909213539","name":"Mobile","value":"={{ $json.Mobile }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[380,20],"id":"b4bf4f50-1fac-4da3-af61-1796e6376bfd","name":"Edit Fields"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appOaDXdVW25xklYt","mode":"list","cachedResultName":"Agent Appointment Booking","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt"},"table":{"__rl":true,"value":"tbly1thyuxH9XupSx","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appOaDXdVW25xklYt/tbly1thyuxH9XupSx"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Edit Fields').item.json.ID }}","Status":"In-Progress"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"VoiceMail","value":"VoiceMail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"},{"name":"Unreachable","value":"Unreachable"},{"name":"Success","value":"Success"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"xxx","value":"xxx"}],"readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[820,20],"id":"08489963-0a36-411d-b589-3cdf7d5bd951","name":"Airtable1","credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 4804e967-a343-4911-9c66-d2cd966c9113"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"assistantId\": \"9327ee46-d2ae-4ccc-9dac-6db4a2e11083\",\n  \"phoneNumberId\": \"3f23f374-d040-4231-8078-3290072331de\",\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"name\": \"{{ $('Airtable').item.json['First Name'] }}\",\n      \"phone\": \"{{ $('Airtable').item.json.Mobile }}\",\n      \"email\": \"{{ $('Airtable').item.json.Email }}\"\n    }\n  },\n  \"customers\": [\n    {\n      \"name\": \"{{ $('Airtable').item.json['First Name'] }}\",\n      \"number\": \"{{ $('Airtable').item.json.Mobile }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,20],"id":"7df54f26-c482-4887-bf74-d9025cbf951f","name":"HTTP Request"},{"parameters":{"content":"## Call Trigger","height":300,"width":1160},"type":"n8n-nodes-base.stickyNote","position":[-120,-60],"typeVersion":1,"id":"4489d97c-4626-457d-aa02-fcf03e4b2713","name":"Sticky Note9"},{"parameters":{"content":"## Call Report Workflow","height":940,"width":3080},"type":"n8n-nodes-base.stickyNote","position":[-980,460],"typeVersion":1,"id":"a9f8d52e-7013-4edf-9ab8-d306ea257f1e","name":"Sticky Note10"}],"connections":{"Webhook":{"main":[[]]},"Raw Data":{"main":[[{"node":"Condition = Answered","type":"main","index":0}]]},"Condition = Answered":{"main":[[{"node":"Get ID","type":"main","index":0}],[{"node":"Condition = Voicemail","type":"main","index":0}]]},"Condition = Voicemail":{"main":[[{"node":"Get ID #2","type":"main","index":0}],[{"node":"Get ID #3","type":"main","index":0}]]},"First Call":{"main":[[{"node":"Voicemail Attempt #1","type":"main","index":0}],[{"node":"First Call - Recapture","type":"main","index":0}]]},"First Call - Recapture":{"main":[[{"node":"Voicemail Attempt #1","type":"main","index":0}],[{"node":"Third Call","type":"main","index":0}]]},"Third Call":{"main":[[{"node":"+1 Day AND @ 4:00pm (Optimal Call Time)","type":"main","index":0}],[{"node":"Unreachable","type":"main","index":0}]]},"Get ID":{"main":[[{"node":"Connected Call","type":"main","index":0}]]},"Get ID #2":{"main":[[{"node":"First Call","type":"main","index":0}]]},"Get ID #3":{"main":[[{"node":"Failed Call","type":"main","index":0}]]},"Event = end-of-call-report":{"main":[[{"node":"Raw Data","type":"main","index":0}]]},"Voicemail Attempt #1":{"main":[[{"node":"1 Minute","type":"main","index":0}]]},"1 Minute":{"main":[[{"node":"call #2","type":"main","index":0}]]},"+1 Day AND @ 4:00pm (Optimal Call Time)":{"main":[[{"node":"call #3","type":"main","index":0}]]},"call #2":{"main":[[{"node":"Voicemail Attempt #2","type":"main","index":0}]]},"call #3":{"main":[[{"node":"Voicemail Attempt #3","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Event = end-of-call-report","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Airtable1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"dd3f4db7-1910-4c61-a20c-092b116b6c5b","triggerCount":2,"tags":[]}