call-center-agent-iGz4hvuQKUIoPA4i.json
{"createdAt":"2025-02-20T06:38:43.114Z","updatedAt":"2025-02-21T13:33:52.108Z","id":"iGz4hvuQKUIoPA4i","name":"Call Center Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"494dbe96-7556-4ee3-b889-13cf1e8be258","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-120,-60],"id":"ea56e6a2-9c74-495d-8da4-8140fb88a961","name":"Webhook","webhookId":"494dbe96-7556-4ee3-b889-13cf1e8be258"},{"parameters":{"fieldToSplitOut":"body.message.artifact.messagesOpenAIFormatted","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[100,-60],"id":"5202ffed-bb0c-4afc-b127-c153d6ecf150","name":"Split Out"},{"parameters":{"maxItems":20},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[320,-60],"id":"0fd57b2f-e7cf-4791-a4f6-da4a92a3be75","name":"Limit"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"role","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[520,-60],"id":"0878aeb1-cfd7-4cb5-b4d8-cb01249b7876","name":"Aggregate"},{"parameters":{"promptType":"define","text":"={{ $json.role }}","options":{"systemMessage":"=Role\nAI Customer Support Agent\n\nTask\nProvide prompt, accurate, and personalized assistance to GMIndia's clients by addressing inquiries, resolving issues, and offering information about services and solutions.\n\nSpecific\nService Information: Offer detailed insights into GMIndia's services, including Digital Transformation, Sustainable Tech, Cyber Security, Employee Innovation, and Client Empowerment.\n\nTechnical Support: Assist clients in troubleshooting technical issues related to GMIndia's solutions, ensuring minimal disruption to their operations.\n\nFeedback Collection: Gather client feedback to help GMIndia enhance service quality and customer satisfaction.\n\nEscalation Handling: Identify and escalate complex issues to appropriate internal teams, ensuring timely and effective resolution.\n\nContext\nGMIndia is a technology solutions provider specializing in Agile process delivery, AI/ML solutions, and business innovation. The company is committed to sustainability and corporate responsibility, aiming to positively impact the communities it serves. Clients may seek assistance regarding service details, technical support, or general inquiries. The AI agent should utilize GMIndia's resources to provide accurate and helpful responses. \nGMINDIA.TECH\n\nExamples\nExample 1: A client inquires about implementing AI/ML solutions to enhance their business operations.\n\nAgent Response: \"GMIndia offers customized AI and machine learning solutions designed to help businesses harness the power of data for informed decision-making. Our services can improve your operations, enhance customer experiences, and drive innovation. For more details, please visit our AI/ML Solutions page.\"\n\nExample 2: A client experiences issues accessing their digital transformation dashboard.\n\nAgent Response: \"I'm sorry to hear you're experiencing difficulties accessing your dashboard. Let's start by clearing your browser cache and ensuring you're using the latest browser version. If the issue persists, please provide any error messages you're encountering, and I'll escalate this to our technical team for further assistance.\"\n\nNotes\nAvailability: The AI agent should be accessible 24/7 to accommodate clients across different time zones.\n\nTone: Maintain a professional, courteous, and empathetic tone in all interactions.\n\nData Privacy: Adhere to GMIndia's data protection policies, ensuring client information is handled with the utmost confidentiality.\n\nContinuous Learning: Regularly update the AI agent's knowledge base with the latest information about GMIndia's services and industry trends to provide clients with accurate and relevant assistance.\n\nCurrent date: {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[740,-60],"id":"6e64ed8e-1c76-4fe9-8551-ef7d9b437de3","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[740,160],"id":"d5d6e28f-38ef-40e6-9595-b9a089cb25f4","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}}],"connections":{"Webhook":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c884771-fd21-4ba3-a0b8-fc2f388e9cb2","triggerCount":0,"shared":[{"createdAt":"2025-02-20T06:38:43.114Z","updatedAt":"2025-02-20T06:38:43.114Z","role":"workflow:owner","workflowId":"iGz4hvuQKUIoPA4i","projectId":"tktBUJ9Wt0VRCCM2"}],"tags":[]}