client_onboarding_email-with-rag-mpUd0YfxdDX8C3x7.json
{"createdAt":"2025-01-09T06:36:25.980Z","updatedAt":"2025-02-17T07:33:53.801Z","id":"mpUd0YfxdDX8C3x7","name":"Client_Onboarding_Email With RAG","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"tos","formTitle":"Client Onboarding Form","formDescription":"Please fill out the required fields to get started with the onboarding process.","formFields":{"values":[{"fieldLabel":"Full Name","placeholder":"e.g. John Doe","requiredField":true},{"fieldLabel":"Your Email","fieldType":"email","placeholder":"e.g. johndoe@example.com","requiredField":true},{"fieldLabel":"Company Name","placeholder":"e.g. Doe Enterprises","requiredField":true},{"fieldLabel":"Industry","placeholder":"e.g. Technology, Finance, Marketing","requiredField":true},{"fieldLabel":"Service Required","fieldType":"textarea","placeholder":"e.g. Website Development, Marketing Strategy","requiredField":true},{"fieldLabel":"Start Date","fieldType":"date","formatDate":"dd/mm/yyyy"}]},"options":{}},"id":"3ab7a9d7-c97a-49e3-9be7-980feb288a79","name":"Client Onboarding Form","type":"n8n-nodes-base.formTrigger","typeVersion":2.1,"position":[-1900,280],"webhookId":"9c3ba6d9-c084-4faa-9ce2-f636dc5005cd"},{"parameters":{"assignments":{"assignments":[{"id":"278e145f-dc09-4c82-b15b-ab9217040582","name":"Name","value":"={{ $json['Full Name'] }}","type":"string"},{"id":"afb84f69-7680-4b02-bd19-3b0e0d87b372","name":"Email","value":"={{ $json['Your Email'] }}","type":"string"},{"id":"fad781c8-4347-4752-bffb-22cacb7ebf02","name":"Company Name","value":"={{ $json['Company Name'] }}","type":"string"},{"id":"fcfbd9ad-21c7-4a73-ad22-65687e4f799a","name":"Industry","value":"={{ $json.Industry }}","type":"string"},{"id":"93de3381-e111-4215-a31e-09a696024876","name":"Service Required","value":"={{ $json['Service Required'] }}","type":"string"},{"id":"5e47f9a4-085e-419b-b620-4de413db97f2","name":"Start Date","value":"={{ $json['Start Date'] }}","type":"string"}]},"options":{}},"id":"f23b3173-77da-4b31-980e-8b8fb89ba4e1","name":"Clean Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,280]},{"parameters":{"jsCode":"const outputItems = [];\n\nif ($input.all().length === 0) {\n    return []; \n}\n\nfor (const item of $input.all()) {\n    const outputData = item.json.output;\n\n    if (outputData) {\n        const subjectLine = outputData.split('\\n')[0];\n        const subject = subjectLine.replace('Subject: ', '').trim(); \n\n        const content = outputData.replace(subjectLine, '').trim();\n\n        outputItems.push({\n            json: {\n                subject: subject,\n                content: content\n            }\n        });\n    } else {\n        console.log('Output data is missing or empty:', outputData);\n    }\n}\n\nreturn outputItems;"},"id":"831c41fc-7302-450f-9a33-f9a36a96ad1b","name":"Seperate EMail Subject & Content ","type":"n8n-nodes-base.code","typeVersion":2,"position":[-780,280],"alwaysOutputData":true},{"parameters":{"resource":"draft","subject":"={{ $json.subject }}","message":"={{ $json.content }}","options":{}},"id":"266451f6-d31b-483e-aea3-acca1f1574f9","name":"Create Email Draft","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-560,280],"webhookId":"8e1a0642-b98e-4f13-937f-8ba78754cfb4","credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}},{"parameters":{"model":"llama3-70b-8192","options":{}},"id":"dea1930a-4583-41a3-a1ca-69c616a39d48","name":"Groq LLM | WE","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-1260,280],"credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}}},{"parameters":{"model":"llama3-70b-8192","options":{}},"id":"a1e60d88-298b-430d-b296-52beff2bf88d","name":"Groq LLM | TOS","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-1260,620],"credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"00724694-e5db-4201-aba2-93b00c241565","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,100],"id":"f4728422-3f20-4dd3-adad-9a22644a47e2","name":"Edit Fields"},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"file_Id","value":"={{ $('Edit Fields').item.json.file_id }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1140,320],"id":"2ed6557e-72ec-4c56-8259-6bde8edbe3e9","name":"Default Data Loader"},{"parameters":{"chunkSize":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1240,540],"id":"4798c4a0-068a-44a9-be75-33fd611bf59c","name":"Recursive Character Text Splitter"},{"parameters":{"modelName":"models/text-embedding-004"},"id":"f6a75051-a54b-418f-8873-38b711b8b1bf","name":"Embeddings Google Gemini1","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[920,320],"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"docs","mode":"list","cachedResultName":"docs"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[900,100],"id":"11a05489-dfe3-40b5-a026-51ef8f1ff6c7","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"ALT2ENRsecb2LbQC","name":"QdrantApi account"}}},{"parameters":{"name":"=company_information"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-820,560],"id":"6a9a2f81-00b5-4703-9e92-2b8e4f1ee34f","name":"Vector Store Tool1"},{"parameters":{"qdrantCollection":{"__rl":true,"value":"docs","mode":"list","cachedResultName":"docs"},"options":{}},"id":"beb7ca75-34d5-4bb5-b4c5-1fdd9e8bfa92","name":"Qdrant Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[-880,740],"credentials":{"qdrantApi":{"id":"ALT2ENRsecb2LbQC","name":"QdrantApi account"}}},{"parameters":{"options":{}},"id":"7b42d55f-6518-4018-88aa-b3fbcf9f1b27","name":"Groq Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-580,760],"credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}}},{"parameters":{"modelName":"models/text-embedding-004"},"id":"b09b2b15-f97b-4d5e-8169-dfe4410d495d","name":"Embeddings Google Gemini2","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-880,880],"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Email is from Ace Tech Inside. My name is Mohamed Jasim.\nWrite a personalized welcome email for {{ $json.Name }} from our company. They work in the {{ $json.Industry }} industry, and their company is named {{ $json['Company Name'] }}. They require services for {{ $json['Service Required'] }}, starting on {{ $json['Start Date'] }}.\n\nThe tone should be professional yet friendly. Mention that we are excited to collaborate with them and highlight our company’s commitment to delivering tailored solutions.\n\nAlso, inform them that they will receive a separate email containing the Terms of Service agreement. They can either sign it or respond to that email to confirm their agreement.\n\nEnd the email by expressing enthusiasm about this partnership and inviting them to reach out with any questions.\n\nMake sure the email feels warm and professional.","hasOutputParser":true,"options":{}},"id":"83af213a-f08d-4426-8641-84507319ec21","name":"Welcome Email Generating Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1280,100]},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Email is from Ace Tech Inside. My name is Mohamed Jasim.\n\nGenerate a Terms of Service and Contract email using the following data:\nClient: {{ $json.Name }} from {{ $json['Company Name'] }}\nIndustry: {{ $json.Industry }}\nServices Required: {{ $json['Service Required'] }}\nStart Date: {{ $json['Start Date'] }}\n\nPlease include a brief description of the services, payment terms, liabilities, and termination conditions in a professional email format.\n\nThe final output should be a completed email in English without asking for further clarification.","options":{}},"id":"cbce09e8-9ce6-4515-abde-87fd211929ff","name":"Terms of services Email Generating Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1280,440]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"https://drive.google.com/drive/folders/190YOAfLQJU-iy87Ssv6HZKoI3vx9-BZ4","mode":"url"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,220],"id":"d18a19cb-5cb5-443f-b0ae-954147bec249","name":"Google Drive File Update Trigger","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"https://drive.google.com/drive/folders/190YOAfLQJU-iy87Ssv6HZKoI3vx9-BZ4","mode":"url"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"8fa443fa-b0e5-4a32-9797-5b0b2969b631","name":"Google Drive File create Trigger","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[460,100],"id":"700450b9-ad81-4647-86d6-e2689b5cfcb4","name":"Google Drive Download File","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[680,100],"id":"2b74c3c1-4929-40b7-b290-1a16e25a696b","name":"Extract TEXT from File"}],"connections":{"Client Onboarding Form":{"main":[[{"node":"Clean Data","type":"main","index":0}]]},"Clean Data":{"main":[[{"node":"Welcome Email Generating Agent","type":"main","index":0},{"node":"Terms of services Email Generating Agent","type":"main","index":0}]]},"Seperate EMail Subject & Content ":{"main":[[{"node":"Create Email Draft","type":"main","index":0}]]},"Groq LLM | WE":{"ai_languageModel":[[{"node":"Welcome Email Generating Agent","type":"ai_languageModel","index":0}]]},"Groq LLM | TOS":{"ai_languageModel":[[{"node":"Terms of services Email Generating Agent","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Drive Download File","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Qdrant Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Tool1","type":"ai_vectorStore","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool1","type":"ai_languageModel","index":0}]]},"Embeddings Google Gemini2":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Vector Store Tool1":{"ai_tool":[[{"node":"Welcome Email Generating Agent","type":"ai_tool","index":0},{"node":"Terms of services Email Generating Agent","type":"ai_tool","index":0}]]},"Welcome Email Generating Agent":{"main":[[{"node":"Seperate EMail Subject & Content ","type":"main","index":0}]]},"Terms of services Email Generating Agent":{"main":[[{"node":"Seperate EMail Subject & Content ","type":"main","index":0}]]},"Google Drive File Update Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Drive File create Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Drive Download File":{"main":[[{"node":"Extract TEXT from File","type":"main","index":0}]]},"Extract TEXT from File":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Client Onboarding Form":[{"json":{"Full Name":"Arun Kumar","Your Email":"arunkumar@chennaicompany.com","Company Name":"Chennai Company","Industry":"Digital Marketing","Service Required":"Google Ads Service","Start Date":"01/02/2025","submittedAt":"2025-01-06T03:15:33.694-05:00","formMode":"test"}}],"Clean Data":[{"json":{"Name":"Arun Kumar","Email":"arunkumar@chennaicompany.com","Company Name":"Chennai Company","Industry":"Digital Marketing","Service Required":"Google Ads Service","Start Date":"01/02/2025"}}]},"versionId":"45294760-4fff-4056-a0cd-97904179e0e3","triggerCount":0,"shared":[{"createdAt":"2025-01-09T06:36:25.980Z","updatedAt":"2025-01-09T06:36:25.980Z","role":"workflow:owner","workflowId":"mpUd0YfxdDX8C3x7","projectId":"tktBUJ9Wt0VRCCM2"}],"tags":[]}