company-informations-listing-d1gN9R06GS9rLgPz.json
{"updatedAt":"2025-10-06T13:40:01.825Z","createdAt":"2025-10-06T13:40:01.825Z","id":"d1gN9R06GS9rLgPz","name":"Company Informations Listing","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Folder Workflow","formDescription":"Enter the Details","formFields":{"values":[{"fieldLabel":"Company Name","placeholder":"Company Name"},{"fieldLabel":"Staff Name","placeholder":"Enter the Staff Name"},{"fieldLabel":"Upload Staff files","fieldType":"file"},{"fieldLabel":"Select folder to upload","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Documents"},{"option":"Staff name"}]}}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-144,816],"id":"789c4b2f-8d7f-47da-81a0-4b7d182b747e","name":"On form submission","webhookId":"85d3c44d-fa40-4a8c-92a3-7e016e97331a","disabled":true},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('individual staff folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1424,496],"id":"ad246c58-b30b-4e7f-974f-6509031f1ee2","name":"Upload file","disabled":true},{"parameters":{"resource":"folder","name":"={{ $('On form submission').item.json.staff_name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[976,496],"id":"ad8ff571-48ff-4415-9869-8c8cce0bd1e7","name":"individual staff folder","disabled":true},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[752,496],"id":"7899f91a-0b3a-4236-8465-a9d5cf9f6a1e","name":"Existing Staff folder","disabled":true},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"=177A3-r1iGSQrb2cdJyY0z_SAUBguR5mq","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1200,720],"id":"cc423ca3-7253-41ab-bd70-f2903ba39ae4","name":"Upload file1","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"resource":"folder","name":"=Staff","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[304,720],"id":"898d0aa2-f29e-41e6-96d4-04e1bc0cc74c","name":"Create new Staff folder","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"resource":"folder","name":"=Document","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[304,912],"id":"a9a36042-6be8-4d75-a00a-015ed0e07fbd","name":"create new document folder","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"resource":"folder","name":"={{ $('On form submission').item.json['Staff Name'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[528,720],"id":"581c183a-9f8f-4619-a0d3-9d03655babc4","name":"new individual staff folder","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,720],"id":"474c28e8-105b-4f71-a27d-dfab907a7b79","name":"file upload","disabled":true},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,496],"id":"9503531d-ab08-41eb-97e5-80fe20e1405e","name":"Files Upload","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"821ba7a8-9ae5-4a35-acd4-6933e865fbfc","leftValue":"={{ $json.name }}","rightValue":"={{ $('On form submission').item.json['Company Name'] }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,496],"id":"87367b44-d5da-4690-8ddb-7c7626c13c74","name":"If","disabled":true},{"parameters":{"resource":"folder","name":"={{ $json['Company Name'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj","mode":"list","cachedResultName":"Company Informations","cachedResultUrl":"https://drive.google.com/drive/folders/1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj"},"options":{"simplifyOutput":false}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,816],"id":"5bd0aedb-f779-4b07-a0d9-019d839d4a7c","name":"parentfolder","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/1pSu466_oB0eXmKjPr5w2KfaE6YcjSisn?q=name={{ $json['Company Name'] }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"mimeType = 'application/vnd.google-apps.folder'"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,496],"id":"e3275819-b395-4042-94b6-18eca35bec07","name":"HTTP Request","disabled":true},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"=mimeType = 'application/vnd.google-apps.folder' and name = '{{$(\"On form submission\").item.json[\"Company Name\"]}}' and '{{ $json.id }}' in parents","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,496],"id":"519fe7a6-2ea0-4e55-8c37-094b140d9d41","name":"Search files and folders","disabled":true},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[528,496],"id":"43c76d74-f01e-4ba4-ab34-40046d72504c","name":"Search files and folders1","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"43b9d89a-6269-4fcc-8da7-85f527afc72d"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[976,720],"id":"4be1f153-b93c-4dfd-922d-4d3cf0499f1d","name":"Switch","disabled":true},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission1\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,1136],"id":"038825f5-84e8-40ac-bdec-dc3344869f3a","name":"File upload to Staff folder","disabled":true},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission1\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,1328],"id":"4e8d83e9-a250-4c82-b3cb-a32a9c5b1eab","name":"File upload to document folder","disabled":true},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('create new document folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1424,1328],"id":"9b5c2b91-b624-49e4-8c83-e093d5398c81","name":"Upload in Document Folder","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('new individual staff folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1424,1136],"id":"f869a6f8-2f47-4abd-920a-aee009352d52","name":"Upload in Staff folder","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"formTitle":"Folder Workflow","formDescription":"Enter the Details","formFields":{"values":[{"fieldLabel":"Company Name","placeholder":"Company Name"},{"fieldLabel":"Staff Name","placeholder":"Enter the Staff Name"},{"fieldLabel":"Upload Staff files","fieldType":"file"},{"fieldLabel":"Select where to save the files","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Staff"},{"option":"Document"}]}}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-144,1232],"id":"dd9dde1e-9213-4b29-ac78-5a3094ac5a8c","name":"On form submission1","webhookId":"d6e39b32-2513-4b7b-b979-9c0e94319c10","disabled":true},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('individual staff folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1424,272],"id":"b840194a-3817-4416-bdc3-988338920486","name":"Upload file2","disabled":true},{"parameters":{"resource":"folder","name":"={{ $('On form submission1').item.json.staff_name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[976,272],"id":"7e0ca0a7-428c-4fba-9c5f-52303e01daa7","name":"individual staff folder1","disabled":true},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[752,272],"id":"78e569a5-f008-42f0-95f3-9bb573751f40","name":"Existing Staff folder1","disabled":true},{"parameters":{"resource":"folder","name":"=Staff","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('parentfolder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[528,1232],"id":"0cdda0d0-fda5-452c-90a4-167549a1b723","name":"Create new Staff folder1","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"resource":"folder","name":"=Document","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[304,1232],"id":"c05eb0d4-847b-4267-99ee-01bfc2b56439","name":"create new document folder1","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"resource":"folder","name":"={{  $('On form submission1').item.json['Staff Name'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[752,1232],"id":"69656b5b-942a-4b1f-b2cc-ce09f549a032","name":"new individual staff folder1","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission1\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,272],"id":"036a6105-18fe-421b-9c22-29e04b1b0a33","name":"Files Upload1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"821ba7a8-9ae5-4a35-acd4-6933e865fbfc","leftValue":"={{ $json.name }}","rightValue":"={{ $('On form submission1').item.json['Company Name'] }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,272],"id":"94f1ba8f-c2f2-4d23-9975-2bfb1137a987","name":"If1","disabled":true},{"parameters":{"resource":"folder","name":"={{ $json['Company Name'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj","mode":"list","cachedResultName":"Company Informations","cachedResultUrl":"https://drive.google.com/drive/folders/1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj"},"options":{"simplifyOutput":false}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,1232],"id":"534177de-f628-4fc5-81a7-02068fa4d98e","name":"parentfolder1","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/1pSu466_oB0eXmKjPr5w2KfaE6YcjSisn?q=name={{ $json['Company Name'] }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"mimeType = 'application/vnd.google-apps.folder'"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,272],"id":"e0196547-3bc5-4304-88ba-b63634604bac","name":"HTTP Request1","disabled":true},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"=mimeType = 'application/vnd.google-apps.folder' and name = '{{$(\"On form submission1\").item.json[\"Company Name\"]}}' and '{{ $json.id }}' in parents","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,272],"id":"d81aeff2-36dc-44bc-9f54-83443651da73","name":"Search files and folders2","disabled":true},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[528,272],"id":"9d2707e8-ca46-42d3-878d-b5cf92d0e24c","name":"Search files and folders3","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('On form submission1').item.json['Select where to save the files'] }}","rightValue":"Staff","operator":{"type":"string","operation":"equals"},"id":"2a737582-1747-494a-bf7e-d7c809ebdb0c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19f85f00-f4f1-4371-b168-730f2d6d78b7","leftValue":"={{ $('On form submission1').item.json['Select where to save the files'] }}","rightValue":"Document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[976,1232],"id":"5a20c909-6dc6-47a4-8525-56e7cf9de865","name":"Switch1","disabled":true},{"parameters":{"content":"## Simple workflow","height":464,"width":1968},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-304,1024],"id":"51cc062c-b8cd-44b2-bae2-5a71522e343b","name":"Sticky Note","disabled":true},{"parameters":{"resource":"folder","name":"={{ $('On form submission2').item.json['Company Name'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj","mode":"list","cachedResultName":"Company Informations","cachedResultUrl":"https://drive.google.com/drive/folders/1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj"},"options":{"simplifyOutput":false}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[528,2352],"id":"aa7bf811-d58b-4577-a8c0-abf01fc23fb0","name":"Parent folder","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"resource":"folder","name":"=Document","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[752,2352],"id":"efbcceeb-024e-42da-af43-cd4c7400a39c","name":"Create new document folder","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"resource":"folder","name":"={{  $('On form submission2').item.json['Staff Name'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1200,2352],"id":"cf1dd1c5-e062-40a9-a8d1-14535d9df630","name":"New individual staff folder","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"resource":"fileFolder","queryString":"=Document","filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[752,2160],"id":"21a6c3d6-c339-4f62-ac4d-5c02d1dce77b","name":"Search in Document File","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[976,2160],"id":"03148760-b003-4210-b692-b312eabc95cb","name":"Existing Document File","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create Document Folder').first().json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[528,2672],"id":"ed488945-e165-4b16-8b03-a0df7cd45f0e","name":"Upload file4","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"resource":"fileFolder","queryString":"=Staff","filter":{"folderId":{"__rl":true,"value":"={{ $(\"Upload Staff or Document\").item.json[\"id\"] }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[752,1872],"id":"f2c5adda-3747-4df1-a131-b31442e0e8bc","name":"Search For Staff Folder","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"=name = '{{ $(\"On form submission2\").item.json[\"Staff Name\"] }}'\nand mimeType = 'application/vnd.google-apps.folder'\nand '{{ $(\"Search For Staff Folder\").item.json[\"id\"] }}' in parents\n","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-144,1552],"id":"ac6168de-2cff-482b-b955-b4d241f0148c","name":"Search For Staff Name","alwaysOutputData":false,"disabled":true},{"parameters":{"resource":"folder","name":"={{ $('On form submission2').item.json['Staff Name'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $(\"Search For Staff Folder\").item.json[\"id\"] }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1200,1968],"id":"a5474b7a-4083-45dc-995f-a80c12f690dc","name":"Create Staff Folder","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"109e66c9-7eb2-4936-a7f0-0368bfc768a1","leftValue":"={{ $(\"Search Company Name Folder\").item.json[\"id\"] }}","rightValue":"={{ $('On form submission2').item.json['Staff Name'] }}","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[976,1872],"id":"30282792-0145-4009-b26c-3d5971c6293e","name":"Looking For Existing Staff Folder","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f421e0e1-8578-4be9-8eba-f9274c6e9550","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-144,2672],"id":"77933499-2481-45d3-adad-30a2626ad1fb","name":"Looking for Document Folder","disabled":true},{"parameters":{"resource":"folder","name":"=Document","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"=","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,2672],"id":"a66cbdfc-c704-4f42-8122-5216698e1d30","name":"Create Document Folder","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission2\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,2672],"id":"6617408c-5f75-4739-8c8b-da485b67c057","name":"Convert files into binary","disabled":true},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create Staff Folder').first().json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1648,1968],"id":"175bb2bd-0c72-4f71-bdbb-df6c6d000e93","name":"Upload file in New Staff Folder","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Existing Staff folder2').first().json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1648,1776],"id":"d1756a1f-fe68-44f3-81c0-ce371a0e35ce","name":"Upload file Existing Staff Folder","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission2\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,1776],"id":"a3a2c93a-2fa4-4b73-9034-58ee52d3ce14","name":"Convert File to Binary to upload Existing Staff Folder","disabled":true},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission2\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,1968],"id":"834b1a84-0932-4624-a260-81a832dec231","name":"Covert Files to Binary Data To Upload Document Folder","disabled":true},{"parameters":{"resource":"fileFolder","queryString":"={{ $json['Company Name'] }}","filter":{"folderId":{"__rl":true,"value":"1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj","mode":"list","cachedResultName":"Company Informations","cachedResultUrl":"https://drive.google.com/drive/folders/1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,2064],"id":"370e92cd-2934-4424-91c8-417d8711259c","name":"Search Company Name Folder","alwaysOutputData":true,"notesInFlow":false,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('On form submission2').item.json['Select where to save the files'] }}","rightValue":"Staff","operator":{"type":"string","operation":"equals"},"id":"2a737582-1747-494a-bf7e-d7c809ebdb0c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19f85f00-f4f1-4371-b168-730f2d6d78b7","leftValue":"={{ $('On form submission2').item.json['Select where to save the files'] }}","rightValue":"Document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[528,1968],"id":"1f8a31af-d6fa-42cb-bfda-f13e8489787f","name":"Upload Staff or Document","disabled":true},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission2\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,2160],"id":"ee016d76-ef6c-4a61-b0e0-1a4ca74a1612","name":"Files Upload to Document Folder","disabled":true},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Looking for Document Folder').first().json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1424,2160],"id":"f40283e4-083e-4d8f-83e9-f9bf48be52e9","name":"Uploading Files To Document folder","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"formTitle":"Folder Workflow","formDescription":"Enter the Details","formFields":{"values":[{"fieldLabel":"Company Name","placeholder":"Company Name"},{"fieldLabel":"Staff Name","placeholder":"Enter the Staff Name"},{"fieldLabel":"Select Files to Upload","fieldType":"file"},{"fieldLabel":"Select where to save the files","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Staff"},{"option":"Document"}]}}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-144,2064],"id":"e9df7445-c2dc-407e-84ed-a00c75f8256b","name":"On form submission2","webhookId":"a8972d8d-3c25-4a1a-beaf-34b0627479ae","disabled":true},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1200,1776],"id":"b7fc4963-4d1c-41e1-b4f1-c859b037238b","name":"Existing Staff folder2","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"resource":"folder","name":"=Staff","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Parent folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[976,2352],"id":"adb548b7-c729-421a-947a-581e94de9e9d","name":"Create new Staff folder2","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"242c65a8-5cd5-43e4-9669-dbddeb4824f5","leftValue":"={{ $('On form submission2').item.json['Company Name'] }}","rightValue":"={{ $json.name }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"821ba7a8-9ae5-4a35-acd4-6933e865fbfc","leftValue":"={{ $('On form submission2').item.json['Company Name'] }}","rightValue":"=","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,2064],"id":"f17d2761-db6a-429a-86a4-06a093379b29","name":"If2","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('On form submission2').item.json['Select where to save the files'] }}","rightValue":"Staff","operator":{"type":"string","operation":"equals"},"id":"2a737582-1747-494a-bf7e-d7c809ebdb0c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19f85f00-f4f1-4371-b168-730f2d6d78b7","leftValue":"={{ $('On form submission2').item.json['Select where to save the files'] }}","rightValue":"Document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1424,2352],"id":"179a5ee5-3954-43db-84b3-0934f74ac56b","name":"Switch2","disabled":true},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission2\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,2256],"id":"83ae632a-7dc7-4c49-85f4-1ed7f0a65e42","name":"File upload to Staff folder1","disabled":true},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission2\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,2448],"id":"9533fdfd-5f2f-41d2-b140-86f798c5acf5","name":"File upload to document folder1","disabled":true},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create new document folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1872,2448],"id":"3f31f12d-f79a-41aa-be57-07de6a4c80d2","name":"Upload in Document Folder1","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('New individual staff folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1872,2256],"id":"057b924f-4cb3-4062-bc90-e44def49478f","name":"Upload in Staff folder1","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"resource":"folder","name":"={{ $('On form submission3').item.json['Company Name'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj","mode":"list","cachedResultName":"Company Informations","cachedResultUrl":"https://drive.google.com/drive/folders/1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj"},"options":{"simplifyOutput":false}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[528,4192],"id":"4910da4c-21ef-4c6b-8b7d-3cb57c2efc05","name":"Parent folder1","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"resource":"folder","name":"=Document","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[752,4192],"id":"f59bbc59-584b-45cf-bc99-7b4299442de7","name":"Create new document folder1","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"resource":"folder","name":"={{  $('On form submission3').item.json['Staff Name'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1200,4192],"id":"abeb30a2-f647-4f22-8f97-a7ef5e11f87f","name":"New individual staff folder1","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"resource":"fileFolder","queryString":"=Document","filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1360,2880],"id":"791302fb-4a26-43d7-9e08-572bd3ec9c33","name":"Search in Document File1","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1584,2880],"id":"a264af19-c8b9-4f6e-ab27-623f1e2bebd2","name":"Existing Document File1","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"resource":"fileFolder","queryString":"={{ $('On form submission3').item.json['Staff Name'] }}","filter":{"folderId":{"__rl":true,"value":"={{ $('Search files and folders4').item.json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[976,3616],"id":"ca4e9998-7cc0-4575-bda1-29f2bab3071d","name":"Search For Staff Folder1","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create Staff Folder1').first().json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,3120],"id":"964221d6-a71a-453f-aee7-b7331ecf1018","name":"Upload file in New Staff Folder1","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Existing Staff folder3').first().json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,2896],"id":"a568db30-7179-4593-a86d-0acbfb2bc999","name":"Upload file Existing Staff Folder1","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission3\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,2896],"id":"b90e4225-2796-476b-932c-9f6da5cf7bf4","name":"Convert File to Binary to upload Existing Staff Folder1","disabled":true},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission3\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,3120],"id":"e14bd3d4-9b8c-4707-9a90-6273a0e4a144","name":"Covert Files to Binary Data To Upload Document Folder1","disabled":true},{"parameters":{"resource":"fileFolder","queryString":"={{ $json['Company Name'] }}","filter":{"folderId":{"__rl":true,"value":"1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj","mode":"list","cachedResultName":"Company Informations","cachedResultUrl":"https://drive.google.com/drive/folders/1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,3808],"id":"31858312-8637-4f60-a786-82f6720e9473","name":"Search Company Name Folder1","alwaysOutputData":true,"notesInFlow":false,"credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('On form submission3').item.json['Select where to save the files'] }}","rightValue":"Staff","operator":{"type":"string","operation":"equals"},"id":"2a737582-1747-494a-bf7e-d7c809ebdb0c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19f85f00-f4f1-4371-b168-730f2d6d78b7","leftValue":"={{ $('On form submission3').item.json['Select where to save the files'] }}","rightValue":"Document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1136,2880],"id":"57f2ee61-faad-4d00-94d1-4f10f3a296e5","name":"Upload Staff or Document1","disabled":true},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission3\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1808,2880],"id":"b5f7d9b9-ea5e-4c69-ae7e-1a245eea88da","name":"Files Upload to Document Folder1","disabled":true},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Looking for Document Folder').first().json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2032,2880],"id":"84401065-9e24-4010-8eed-a94247c650c8","name":"Uploading Files To Document folder1","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"formTitle":"Folder Workflow","formDescription":"Enter the Details","formFields":{"values":[{"fieldLabel":"Company Name","placeholder":"Company Name"},{"fieldLabel":"Staff Name","placeholder":"Enter the Staff Name"},{"fieldLabel":"Select Files to Upload","fieldType":"file"},{"fieldLabel":"Select where to save the files","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Staff"},{"option":"Document"}]}}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-144,3808],"id":"e8cf9590-bef2-4272-b7f7-3d0fcef7ac68","name":"On form submission3","webhookId":"7b6ff63c-43a6-4885-8d7e-944b37546f2d"},{"parameters":{"resource":"folder","name":"=Staff","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Parent folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[976,4192],"id":"2922ea70-5bf1-4311-92ef-671debbad05d","name":"Create new Staff folder3","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"821ba7a8-9ae5-4a35-acd4-6933e865fbfc","leftValue":"={{ $('On form submission3').item.json['Company Name'] }}","rightValue":"={{ $json.name }}","operator":{"type":"string","operation":"equals"}},{"id":"7c26330a-78c9-4946-a105-04f16ab1d30e","leftValue":"={{ $('On form submission3').item.json['Company Name'] }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,3808],"id":"69c583de-4dfc-4101-8289-844dd3324a89","name":"If3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('On form submission3').item.json['Select where to save the files'] }}","rightValue":"Staff","operator":{"type":"string","operation":"equals"},"id":"2a737582-1747-494a-bf7e-d7c809ebdb0c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19f85f00-f4f1-4371-b168-730f2d6d78b7","leftValue":"={{ $('On form submission3').item.json['Select where to save the files'] }}","rightValue":"Document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1424,4192],"id":"a701eb7e-a83e-40b6-80fb-9ebba9d2ee84","name":"Switch3"},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission3\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,4096],"id":"e770270c-b37c-4300-835d-0a9c70c66194","name":"File upload to Staff folder2"},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission3\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,4288],"id":"1872887c-3342-4d49-9256-3d0be708a248","name":"File upload to document folder2"},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create new document folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1872,4288],"id":"fa0688a5-6778-4066-9816-a4e5965430df","name":"Upload in Document Folder2","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('New individual staff folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1872,4096],"id":"949b5b73-fcbf-462f-846d-6af0a4bdc0f4","name":"Upload in Staff folder2","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"resource":"folder","name":"={{  $('On form submission3').item.json['Staff Name'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Search files and folders4').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1424,3808],"id":"d9a301e1-d99d-41e3-8a52-567838db27e0","name":"New individual staff folder2","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('On form submission3').item.json['Select where to save the files'] }}","rightValue":"Staff","operator":{"type":"string","operation":"equals"},"id":"2a737582-1747-494a-bf7e-d7c809ebdb0c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19f85f00-f4f1-4371-b168-730f2d6d78b7","leftValue":"={{ $('On form submission3').item.json['Select where to save the files'] }}","rightValue":"Document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1648,3808],"id":"86aa273d-b8a9-443b-a491-09b5396241aa","name":"Switch4"},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission3\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,3712],"id":"a3c0acdf-cc1e-4652-b1fb-a5b88b3b645b","name":"File upload to Staff folder3"},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission3\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,3904],"id":"01c7432a-3227-43a4-b87c-95697d3487d4","name":"File upload to document folder3"},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Search files and folders5').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2096,3904],"id":"3115c797-7489-4d5e-b13e-888adad80f39","name":"Upload in Document Folder3","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('New individual staff folder2').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2096,3712],"id":"eb043542-7b72-4e1f-b8e8-667f553b587f","name":"Upload in Staff folder3","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('On form submission3').item.json['Select where to save the files'] }}","rightValue":"Staff","operator":{"type":"string","operation":"equals"},"id":"2a737582-1747-494a-bf7e-d7c809ebdb0c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19f85f00-f4f1-4371-b168-730f2d6d78b7","leftValue":"={{ $('On form submission3').item.json['Select where to save the files'] }}","rightValue":"Document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1424,3424],"id":"971ec872-45b2-493b-9782-b74667767c2a","name":"Switch5"},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission3\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,3328],"id":"b711322c-f983-43ac-ad81-59a2f7dde7f3","name":"File upload to Staff folder4"},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission3\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,3520],"id":"a479afae-dd49-4925-b1d6-3b29ef5d51d3","name":"File upload to document folder4"},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Search files and folders5').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1872,3520],"id":"c5d2ae11-79ba-4067-b2b7-59c0adf3b819","name":"Upload in Document Folder4","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Switch5').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1872,3328],"id":"d1ef6b96-24de-4310-822d-cee057780fbd","name":"Upload in Staff folder4","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"resource":"fileFolder","queryString":"staff","filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[528,3616],"id":"4a36f0aa-c860-4939-b9f1-35e5ff4a15db","name":"Search files and folders4","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a58a281-8a8d-47a1-a6dc-369bbafa32d6","leftValue":"={{ $('On form submission3').item.json['Staff Name'] }}","rightValue":"={{ $json.name }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"a09e71e6-6fd5-41a5-b6f1-f14da4e67e0d","leftValue":"={{ $('On form submission3').item.json['Staff Name'] }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,3616],"id":"69afa2de-cf7f-4ef1-a8e4-3c676f56fc23","name":"If4"},{"parameters":{"resource":"fileFolder","queryString":"Document","filter":{"folderId":{"__rl":true,"value":"={{ $('If3').item.json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[752,3616],"id":"f246ddd1-f12b-44a6-9fc3-88a0cd55f64a","name":"Search files and folders5","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}}],"connections":{"On form submission":{"main":[[{"node":"parentfolder","type":"main","index":0}]]},"individual staff folder":{"main":[[{"node":"Files Upload","type":"main","index":0}]]},"Existing Staff folder":{"main":[[{"node":"individual staff folder","type":"main","index":0}]]},"Create new Staff folder":{"main":[[{"node":"new individual staff folder","type":"main","index":0}]]},"new individual staff folder":{"main":[[{"node":"file upload","type":"main","index":0}]]},"file upload":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Files Upload":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"If":{"main":[[{"node":"Search files and folders1","type":"main","index":0}]]},"parentfolder":{"main":[[{"node":"create new document folder","type":"main","index":0},{"node":"Create new Staff folder","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"If","type":"main","index":0}]]},"Search files and folders1":{"main":[[{"node":"Existing Staff folder","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Upload file1","type":"main","index":0}]]},"File upload to Staff folder":{"main":[[{"node":"Upload in Staff folder","type":"main","index":0}]]},"File upload to document folder":{"main":[[{"node":"Upload in Document Folder","type":"main","index":0}]]},"On form submission1":{"main":[[{"node":"parentfolder1","type":"main","index":0}]]},"individual staff folder1":{"main":[[{"node":"Files Upload1","type":"main","index":0}]]},"Existing Staff folder1":{"main":[[{"node":"individual staff folder1","type":"main","index":0}]]},"Create new Staff folder1":{"main":[[{"node":"new individual staff folder1","type":"main","index":0}]]},"create new document folder1":{"main":[[{"node":"Create new Staff folder1","type":"main","index":0}]]},"new individual staff folder1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Files Upload1":{"main":[[{"node":"Upload file2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Search files and folders3","type":"main","index":0}]]},"parentfolder1":{"main":[[{"node":"create new document folder1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Search files and folders2","type":"main","index":0}]]},"Search files and folders2":{"main":[[{"node":"If1","type":"main","index":0}]]},"Search files and folders3":{"main":[[{"node":"Existing Staff folder1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"File upload to Staff folder","type":"main","index":0}],[{"node":"File upload to document folder","type":"main","index":0}]]},"Parent folder":{"main":[[{"node":"Create new document folder","type":"main","index":0}]]},"Create new document folder":{"main":[[{"node":"Create new Staff folder2","type":"main","index":0}]]},"New individual staff folder":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Search in Document File":{"main":[[{"node":"Existing Document File","type":"main","index":0}]]},"Existing Document File":{"main":[[{"node":"Files Upload to Document Folder","type":"main","index":0}]]},"Search For Staff Folder":{"main":[[{"node":"Looking For Existing Staff Folder","type":"main","index":0}]]},"Create Staff Folder":{"main":[[{"node":"Covert Files to Binary Data To Upload Document Folder","type":"main","index":0}]]},"Looking For Existing Staff Folder":{"main":[[{"node":"Existing Staff folder2","type":"main","index":0}],[{"node":"Create Staff Folder","type":"main","index":0}]]},"Looking for Document Folder":{"main":[[],[{"node":"Create Document Folder","type":"main","index":0}]]},"Create Document Folder":{"main":[[{"node":"Convert files into binary","type":"main","index":0}]]},"Convert files into binary":{"main":[[{"node":"Upload file4","type":"main","index":0}]]},"Convert File to Binary to upload Existing Staff Folder":{"main":[[{"node":"Upload file Existing Staff Folder","type":"main","index":0}]]},"Covert Files to Binary Data To Upload Document Folder":{"main":[[{"node":"Upload file in New Staff Folder","type":"main","index":0}]]},"Search Company Name Folder":{"main":[[{"node":"If2","type":"main","index":0}]]},"Upload Staff or Document":{"main":[[{"node":"Search For Staff Folder","type":"main","index":0}],[{"node":"Search in Document File","type":"main","index":0}]]},"Files Upload to Document Folder":{"main":[[{"node":"Uploading Files To Document folder","type":"main","index":0}]]},"On form submission2":{"main":[[{"node":"Search Company Name Folder","type":"main","index":0}]]},"Existing Staff folder2":{"main":[[{"node":"Convert File to Binary to upload Existing Staff Folder","type":"main","index":0}]]},"Create new Staff folder2":{"main":[[{"node":"New individual staff folder","type":"main","index":0}]]},"If2":{"main":[[{"node":"Upload Staff or Document","type":"main","index":0}],[{"node":"Parent folder","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"File upload to Staff folder1","type":"main","index":0}],[{"node":"File upload to document folder1","type":"main","index":0}]]},"File upload to Staff folder1":{"main":[[{"node":"Upload in Staff folder1","type":"main","index":0}]]},"File upload to document folder1":{"main":[[{"node":"Upload in Document Folder1","type":"main","index":0}]]},"Parent folder1":{"main":[[{"node":"Create new document folder1","type":"main","index":0}]]},"Create new document folder1":{"main":[[{"node":"Create new Staff folder3","type":"main","index":0}]]},"New individual staff folder1":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Search in Document File1":{"main":[[{"node":"Existing Document File1","type":"main","index":0}]]},"Existing Document File1":{"main":[[{"node":"Files Upload to Document Folder1","type":"main","index":0}]]},"Search For Staff Folder1":{"main":[[{"node":"If4","type":"main","index":0}]]},"Convert File to Binary to upload Existing Staff Folder1":{"main":[[{"node":"Upload file Existing Staff Folder1","type":"main","index":0}]]},"Covert Files to Binary Data To Upload Document Folder1":{"main":[[{"node":"Upload file in New Staff Folder1","type":"main","index":0}]]},"Search Company Name Folder1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Upload Staff or Document1":{"main":[[],[{"node":"Search in Document File1","type":"main","index":0}]]},"Files Upload to Document Folder1":{"main":[[{"node":"Uploading Files To Document folder1","type":"main","index":0}]]},"On form submission3":{"main":[[{"node":"Search Company Name Folder1","type":"main","index":0}]]},"Create new Staff folder3":{"main":[[{"node":"New individual staff folder1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Search files and folders4","type":"main","index":0}],[{"node":"Parent folder1","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"File upload to Staff folder2","type":"main","index":0}],[{"node":"File upload to document folder2","type":"main","index":0}]]},"File upload to Staff folder2":{"main":[[{"node":"Upload in Staff folder2","type":"main","index":0}]]},"File upload to document folder2":{"main":[[{"node":"Upload in Document Folder2","type":"main","index":0}]]},"New individual staff folder2":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"File upload to Staff folder3","type":"main","index":0}],[{"node":"File upload to document folder3","type":"main","index":0}]]},"File upload to Staff folder3":{"main":[[{"node":"Upload in Staff folder3","type":"main","index":0}]]},"File upload to document folder3":{"main":[[{"node":"Upload in Document Folder3","type":"main","index":0}]]},"Switch5":{"main":[[{"node":"File upload to Staff folder4","type":"main","index":0}],[{"node":"File upload to document folder4","type":"main","index":0}]]},"File upload to Staff folder4":{"main":[[{"node":"Upload in Staff folder4","type":"main","index":0}]]},"File upload to document folder4":{"main":[[{"node":"Upload in Document Folder4","type":"main","index":0}]]},"Search files and folders4":{"main":[[{"node":"Search files and folders5","type":"main","index":0}]]},"If4":{"main":[[{"node":"Switch5","type":"main","index":0}],[{"node":"New individual staff folder2","type":"main","index":0}]]},"Search files and folders5":{"main":[[{"node":"Search For Staff Folder1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"671ac85f-60ad-4ca8-91c3-ab9a9328f53e","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T13:40:01.842Z","createdAt":"2025-10-06T13:40:01.842Z","role":"workflow:owner","workflowId":"d1gN9R06GS9rLgPz","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}