company-information-listing-with-flow-FL5sCJkDoxYzWQZi.json
{"updatedAt":"2025-10-06T13:41:06.841Z","createdAt":"2025-10-06T13:41:06.841Z","id":"FL5sCJkDoxYzWQZi","name":"Company Information Listing With Flow","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"folder","name":"={{ $('On form submission3').item.json['Company Name'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj","mode":"list","cachedResultName":"Company Informations","cachedResultUrl":"https://drive.google.com/drive/folders/1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj"},"options":{"simplifyOutput":false}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[528,4192],"id":"bf64bd53-ae26-4e69-aacd-c0a6c0f8c5b9","name":"Parent folder1","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"resource":"folder","name":"=Document","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[752,4192],"id":"c66828b0-9167-4e2d-b8f1-78b6594ad245","name":"Create new document folder1","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"resource":"folder","name":"={{  $('On form submission3').item.json['Staff Name'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1200,4192],"id":"d0884917-ac6b-40cc-9a84-99eaa17e120c","name":"New individual staff folder1","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $('On form submission3').item.json['Staff Name'] }}","filter":{"folderId":{"__rl":true,"value":"={{ $('Search files and folders4').item.json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[976,3616],"id":"7d412f79-22ae-45ea-bfa7-dd80005bab77","name":"Search For Staff Folder1","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $json['Company Name'] }}","filter":{"folderId":{"__rl":true,"value":"1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj","mode":"list","cachedResultName":"Company Informations","cachedResultUrl":"https://drive.google.com/drive/folders/1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,3808],"id":"f29bf8ad-03b0-440a-a5d5-f7f1136a2f9c","name":"Search Company Name Folder1","alwaysOutputData":true,"notesInFlow":false,"credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"formTitle":"Folder Workflow","formDescription":"Enter the Details","formFields":{"values":[{"fieldLabel":"Company Name","placeholder":"Company Name"},{"fieldLabel":"Staff Name","placeholder":"Enter the Staff Name"},{"fieldLabel":"Select Files to Upload","fieldType":"file"},{"fieldLabel":"Select where to save the files","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Staff"},{"option":"Document"}]}}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-144,3808],"id":"204961dd-0c25-4b86-9fc6-66af6217ea49","name":"On form submission3","webhookId":"03b113a7-cbe5-4a90-8f8b-1339bc514700"},{"parameters":{"resource":"folder","name":"=Staff","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Parent folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[976,4192],"id":"cd69328a-9641-4eb9-a2ea-8e1f51ac7fea","name":"Create new Staff folder3","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"821ba7a8-9ae5-4a35-acd4-6933e865fbfc","leftValue":"={{ $('On form submission3').item.json['Company Name'] }}","rightValue":"={{ $json.name }}","operator":{"type":"string","operation":"equals"}},{"id":"7c26330a-78c9-4946-a105-04f16ab1d30e","leftValue":"={{ $('On form submission3').item.json['Company Name'] }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[304,3808],"id":"8d2c11e3-06e2-4af3-8817-fdde78671d52","name":"If3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('On form submission3').item.json['Select where to save the files'] }}","rightValue":"Staff","operator":{"type":"string","operation":"equals"},"id":"2a737582-1747-494a-bf7e-d7c809ebdb0c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19f85f00-f4f1-4371-b168-730f2d6d78b7","leftValue":"={{ $('On form submission3').item.json['Select where to save the files'] }}","rightValue":"Document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1424,4192],"id":"b70135ac-09f1-48a3-b561-5173384c04d9","name":"Switch3"},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission3\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,4096],"id":"1a5d1b86-5299-4673-91a2-d7df71cf5193","name":"File upload to Staff folder2"},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission3\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,4288],"id":"4da1e3d4-2f75-49f4-917a-b2189d357717","name":"File upload to document folder2"},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create new document folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1872,4288],"id":"db69bf9f-113e-42b1-8717-341dd51e58df","name":"Upload in Document Folder2","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('New individual staff folder1').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1872,4096],"id":"8ce83a7a-e733-4137-b55e-f70ca56781a5","name":"Upload in Staff folder2","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"resource":"folder","name":"={{  $('On form submission3').item.json['Staff Name'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Search files and folders4').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1424,3808],"id":"aebec2ff-69af-4c80-988a-c37b5607e6b6","name":"New individual staff folder2","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('On form submission3').item.json['Select where to save the files'] }}","rightValue":"Staff","operator":{"type":"string","operation":"equals"},"id":"2a737582-1747-494a-bf7e-d7c809ebdb0c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19f85f00-f4f1-4371-b168-730f2d6d78b7","leftValue":"={{ $('On form submission3').item.json['Select where to save the files'] }}","rightValue":"Document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1648,3808],"id":"576ffcfe-e307-4ec1-856f-370ea71bde64","name":"Switch4"},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission3\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,3712],"id":"7953fe95-96bf-4856-aecb-af904c29a7f5","name":"File upload to Staff folder3"},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission3\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,3904],"id":"b59f6cfd-04a5-46f3-80ec-64acac4821eb","name":"File upload to document folder3"},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Search files and folders5').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2096,3904],"id":"637cfcc9-6143-430d-9063-5884412a0c01","name":"Upload in Document Folder3","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('New individual staff folder2').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2096,3712],"id":"77ece59f-d460-4761-ab9a-f7f572b38f48","name":"Upload in Staff folder3","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('On form submission3').item.json['Select where to save the files'] }}","rightValue":"Staff","operator":{"type":"string","operation":"equals"},"id":"2a737582-1747-494a-bf7e-d7c809ebdb0c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"19f85f00-f4f1-4371-b168-730f2d6d78b7","leftValue":"={{ $('On form submission3').item.json['Select where to save the files'] }}","rightValue":"Document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1424,3424],"id":"5e415963-32c6-4c08-83ad-fae3c5244e7e","name":"Switch5"},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission3\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,3328],"id":"b731f211-c215-49e1-8321-4dead2ce0433","name":"File upload to Staff folder4"},{"parameters":{"jsCode":"let results = [];\nconst items = $(\"On form submission3\").all()\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,3520],"id":"20e7f20c-cd7a-43d9-92a9-6646a3115809","name":"File upload to document folder4"},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Search files and folders5').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1872,3520],"id":"f259d74a-319f-4fea-b0d0-14decdca4026","name":"Upload in Document Folder4","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Switch5').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1872,3328],"id":"a6c601c6-1e59-40e8-bd79-974cc17212d2","name":"Upload in Staff folder4","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"resource":"fileFolder","queryString":"staff","filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[528,3616],"id":"f3e05540-5a3d-41c3-bb05-0a50f08a8486","name":"Search files and folders4","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0a58a281-8a8d-47a1-a6dc-369bbafa32d6","leftValue":"={{ $('On form submission3').item.json['Staff Name'] }}","rightValue":"={{ $json.name }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"a09e71e6-6fd5-41a5-b6f1-f14da4e67e0d","leftValue":"={{ $('On form submission3').item.json['Staff Name'] }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,3616],"id":"4cc49fd6-ad62-47c6-9ad7-57a63d4271f0","name":"If4"},{"parameters":{"resource":"fileFolder","queryString":"Document","filter":{"folderId":{"__rl":true,"value":"={{ $('If3').item.json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[752,3616],"id":"4e9bc1c9-55f5-4985-a5cc-d5464d55ea96","name":"Search files and folders5","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}}],"connections":{"Parent folder1":{"main":[[{"node":"Create new document folder1","type":"main","index":0}]]},"Create new document folder1":{"main":[[{"node":"Create new Staff folder3","type":"main","index":0}]]},"New individual staff folder1":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Search For Staff Folder1":{"main":[[{"node":"If4","type":"main","index":0}]]},"Search Company Name Folder1":{"main":[[{"node":"If3","type":"main","index":0}]]},"On form submission3":{"main":[[{"node":"Search Company Name Folder1","type":"main","index":0}]]},"Create new Staff folder3":{"main":[[{"node":"New individual staff folder1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Search files and folders4","type":"main","index":0}],[{"node":"Parent folder1","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"File upload to Staff folder2","type":"main","index":0}],[{"node":"File upload to document folder2","type":"main","index":0}]]},"File upload to Staff folder2":{"main":[[{"node":"Upload in Staff folder2","type":"main","index":0}]]},"File upload to document folder2":{"main":[[{"node":"Upload in Document Folder2","type":"main","index":0}]]},"New individual staff folder2":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"File upload to Staff folder3","type":"main","index":0}],[{"node":"File upload to document folder3","type":"main","index":0}]]},"File upload to Staff folder3":{"main":[[{"node":"Upload in Staff folder3","type":"main","index":0}]]},"File upload to document folder3":{"main":[[{"node":"Upload in Document Folder3","type":"main","index":0}]]},"Switch5":{"main":[[{"node":"File upload to Staff folder4","type":"main","index":0}],[{"node":"File upload to document folder4","type":"main","index":0}]]},"File upload to Staff folder4":{"main":[[{"node":"Upload in Staff folder4","type":"main","index":0}]]},"File upload to document folder4":{"main":[[{"node":"Upload in Document Folder4","type":"main","index":0}]]},"Search files and folders4":{"main":[[{"node":"Search files and folders5","type":"main","index":0}]]},"If4":{"main":[[{"node":"Switch5","type":"main","index":0}],[{"node":"New individual staff folder2","type":"main","index":0}]]},"Search files and folders5":{"main":[[{"node":"Search For Staff Folder1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"7115e8b9-3961-4754-8d7f-d91510f760fe","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T13:41:06.844Z","createdAt":"2025-10-06T13:41:06.844Z","role":"workflow:owner","workflowId":"FL5sCJkDoxYzWQZi","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}