cursor-mcp-tool-P5rgUBY1Ke98HZRA.json
{"updatedAt":"2025-10-06T13:40:01.113Z","createdAt":"2025-10-06T13:40:01.113Z","id":"P5rgUBY1Ke98HZRA","name":"Cursor MCP Tool","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-580,320],"id":"c3b2296f-494c-4c35-8ecc-cfccb5cb93d8","name":"Loop Over Items","disabled":true},{"parameters":{"jsCode":"// This function extracts the JSON data from the output field\nconst extractJsonData = items => {\n  try {\n    const inputData = items[0];\n    \n    if (inputData.json && inputData.json.output) {\n      const jsonContent = JSON.parse(inputData.json.output);\n      return [{ json: jsonContent }];\n    } else {\n      return [{ json: { error: 'No output field found in input data' } }];\n    }\n  } catch (error) {\n    return [{ json: { error: error.message } }];\n  }\n};\n\nreturn extractJsonData(items);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[40,340],"id":"7ffa0637-9014-4c83-adbd-1517b1d524dd","name":"Extract JSON Data","disabled":true},{"parameters":{"name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1WJ_Y8cSX5LKzspW9_4-LSqtkAFCI-1vh","mode":"list","cachedResultName":"Elementor Templates","cachedResultUrl":"https://drive.google.com/drive/folders/1WJ_Y8cSX5LKzspW9_4-LSqtkAFCI-1vh"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-240,120],"id":"e6c99d2d-0556-4ec8-8c3e-5f211e56c065","name":"Created Elementor File Uploaded in Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"jsCode":"// Function to process HTML content and extract sections\nfunction processHTML(jsonInput) {\n  // Parse the input as JSON if it's a string\n  const input = typeof jsonInput === 'string' ? JSON.parse(jsonInput) : jsonInput;\n  \n  for (const item of input) {\n    // The HTML content is in item.json.output based on the provided sample\n    const html = item.json.output;\n    \n    // Extract head section\n    const headMatch = html.match(/<head[\\s\\S]*?<\\/head>/i);\n    const head = headMatch ? headMatch[0].replace(/\\n/g, '') : '';\n    \n    // Extract header/navigation\n    const headerMatch = html.match(/<header[\\s\\S]*?<\\/header>/i);\n    const header = headerMatch ? headerMatch[0].replace(/\\n/g, '') : '';\n    \n    // Extract sections by ID\n    const extractSectionById = (id) => {\n      const regex = new RegExp(`<section[^>]*id=[\"']${id}[\"'][^>]*>([\\\\s\\\\S]*?)<\\/section>`, 'i');\n      const match = html.match(regex);\n      return match ? match[0].replace(/\\n/g, '') : '';\n    };\n    \n    // Extract individual sections\n    const hero = extractSectionById('hero');\n    const services = extractSectionById('services');\n    const about = extractSectionById('about');\n    const contact = extractSectionById('contact');\n    \n    // Extract footer\n    const footerMatch = html.match(/<footer[\\s\\S]*?<\\/footer>/i);\n    const footer = footerMatch ? footerMatch[0].replace(/\\n/g, '') : '';\n    \n    // Function to wrap content in HTML structure\n    const wrapHtml = (bodyContent) => {\n      return `<!DOCTYPE html><html lang=\"en\">${head}<body>${bodyContent}</body></html>`;\n    };\n    \n    // Create JSON output with all sections - adding to item.json\n    item.json.nav = wrapHtml(header);\n    item.json.hero = wrapHtml(hero);\n    item.json.services = wrapHtml(services);\n    item.json.about = wrapHtml(about);\n    item.json.contact = wrapHtml(contact);\n    item.json.footer = wrapHtml(footer);\n    \n    // Delete original full HTML to save space (optional)\n    delete item.json.output;\n  }\n  \n  return input;\n}\n\n// For n8n function node\n// Get the input data from the uploaded file\nconst inputItems = $input.all();\nconst processedItems = processHTML(inputItems);\nreturn processedItems;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,-80],"id":"f5f3b663-ebaa-4fe5-8ad5-543edbb14fe7","name":"Seperate Each Section","disabled":true},{"parameters":{"jsCode":"// This function takes the current JSON structure and transforms it\n// into an array where each section is a separate object\nfunction restructureJsonForN8n(originalData) {\n  console.log(\"Input data type:\", typeof originalData);\n  \n  // Handle direct object input (not wrapped in array)\n  if (originalData && typeof originalData === 'object' && !Array.isArray(originalData)) {\n    console.log(\"Data is a direct object, not an array\");\n    // Create a new array with individual objects for each section\n    const restructuredData = [];\n    \n    // Add each section as a separate object in the array\n    for (const [key, value] of Object.entries(originalData)) {\n      restructuredData.push({\n        section: key,\n        content: value\n      });\n    }\n    \n    return restructuredData;\n  }\n  \n  // Check if originalData exists and is an array with at least one element\n  if (!originalData || !Array.isArray(originalData) || originalData.length === 0 || !originalData[0]) {\n    // Handle the error case gracefully\n    console.log(\"Input data is missing or invalid\");\n    return [{ error: \"Input data is missing or invalid\", dataType: typeof originalData }];\n  }\n  \n  // Extract the sections from the first object in the array\n  const sections = originalData[0];\n  \n  // Verify that sections is an object before proceeding\n  if (typeof sections !== 'object' || sections === null) {\n    console.log(\"First item in array is not a valid object\");\n    return [{ error: \"First item in array is not an object\", itemType: typeof sections }];\n  }\n  \n  // Create a new array with individual objects for each section\n  const restructuredData = [];\n  \n  // Add each section as a separate object in the array\n  for (const [key, value] of Object.entries(sections)) {\n    restructuredData.push({\n      section: key,\n      content: value\n    });\n  }\n  \n  return restructuredData;\n}\n\n// Example usage in n8n:\n// Get the incoming data and log it for debugging\nlet originalData;\ntry {\n  // First, let's examine what we actually have in the input\n  console.log(\"Debugging items structure:\", JSON.stringify(items));\n  \n  // Try standard n8n data locations\n  originalData = items[0]?.json;\n  \n  // If that's empty, try other common locations\n  if (!originalData) {\n    originalData = items[0]?.binary?.data?.json || items[0]?.data || items[0]?.parameter?.data;\n  }\n  \n  // Maybe the data is directly in items[0]\n  if (!originalData && typeof items[0] === 'object') {\n    // If items[0] itself appears to be our data object\n    originalData = [items[0]];\n  }\n  \n  // Maybe the data is already in the right format and doesn't need the [0] subscript\n  if (!originalData && items && Array.isArray(items)) {\n    originalData = items;\n  }\n  \n  console.log(\"Original data before processing:\", JSON.stringify(originalData));\n  \n  const restructuredData = restructureJsonForN8n(originalData);\n  return restructuredData;\n} catch (error) {\n  // Handle any errors that might occur\n  return [{ \n    error: \"Error processing data\", \n    message: error.message,\n    itemsStructure: JSON.stringify(items).substring(0, 200) + \"...\" // Show items structure for debugging\n  }];\n}\n\n/* \nExample output format:\n[\n  {\n    \"section\": \"nav\",\n    \"content\": \"<!DOCTYPE html>...\"\n  },\n  {\n    \"section\": \"hero\",\n    \"content\": \"<!DOCTYPE html>...\"\n  },\n  // More sections...\n]\n*/"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-80],"id":"b83d275e-ad1b-4a30-894a-5d6a68054f5b","name":"Code","disabled":true},{"parameters":{"maxItems":6,"keep":"lastItems"},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[580,-80],"id":"d22982d1-39b4-4599-8836-966759fbfecb","name":"Limit","disabled":true},{"parameters":{"jsCode":"const convertToText = items => {\n  try {\n    // Get the JSON data\n    const jsonData = items[0].json || items[0];\n    \n    // Convert to string if it's not already\n    const textData = typeof jsonData === 'string' ? jsonData : JSON.stringify(jsonData, null, 2);\n    \n    // Try to access the title directly from the items array\n    let fileName = \"extracted_data.json\";\n    \n    // Check if title exists directly in the first item\n    if (items[0] && items[0].title) {\n      fileName = items[0].title + \".json\";\n    }\n    // If not, check if we can parse it from jsonData\n    else if (typeof jsonData === 'object' && jsonData.title) {\n      fileName = jsonData.title + \".json\";\n    }\n    \n    return [{\n      json: {\n        textData: textData,\n        fileName: fileName\n      }\n    }];\n  } catch (error) {\n    // Simple error handling to avoid complex operations\n    return [{ json: { error: \"Error processing data\" } }];\n  }\n};\n\nreturn convertToText(items);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,340],"id":"40da9933-fccc-42bb-919d-46bf94f773d7","name":"Convert to Text","disabled":true},{"parameters":{"jsCode":"const prepareBinaryData = items => {\n  try {\n    const textData = items[0].json.textData;\n    const fileName = items[0].json.fileName;\n    \n    const binaryData = Buffer.from(textData);\n    \n    return [{\n      json: {\n        fileName: fileName\n      },\n      binary: {\n        data: {\n          data: binaryData.toString('base64'),\n          mimeType: 'application/json',\n          fileName: fileName\n        }\n      }\n    }];\n  } catch (error) {\n    return [{ json: { error: error.message } }];\n  }\n};\n\nreturn prepareBinaryData(items);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,340],"id":"e9343807-ca4a-4d5b-aeb4-752f35920ca0","name":"Prepare Binary Data","disabled":true},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=The following input is raw HTML content inside a variable {{ $json.content }}.\n\nConvert this HTML into Gutenberg-compatible block markup using WordPress core blocks only. Output clean, semantic block HTML using block comments like <!-- wp:group -->, <!-- wp:cover -->, <!-- wp:columns -->, <!-- wp:image -->, <!-- wp:heading -->, <!-- wp:paragraph -->, and <!-- wp:buttons -->.\n\nEnsure the structure matches the original:\n\nNavigation with logo and links\n\nHero section with background image, heading, subheading, and call-to-action button\n\nServices section with 3 columns, each containing an image, title, and description\n\nMobile responsiveness using appropriate block layouts (like stacked columns on small screens)\n\nRemove all inline styles and unsupported tags like <style> or custom CSS.\nReplace hardcoded image paths with placeholder media or https://via.placeholder.com/600x400.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-340,340],"id":"eeef5c7c-73f1-429d-8e54-6bc70520d148","name":"Convert to WordPress Block Editor Template","disabled":true},{"parameters":{"model":"deepseek-r1-distill-llama-70b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-340,560],"id":"c500b963-4e78-44da-8e08-45d609972f9e","name":"Groq Chat Model","credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}},"disabled":true},{"parameters":{"formTitle":"Tell about your business","formDescription":"Create HTML template for your business","formFields":{"values":[{"fieldLabel":"output","fieldType":"textarea","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-200,-80],"id":"8407308e-4aef-4917-a666-b88769a5a1b8","name":"On form submission","webhookId":"d526e85f-c908-4456-9f5b-17810562abd1","disabled":true},{"parameters":{"modelName":"models/gemini-1.5-flash-8b-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1440,180],"id":"a8a7d9a1-9419-4b66-b74b-3dccdcaed143","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}},"disabled":true},{"parameters":{"formTitle":"Tell about your business","formDescription":"Create HTML template for your business","formFields":{"values":[{"fieldLabel":"Company name","requiredField":true},{"fieldLabel":"Description","requiredField":true},{"fieldLabel":"Industry","requiredField":true},{"fieldLabel":"Services OR products","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[1280,-60],"id":"3b07b6b1-2af4-4a89-94af-64c2f0780658","name":"On form submission2","webhookId":"708f21ca-fd51-46e0-ad94-b371e6b222f5","disabled":true},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=You are a WordPress block developer.\nGenerate a complete homepage using only core Gutenberg blocks with full raw HTML block markup (not block JSON, not markdown).\n\n🧩 Required Sections in Order:\nHero Section\nFull-width group block with padding and background\nHeading: {{ $json['Company name'] }}\nParagraph: {{ $json.Description }}\nCall-to-action buttons (e.g. “Get Started”, “Contact Us”)\nOptional background image or color\n\nAbout / Introduction Section\nHeading: \"About Us\"\nParagraph with details using {{ $json.Industry }} and {{ $json.Description }}\nImage and text side-by-side using columns\n\nServices / Products Section\nHeading: \"What We Offer\"\nDynamically generate cards for each item in {{ $json['Services OR products'] }}\nEach card: Icon/image, title, short description\n\nTestimonials Section (static dummy content OK)\nHeading: “What Our Clients Say”\n2–3 testimonials using columns or media/text block\n\nCall-to-Action (CTA) Section\nHeading: “Ready to work with {{ $json['Company name'] }}?”\nParagraph and button\n\nContact or Footer Section\nContact information\nSocial media icons (as simple links or text)\nCopyright line\n\n🎨 Design & Code Rules:\nOutput valid HTML Gutenberg block markup (just like block editor’s code editor view)\nUse blocks like: group, columns, column, heading, paragraph, image, buttons, button, etc.\nInclude style, layout, textColor, and typography attributes for modern design\n\nUse real structure like:\n<!-- wp:group {\"tagName\":\"section\", ...} -->\n<section class=\"wp-block-group ...\">...</section>\n<!-- /wp:group -->\nEnsure layout is mobile-first, clean and responsive\n\nDo not use custom or third-party blocks\n\nUse realistic dummy content where JSON does not specify\nInclude consistent padding, spacing, and color styling between sections\nKeep the code clean and usable inside WordPress \"Code Editor\"\n\nOutput only the block HTML. Do not explain anything. Do not wrap in markdown.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1500,-60],"id":"4fa166ea-4bb3-4b19-8e1f-31d00895f58c","name":"WordPress block editor page generator","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[2340,-60],"id":"79b96c39-17b3-4e5d-83d2-6f0d7fc699d8","name":"When chat message received","webhookId":"819822a8-7982-4f53-9a1a-209fcfe87ce2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2560,-60],"id":"0b6420fe-eabe-41ec-b0cb-32890c83e6d6","name":"AI Agent"},{"parameters":{"sseEndpoint":"https://autogm.gmindia.tech/mcp/wp"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[2760,160],"id":"2f2971e4-ea84-4c79-86a6-7357a9c9b250","name":"MCP Client"},{"parameters":{"path":"wp"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[3260,-40],"id":"b8c41f72-0c45-4f7f-b00b-17e13c9b3321","name":"MCP Server Trigger","webhookId":"27e89497-817b-4a2a-b126-941785b60ec7"},{"parameters":{"modelName":"models/gemini-1.5-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2520,160],"id":"ac305774-c73c-4351-a3c7-f1810e72eb9b","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"description":"Call this tool to get my name","jsCode":"// Example: convert the incoming query to uppercase and return it\nreturn \"Vishnu\""},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[3240,180],"id":"9dcfeee1-38b5-458b-ab04-27b6a4f52a92","name":"Code Tool1"},{"parameters":{"description":"Call this tool last 7 days visitors in website","workflowId":{"__rl":true,"value":"ddjivTfCOtwm2jIS","mode":"list","cachedResultName":"Website monitoring mcp tool result"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3560,180],"id":"efbe10e4-b6ed-4a2d-9ae7-95607bc269b6","name":"Call n8n Workflow Tool"},{"parameters":{"description":"Call this tool to get my name","jsCode":"// Example: convert the incoming query to uppercase and return it\nreturn \"Jasim\""},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[3400,180],"id":"c8991938-fba5-4bbf-b8a6-4cc308ec80a7","name":"Code Tool2"}],"connections":{"Loop Over Items":{"main":[[{"node":"Created Elementor File Uploaded in Google Drive1","type":"main","index":0}],[{"node":"Convert to WordPress Block Editor Template","type":"main","index":0}]]},"Extract JSON Data":{"main":[[{"node":"Convert to Text","type":"main","index":0}]]},"Seperate Each Section":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to Text":{"main":[[{"node":"Prepare Binary Data","type":"main","index":0}]]},"Prepare Binary Data":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to WordPress Block Editor Template":{"main":[[{"node":"Extract JSON Data","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Convert to WordPress Block Editor Template","type":"ai_languageModel","index":0}]]},"On form submission":{"main":[[{"node":"Seperate Each Section","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"WordPress block editor page generator","type":"ai_languageModel","index":0}]]},"On form submission2":{"main":[[{"node":"WordPress block editor page generator","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code Tool1":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Code Tool2":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"802bbd7c-b5e6-4143-8d80-c9a92d7271b8","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T13:40:01.249Z","createdAt":"2025-10-06T13:40:01.249Z","role":"workflow:owner","workflowId":"P5rgUBY1Ke98HZRA","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}