gmi-call-center-trigger-YNxbxq39s9yRJQ46.json
{"updatedAt":"2025-10-06T13:40:01.376Z","createdAt":"2025-10-06T13:40:01.376Z","id":"YNxbxq39s9yRJQ46","name":"GMI Call Center Trigger","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"tallyform","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-240,-160],"id":"011d77d8-c85a-4834-bd24-77b603759d4b","name":"Webhook","webhookId":"8b66de79-d2a7-4461-95d2-886e7b6b9343"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appI1kXiCM8F04naj","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://airtable.com/appI1kXiCM8F04naj"},"table":{"__rl":true,"value":"tblfya8J6xKHj1fBp","mode":"list","cachedResultName":"Register a Call","cachedResultUrl":"https://airtable.com/appI1kXiCM8F04naj/tblfya8J6xKHj1fBp"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.body.data.fields[2].value }}","Phone Number":"={{ $json.body.data.fields[1].value }}","Full Name":"={{ $json.body.data.fields[0].value }}","Status":"Un-Called"},"matchingColumns":[],"schema":[{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Called","value":"Called"},{"name":"Un-Called","value":"Un-Called"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-20,-160],"id":"3ddb8a73-8091-45ff-a932-6b9cb797bcd1","name":"Airtable","credentials":{"airtableTokenApi":{"id":"KvMsmK5k38lYm1xK","name":"Airtable Personal Access Token account 3"}}},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 49875d2b-a290-46d6-87c0-d2e63d4825a2"},{"name":"Content-type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={\n  \"assistantId\": \"9754ff62-4d22-448a-ba26-c46b78c25ba2\",\n  \"phoneNumberId\": \"875d60ab-edb0-40d9-be0b-bd2b0f8fd472\",\n  \"customers\": [\n    {\n      \"name\": \"{{ $('Webhook').item.json.body.data.fields[0].value }}\",\n      \"number\": \"{{ $('Webhook').item.json.body.data.fields[1].value }}\"\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,-160],"id":"e0ece32a-7f76-4658-a574-f975cb38752b","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"3758f09d-ab5a-4da6-96ab-c35b773b485d","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T13:40:01.630Z","createdAt":"2025-10-06T13:40:01.630Z","role":"workflow:owner","workflowId":"YNxbxq39s9yRJQ46","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}