google-drive-file-listing-tree-structure-RAywZmX4IIW0cuZo.json
{"updatedAt":"2025-10-06T13:40:01.244Z","createdAt":"2025-10-06T13:40:01.244Z","id":"RAywZmX4IIW0cuZo","name":"Google drive file listing tree structure","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj","mode":"list","cachedResultName":"Company Informations","cachedResultUrl":"https://drive.google.com/drive/folders/1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj"},"event":"watchFolderUpdated"},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[128,848],"id":"38e8f77f-8416-483d-a871-38fb44c9a057","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files?+in+parents&orderBy=modifiedTime desc&fields=files(id,name,mimeType,size,modifiedTime,owners(displayName,emailAddress))&pageSize=1","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,848],"id":"2a7959f1-ed47-4514-b38d-f41ea3f77f03","name":"HTTP Request","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"sendTo":"m.jasim@gmindia.tech","subject":"File Update Notification","emailType":"text","message":"=Hello,\n\nA file has been updated in the specified folder. Please find the details below:\n\nUpdated by: {{ $json.owner }}\n\nFile Name: {{ $json.name }}\n\nFile Size: {{ $json.size }}\n\nLast Modified: {{ $json.modifiedTime }}\n\nBest regards,\nGMI Automation Team.","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[832,848],"id":"9c9d91da-af4a-4492-95c9-082341aa811c","name":"Send a message","webhookId":"29775b31-a327-43eb-aca7-a141e32d7d9d","credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}},{"parameters":{"operation":"completion","completionTitle":"Output","completionMessage":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[2416,480],"id":"2584a4cf-f913-4ccc-89f1-8a7e966649fc","name":"Form","webhookId":"08d6f30b-709d-40f8-b572-a29ceabc152a","disabled":true},{"parameters":{"jsCode":"const folderName = $('Folder Detail').first().json[\"Folder Name\"];\n\nconst files = items[0].json.files || [];\n\nfunction escapeHtml(str) {\n  if (str === null || str === undefined) return '';\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\nfunction formatSize(bytes) {\n  if (!bytes && bytes !== 0) return '';\n  const sizes = ['B', 'KB', 'MB', 'GB', 'TB'];\n  const i = bytes > 0 ? Math.floor(Math.log(bytes) / Math.log(1024)) : 0;\n  return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];\n}\n\nfunction isFolder(f) {\n  return f && f.mimeType === 'application/vnd.google-apps.folder';\n}\n\nfunction formatDate(iso) {\n  if (!iso) return '';\n  const d = new Date(iso);\n  return d.toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short' });\n}\n\n// Build lookup map\nconst map = new Map();\nfiles.forEach(f => map.set(f.id, { ...f, children: [] }));\n\n// Attach children to parents\nfor (const f of map.values()) {\n  if (f.parents && f.parents.length) {\n    for (const parentId of f.parents) {\n      if (map.has(parentId)) {\n        map.get(parentId).children.push(f);\n        break;\n      }\n    }\n  }\n}\n\nfunction sortChildren(arr) {\n  return arr.sort((a, b) => {\n    const af = isFolder(a), bf = isFolder(b);\n    if (af !== bf) return af ? -1 : 1;\n    return (a.name || '').localeCompare(b.name || '');\n  });\n}\n\n// Recursive renderer -> HTML\nfunction renderHtml(node) {\n  const name = escapeHtml(node.name || '(no name)');\n  const icon = isFolder(node) ? '📁' : '📄';\n  const size = isFolder(node) ? '' : (node.size !== undefined ? ` <span class=\"size\">(${escapeHtml(formatSize(Number(node.size)))})</span>` : '');\n  const owner = node.owners && node.owners.length ? ` <span class=\"owner\">— 👤 ${escapeHtml(node.owners[0].displayName)}</span>` : '';\n  const created = node.createdTime ? ` <span class=\"created\">— 🕒 ${escapeHtml(formatDate(node.createdTime))}</span>` : '';\n  const dataAttrs = `data-id=\"${escapeHtml(node.id)}\" data-mimetype=\"${escapeHtml(node.mimeType || '')}\"`;\n\n  let html = `<li ${dataAttrs} class=\"${isFolder(node) ? 'folder' : 'file'}\">`;\n  if (isFolder(node)) {\n    html += `<span class=\"node-label folder-label\">${icon} <strong>${name}</strong>${owner}${created}</span>`;\n  } else {\n    html += `<span class=\"node-label file-label\">${icon} ${name}${size}${owner}${created}</span>`;\n  }\n\n  if (node.children && node.children.length) {\n    html += '\\n<ul class=\"nested\">\\n';\n    for (const child of sortChildren(node.children)) {\n      html += renderHtml(child);\n    }\n    html += '</ul>\\n';\n  }\n\n  html += '</li>\\n';\n  return html;\n}\n\n// Generate HTML tree starting at folderName\nlet tree = `<div class=\"drive-tree\">\\n`;\n\nif (!folderName) {\n  tree += `<div class=\"error\">⚠️ No Folder Name provided.</div>\\n`;\n} else {\n  // find first folder node with that name\n  const root = [...map.values()].find(f => isFolder(f) && f.name === folderName);\n\n  if (!root) {\n    tree += `<div class=\"error\">⚠️ Folder \"${escapeHtml(folderName)}\" not found.</div>\\n`;\n  } else {\n    tree += `<style>\n.drive-tree { font-family: system-ui, -apple-system, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial; font-size: 14px; line-height: 1.4; }\n.drive-tree ul { list-style-type: none; margin: 0; padding-left: 18px; }\n.drive-tree li { margin: 2px 0; position: relative; }\n.node-label { cursor: pointer; display: inline-block; }\n.folder > .node-label::before { content: \"▶\"; display: inline-block; margin-right: 4px; transition: transform 0.2s; }\n.folder.open > .node-label::before { transform: rotate(90deg); }\n.folder > ul { display: none; margin-left: 16px; }\n.folder.open > ul { display: block; }\n.size, .owner, .created { color: #555; font-weight: normal; margin-left: 6px; font-size: 12px; }\n.error { color: #a00; font-weight: bold; margin-top: 6px; }\n</style>\\n`;\n\n    tree += `<ul class=\"tree-root\">\\n`;\n    tree += renderHtml(root);\n    tree += `</ul>\\n`;\n\n    // add toggling JS\n    tree += `<script>\ndocument.querySelectorAll('.drive-tree .folder > .node-label').forEach(label => {\n  label.addEventListener('click', e => {\n    const li = e.target.closest('li.folder');\n    li.classList.toggle('open');\n  });\n});\n</script>\\n`;\n  }\n}\n\ntree += `</div>`;\n\nreturn [{ json: { html: tree } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2176,480],"id":"c9de5754-2ac2-4f93-b425-8206578d2a80","name":"Output to HTML","disabled":true},{"parameters":{"jsCode":"const files = items[0].json.files || [];\n\nfunction formatSize(bytes) {\n  if (!bytes) return '';\n  const sizes = ['B','KB','MB','GB','TB'];\n  const i = Math.floor(Math.log(bytes) / Math.log(1024));\n  return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];\n}\nfunction formatDate(iso) {\n  if (!iso) return '';\n  const d = new Date(iso);\n  return d.toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short' });\n}\n\n// Build a structured JSON array\nconst structured = files.map(f => ({\n  id: f.id,\n  name: f.name,\n  type: f.mimeType === 'application/vnd.google-apps.folder' ? 'Folder' : 'File',\n  size: f.size ? formatSize(Number(f.size)) : '',\n  owner: f.owners?.[0]?.displayName || '',\n  email: f.owners?.[0]?.emailAddress || '',\n  modifiedTime: f.modifiedTime,\n  modifiedTimeFormatted: formatDate(f.modifiedTime)\n}));\n\n// Sort by latest modifiedTime\nstructured.sort((a, b) => new Date(b.modifiedTime) - new Date(a.modifiedTime));\n\nreturn structured.map(file => ({ json: file }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,848],"id":"82afc48f-0470-405f-a598-4356efa0ec32","name":"Details"},{"parameters":{"operation":"toText","sourceProperty":"markdown","binaryPropertyName":"={{ $json.markdown }}","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[928,496],"id":"c59f3264-aac9-4642-b92a-b898d459b81d","name":"Convert to File"},{"parameters":{"jsCode":"const folderName = $('Folder Details').first().json[\"Folder Name\"];\nconst files = items[0].json.files || [];\n\nfunction formatSize(bytes) {\n  if (!bytes) return '';\n  const sizes = ['B', 'KB', 'MB', 'GB', 'TB'];\n  const i = Math.floor(Math.log(bytes) / Math.log(1024));\n  return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];\n}\nfunction isFolder(f) {\n  return f.mimeType === 'application/vnd.google-apps.folder';\n}\nfunction formatDate(iso) {\n  if (!iso) return '';\n  const d = new Date(iso);\n  return d.toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short' });\n}\n\n// Build lookup map\nconst map = new Map();\nfiles.forEach(f => map.set(f.id, { ...f, children: [] }));\n\n// Attach children to parents\nfor (const f of map.values()) {\n  if (f.parents && f.parents.length) {\n    const parentId = f.parents[0];\n    if (map.has(parentId)) {\n      map.get(parentId).children.push(f);\n    }\n  }\n}\n\n// Recursive renderer -> Markdown\nfunction render(node, depth = 0) {\n  const indent = ' '.repeat(depth * 4);\n  const icon = isFolder(node) ? '📁' : '📄';\n  const size = isFolder(node) ? '' : ` (${formatSize(Number(node.size))})`;\n  const owner = node.owners && node.owners.length ? ` — 👤 ${node.owners[0].displayName}` : '';\n  const created = node.createdTime ? ` — 🕒 ${formatDate(node.createdTime)}` : '';\n  let out = `${indent}- ${icon} **${node.name}**${size}${owner}${created}\\n`;\n  for (const child of node.children.sort((a, b) => {\n    const af = isFolder(a), bf = isFolder(b);\n    if (af !== bf) return af ? -1 : 1;\n    return a.name.localeCompare(b.name);\n  })) {\n    out += render(child, depth + 1);\n  }\n  return out;\n}\n\nlet tree = `# 📂 Directory Structure\\n\\n`;\n\nif (!folderName) {\n  tree += `⚠️ No Folder Name provided.\\n`;\n} else {\n  const root = [...map.values()].find(f => isFolder(f) && f.name === folderName);\n  if (!root) {\n    tree += `⚠️ Folder \"${folderName}\" not found.\\n`;\n  } else {\n    tree += render(root);\n  }\n}\n\nreturn [{ json: { markdown: tree } }];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,96],"id":"8167d7e2-ad18-423a-8a30-d8949dd8f739","name":"Output To Markdown"},{"parameters":{"content":"## Given folder structure as markdown Text File","height":304,"width":1216},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"408abadb-ea84-4b66-8976-4cf3168da9fd","name":"Sticky Note"},{"parameters":{"content":"## File Listing of Given Folder structure in HTML as Output","height":304,"width":1104,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1552,384],"typeVersion":1,"id":"4e211dea-faf0-4800-9223-b496cf1ccf38","name":"Sticky Note1","disabled":true},{"parameters":{"content":"## To Get All files Structure in Google Drive","height":288,"width":1104,"color":4},"type":"n8n-nodes-base.stickyNote","position":[32,400],"typeVersion":1,"id":"76d7d660-b3fb-4ad2-847e-9c988f1cdc54","name":"Sticky Note2"},{"parameters":{"content":"## File Update Notification in Given Folder","height":256,"width":992,"color":7},"type":"n8n-nodes-base.stickyNote","position":[48,768],"typeVersion":1,"id":"0370b562-22e4-467b-a266-2c52bc0a2dd9","name":"Sticky Note3"},{"parameters":{"formTitle":"N8N File Listing","formDescription":"Tree Structure File listing using N8N","formFields":{"values":[{"fieldLabel":"Folder Name","placeholder":"Enter Your Folder Name"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[96,96],"id":"39ded165-79d3-4ebd-b1a0-c9d37416507c","name":"Folder Details","webhookId":"11b9c631-8de8-4ed9-aa48-7850b7749e73"},{"parameters":{"formTitle":"N8N File Listing","formDescription":"Tree Structure File listing using N8N","formFields":{"values":[{"fieldLabel":"Folder Name","placeholder":"Enter Your Folder Name"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[1632,480],"id":"c6e5a7ed-8625-479d-bd69-5acaf66d1441","name":"Folder Detail","webhookId":"44371773-6cd3-4c31-85f5-e7a7d0aa1454","disabled":true},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"specifyQuery":"json","jsonQuery":"{\n  \"fields\": \"files(id,name,mimeType,size,parents,modifiedTime,owners(displayName,emailAddress))\",\n  \"pageSize\": \"1000\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,480],"id":"0f0716d3-c562-4725-917c-ad08a2cbb661","name":"Drive API to get Files","disabled":true},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"specifyQuery":"json","jsonQuery":"{\n  \"fields\": \"files(id,name,mimeType,size,parents,modifiedTime,owners(displayName,emailAddress))\",\n  \"pageSize\": \"1000\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,496],"id":"393e5e81-bc09-4f01-83a4-65900fb47a5e","name":"Drive API to get All Files","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[144,496],"id":"3b02cfc2-364c-4184-baf1-e2e5b2301727","name":"Manual Trigger"},{"parameters":{"jsCode":"const files = items[0].json.files;\n\nfunction formatSize(bytes) {\n  if (!bytes) return '';\n  const sizes = ['B', 'KB', 'MB', 'GB', 'TB'];\n  const i = Math.floor(Math.log(bytes) / Math.log(1024));\n  return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];\n}\n\nfunction isFolder(f) {\n  return f.mimeType === 'application/vnd.google-apps.folder';\n}\n\nfunction formatDate(iso) {\n  if (!iso) return '';\n  const d = new Date(iso);\n  return d.toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short' });\n}\n\n// Build lookup map\nconst map = new Map();\nfiles.forEach(f => map.set(f.id, { ...f, children: [] }));\n\n// Attach children to parents\nfor (const f of map.values()) {\n  if (f.parents && f.parents.length) {\n    const parentId = f.parents[0];\n    if (map.has(parentId)) {\n      map.get(parentId).children.push(f);\n    }\n  }\n}\n\n// Find roots\nconst roots = [...map.values()].filter(f => !f.parents || !map.has(f.parents[0]));\n\n// Recursive renderer\nfunction render(node, depth = 0) {\n  const indent = ' '.repeat(depth * 4);\n  const icon = isFolder(node) ? '📁' : '📄';\n  const size = isFolder(node) ? '' : ` (${formatSize(Number(node.size))})`;\n  const owner = node.owners && node.owners.length ? ` — 👤 ${node.owners[0].displayName}` : '';\n  const created = node.createdTime ? ` — 🕒 ${formatDate(node.createdTime)}` : '';\n\n  let out = `${indent}- ${icon} **${node.name}**${size}${owner}${created}\\n`;\n\n  for (const child of node.children.sort((a, b) => {\n    const af = isFolder(a), bf = isFolder(b);\n    if (af !== bf) return af ? -1 : 1;\n    return a.name.localeCompare(b.name);\n  })) {\n    out += render(child, depth + 1);\n  }\n\n  return out;\n}\n\n// Generate markdown\nlet tree = '# 📂 Directory Structure\\n\\n';\nfor (const root of roots) {\n  tree += render(root);\n}\n\nreturn [{ json: { markdown: tree } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,496],"id":"36b3e93c-22d8-4281-b144-7f9f7f659b94","name":"Output to Markdown"},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"specifyQuery":"json","jsonQuery":"{\n  \"q\": \"trashed=false\",\n  \"fields\": \"files(id,name,mimeType,size,parents,modifiedTime,owners(displayName,emailAddress))\",\n  \"pageSize\": \"1000\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,96],"id":"590c040f-01b8-4eb9-a97f-bad87074b6f8","name":"Drive API to get Specific Folder","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"jsCode":"const markdown = $json[\"markdown\"] || \"\";\n\nfunction parseMarkdown(md) {\n  const lines = md.split(\"\\n\").filter(l => l.trim().startsWith(\"-\"));\n  const root = { children: [] };\n  const stack = [ { depth: -1, node: root } ];\n\n  for (const line of lines) {\n    const match = /^(\\s*)- (📁|📄) \\*\\*(.*?)\\*\\*/.exec(line);\n    if (!match) continue;\n\n    const indent = match[1].length;\n    const icon = match[2];\n    const name = match[3];\n    const depth = indent / 4;\n\n    const node = { name, icon, children: [] };\n\n    while (stack.length && stack[stack.length - 1].depth >= depth) {\n      stack.pop();\n    }\n\n    stack[stack.length - 1].node.children.push(node);\n    stack.push({ depth, node });\n  }\n\n  return root.children;\n}\n\nfunction renderText(nodes, prefix = \"\") {\n  let output = \"\";\n  nodes.forEach((n, idx) => {\n    const connector = idx === nodes.length - 1 ? \"└── \" : \"├── \";\n    output += prefix + connector + `${n.icon} ${n.name}\\n`;\n    if (n.children.length) {\n      const newPrefix = prefix + (idx === nodes.length - 1 ? \"    \" : \"│   \");\n      output += renderText(n.children, newPrefix);\n    }\n  });\n  return output;\n}\n\nconst treeData = parseMarkdown(markdown);\nconst treeText = \"# 📂 Directory Structure\\n\\n\" + renderText(treeData);\n\nreturn [{ json: { text: treeText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,96],"id":"12ff7ef0-1796-4112-a119-19f7976eb204","name":"Markdown To Tree Structure"},{"parameters":{"operation":"html","binaryPropertyName":"={{ $json.text }}","options":{"fileName":"output.html","headerRow":false}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[976,96],"id":"5cd3d9c8-7a2e-4dcd-b576-a206f8bb2412","name":"Output"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Details","type":"main","index":0}]]},"Output to HTML":{"main":[[{"node":"Form","type":"main","index":0}]]},"Details":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Output To Markdown":{"main":[[{"node":"Markdown To Tree Structure","type":"main","index":0}]]},"Folder Details":{"main":[[{"node":"Drive API to get Specific Folder","type":"main","index":0}]]},"Folder Detail":{"main":[[{"node":"Drive API to get Files","type":"main","index":0}]]},"Drive API to get Files":{"main":[[{"node":"Output to HTML","type":"main","index":0}]]},"Drive API to get All Files":{"main":[[{"node":"Output to Markdown","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Drive API to get All Files","type":"main","index":0}]]},"Output to Markdown":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Drive API to get Specific Folder":{"main":[[{"node":"Output To Markdown","type":"main","index":0}]]},"Markdown To Tree Structure":{"main":[[{"node":"Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"3434c2b2-bee3-4c34-8cc2-def27e3332fd","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T13:40:01.358Z","createdAt":"2025-10-06T13:40:01.358Z","role":"workflow:owner","workflowId":"RAywZmX4IIW0cuZo","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}