google-drive-file-listing-tree-structure-v1.2-bZ2LovLI7bh7CSLS.json
{"updatedAt":"2025-10-06T13:41:07.716Z","createdAt":"2025-10-06T13:41:07.716Z","id":"bZ2LovLI7bh7CSLS","name":"Google drive file listing tree structure V1.2","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const markdown = $json[\"markdown\"] || \"\";\n\n// Parse Markdown into structured tree\nfunction parseMarkdown(md) {\n  const lines = md.split(\"\\n\").filter(l => l.trim().startsWith(\"-\"));\n  const root = { children: [] };\n  const stack = [{ depth: -1, node: root }];\n\n  for (const line of lines) {\n    // Match: \"- [spaces] 📁|📄 **Name** (size) — 👤 User\"\n    const match = /^(\\s*)- (📁|📄) \\*\\*(.*?)\\*\\*(.*)$/.exec(line);\n    if (!match) continue;\n\n    const indent = match[1].length;\n    const depth = Math.floor(indent / 2);\n\n    const icon = match[2];\n    const name = match[3];\n    const meta = match[4].trim(); // includes size, owner, created etc.\n\n    const node = { name, icon, meta, children: [] };\n\n    // Pop until correct parent\n    while (stack.length && stack[stack.length - 1].depth >= depth) {\n      stack.pop();\n    }\n\n    // Attach to parent\n    stack[stack.length - 1].node.children.push(node);\n    stack.push({ depth, node });\n  }\n\n  return root.children;\n}\n\nfunction renderText(nodes, prefix = \"\") {\n  let output = \"\";\n  nodes.forEach((n, idx) => {\n    const connector = idx === nodes.length - 1 ? \"└── \" : \"├── \";\n    const meta = n.meta ? ` ${n.meta}` : \"\";\n    output += prefix + connector + `${n.icon} ${n.name}${meta}\\n`;\n    if (n.children.length) {\n      const newPrefix = prefix + (idx === nodes.length - 1 ? \"    \" : \"│   \");\n      output += renderText(n.children, newPrefix);\n    }\n  });\n  return output;\n}\n\nconst treeData = parseMarkdown(markdown);\nconst treeText = \"# 📂 Directory Structure\\n\\n\" + renderText(treeData);\n\nreturn [{ json: { text: treeText } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4848,2048],"id":"f023af18-144e-4563-96eb-2b7740d495e2","name":"Markdown To Tree Structure1","disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.html }}","options":{"systemMessage":"## Role\nYou are an expert HTML Parsing and Sanitization Specialist, with advanced skills in web document optimization, code cleaning, and structural integrity maintenance. Your primary objective is to transform raw HTML input into clean, standards-compliant, and functional web code.\n\n## Task\nComprehensively modify and parse HTML input to:\n- Correct structural inconsistencies\n- Remove unwanted or potentially malicious content\n- Ensure valid HTML syntax\n- Optimize code readability and performance\n- Maintain original document intent and structure\n\n## Context\nHTML documents often contain errors, redundant code, or potentially harmful elements that can compromise web page functionality, security, and user experience. Your role is critical in preparing HTML for safe and efficient rendering across different browsers and platforms.\n\n## Instructions\n1. HTML Parsing Guidelines:\n- Validate HTML against W3C standards\n- Automatically close unclosed tags\n- Correct nested element errors\n- Remove inline JavaScript with potential security risks\n- Strip out commented-out code sections\n- Eliminate unnecessary whitespaces and indentation\n\n2. Content Sanitization Rules:\n- Remove potentially malicious script tags\n- Neutralize inline event handlers\n- Sanitize attribute values\n- Prevent cross-site scripting (XSS) vulnerabilities\n- Don't add this in code ```html  ```\n\n3. Code Optimization:\n- Use semantic HTML5 elements where appropriate\n- Ensure proper document structure (DOCTYPE, html, head, body)\n- Standardize attribute quotes\n- Minimize redundant attributes\n\n4. Processing Constraints:\n- NEVER add any summary comments\n- Preserve original document's core structure and purpose\n- Do not modify content text unless absolutely necessary\n- Maintain original formatting where possible\n\n5. Error Handling:\n- If HTML is severely malformed, provide a clean, reconstructed version\n- Clearly indicate any significant modifications made\n- Return fully valid, executable HTML code\n\n6. Output Specifications:\n- Return ONLY the modified HTML code\n- Do not include any additional explanatory text\n- Ensure 100% valid HTML syntax\n- Optimize for modern web standards\n\nCRITICAL DIRECTIVE: Your primary mission is HTML transformation with surgical precision - clean, secure, and functionally superior output is non-negotiable."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[4688,2368],"id":"1d645552-7351-499f-b835-cd1e860215aa","name":"AI Agent","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[4640,2512],"id":"f7b685c9-d4b3-4527-9679-9d0a05180031","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}},"disabled":true},{"parameters":{"html":"{{ $json.html }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[4016,1920],"id":"5d53040b-8bcf-49f1-8711-2346f14cb1db","name":"HTML"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1pSu466_oB0eXmKjPr5w2KfaE6YcjSisn","mode":"list","cachedResultName":"company_details","cachedResultUrl":"https://drive.google.com/drive/folders/1pSu466_oB0eXmKjPr5w2KfaE6YcjSisn"},"event":"watchFolderUpdated"},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[3184,2672],"id":"f2d77d27-926d-4d78-b70e-acc16ed5a290","name":"Google Drive Trigger1","disabled":true},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files?+in+parents&orderBy=modifiedTime desc&fields=files(id,name,mimeType,size,parents,modifiedTime,owners(displayName,emailAddress))&pageSize=1","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3424,2672],"id":"c01686ea-1128-4a8d-9488-da858fdf5570","name":"HTTP Request1","disabled":true},{"parameters":{"sendTo":"gmi.tn.dev.mrfmohamed@gmail.com","subject":"File Update Notification","emailType":"text","message":"=Hello,\nA file has been updated in the specified folder. Please find the details below:\nUpdated by: {{ $json.owner }},\n\nFile Name: {{ $json.name }},\n\nFile Size: {{ $json.size }},\n\nLast Modified: {{ $json.modifiedTime }},\n\nBest regards,\nGMI Automation Team.","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3920,2672],"id":"e6a81220-2ed2-44a6-848e-7dad80628722","name":"Send a message1","webhookId":"29775b31-a327-43eb-aca7-a141e32d7d9d","disabled":true},{"parameters":{"operation":"completion","completionTitle":"Output","completionMessage":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[6304,2160],"id":"47664c3e-4272-4533-a3d8-bd3ffd02e8b2","name":"Form1","webhookId":"08d6f30b-709d-40f8-b572-a29ceabc152a","disabled":true},{"parameters":{"jsCode":"const folderName = $('Folder Detail1').first().json[\"Folder Name\"];\n\nconst files = items[0].json.files || [];\n\nfunction escapeHtml(str) {\n  if (str === null || str === undefined) return '';\n  return String(str)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\nfunction formatSize(bytes) {\n  if (!bytes && bytes !== 0) return '';\n  const sizes = ['B', 'KB', 'MB', 'GB', 'TB'];\n  const i = bytes > 0 ? Math.floor(Math.log(bytes) / Math.log(1024)) : 0;\n  return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];\n}\n\nfunction isFolder(f) {\n  return f && f.mimeType === 'application/vnd.google-apps.folder';\n}\n\nfunction formatDate(iso) {\n  if (!iso) return '';\n  const d = new Date(iso);\n  return d.toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short' });\n}\n\n// Build lookup map\nconst map = new Map();\nfiles.forEach(f => map.set(f.id, { ...f, children: [] }));\n\n// Attach children to parents\nfor (const f of map.values()) {\n  if (f.parents && f.parents.length) {\n    for (const parentId of f.parents) {\n      if (map.has(parentId)) {\n        map.get(parentId).children.push(f);\n        break;\n      }\n    }\n  }\n}\n\nfunction sortChildren(arr) {\n  return arr.sort((a, b) => {\n    const af = isFolder(a), bf = isFolder(b);\n    if (af !== bf) return af ? -1 : 1;\n    return (a.name || '').localeCompare(b.name || '');\n  });\n}\n\n// Recursive renderer -> HTML\nfunction renderHtml(node) {\n  const name = escapeHtml(node.name || '(no name)');\n  const icon = isFolder(node) ? '📁' : '📄';\n  const size = isFolder(node) ? '' : (node.size !== undefined ? ` <span class=\"size\">(${escapeHtml(formatSize(Number(node.size)))})</span>` : '');\n  const owner = node.owners && node.owners.length ? ` <span class=\"owner\">— 👤 ${escapeHtml(node.owners[0].displayName)}</span>` : '';\n  const created = node.createdTime ? ` <span class=\"created\">— 🕒 ${escapeHtml(formatDate(node.createdTime))}</span>` : '';\n  const dataAttrs = `data-id=\"${escapeHtml(node.id)}\" data-mimetype=\"${escapeHtml(node.mimeType || '')}\"`;\n\n  let html = `<li ${dataAttrs} class=\"${isFolder(node) ? 'folder' : 'file'}\">`;\n  if (isFolder(node)) {\n    html += `<span class=\"node-label folder-label\">${icon} <strong>${name}</strong>${owner}${created}</span>`;\n  } else {\n    html += `<span class=\"node-label file-label\">${icon} ${name}${size}${owner}${created}</span>`;\n  }\n\n  if (node.children && node.children.length) {\n    html += '\\n<ul class=\"nested\">\\n';\n    for (const child of sortChildren(node.children)) {\n      html += renderHtml(child);\n    }\n    html += '</ul>\\n';\n  }\n\n  html += '</li>\\n';\n  return html;\n}\n\n// Generate HTML tree starting at folderName\nlet tree = `<div class=\"drive-tree\">\\n`;\n\nif (!folderName) {\n  tree += `<div class=\"error\">⚠️ No Folder Name provided.</div>\\n`;\n} else {\n  // find first folder node with that name\n  const root = [...map.values()].find(f => isFolder(f) && f.name === folderName);\n\n  if (!root) {\n    tree += `<div class=\"error\">⚠️ Folder \"${escapeHtml(folderName)}\" not found.</div>\\n`;\n  } else {\n    tree += `<style>\n.drive-tree { font-family: system-ui, -apple-system, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial; font-size: 14px; line-height: 1.4; }\n.drive-tree ul { list-style-type: none; margin: 0; padding-left: 18px; }\n.drive-tree li { margin: 2px 0; position: relative; }\n.node-label { cursor: pointer; display: inline-block; }\n.folder > .node-label::before { content: \"▶\"; display: inline-block; margin-right: 4px; transition: transform 0.2s; }\n.folder.open > .node-label::before { transform: rotate(90deg); }\n.folder > ul { display: none; margin-left: 16px; }\n.folder.open > ul { display: block; }\n.size, .owner, .created { color: #555; font-weight: normal; margin-left: 6px; font-size: 12px; }\n.error { color: #a00; font-weight: bold; margin-top: 6px; }\n</style>\\n`;\n\n    tree += `<ul class=\"tree-root\">\\n`;\n    tree += renderHtml(root);\n    tree += `</ul>\\n`;\n\n    // add toggling JS\n    tree += `<script>\ndocument.querySelectorAll('.drive-tree .folder > .node-label').forEach(label => {\n  label.addEventListener('click', e => {\n    const li = e.target.closest('li.folder');\n    li.classList.toggle('open');\n  });\n});\n</script>\\n`;\n  }\n}\n\ntree += `</div>`;\n\nreturn [{ json: { html: tree } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6064,2160],"id":"42042b56-2ec3-41fd-91b5-d1a2feca0bb0","name":"Output to HTML1","disabled":true},{"parameters":{"jsCode":"const files = items[0].json.files || [];\n\nfunction formatSize(bytes) {\n  if (!bytes) return '';\n  const sizes = ['B','KB','MB','GB','TB'];\n  const i = Math.floor(Math.log(bytes) / Math.log(1024));\n  return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];\n}\nfunction formatDate(iso) {\n  if (!iso) return '';\n  const d = new Date(iso);\n  return d.toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short' });\n}\n\n// Build a structured JSON array\nconst structured = files.map(f => ({\n  id: f.id,\n  name: f.name,\n  type: f.mimeType === 'application/vnd.google-apps.folder' ? 'Folder' : 'File',\n  size: f.size ? formatSize(Number(f.size)) : '',\n  owner: f.owners?.[0]?.displayName || '',\n  email: f.owners?.[0]?.emailAddress || '',\n  modifiedTime: f.modifiedTime,\n  modifiedTimeFormatted: formatDate(f.modifiedTime)\n}));\n\n// Sort by latest modifiedTime\nstructured.sort((a, b) => new Date(b.modifiedTime) - new Date(a.modifiedTime));\n\nreturn structured.map(file => ({ json: file }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3648,2672],"id":"9cac5c8b-83c4-459b-a53a-26a64f1201e9","name":"Details1","disabled":true},{"parameters":{"operation":"toText","sourceProperty":"markdown","binaryPropertyName":"={{ $json.markdown }}","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3936,2320],"id":"5013563b-b4e6-4261-9f40-8c097b33f231","name":"Convert to File1","disabled":true},{"parameters":{"jsCode":"const folderName = $('Folder Details1').first().json[\"Folder Name\"];\nconst files = items[0].json.files || [];\n\nfunction formatSize(bytes) {\n  if (!bytes) return '';\n  const sizes = ['B', 'KB', 'MB', 'GB', 'TB'];\n  const i = Math.floor(Math.log(bytes) / Math.log(1024));\n  return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];\n}\nfunction isFolder(f) {\n  return f.mimeType === 'application/vnd.google-apps.folder';\n}\nfunction formatDate(iso) {\n  if (!iso) return '';\n  const d = new Date(iso);\n  return d.toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short' });\n}\n\n// Build lookup map\nconst map = new Map();\nfiles.forEach(f => map.set(f.id, { ...f, children: [] }));\n\n// Attach children to parents\nfor (const f of map.values()) {\n  if (f.parents && f.parents.length) {\n    const parentId = f.parents[0];\n    if (map.has(parentId)) {\n      map.get(parentId).children.push(f);\n    }\n  }\n}\n\n// Recursive renderer -> Markdown\nfunction render(node, depth = 0) {\n  const indent = ' '.repeat(depth * 4);\n  const icon = isFolder(node) ? '📁' : '📄';\n  const size = isFolder(node) ? '' : ` (${formatSize(Number(node.size))})`;\n  const owner = node.owners && node.owners.length ? ` — 👤 ${node.owners[0].displayName}` : '';\n  const created = node.createdTime ? ` — 🕒 ${formatDate(node.createdTime)}` : '';\n  let out = `${indent}- ${icon} **${node.name}**${size}${owner}${created}\\n`;\n  for (const child of node.children.sort((a, b) => {\n    const af = isFolder(a), bf = isFolder(b);\n    if (af !== bf) return af ? -1 : 1;\n    return a.name.localeCompare(b.name);\n  })) {\n    out += render(child, depth + 1);\n  }\n  return out;\n}\n\nlet tree = `# 📂 Directory Structure\\n\\n`;\n\nif (!folderName) {\n  tree += `⚠️ No Folder Name provided.\\n`;\n} else {\n  const root = [...map.values()].find(f => isFolder(f) && f.name === folderName);\n  if (!root) {\n    tree += `⚠️ Folder \"${folderName}\" not found.\\n`;\n  } else {\n    tree += render(root);\n  }\n}\n\nreturn [{ json: { markdown: tree } }];\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3568,1920],"id":"fe99e9eb-042e-4ddf-85f9-317a04fa51a1","name":"Output To Markdown1"},{"parameters":{"content":"## Given folder structure as markdown Text File","height":368,"width":1440},"type":"n8n-nodes-base.stickyNote","position":[3024,1824],"typeVersion":1,"id":"59715686-8c32-4fd9-b275-42bf341e5415","name":"Sticky Note4"},{"parameters":{"content":"## File Listing of Given Folder structure in HTML as Output","height":304,"width":1104,"color":6},"type":"n8n-nodes-base.stickyNote","position":[5440,2064],"typeVersion":1,"id":"e7d89677-d9bc-4f0b-bd1c-4d63a6e07f8d","name":"Sticky Note5","disabled":true},{"parameters":{"content":"## To Get All files Structure in Google Drive","height":288,"width":1152,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3040,2224],"typeVersion":1,"id":"a31b605b-4575-45bf-b80f-87495c76bc11","name":"Sticky Note6"},{"parameters":{"content":"## File Update Notification in Given Folder","height":288,"width":1088,"color":7},"type":"n8n-nodes-base.stickyNote","position":[3056,2592],"typeVersion":1,"id":"7d68d9a3-cde8-409a-b345-e8a26ab6a82b","name":"Sticky Note7","disabled":true},{"parameters":{"formTitle":"N8N File Listing","formDescription":"Tree Structure File listing using N8N","formFields":{"values":[{"fieldLabel":"Folder Name","placeholder":"Enter Your Folder Name"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[3104,1920],"id":"220ac79c-5cb3-4203-967d-12fd44618066","name":"Folder Details1","webhookId":"11b9c631-8de8-4ed9-aa48-7850b7749e73"},{"parameters":{"formTitle":"N8N File Listing","formDescription":"Tree Structure File listing using N8N","formFields":{"values":[{"fieldLabel":"Folder Name","placeholder":"Enter Your Folder Name"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[5520,2160],"id":"1c535a39-f58b-4234-8a70-1bc20f9f3453","name":"Folder Detail1","webhookId":"44371773-6cd3-4c31-85f5-e7a7d0aa1454","disabled":true},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"specifyQuery":"json","jsonQuery":"{\n  \"fields\": \"files(id,name,mimeType,size,parents,modifiedTime,owners(displayName,emailAddress))\",\n  \"pageSize\": \"1000\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5792,2160],"id":"65a902f1-7825-437d-acea-b5e755a7cdbd","name":"Drive API to get Files1","disabled":true},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"specifyQuery":"json","jsonQuery":"{\n  \"q\": \"trashed=false\",\n  \"fields\": \"files(id,name,mimeType,size,parents,modifiedTime,owners(displayName,emailAddress))\",\n  \"pageSize\": \"1000\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3424,2320],"id":"4892aff2-432b-47e7-ae6e-032f9e0b9958","name":"Drive API to get All Files1","disabled":true},{"parameters":{"jsCode":"const files = items[0].json.files;\n\nfunction formatSize(bytes) {\n  if (!bytes) return '';\n  const sizes = ['B', 'KB', 'MB', 'GB', 'TB'];\n  const i = Math.floor(Math.log(bytes) / Math.log(1024));\n  return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];\n}\n\nfunction isFolder(f) {\n  return f.mimeType === 'application/vnd.google-apps.folder';\n}\n\nfunction formatDate(iso) {\n  if (!iso) return '';\n  const d = new Date(iso);\n  return d.toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short' });\n}\n\n// Build lookup map\nconst map = new Map();\nfiles.forEach(f => map.set(f.id, { ...f, children: [] }));\n\n// Attach children to parents\nfor (const f of map.values()) {\n  if (f.parents && f.parents.length) {\n    const parentId = f.parents[0];\n    if (map.has(parentId)) {\n      map.get(parentId).children.push(f);\n    }\n  }\n}\n\n// Find roots\nconst roots = [...map.values()].filter(f => !f.parents || !map.has(f.parents[0]));\n\n// Recursive renderer\nfunction render(node, depth = 0) {\n  const indent = ' '.repeat(depth * 4);\n  const icon = isFolder(node) ? '📁' : '📄';\n  const size = isFolder(node) ? '' : ` (${formatSize(Number(node.size))})`;\n  const owner = node.owners && node.owners.length ? ` — 👤 ${node.owners[0].displayName}` : '';\n  const created = node.createdTime ? ` — 🕒 ${formatDate(node.createdTime)}` : '';\n\n  let out = `${indent}- ${icon} **${node.name}**${size}${owner}${created}\\n`;\n\n  for (const child of node.children.sort((a, b) => {\n    const af = isFolder(a), bf = isFolder(b);\n    if (af !== bf) return af ? -1 : 1;\n    return a.name.localeCompare(b.name);\n  })) {\n    out += render(child, depth + 1);\n  }\n\n  return out;\n}\n\n// Generate markdown\nlet tree = '# 📂 Directory Structure\\n\\n';\nfor (const root of roots) {\n  tree += render(root);\n}\n\nreturn [{ json: { markdown: tree } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3680,2320],"id":"639e87b2-5565-4507-84fd-d718d6e3d182","name":"Output to Markdown1","disabled":true},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"specifyQuery":"json","jsonQuery":"{\n  \"q\": \"trashed=false\",\n  \"fields\": \"files(id,name,mimeType,size,parents,modifiedTime,owners(displayName,emailAddress))\",\n  \"pageSize\": \"1000\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,1920],"id":"c4035043-7113-4447-af76-4163c610a4ba","name":"Drive API to get Specific Folder1","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"jsCode":"const markdown = $json[\"markdown\"] || \"\";\n\n// Escape HTML characters\nfunction escapeHtml(text) {\n  return text\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#39;\");\n}\n\n// Parse Markdown into a tree structure\nfunction parseMarkdown(md) {\n  const lines = md.split(\"\\n\").filter(l => l.trim().startsWith(\"-\"));\n  const root = { children: [] };\n  const stack = [{ depth: -1, node: root }];\n\n  for (const line of lines) {\n    const match = /^(\\s*)- (📁|📄) \\*\\*(.*?)\\*\\*(.*)$/.exec(line);\n    if (!match) continue;\n\n    const indent = match[1].length;\n    const depth = Math.floor(indent / 2);\n    const icon = match[2];\n    const name = match[3];\n    const meta = match[4].trim();\n    const node = { name, icon, meta, children: [] };\n\n    while (stack.length && stack[stack.length - 1].depth >= depth) {\n      stack.pop();\n    }\n\n    stack[stack.length - 1].node.children.push(node);\n    stack.push({ depth, node });\n  }\n\n  return root.children;\n}\n\n// Render HTML tree\nfunction renderHTML(nodes) {\n  if (!nodes.length) return \"\";\n\n  let html = `<ul class=\"tree-list\">`;\n  nodes.forEach((node, index) => {\n    const isLast = index === nodes.length - 1;\n    const meta = node.meta ? ` <span class=\"meta\">${escapeHtml(node.meta)}</span>` : \"\";\n\n    html += `<li class=\"tree-item${isLast ? \" last\" : \"\"}\">`;\n    html += `<span class=\"tree-content\">${node.icon} <strong>${escapeHtml(node.name)}</strong>${meta}</span>`;\n    if (node.children.length > 0) {\n      html += renderHTML(node.children);\n    }\n    html += `</li>`;\n  });\n  html += `</ul>`;\n  return html;\n}\n\n// Generate full HTML document\nfunction generateHTMLDocument(treeHTML) {\n  return `<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"><title>Directory Structure</title><style>\n    body {font-family: Consolas, Monaco, 'Courier New', monospace; background: #0d1117; color: #e6edf3; padding: 30px; margin: 0; line-height: 1.6;}\n    h1 {color: #58a6ff; margin-bottom: 30px; font-size: 24px; border-bottom: 1px solid #21262d; padding-bottom: 10px;}\n    .tree-list {list-style: none; margin: 0; padding: 0; font-size: 14px;}\n    .tree-item {position: relative; margin: 0; padding: 0;}\n    .tree-content {display: block; padding: 2px 0 2px 20px; position: relative;}\n    .tree-content:before {content: \"├── \"; position: absolute; left: 0; color: #7d8590;}\n    .tree-item.last > .tree-content:before {content: \"└── \";}\n    .tree-item:not(.last):after {content: \"\"; position: absolute; left: 6px; top: 20px; bottom: 0; width: 1px; background: #7d8590;}\n    .tree-list .tree-list {margin-left: 20px; position: relative;}\n    .tree-list .tree-list:before {content: \"\"; position: absolute; left: -14px; top: 0; bottom: 20px; width: 1px; background: #7d8590;}\n    .tree-item.last > .tree-list:before {display: none;}\n    strong {color: #f0f6fc; font-weight: 600;}\n    .meta {color: #7d8590; font-size: 13px;}\n    .tree-content:hover {background: rgba(177,186,196,0.12); border-radius: 3px;}\n  </style></head><body><h1>📂 Directory Structure</h1>${treeHTML}</body></html>`;\n}\n\n// Process input and generate HTML\nconst treeData = parseMarkdown(markdown);\nconst treeHTML = renderHTML(treeData);\nconst completeHTML = generateHTMLDocument(treeHTML);\n\n// Return clean JSON to n8n\nreturn [{\n  json: {\n    html: completeHTML,\n    filename: \"directory_structure.html\"\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3792,1920],"id":"353ce1b8-0587-4c6f-888d-5a7b2a4c84d7","name":"Markdown To Tree Structure2"},{"parameters":{"operation":"html","binaryPropertyName":"={{ $json.html }}","options":{"fileName":"={{ $('Folder Details1').item.json['Folder Name'] }}.html","headerRow":false}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[4848,1856],"id":"cc7e0c25-8929-4474-b621-08cf6bfe515c","name":"Output1"},{"parameters":{"jsCode":"// Get HTML content\nconst htmlContent = $input.first().json.html || \"<p>No content found</p>\";\n\n// Get folder name dynamically\nconst folderName = $('Folder Details1').first().json['Folder Name'] || \"default\";\n\n// Set filename using folder name\nconst filename = `${folderName}.html`;\n\n// Convert HTML string to Buffer\nconst buffer = Buffer.from(htmlContent, \"utf-8\");\n\n// Return as binary file\nreturn [\n  {\n    json: {},\n    binary: {\n      data: {\n        data: buffer.toString(\"base64\"),\n        mimeType: \"text/html\",\n        fileName: filename,\n      },\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4224,1920],"id":"2d58b441-9e18-4f3c-afcd-c508d24e7088","name":"Download Node"}],"connections":{"AI Agent":{"main":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Drive Trigger1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Details1","type":"main","index":0}]]},"Output to HTML1":{"main":[[{"node":"Form1","type":"main","index":0}]]},"Details1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Output To Markdown1":{"main":[[{"node":"Markdown To Tree Structure2","type":"main","index":0}]]},"Folder Details1":{"main":[[{"node":"Drive API to get Specific Folder1","type":"main","index":0}]]},"Folder Detail1":{"main":[[{"node":"Drive API to get Files1","type":"main","index":0}]]},"Drive API to get Files1":{"main":[[{"node":"Output to HTML1","type":"main","index":0}]]},"Drive API to get All Files1":{"main":[[{"node":"Output to Markdown1","type":"main","index":0}]]},"Output to Markdown1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Drive API to get Specific Folder1":{"main":[[{"node":"Output To Markdown1","type":"main","index":0}]]},"Markdown To Tree Structure2":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Download Node","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"7d9d8845-861a-4f06-8d35-9e73f4eca266","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T13:41:07.724Z","createdAt":"2025-10-06T13:41:07.724Z","role":"workflow:owner","workflowId":"bZ2LovLI7bh7CSLS","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}