meeting-automation-ksyfxq48MvN1yKli.json
{"createdAt":"2025-01-31T09:32:16.776Z","updatedAt":"2025-02-20T07:17:49.267Z","id":"ksyfxq48MvN1yKli","name":"Meeting Automation","active":true,"nodes":[{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=I have a meeting transcript, and I need concise notes summarizing the contributions or actions of each participant by the end of the meeting. \nFocus on what each person did or decided during the discussion, and present it in a simple, easy-to-read format with output json query for the required field Name and Contribution.\n\nthis is the transcript: {{ $json.data }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-20,480],"id":"63dfe2a5-3d87-4779-8119-570deebe8b9a","name":"AI Agent1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"binaryPropertyName":"data","googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-560,480],"id":"7c6c6715-c4d2-468a-be17-ab48470afafb","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.output }}","returnAll":true,"filter":{"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"18IrQ3rZzfh4Wxau4cSxLylUfdZV_kjnr","mode":"list","cachedResultName":"Meet Recordings","cachedResultUrl":"https://drive.google.com/drive/folders/18IrQ3rZzfh4Wxau4cSxLylUfdZV_kjnr"},"whatToSearch":"files","fileTypes":["application/vnd.google-apps.document"]},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[940,-140],"id":"5eb33ff8-2f6d-4f66-8b60-14d9305c3eb2","name":"Google Drive1","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"bf4bc45b-e595-4bc1-bf60-0b62a1867dbd","leftValue":"={{ $json.headers.date }}","rightValue":"={{ `Date: ${new Date().toUTCString().slice(0, 11)} ${new Date().getUTCFullYear()}` }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[340,-160],"id":"c4e886d0-10e6-490a-9a1b-3c5378908f10","name":"If publish date is today"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"sender":"meetings-noreply@google.com"},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-440,-140],"id":"d86f43c8-4843-43c7-be84-c9c3eb689628","name":"Gmail Trigger1","credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-180,-140],"id":"4ea191bd-9343-4f25-833f-4eeeea4d0896","name":"Gmail2","webhookId":"7afe62fc-93f9-4900-9fb6-9fe2bb3a086e","credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Extract the subject from the Gmail node JSON\nconst subject = $json.subject || \"\";\n\n// Extract the date using regex\nconst match = subject.match(/(\\d{1,2}) (\\w+) (\\d{4}) at (\\d{2}:\\d{2} GMT[+-]\\d{1,2}:\\d{2})/);\n\nif (match) {\n    // Parse the date components\n    const day = match[1];   // e.g., \"30\"\n    const month = match[2]; // e.g., \"Jan\"\n    const year = match[3];  // e.g., \"2025\"\n\n    // Map month names to numbers\n    const months = {\n        Jan: \"01\",\n        Feb: \"02\",\n        Mar: \"03\",\n        Apr: \"04\",\n        May: \"05\",\n        Jun: \"06\",\n        Jul: \"07\",\n        Aug: \"08\",\n        Sep: \"09\",\n        Oct: \"10\",\n        Nov: \"11\",\n        Dec: \"12\",\n    };\n\n    // Format the date as (YYYY-MM-DD\n    const formattedDate = `(${year}-${months[month]}-${day.padStart(2, \"0\")}`;\n\n    // Return the formatted output\n    return { output: formattedDate };\n} else {\n    // Handle cases where the subject doesn't match the expected format\n    return { error: \"Invalid subject format\" };\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,-140],"id":"5e0456af-47c2-4305-bb0a-ec274f9de596","name":"Code1"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-320,480],"id":"e48c1db3-827e-4e33-9389-a27a298ca58f","name":"Extract from File"},{"parameters":{"sendTo":"m.jasim@gmindia.tech, vk.asokan@gmindia.tech, gmi.tn.jpm.tvasister@gmail.com, t.vasister@gmindia.tech","subject":"=GMI Scrum Meeting Alert: {{ $json.headers.subject }}","message":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1980,260],"id":"b0e52678-fab8-46d9-9d2a-ceee222f170d","name":"Gmail1","webhookId":"cc169755-db6f-4a76-b847-94d866e20f76","executeOnce":true,"credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{"temperature":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-20,720],"id":"6d9ccedb-7860-4f6c-81a6-b73217ddd6c6","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n  <div class=\"container\">\n    <p>{{ $json.output }}</p>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1420,480],"id":"4044bc64-f1a8-4ea9-aaef-283e1ea0cb56","name":"HTML1"},{"parameters":{"operation":"toText","sourceProperty":"output","binaryPropertyName":"=data","options":{"encoding":"utf8"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[440,480],"id":"abde6f82-7578-48e0-bb7e-6bdd0bd0abc7","name":"Convert to File"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[760,480],"id":"5d8ebb71-937b-4c6e-a600-710838ef2076","name":"Extract from File1","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"bf4bc45b-e595-4bc1-bf60-0b62a1867dbd","leftValue":"={{ $json.name }}","rightValue":"={{ $('Code1').item.json.output }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1460,-140],"id":"3a05adca-984a-4cad-9f73-87ba3696b8d1","name":"If publish date is today1"},{"parameters":{"fieldToSplitOut":"name","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1220,-140],"id":"c9d05dce-a302-4ca4-a1d5-be332ae9dd2d","name":"Split Out1"},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=I want format of name and their contribution in sperate from this data {{ $json.data }} from each person completed there should be a horizontal line for seperation and final output should be in html format\n\nIn output I don't want to start with this ``html","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[980,480],"id":"4e377841-2c4d-4a94-9ff7-348bacfbc131","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{"temperature":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1000,680],"id":"8b262790-423d-40cd-9095-bf2a4ae6ea69","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"state\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"contributors\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"name\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t},\n\t\t\t\t\t\"contribution\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[160,700],"id":"21619acd-9f9a-405f-b13c-0393360fbd74","name":"Structured Output Parser"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1660,260],"id":"e4d3e851-97ec-48b4-871a-0d8ef21a8711","name":"Merge"}],"connections":{"Gmail Trigger1":{"main":[[{"node":"Gmail2","type":"main","index":0}]]},"Gmail2":{"main":[[{"node":"If publish date is today","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"If publish date is today":{"main":[[{"node":"Code1","type":"main","index":0}],[]]},"Code1":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"HTML1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Convert to File":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"If publish date is today1","type":"main","index":0}]]},"If publish date is today1":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Merge":{"main":[[{"node":"Gmail1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger1":{"Gmail Trigger1":{"lastTimeChecked":1746166704,"possibleDuplicates":["1968fa5687a3a431"]}}},"meta":null,"pinData":{},"versionId":"e620bee5-cc00-46a0-94d4-de9986869342","triggerCount":1,"tags":[]}