monitor-google-drive-file-changes-with-google-push-notifications-j61MK1rRx2PoWBi9.json
{"updatedAt":"2025-10-06T13:40:01.109Z","createdAt":"2025-10-06T13:40:01.109Z","id":"j61MK1rRx2PoWBi9","name":"Monitor Google Drive File Changes with Google Push Notifications","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"5cba7460-3ff9-44ac-80d8-a6d649d19dd5","name":"driveId","type":"string","value":"REPLACE_ME_DRIVE_ID"},{"id":"667d142b-d36c-4ee4-a672-dcc247649960","name":"channelId","type":"string","value":"REPLACE_ME_CUSTOM_CHANNEL_NAME"},{"id":"8f1cc4e7-2dbc-47a8-bdd4-222598531684","name":"channelToken","type":"string","value":"REPLACE_ME_CUSTOM_CHANNEL_TOKEN"},{"id":"c4446141-516d-4f44-b39e-eaff25356db6","name":"webhookUrl","type":"string","value":"={{ 'https://' + $execution.resumeUrl.extractDomain() + '/webhook/' +$('Webhook').params.path }}"}]},"options":{}},"id":"182d1915-8340-45f8-9683-c028a6e74e9b","name":"Set Variables","type":"n8n-nodes-base.set","position":[768,688],"typeVersion":3.4},{"parameters":{"url":"https://www.googleapis.com/drive/v3/changes/startPageToken","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"supportsAllDrives","value":"true"},{"name":"driveId","value":"={{ $('Set Variables').first().json.driveId }}"}]},"options":{}},"id":"639934a0-0f3a-4423-88be-518f20d680f9","name":"Get StartPageToken","type":"n8n-nodes-base.httpRequest","position":[1488,512],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/changes/watch","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"pageToken","value":"={{ $json.startPageToken }}"},{"name":"supportsAllDrives","value":"true"},{"name":"includeItemsFromAllDrives","value":"true"},{"name":"driveId","value":"={{ $('Set Variables').first().json.driveId }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"id\": \"{{ $('Set Variables').first().json.channelId }}\",\n  \"type\": \"web_hook\",\n  \"address\": \"{{ $('Set Variables').first().json.webhookUrl }}\",\n  \"token\": \"{{ $('Set Variables').first().json.channelToken }}\",\n  \"expiration\": {{ $now.plus({ \"days\": 7 }).toMillis() }}\n}","options":{}},"id":"eb723e87-b09c-457e-b4c5-3cd4bc531fc7","name":"Register Webhook","type":"n8n-nodes-base.httpRequest","position":[1664,512],"typeVersion":4.2,"credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Get the global workflow static data\nconst workflowStaticData = $getWorkflowStaticData('global');\n\nconst registration = $input.item.json;\n\n// Update its data\nconst lastPageToken = $('Get StartPageToken').first().json.startPageToken;\n\nworkflowStaticData.registration = registration;\nworkflowStaticData.lastPageToken = lastPageToken;\n\nreturn { workflowStaticData }"},"id":"77a02811-57b0-4ec3-a080-726347f8de86","name":"Save Registration to WorkflowStaticData","type":"n8n-nodes-base.code","position":[1840,512],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a490cbb7-febd-4266-8fb1-4e557ee325d2","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.headers['x-goog-channel-id'] }}","rightValue":"={{ $json.workflowStaticData.registration.id }}"},{"id":"0ce9621d-f200-4093-8b22-bfbb422790c0","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.headers['x-goog-channel-token'] }}","rightValue":"={{ $json.workflowStaticData.registration.token }}"},{"id":"4403843f-5e74-4e11-929b-1085726f12bf","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.headers['x-goog-resource-state'] }}","rightValue":"change"}]},"options":{}},"id":"7af53ef3-38ac-4af5-9f8f-951b94ce748c","name":"Is Valid Request?","type":"n8n-nodes-base.if","position":[2528,672],"typeVersion":2.2},{"parameters":{},"id":"1fb6bb8c-0a55-4403-a7d5-13d43fe48ced","name":"Invalid Request","type":"n8n-nodes-base.noOp","position":[2752,768],"typeVersion":1},{"parameters":{"url":"https://www.googleapis.com/drive/v3/changes","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"pageToken","value":"={{ $json.workflowStaticData.lastPageToken || 10000 }}"},{"name":"supportsAllDrives","value":"true"},{"name":"includeItemsFromAllDrives","value":"true"},{"name":"driveId","value":"={{ $json.driveId }}"}]},"options":{}},"id":"39f2350e-c4ac-4acd-b953-8083e2dc6f63","name":"Get Changes List","type":"n8n-nodes-base.httpRequest","position":[2752,592],"typeVersion":4.2,"credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"fieldToSplitOut":"changes","options":{}},"id":"2d8da52d-c199-4f40-a42b-de433a7ed4b9","name":"Change Events to Items","type":"n8n-nodes-base.splitOut","position":[3152,1024],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b76abb68-b859-47d9-b952-cedd0055a4f9","operator":{"type":"boolean","operation":"false","singleValue":true},"leftValue":"={{ $json.removed }}","rightValue":""},{"id":"24878191-ad0d-4572-95b5-878f1eed5f28","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.type }}","rightValue":"file"},{"id":"1b1fcda9-25e7-4b1b-ae9a-1899bbacc359","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.changeType }}","rightValue":"file"},{"id":"daf1be34-d87f-479c-adc2-e155ab3d4474","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.file.mimeType }}","rightValue":"application/pdf"}]},"options":{}},"id":"8a64e3b4-02ee-477c-ae3f-05bdb4b8a1aa","name":"Filter Changed Events","type":"n8n-nodes-base.filter","position":[3344,1024],"typeVersion":2.2},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const staticData = $getWorkflowStaticData('global');\nreturn {\n  ...$input.item.json,\n  workflowStaticData: staticData,\n  driveId: staticData.registration.resourceUri.match(/driveId=([^&]+)&/)[1]\n}"},"id":"c5960b72-2e74-4e15-9fb3-ad79525ba0f5","name":"Get Registration From WorkflowStaticData","type":"n8n-nodes-base.code","position":[2336,672],"typeVersion":2},{"parameters":{"content":"## 1. Register a Google Drive Notification Channel (Webhook)\n[Learn more about Google Drive Notification Channels](https://developers.google.com/workspace/drive/api/guides/push)\n\nWith Push Notifications, Google Drive can create a POST request to any URL when a file or folder change is detected.\nThis is greatly superior to polling as it's really efficient and reliable. Here are some notes of the variables to set:\n\n**driveId** - Unless defined, changes are monitored for all drives which is slow. Defining a drive speeds up receiving notifications considerably.\n**ChannelId** - Set a name of your notification (channel).\n**ChannelToken** - Set an auth token value for notification messages. Google will send this along with the notification payload to the webhook.\n**webhookUrl** - this is the webhook URL of the webhook trigger in this template. Feel free to change this if your webhook is somewhere else.\n\n","height":640,"width":1552,"color":7},"id":"b77a3880-e23e-4630-98ec-91fa002c8e49","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[464,368],"typeVersion":1},{"parameters":{"rule":{"interval":[{"daysInterval":6,"triggerAtHour":6}]}},"id":"7874bead-4fd5-4e62-b5ac-c88f6011513b","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[544,688],"typeVersion":1.2},{"parameters":{"content":"## 2. Listening For Push Notifications\n[Learn more about Receiving Google Drive Push Notifications](https://developers.google.com/workspace/drive/api/guides/push#receive-notifications)\n\nOnce the Google Notification Channel is set, we can now use a webhook trigger to accept the actual notification messages.\nBe aware that push notification can fire multiple times and in quick succession - especially true when working with bulk actions or file changes. You'll want to keep your calls idempotent and use something like the \"remove duplicates\" node to prevent duplicate changes being processed again.\n\n**📋 Remember to Activate the workflow to enable the Webhook trigger!**","height":640,"width":896,"color":7},"id":"b23541e7-40c3-45ba-9388-1aa9e1c2c710","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2064,368],"typeVersion":1},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/{{ $json.file.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"fields","value":"id,kind,name,createdTime,modifiedTime,mimeType,trashed,driveId,parents"},{"name":"supportsAllDrives","value":"true"}]},"options":{}},"id":"c4dd31c4-0ac6-48ae-8a68-2ad966b163f5","name":"Get Files Details","type":"n8n-nodes-base.httpRequest","position":[3536,1024],"typeVersion":4.2,"credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"content":"## 3. Update LastPageToken For Next Push Notification\n[Learn more about WorkflowStaticData](https://docs.n8n.io/code/cookbook/builtin/get-workflow-static-data/)\n\nThe page token is like a \"cursor\" and is used to bookmark where changes were last checked. We need to save and reference this token every time we perform a new check to ensure we're only getting the latest changes. For this template, we're using the `WorkflowStaticData` for our data storage but feel free to use Redis, PostgreSQL or similar.","height":416,"width":720,"color":7},"id":"e788b46e-ef9e-4355-9a77-f7684dea38c0","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[3024,368],"typeVersion":1},{"parameters":{"content":"## 4. Post-Filter the Changes List\nThe **changes list** contains events for the entire drive and can't be pre-filtered by folder. It is therefore important to post-filter the changes list to ensure you're only actioning on the events you actually want.\n\nOnce you have your events, you may then want to make the extra Google Drive API call to get the files details as the event only contains basic meta information.","height":416,"width":720,"color":7},"id":"5616ba4f-77e1-43f6-8aef-979d7085831b","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[3024,816],"typeVersion":1},{"parameters":{"content":"### ⚠️ Only Works In Production Mode!\nTo use workflowStaticData, the workflow must be run in production mode and not editor mode.\nIf you need this to work in both modes, consider switching to another data storage solution.","height":144,"width":384},"id":"4d80a5d9-00f6-40c9-9a67-e0a37fc0bbf9","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[3408,576],"typeVersion":1},{"parameters":{"content":"## Watch for Google Drive File Changes with Google Push Notifications!\n\n**Tired of being let down by the Google Drive Trigger? Rather not exhaust system resources by polling every minute? Then this workflow is for you!**\n\nGoogle drive is a great storage option for automation due to its relative simplicity, cheap costs and readily-available integrations. Using Google Drive as a trigger is the next logically step but many n8n users quickly realise the built-in Google Drive trigger just isn't that reliable. Disaster!\n\nTypically, the workaround is to poll the Google Drive search API in short intervals but the trade off is wasted server resources during inactivity. The ideal solution is of course, push notifications but they seem quite complicated to implement... or are they?\n\nThis template demonstrates that setting up **Google Push Notifications for Google Drive File Changes** actually isn't that hard! Using this approach, Google sends a POST request every time something in a drive changes which solves reliability of events and efficiency of resources.\n\n### How it works\n1. We begin with registering a **Notification channel (webhook)** with the Google Drive API. 2 key pieces of information is (a) the webhook URL which notifications will be pushed to and (b) because we want to scope to a single location, the driveId. Good to know that you can register as many as you like using http calls but you have to manage them yourself, there's no google dashboard for notification channels!\n2. The registration data along with the startPageToken are saved in `workflowStaticData` - This is a convenient persistence which we can use to hold small bits of data between executions.\n3. Now, whenever files or folders are created or updated in our target Google Drive, Google will send push notifications to our webhook trigger in this template.\n4. Once triggered, we need still need to call Google Drive's `Changes.list` to get the actual change events which were detected. we can do this with the HTTP request node.\n5. The Changes API will also return the `nextPageToken` - a marker to establish where next to get the new batch of changes. It's important that we use this token the next time we request from the changes API and so, we'll update the `workflowStaticData` with this updated value.\n6. Unfortunately, the `changes.list` API isn't able to filter change events by folder or action and so be sure to do your own set of filtering steps to get the files you want.\n7. Finally with the valid change events, optionally fetch the file metadata which gives you more attributes to play with. For example, you may want to know if the change event was triggered by n8n, in which case you'll want to check \"ModifiedByMe\" value.\n\n### How to use\n* Start with Step 1 and fill in the \"Set Variables\" node and Click on the Manual Execute Trigger. This will create a single Google Drive Notification Channel for a specific drive.\n* Activate the workflow to start recieving events from Google Drive.\n* To test, perform an action eg. create a file, on the target drive. Watch the webhook calls come pouring in!\n* Once you have the desired events, finish off this template to do something with the changed files.\n\n### Requirements\n* Google Drive Credentials. Note this workflow also works on Shared Drives.\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy Hacking!","height":1344,"width":608},"id":"f9175c4a-8583-4a43-8d00-37a94e1e78dd","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-208,-48],"typeVersion":1},{"parameters":{},"id":"24e43d23-cdc2-454e-beaf-dd7b23e8af89","name":"Do Something With These Files!","type":"n8n-nodes-base.noOp","position":[3840,1024],"typeVersion":1},{"parameters":{"content":"\n### Renewing the Notification Channel\n* All Notifications Channels have a maximum active duration of 1 week.\n* To renew an existing notification channel, you can simply call the `changes.watch` API (See \"Register Webhook\") with the same variables.\n* This is why we use a scheduled trigger here to run the registration every 6 days.","width":608,"color":7},"id":"8f6b029f-1f5b-4021-8f01-f0d2f1beea56","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1328,720],"typeVersion":1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Get the global workflow static data\nconst workflowStaticData = $getWorkflowStaticData('global');\n\n// Update its data\nconst lastPageToken = $json.newStartPageToken || $json.nextPageToken;\n\nworkflowStaticData.lastPageToken = lastPageToken;\n\nreturn { workflowStaticData }"},"id":"147b711d-1fd9-4170-906a-23457d35ec8f","name":"Save NextPageToken to WorkflowStaticData","type":"n8n-nodes-base.code","position":[3184,592],"typeVersion":2},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return $getWorkflowStaticData('global') ?? {};"},"id":"f5818e39-bf1e-4483-adb3-0093ef4b3a12","name":"Get Registration","type":"n8n-nodes-base.code","position":[944,688],"typeVersion":2},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### ⚠️ Edit me!\nAdd your details here and the template will do the rest.","height":304,"width":192},"id":"9b8b369c-a8c7-4f37-a638-b77463063e56","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[720,640],"typeVersion":1},{"parameters":{},"id":"3da31e60-645c-4198-b2e4-f4062f6d8fd4","name":"First Run? Click Here!","type":"n8n-nodes-base.manualTrigger","position":[544,1072],"typeVersion":1},{"parameters":{"content":"![](https://cdn.subworkflow.ai/n8n-templates/banner_595x311.png#full-width)","height":336,"width":608},"id":"1b30c428-2385-472b-8224-228eee2a10e2","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-208,1328],"typeVersion":1},{"parameters":{"httpMethod":"POST","path":"44fac054-fc68-4360-9069-377bd3c6bc40","options":{}},"id":"f1c69c3e-e2c0-401d-ab57-e5ee60c1c303","name":"Webhook","type":"n8n-nodes-base.webhook","position":[2128,672],"webhookId":"44fac054-fc68-4360-9069-377bd3c6bc40","typeVersion":2},{"parameters":{"inputSource":"passthrough"},"id":"13fa9f52-902e-4bce-bd5b-b8110da7a005","name":"Subworkflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[544,832],"typeVersion":1.1},{"parameters":{"method":"POST","url":"https://www.googleapis.com/drive/v3/channels/stop","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"id","value":"={{ $json.registration?.id ?? $('Set Variables').first().json.channelId }}"},{"name":"resourceId","value":"={{ $json.registration?.resourceId }}"},{"name":"token","value":"={{ $json.registration?.token ?? $('Set Variables').first().json.channelToken }}"}]},"options":{}},"id":"457a0b05-5e45-4988-8d8d-ba472859162c","name":"Stop Any Existing Notifications","type":"n8n-nodes-base.httpRequest","position":[1120,688],"typeVersion":4.2,"credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"each","options":{}},"id":"9850ca73-fe44-4284-bbc6-f6993fa22056","name":"Register Notification Channel","type":"n8n-nodes-base.executeWorkflow","position":[752,1072],"typeVersion":1.2}],"connections":{"Set Variables":{"main":[[{"node":"Get Registration","type":"main","index":0}]]},"Get StartPageToken":{"main":[[{"node":"Register Webhook","type":"main","index":0}]]},"Register Webhook":{"main":[[{"node":"Save Registration to WorkflowStaticData","type":"main","index":0}]]},"Is Valid Request?":{"main":[[{"node":"Get Changes List","type":"main","index":0}],[{"node":"Invalid Request","type":"main","index":0}]]},"Get Changes List":{"main":[[{"node":"Save NextPageToken to WorkflowStaticData","type":"main","index":0},{"node":"Change Events to Items","type":"main","index":0}]]},"Change Events to Items":{"main":[[{"node":"Filter Changed Events","type":"main","index":0}]]},"Filter Changed Events":{"main":[[{"node":"Get Files Details","type":"main","index":0}]]},"Get Registration From WorkflowStaticData":{"main":[[{"node":"Is Valid Request?","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Variables","type":"main","index":0}]]},"Get Files Details":{"main":[[{"node":"Do Something With These Files!","type":"main","index":0}]]},"Get Registration":{"main":[[{"node":"Stop Any Existing Notifications","type":"main","index":0}]]},"First Run? Click Here!":{"main":[[{"node":"Register Notification Channel","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get Registration From WorkflowStaticData","type":"main","index":0}]]},"Subworkflow Trigger":{"main":[[{"node":"Set Variables","type":"main","index":0}]]},"Stop Any Existing Notifications":{"main":[[{"node":"Get StartPageToken","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"3c50d183-1f1e-483a-bf24-ed8cd13aab03","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T13:40:01.243Z","createdAt":"2025-10-06T13:40:01.243Z","role":"workflow:owner","workflowId":"j61MK1rRx2PoWBi9","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}