my-workflow-46-QQG2MxFZmQz70kcq.json
{"updatedAt":"2025-11-25T07:49:39.000Z","createdAt":"2025-11-11T05:20:53.710Z","id":"QQG2MxFZmQz70kcq","name":"My workflow 46","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"5be88317-284f-40f3-aad1-e5698a16e7f7","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Execute to Start","type":"n8n-nodes-base.manualTrigger","creator":"Lucas Peyrin","position":[-4160,2032],"typeVersion":1,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"assignments":{"assignments":[{"id":"e87952cb-878e-4feb-8261-342eaf887838","name":"json_example_string","type":"string","value":"This is a simple string. In JSON, it's always enclosed in double quotes."}]},"options":{}},"id":"45cc7f24-da68-422f-80a6-9c50f210688e","cid":"Ikx1Y2FzIFBleXJpbiI","name":"String","type":"n8n-nodes-base.set","creator":"Lucas Peyrin","position":[-2800,912],"typeVersion":3.4,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"assignments":{"assignments":[{"id":"e87952cb-878e-4feb-8261-342eaf887838","name":"key","type":"string","value":"value"},{"id":"b5f030f4-6650-4181-881f-de44790bb24b","name":"another_key","type":"string","value":"another_value"}]},"options":{}},"id":"080db05e-cf65-4c0f-871d-84b9fee968b3","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Key & Value","type":"n8n-nodes-base.set","creator":"Lucas Peyrin","position":[-3088,912],"typeVersion":3.4,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"assignments":{"assignments":[{"id":"e87952cb-878e-4feb-8261-342eaf887838","name":"json_example_integer","type":"number","value":10},{"id":"12345","name":"json_example_float","type":"number","value":12.5}]},"options":{}},"id":"192e7482-b7fc-41a8-b480-cc7706066d57","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Number","type":"n8n-nodes-base.set","creator":"Lucas Peyrin","position":[-2512,912],"typeVersion":3.4,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"assignments":{"assignments":[{"id":"e87952cb-878e-4feb-8261-342eaf887838","name":"json_example_boolean","type":"boolean","value":false}]},"options":{}},"id":"fae06f60-fb13-42f8-8e5a-055208ccf579","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Boolean","type":"n8n-nodes-base.set","creator":"Lucas Peyrin","position":[-2224,912],"typeVersion":3.4,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"assignments":{"assignments":[{"id":"e87952cb-878e-4feb-8261-342eaf887838","name":"json_example_array","type":"array","value":"[\"first element\", 2, false, null]"}]},"options":{}},"id":"bf8e2886-1730-4b05-80cb-5df3f886e976","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Array","type":"n8n-nodes-base.set","creator":"Lucas Peyrin","position":[-1648,912],"typeVersion":3.4,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"assignments":{"assignments":[{"id":"e87952cb-878e-4feb-8261-342eaf887838","name":"json_example_object","type":"object","value":"{\"key\":\"value\",\"array\":[1,2,3],\"boolean\":false,\"integer\":123,\"sub_object\":{\"sub_key\":\"Find me!\"}}"}]},"options":{}},"id":"8766e957-c8e9-45dc-a83c-0fa999370314","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Object","type":"n8n-nodes-base.set","creator":"Lucas Peyrin","position":[-1344,912],"typeVersion":3.4,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"#### The Heart of JSON: Key & Value\n\nEverything in JSON is built on this pair:\n- A **Key** (the name of the data, always in double quotes `\"`).\n- A **Value** (the data itself).\n\n\n`\"key\": \"value\"`\n\nIn this node's output, you see two key/value pairs. This is the basic building block for everything that follows.","height":516,"width":260,"color":7},"id":"802a772d-4893-4068-9a6a-c653167d91f5","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","creator":"Lucas Peyrin","position":[-3168,560],"typeVersion":1,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"#### Data Type: String\n\nA string is simply **text**.\n- **Syntax:** The text is always enclosed in double quotes `\" \"`.\n\n\nLook at the output: the value of `json_example_string` is the text we defined.","height":516,"width":260,"color":7},"id":"de70449c-685b-4c7f-9c5f-79c4f4e30922","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","creator":"Lucas Peyrin","position":[-2880,560],"typeVersion":1,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"#### Data Type: Number\n\nThis is simply a number. It can be a whole number (integer) like 10, or a decimal (float) like 12.5.\n- **Syntax:** Just write the number directly, **WITHOUT quotes**.\n\n\n`\"age\": 30` (Correct)\n`\"age\": \"30\"` (Incorrect, this is a String!)\n\nThis distinction is crucial for doing math!","height":516,"width":260,"color":7},"id":"d7207807-31ad-4a4b-bef5-9eae97786bf6","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","creator":"Lucas Peyrin","position":[-2592,560],"typeVersion":1,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"#### Data Type: Boolean\n\nThis is a value that can only be **TRUE** or **FALSE**.\n- **Syntax:** `true` or `false` (always lowercase and **WITHOUT quotes**).\n\n\nThink of it like a light switch: on (`true`) or off (`false`). It's very useful for conditions (If/Then logic).","height":516,"width":260,"color":7},"id":"3a469ed5-f56b-4fba-ad36-37330fd6cc0b","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","creator":"Lucas Peyrin","position":[-2304,560],"typeVersion":1,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"#### Data Type: Array\n\nAn array is an **ordered list** of items.\n- **Syntax:** Starts with `[` and ends with `]`. Items are separated by commas.\n\n\nAn array can hold anything: strings, numbers, booleans, and even other arrays or objects!","height":516,"width":260,"color":7},"id":"9177095f-85b6-43bf-9b77-d4fe143f3956","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","creator":"Lucas Peyrin","position":[-1728,560],"typeVersion":1,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"#### Data Type: Object (JSON Object)\n\nThis is the main concept! An object is a **collection of key/value pairs**.\n- **Syntax:** Starts with `{` and ends with `}`.\n\n\nThis is what allows us to structure complex data, like our contact card from the beginning. Notice how this object contains all the other data types we've seen!","height":516,"width":280,"color":7},"id":"50472490-b07d-4261-a0fc-f4c691f9c642","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","creator":"Lucas Peyrin","position":[-1440,560],"typeVersion":1,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"assignments":{"assignments":[{"id":"e87952cb-878e-4feb-8261-342eaf887838","name":"json_example_null","type":"null","value":{}}]},"options":{}},"id":"85cd65f7-3f11-457c-9192-e09ad2c40006","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Null","type":"n8n-nodes-base.set","creator":"Lucas Peyrin","position":[-1936,912],"typeVersion":3.4,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"#### Data Type: Null\n\nThis special type means \"nothing,\" \"no value,\" or \"empty.\"\n- **Syntax:** `null` (lowercase and **WITHOUT quotes**).\n\n\nIt's different from `0` (which is a number) or `\"\"` (which is an empty string). `null` is the intentional absence of a value.","height":516,"width":260,"color":7},"id":"7d8bba1e-317b-4339-95ae-da7585f79b02","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","creator":"Lucas Peyrin","position":[-2016,560],"typeVersion":1,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"assignments":{"assignments":[{"id":"e87952cb-878e-4feb-8261-342eaf887838","name":"message","type":"string","value":"=Hello, the number from the tutorial is: {{ $('Number').item.json.json_example_integer }}"},{"id":"61f385f4-b8e2-4c69-b873-9ffc3ab3fe94","name":"sub_key","type":"string","value":"={{ $json.json_example_object.sub_object.sub_key }}"},{"id":"bd752a0f-64bf-44b1-b39b-fca28e86aa5b","name":"array_second_item","type":"string","value":"={{ $json.json_example_object.array[1] }}"}]},"options":{}},"id":"96cabb36-73b6-4106-89a2-a48a9dda327c","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Using JSON (Expressions)","type":"n8n-nodes-base.set","creator":"Lucas Peyrin","position":[-1008,912],"typeVersion":3.4,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"#### ⭐ THE KEY STEP: Using JSON in n8n!\n\nNow for the magic. How do you use data from a previous node? With **expressions** `{{ }}`.\n\nThis node creates a custom message. Look at the value of the `message` field:\n`Hello, the number from the tutorial is: {{ $('Number').item.json.json_example_integer }}`\n\nIt dynamically pulled the number `10` from the \"Number\" node! This is how you make your nodes talk to each other.","height":516,"width":340,"color":5},"id":"aae9073d-6c18-49d5-ba81-b1c143ccef38","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","creator":"Lucas Peyrin","position":[-1136,560],"typeVersion":1,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"assignments":{"assignments":[{"id":"e87952cb-878e-4feb-8261-342eaf887838","name":"summary_string","type":"string","value":"={{ $('String').item.json.json_example_string }}"},{"id":"12345","name":"summary_number","type":"number","value":"={{ $('Number').item.json.json_example_integer }}"},{"id":"67890","name":"summary_boolean","type":"boolean","value":"={{ $('Boolean').item.json.json_example_boolean }}"},{"id":"abcde","name":"summary_null","type":"null","value":"={{ $('Null').item.json.json_example_null }}"},{"id":"fghij","name":"summary_array","type":"array","value":"={{ $('Array').item.json.json_example_array }}"},{"id":"klmno","name":"summary_object","type":"object","value":"={{ $('Object').item.json.json_example_object }}"}]},"options":{}},"id":"d33154e7-62df-4c7c-94b6-1eda26e11588","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Final Exam","type":"n8n-nodes-base.set","creator":"Lucas Peyrin","position":[-656,912],"typeVersion":3.4,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"#### 🎓 FINAL EXAM: Putting It All Together\n\nThis last node creates a final object by using expressions to pull data from **all the previous nodes**.\n\nClick on this node and look at the expressions in each field. It's a perfect summary of everything you've learned.\n\n**Congratulations! You now understand the basics of JSON and how to use it in n8n.**","height":516,"width":340,"color":6},"id":"74ff6cb1-9c8c-4713-ae8f-523b6548a838","cid":"Ikx1Y2FzIFBleXJpbiI","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","creator":"Lucas Peyrin","position":[-768,560],"typeVersion":1,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Success</title>\n</head>\n<body style=\"margin: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background-color: #f0f2f5; display: flex; align-items: center; justify-content: center; height: 100vh;\">\n\n    <!-- The main success card -->\n    <div style=\"background-color: #ffffff; padding: 40px 50px; border-radius: 12px; box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1); text-align: center; max-width: 400px; margin: 20px;\">\n\n        <!-- Circular Green Checkmark -->\n        <div style=\"width: 100px; height: 100px; background-color: #28a745; border-radius: 50%; margin: 0 auto 25px auto; display: flex; align-items: center; justify-content: center;\">\n            <span style=\"color: white; font-size: 60px; line-height: 1;\">✔</span>\n        </div>\n\n        <!-- Main Text -->\n        <h1 style=\"font-size: 36px; font-weight: 600; color: #333; margin: 0 0 10px 0;\">\n            Success!\n        </h1>\n\n        <!-- Call to Action Text & Link -->\n        <p style=\"font-size: 16px; color: #555; line-height: 1.5; margin: 0;\">\n            To go further, you can\n         </p>\n        <p style=\"font-size: 16px; color: #555; line-height: 1.5; margin: 0;\">\n            <a href=\"https://n8n.io/creators/lucaspeyrin\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"color: #007bff; text-decoration: none; font-weight: 500;\">check out more templates</a>.\n        </p>\n\n    </div>\n\n</body>\n</html>"},"id":"ec6492e1-6e26-4a75-8ab5-e3ef0abe3b1a","name":"🎉 SUCCESS 🎉","type":"n8n-nodes-base.html","position":[1200,2032],"notesInFlow":true,"typeVersion":1.2,"notes":"Well done! You're awesome\n\n© 2025 Lucas Peyrin"},{"parameters":{"content":"### Step 2: Number\n\nModify the **\"Test - Number\"** node.\n\n**Task:** Create a JSON object with two keys:\n- `product_id` with the number `12345`\n- `price` with the decimal number `99.99`\n\n\n![Numbers](https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHE0eWdiMzg5bG4ya3U0am05MHgweGp3dXE2OWtvZGpwdng2ZzhxayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/JBRR744Ozd0xLhksLw/giphy.gif)","height":508,"width":300,"color":6},"id":"c81504d8-14e3-44f0-aad2-658c1948344a","name":"Instruction - Number","type":"n8n-nodes-base.stickyNote","position":[-3040,1712],"typeVersion":1},{"parameters":{"content":"❌ **Incorrect.**\n\n**Hint:** Numbers must not be in quotes. Check both the integer and the decimal value.","height":320,"color":7},"id":"557d05c3-33b9-4dfc-a372-893300388b54","name":"Feedback Incorrect2","type":"n8n-nodes-base.stickyNote","position":[-2528,2096],"typeVersion":1},{"parameters":{"content":"### Step 3: Boolean\n\nModify the **\"Test - Boolean\"** node.\n\n**Task:** Create a JSON object with two keys:\n- `is_active` with the value `true`\n- `has_permission` with the value `false`\n\n\n![Boolean](https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYWdzOGFzY2c1enhmZmFwY2s5cmxmaDJwMm1rbXZ3b2wxYmZzcTQ5diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/x2NtwIIIICGZXhDNrb/giphy.gif)","height":700,"width":316,"color":6},"id":"34113782-0bfc-4e7e-a908-8ba7535a5f56","name":"Instruction - Boolean","type":"n8n-nodes-base.stickyNote","position":[-2224,1632],"typeVersion":1},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"is_active\": ,\n  \"has_permission\": \n}\n","options":{}},"id":"4a18a508-6062-409f-8395-c35169ee2007","name":"Test - Boolean","type":"n8n-nodes-base.set","position":[-2112,2032],"typeVersion":3.4,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"d4e5f6a7-8901-2345-6789-0abcdef12345","operator":{"type":"boolean","operation":"equals"},"leftValue":"={{ $json.is_active }}","rightValue":true},{"id":"e5f6a789-0123-4567-890a-bcdef1234567","operator":{"type":"boolean","operation":"equals"},"leftValue":"={{ $json.has_permission }}","rightValue":false}]},"options":{}},"id":"3e68daaa-b069-4de7-ad0c-60d571f3c932","name":"Check - Boolean","type":"n8n-nodes-base.if","position":[-1856,2032],"typeVersion":2.2,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"✅ **Correct!**\n\nNow for the `null` value.","height":272,"color":7},"id":"887650d9-fa55-4ca3-87ed-9d61642b8382","name":"Feedback Correct3","type":"n8n-nodes-base.stickyNote","position":[-1696,1808],"typeVersion":1},{"parameters":{},"id":"dba4b423-31d6-4026-90c2-7f82766f8b32","name":"Success - Boolean","type":"n8n-nodes-base.noOp","position":[-1632,1920],"typeVersion":1,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"❌ **Incorrect.**\n\n**Hint:** Boolean values are `true` or `false` and must be written without any quotes.","height":320,"color":7},"id":"2b3aef92-77ca-4935-85a0-1d0f5dbef5e8","name":"Feedback Incorrect3","type":"n8n-nodes-base.stickyNote","position":[-1696,2096],"typeVersion":1},{"parameters":{"errorMessage":"Incorrect Boolean. Hint: Boolean values are `true` or `false` and must be written without any quotes."},"id":"b1f0ee96-fa5a-411f-823a-1ba0e05a886e","name":"Error - Boolean","type":"n8n-nodes-base.stopAndError","position":[-1632,2256],"typeVersion":1,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"is_active\": true,\n  \"has_permission\": false\n}\n","options":{}},"id":"94104dcb-d52e-446a-ade9-28464ff2a9e4","name":"Answer - Boolean","type":"n8n-nodes-base.set","position":[-2112,2480],"typeVersion":3.4,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"### Step 4: Null\n\nModify the **\"Test - Null\"** node.\n\n**Task:** Create a JSON object with a key `middle_name` whose value is explicitly nothing, or `null`.\n\n\n![Null](https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExOXF0NG9pYWw2OXRiZGV0bTA1MGoyY3h2MXNjaWY0a2Iydjc1eHh0ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/05dgux7TEBbY4VxAlb/giphy.gif)","height":492,"width":316,"color":6},"id":"260c1213-4ed8-4bd8-ab54-5c1fefda653e","name":"Instruction - Null","type":"n8n-nodes-base.stickyNote","position":[-1408,1744],"typeVersion":1},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"middle_name\": \n}\n","options":{}},"id":"ad60d5cb-18b8-44e7-9b40-1caca73ad2d9","name":"Test - Null","type":"n8n-nodes-base.set","position":[-1296,2032],"typeVersion":3.4,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"✅ **Correct!**\n\nExcellent. Time for arrays.","height":272,"color":7},"id":"feb7f764-73ef-43a0-a0c0-6d46bd80c8ba","name":"Feedback Correct4","type":"n8n-nodes-base.stickyNote","position":[-880,1808],"typeVersion":1},{"parameters":{},"id":"064177d3-5440-4e1d-84a9-98bc23ed1be7","name":"Success - Null","type":"n8n-nodes-base.noOp","position":[-816,1920],"typeVersion":1,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"errorMessage":"Incorrect Null. Hint: The `null` value represents 'nothing' and is written as `null` without quotes."},"id":"91d0f6a6-4b4a-4581-8a19-7992b2729ef3","name":"Error - Null","type":"n8n-nodes-base.stopAndError","position":[-816,2256],"typeVersion":1,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"middle_name\": null\n}\n","options":{}},"id":"dd522d55-f41a-4775-b102-5eed1ebe8502","name":"Answer - Null","type":"n8n-nodes-base.set","position":[-1296,2384],"typeVersion":3.4,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"### Step 5: Array\n\nModify the **\"Test - Array\"** node.\n\n**Task:** Create a JSON object with a key `tags` which is an array containing:\n- The string `'n8n'`\n- The string `'automation'`\n- The number `2024`\n\n\n![Array](https://media1.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3dmxsZzN2Y3o5NHRqdGk2eHRmdmoycmdiYjFqMW90eGY1c3c2aGQ3MSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/Iv6s8zUIyIfnXBp6B8/200.webp)","height":530,"width":300,"color":6},"id":"3632c0b2-716c-4431-978c-761f8e7d819c","name":"Instruction - Array","type":"n8n-nodes-base.stickyNote","position":[-560,1680],"typeVersion":1},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"tags\": \n}\n","options":{}},"id":"0094b528-4d10-4fc2-826c-775afd3c5db6","name":"Test - Array","type":"n8n-nodes-base.set","position":[-448,2032],"typeVersion":3.4,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b0123456-7890-abcd-ef12-345678901234","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.tags[0] }}","rightValue":"n8n"},{"id":"c1234567-890a-bcde-f123-456789012345","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.tags[1] }}","rightValue":"automation"},{"id":"d2345678-90ab-cdef-1234-567890123456","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.tags[2] }}","rightValue":2024}]},"options":{}},"id":"cb03ef32-536d-486b-b89e-5cadad9ee233","name":"Check - Array","type":"n8n-nodes-base.if","position":[-208,2032],"typeVersion":2.2,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"✅ **Correct!**\n\nAlmost there. Last one: objects.","height":272,"color":7},"id":"5230ecd1-a61f-4de8-a828-08b5fdce274a","name":"Feedback Correct5","type":"n8n-nodes-base.stickyNote","position":[-48,1808],"typeVersion":1},{"parameters":{},"id":"d885b72f-d700-46ac-bb18-3f9017512436","name":"Success - Array","type":"n8n-nodes-base.noOp","position":[16,1920],"typeVersion":1,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"❌ **Incorrect.**\n\n**Hint:** Check the order of items, data types (string vs number), and the syntax: `[` `]` `,`.","height":320,"color":7},"id":"10026527-88f9-44f9-8fdd-a6dc88ec91f5","name":"Feedback Incorrect5","type":"n8n-nodes-base.stickyNote","position":[-48,2096],"typeVersion":1},{"parameters":{"errorMessage":"Incorrect Array. Hint: Check the order of items, data types (string vs number), and the syntax: `[` `]` `,`."},"id":"1907e88b-756b-49d7-9c18-939366c9f3c0","name":"Error - Array","type":"n8n-nodes-base.stopAndError","position":[16,2256],"typeVersion":1,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"tags\": [\"n8n\", \"automation\", 2024]\n}\n","options":{}},"id":"9541de5f-b1f7-47fb-96dd-1eb34f72b048","name":"Answer - Array","type":"n8n-nodes-base.set","position":[-448,2368],"typeVersion":3.4,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"### Step 6: Object\n\nModify the **\"Test - Object\"** node.\n\n**Task:** Create a JSON object with a key `user`. Its value should be *another object* with two keys:\n- `name` (string: `'Alex'`)\n- `id` (number: `987`)\n\n\n![Object](https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZmlwNHlld3ZpbjF2eGg1Z3hndGxpN3RsMDQ5MmYyNDh6cjE1YWN3OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/AiPHa8Drgklos/giphy.gif)","height":482,"width":316,"color":6},"id":"1787a05e-b4b7-4d3a-9762-88ffdc5a8cb5","name":"Instruction - Object","type":"n8n-nodes-base.stickyNote","position":[240,1728],"typeVersion":1},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"user\": \n}\n","options":{}},"id":"46afac32-b354-4071-ad94-5bd58c42d0ce","name":"Test - Object","type":"n8n-nodes-base.set","position":[352,2032],"typeVersion":3.4,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a1234567-890a-bcde-f123-456789012345","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.user.name }}","rightValue":"Alex"},{"id":"b2345678-90ab-cdef-1234-567890123456","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.user.id }}","rightValue":987}]},"options":{}},"id":"ae8a3fb4-4baa-4f8f-acce-ab3cfef27d2e","name":"Check - Object","type":"n8n-nodes-base.if","position":[608,2032],"typeVersion":2.2,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"✅ **YOU DID IT!**","height":240,"color":7},"id":"969c3022-5e61-46d3-8ec1-03ae6e80cf97","name":"Feedback Correct6","type":"n8n-nodes-base.stickyNote","position":[768,1840],"typeVersion":1},{"parameters":{},"id":"2cfa5a65-f549-482f-82eb-754d6d8b53d8","name":"Success - Object","type":"n8n-nodes-base.noOp","position":[832,1920],"typeVersion":1,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"❌ **Incorrect.**\n\n**Hint:** Remember to wrap the inner object in curly braces `{}` and check the data types inside it.","height":320,"color":7},"id":"c0f6e7df-0a33-4fe4-87c5-1b0d6e1f03fa","name":"Feedback Incorrect6","type":"n8n-nodes-base.stickyNote","position":[768,2096],"typeVersion":1},{"parameters":{"errorMessage":"Incorrect Object. Hint: Remember to wrap the inner object in curly braces `{}` and check the data types inside it."},"id":"0c71b24b-31de-4531-abff-2553fe30d021","name":"Error - Object","type":"n8n-nodes-base.stopAndError","position":[832,2256],"typeVersion":1,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"user\": {\n    \"name\": \"Alex\",\n    \"id\": 987\n  }\n}\n","options":{}},"id":"2c47aee0-d82e-48a0-99ec-8b3c4365826a","name":"Answer - Object","type":"n8n-nodes-base.set","position":[352,2368],"typeVersion":3.4,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"🎉 **Congratulations! You've passed the test!**\n\nYou have successfully demonstrated your understanding of all the basic JSON data types.\n\nYou are now ready to work with data in n8n.\n\n-- Well done! --","height":576,"width":416,"color":4},"id":"a99ee32a-c904-421d-bd6e-33f4466528d7","name":"Congratulations!","type":"n8n-nodes-base.stickyNote","position":[1040,1840],"typeVersion":1},{"parameters":{"content":"### Step 1: The String\n\nModify the **\"Test - String\"** node below.\n\n**Task:** Create a JSON object with a single key named `my_string` whose value is the text `I love automation`.","height":396,"width":300,"color":6},"id":"31e2cf3c-cd2d-4428-8519-03f592f6437d","name":"Instruction - String1","type":"n8n-nodes-base.stickyNote","position":[-3856,1808],"typeVersion":1},{"parameters":{"content":"✅ **Correct!**\n\nLet's move on to numbers.","height":272,"color":7},"id":"d30b10f9-8a79-466c-8d42-dced3ece4fa0","name":"Feedback Correct1","type":"n8n-nodes-base.stickyNote","position":[-3344,1808],"typeVersion":1},{"parameters":{"content":"❌ **Incorrect.**\n\n**Hint:** A string value must always be enclosed in double quotes `\" \"`. Check for typos!","height":320,"color":7},"id":"a288953a-5c49-4d5a-b5ad-2025c3db9b4d","name":"Feedback Incorrect1","type":"n8n-nodes-base.stickyNote","position":[-3344,2096],"typeVersion":1},{"parameters":{"content":"✅ **Correct!**\n\nLet's move on to booleans.","height":272,"color":7},"id":"cf675635-0cdf-4cb4-86f3-6ea8ce652efd","name":"Feedback Correct7","type":"n8n-nodes-base.stickyNote","position":[-2528,1808],"typeVersion":1},{"parameters":{"content":"❌ **Incorrect.**\n\n**Hint:** The `null` value represents 'nothing' and is written as `null` without quotes.","height":320,"color":7},"id":"e2c08c1d-d90d-478f-9937-a3bbb7829eda","name":"Feedback Incorrect7","type":"n8n-nodes-base.stickyNote","position":[-880,2096],"typeVersion":1},{"parameters":{"content":"💡 **Answer Key**\n\nThis node contains the correct JSON for the **Number** step. You can use it as a reference if you get stuck.","height":304,"width":304,"color":7},"id":"a4616dff-571c-48d4-9ed3-a502dfb88c28","name":"Answer Note - Number","type":"n8n-nodes-base.stickyNote","position":[-3040,2240],"typeVersion":1},{"parameters":{"content":"💡 **Answer Key**\n\nThis node contains the correct JSON for the **Boolean** step. You can use it as a reference if you get stuck.","height":288,"width":320,"color":7},"id":"9e4db4e4-83f9-4f07-b62a-b557e77caf15","name":"Answer Note - Boolean","type":"n8n-nodes-base.stickyNote","position":[-2224,2352],"typeVersion":1},{"parameters":{"content":"💡 **Answer Key**\n\nThis node contains the correct JSON for the **Null** step. You can use it as a reference if you get stuck.","height":288,"width":320,"color":7},"id":"aff214b1-7716-4ae4-af00-46f7f5f73b82","name":"Answer Note - Null","type":"n8n-nodes-base.stickyNote","position":[-1408,2256],"typeVersion":1},{"parameters":{"content":"💡 **Answer Key**\n\nThis node contains the correct JSON for the **Array** step. You can use it as a reference if you get stuck.","height":304,"width":304,"color":7},"id":"cd9b77b0-ec29-4972-9461-b27c22559ba2","name":"Answer Note - Array","type":"n8n-nodes-base.stickyNote","position":[-560,2224],"typeVersion":1},{"parameters":{"content":"💡 **Answer Key**\n\nThis node contains the correct JSON for the **Object** step. You can use it as a reference if you get stuck.","height":304,"width":320,"color":7},"id":"c8158db1-519f-44e6-a23f-fbb5914ca871","name":"Answer Note - Object","type":"n8n-nodes-base.stickyNote","position":[240,2224],"typeVersion":1},{"parameters":{"mode":"raw","jsonOutput":"{\n    \"key\": \"value\",\n    \"another_key\": \"another_value\"\n  \n}\n","options":{}},"id":"01f7053c-2621-41ab-a7b4-2866618fbf15","name":"Test - String","type":"n8n-nodes-base.set","position":[-3760,2032],"typeVersion":3.4,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"5ac1af5c-2769-42f8-9df7-ec092d2fec05","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.my_string.trim().toLowerCase() }}","rightValue":"i love automation"}]},"options":{}},"id":"373021d9-33b9-4425-a9b0-1783e2ff4675","name":"Check - String","type":"n8n-nodes-base.if","position":[-3504,2032],"typeVersion":2.2,"notes":"© 2025 Lucas Peyrin"},{"parameters":{},"id":"a2c4bd0d-0a69-445b-8b0a-ab2101c9512e","name":"Success - String","type":"n8n-nodes-base.noOp","position":[-3280,1920],"typeVersion":1,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"errorMessage":"Incorrect String. Hint: A string value must always be enclosed in double quotes `\" \"`. Check for typos!"},"id":"6c77583c-a9fd-43a4-8e8c-859a2a3d68ba","name":"Error - String","type":"n8n-nodes-base.stopAndError","position":[-3280,2256],"typeVersion":1,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"product_id\": ,\n  \"price\": \n}\n","options":{}},"id":"77192374-53c1-469a-ba1a-f5bdfbd727fa","name":"Test - Number","type":"n8n-nodes-base.set","position":[-2944,2032],"typeVersion":3.4,"disabled":true,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"5ac1af5c-2769-42f8-9df7-ec092d2fec05","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.product_id }}","rightValue":12345},{"id":"7c1937fa-393c-4b5c-88f5-788df2f99295","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.price }}","rightValue":99.99}]},"options":{}},"id":"944c5a65-793f-4a43-8b0f-3897521d4e22","name":"Check - Number","type":"n8n-nodes-base.if","position":[-2688,2032],"typeVersion":2.2,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"errorMessage":"Incorrect Number. Hint: Numbers must not be in quotes. Check both the integer and the decimal value."},"id":"b0f3399c-2e95-42ef-8606-8c75b89e711f","name":"Error - Number","type":"n8n-nodes-base.stopAndError","position":[-2464,2256],"typeVersion":1,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"product_id\": 12345,\n  \"price\": 99.99\n}\n","options":{}},"id":"07506e3b-1b92-4898-9358-67019c49378f","name":"Answer - Number","type":"n8n-nodes-base.set","position":[-2944,2384],"typeVersion":3.4,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"my_string\": \"I love automation\"\n}\n","options":{}},"id":"ce0afb95-c44c-4c9a-9f82-542107dc10f5","name":"Answer - String","type":"n8n-nodes-base.set","position":[-3760,2368],"typeVersion":3.4,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"💡 **Answer Key**\n\nThis node contains the correct JSON for the **String** step. You can use it as a reference if you get stuck.","height":304,"width":304,"color":7},"id":"db93b216-e436-4e1a-9356-4d963e5e0d11","name":"Answer Note - String","type":"n8n-nodes-base.stickyNote","position":[-3856,2224],"typeVersion":1},{"parameters":{},"id":"6bc7bf1a-ad5a-4315-a368-8291707620c0","name":"Success - Number","type":"n8n-nodes-base.noOp","position":[-2464,1920],"typeVersion":1,"notes":"© 2025 Lucas Peyrin"},{"parameters":{"content":"[![Test Skills](https://supastudio.ia2s.app/storage/v1/object/public/assets/n8n/n8n_animation.gif)](https://n8n.io/creators/lucaspeyrin)","height":184,"width":272,"color":4},"id":"c5588299-d67f-4928-8a2d-2aa592747154","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","position":[1120,2192],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b0123456-7890-abcd-ef12-345678901234","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.middle_name }}","rightValue":"n8n"}]},"options":{}},"id":"c5e3f3ee-6976-4f6b-a052-ca3dc8dff16e","name":"Check - Null","type":"n8n-nodes-base.if","position":[-1040,2032],"typeVersion":2.2,"notes":"© 2025 Lucas Peyrin"}],"connections":{"Null":{"main":[[{"node":"Array","type":"main","index":0}]]},"Array":{"main":[[{"node":"Object","type":"main","index":0}]]},"Number":{"main":[[{"node":"Boolean","type":"main","index":0}]]},"Object":{"main":[[{"node":"Using JSON (Expressions)","type":"main","index":0}]]},"String":{"main":[[{"node":"Number","type":"main","index":0}]]},"Boolean":{"main":[[{"node":"Null","type":"main","index":0}]]},"Key & Value":{"main":[[{"node":"String","type":"main","index":0}]]},"Execute to Start":{"main":[[{"node":"Test - String","type":"main","index":0}]]},"Using JSON (Expressions)":{"main":[[{"node":"Final Exam","type":"main","index":0}]]},"Test - Null":{"main":[[{"node":"Check - Null","type":"main","index":0}]]},"Check - Null":{"main":[[{"node":"Success - Null","type":"main","index":0}],[{"node":"Error - Null","type":"main","index":0}]]},"Test - Array":{"main":[[{"node":"Check - Array","type":"main","index":0}]]},"Check - Array":{"main":[[{"node":"Success - Array","type":"main","index":0}],[{"node":"Error - Array","type":"main","index":0}]]},"Test - Number":{"main":[[{"node":"Check - Number","type":"main","index":0}]]},"Test - Object":{"main":[[{"node":"Check - Object","type":"main","index":0}]]},"Test - String":{"main":[[{"node":"Check - String","type":"main","index":0}]]},"Check - Number":{"main":[[{"node":"Success - Number","type":"main","index":0}],[{"node":"Error - Number","type":"main","index":0}]]},"Check - Object":{"main":[[{"node":"Success - Object","type":"main","index":0}],[{"node":"Error - Object","type":"main","index":0}]]},"Check - String":{"main":[[{"node":"Success - String","type":"main","index":0}],[{"node":"Error - String","type":"main","index":0}]]},"Success - Null":{"main":[[{"node":"Test - Array","type":"main","index":0}]]},"Test - Boolean":{"main":[[{"node":"Check - Boolean","type":"main","index":0}]]},"Check - Boolean":{"main":[[{"node":"Success - Boolean","type":"main","index":0}],[{"node":"Error - Boolean","type":"main","index":0}]]},"Success - Array":{"main":[[{"node":"Test - Object","type":"main","index":0}]]},"Success - Number":{"main":[[{"node":"Test - Boolean","type":"main","index":0}]]},"Success - Object":{"main":[[{"node":"🎉 SUCCESS 🎉","type":"main","index":0}]]},"Success - String":{"main":[[{"node":"Test - Number","type":"main","index":0}]]},"Success - Boolean":{"main":[[{"node":"Test - Null","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"48dd4a3c-143f-4997-87a2-66970a31d87f","triggerCount":0,"shared":[{"updatedAt":"2025-11-11T05:20:53.715Z","createdAt":"2025-11-11T05:20:53.715Z","role":"workflow:owner","workflowId":"QQG2MxFZmQz70kcq","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}