my-workflow-38-iXgXwbyaPcaHtF6w.json
{"updatedAt":"2025-11-07T10:18:47.000Z","createdAt":"2025-10-06T13:31:41.600Z","id":"iXgXwbyaPcaHtF6w","name":"My workflow 38","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1184,144],"id":"b3a2e8a6-1986-4bb8-8a11-cec72c346763","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-976,144],"id":"d9e62337-7387-4023-9fd5-bd1e872a82d9","name":"Get many workflows","credentials":{"n8nApi":{"id":"Wk9P8LxDXbCpDZSY","name":"n8n account"}}},{"parameters":{"operation":"create","workflowObject":"={{$json[\"workflowPayload\"]}}","requestOptions":{"batching":{"batch":{"batchSize":10}}}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[816,0],"id":"371b39ff-ed3f-423c-aadc-f28e26025c84","name":"Create a workflow","credentials":{"n8nApi":{"id":"0cILAjLRBuHWVBvY","name":"n8n account 2"}}},{"parameters":{"maxItems":95},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-752,144],"id":"05613138-2700-46df-b4e0-85ae5a70ff5c","name":"Limit"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const payload = {\n  name: $json.name,\n  nodes: $json.nodes,\n  connections: $json.connections,\n  settings: $json.settings,\n  active: $json.active,\n  tags: $json.tags\n};\n\nreturn {\n  json: {\n    workflowPayload: JSON.stringify(payload)\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,0],"id":"7e7a1dc8-8af6-4674-ad1d-0511345d6d12","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-528,144],"id":"b9cef7a3-5fe0-4aff-8a06-2cc2f433fb17","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-304,192],"id":"ed542425-29e0-4522-8e78-17781d1dac32"},{"parameters":{"jsCode":"// Function node: returns an array of items\nconst safeParse = (s) => {\n  try {\n    return JSON.parse(s);\n  } catch (err) {\n    return undefined;\n  }\n};\n\nconst out = [];\n\nfor (const item of items) {\n  const json = {...item.json};\n\n  try {\n    // Example: if your problematic field is json.rawJsonString\n    if (json.rawJsonString && typeof json.rawJsonString === 'string') {\n      const parsed = safeParse(json.rawJsonString);\n      if (parsed === undefined) throw new Error('invalid JSON in rawJsonString');\n      json.parsed = parsed;\n    }\n\n    // Any other normalization you need:\n    // if (!json.someField) json.someField = 'default';\n    json._status = 'ok';\n  } catch (err) {\n    json._status = 'error';\n    json._errorMessage = err.message;\n    // keep a small excerpt of the original payload for debugging (avoid huge blobs)\n    json._originalSnippet = (json.rawJsonString || '').slice(0, 500);\n  }\n\n  out.push({ json });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-304,0],"id":"e6ddcafe-39cd-4b03-8193-5d61294c6650","name":"Code in JavaScript1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1ba874f-0a5d-48cf-aa93-bd5a95d8bdc1","leftValue":"={{$json._status}}","rightValue":"error","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,0],"id":"3390bbb9-1d2e-4c2a-94fa-4a8ff9c93953","name":"If"},{"parameters":{"jsCode":"// Clean & validate workflow JSON\nconst output = [];\n\nfor (const item of items) {\n  const j = item.json;\n\n  try {\n    const cleaned = {\n      name: j.name || \"Untitled Workflow\",\n      nodes: JSON.parse(JSON.stringify(j.nodes || [])),\n      connections: JSON.parse(JSON.stringify(j.connections || {})),\n      settings: JSON.parse(JSON.stringify(j.settings || {})),\n      active: Boolean(j.active),\n      tags: JSON.parse(JSON.stringify(j.tags || [])),\n    };\n\n    output.push({ json: cleaned });\n  } catch (err) {\n    // catch the malformed one (like your item 41)\n    output.push({\n      json: {\n        name: j.name || \"Unknown\",\n        _error: true,\n        _errorMessage: err.message,\n        originalData: j,\n      },\n    });\n  }\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[144,0],"id":"3d3508ce-5ad3-4fb9-81e2-6455fbde9a2e","name":"Code in JavaScript2"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"name\": \"{{ $json.name }}\",\n  \"nodes\": {{ JSON.stringify($json.nodes) }},\n  \"connections\": {{ JSON.stringify($json.connections) }},\n  \"settings\": {{ JSON.stringify($json.settings) }},\n  \"active\": {{ $json.active }},\n  \"tags\": {{ JSON.stringify($json.tags) }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,0],"id":"bffba9f8-2ea6-4bf9-ba82-79b34fc60954","name":"Edit Fields"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create a workflow","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dc083f9d-1ab8-414f-966d-557740f45c62","triggerCount":1,"shared":[{"updatedAt":"2025-10-06T13:31:41.602Z","createdAt":"2025-10-06T13:31:41.602Z","role":"workflow:owner","workflowId":"iXgXwbyaPcaHtF6w","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}