my-workflow-34-wPaixGUCAX3sCgT9.json
{"updatedAt":"2025-10-06T13:40:01.094Z","createdAt":"2025-10-06T13:40:01.094Z","id":"wPaixGUCAX3sCgT9","name":"My workflow 34","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"update","actionsUi":{"actionFields":[{"action":"insert"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[304,-368],"id":"26372f44-530e-4913-80ca-0dd02e0b3c4c","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"UusyXo8d6ZZwWStW","name":"Google Docs account 5"}},"disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-128,-176],"id":"0f6baa2c-dc4f-459d-a978-1af984bd0b5b","name":"Groq Chat Model","credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}},"disabled":true},{"parameters":{"promptType":"define","text":"=summarize this docue,nt {{ $json.content }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-96,-368],"id":"0cd94764-174c-41b7-a726-7c097979cf6e","name":"AI Agent","disabled":true},{"parameters":{"operation":"get"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-320,-368],"id":"b978f90a-b182-4078-9ae6-ebb9e84b6e52","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"UusyXo8d6ZZwWStW","name":"Google Docs account 5"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"5c93d6af-8596-4fa6-b97a-a74206d4dab0"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[176,-48],"id":"4bbea842-5869-4e73-8c52-b66e7423dceb","name":"Switch","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5c0ba9c0-65f5-41f1-8294-e9904b7d8f3c","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,-32],"id":"2d553724-5763-45ab-93ff-4a828c89c44b","name":"If","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[736,-368],"id":"890b6abb-6d5a-4154-bdfb-fa4d1212941d","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1rfAkSkXqL3Oy6CGqqW1rR_BvyFgPQ2mOoF3zeDS54Yw","mode":"list","cachedResultName":"research_data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rfAkSkXqL3Oy6CGqqW1rR_BvyFgPQ2mOoF3zeDS54Yw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1996533276,"mode":"list","cachedResultName":"Companies.research_data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rfAkSkXqL3Oy6CGqqW1rR_BvyFgPQ2mOoF3zeDS54Yw/edit#gid=1996533276"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[992,-368],"id":"47c411ea-7b55-47f5-9056-390a37e062a0","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"67ca2262-54a1-4406-b74a-cddaf89702a2","leftValue":"={{ $json.research_focus }}","rightValue":"nano","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1200,-368],"id":"d3fde980-30d0-4509-bf5e-d504e0982d13","name":"Filter"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1rfAkSkXqL3Oy6CGqqW1rR_BvyFgPQ2mOoF3zeDS54Yw","mode":"list","cachedResultName":"research_data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rfAkSkXqL3Oy6CGqqW1rR_BvyFgPQ2mOoF3zeDS54Yw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":185776087,"mode":"list","cachedResultName":"nano-filter","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rfAkSkXqL3Oy6CGqqW1rR_BvyFgPQ2mOoF3zeDS54Yw/edit#gid=185776087"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["row_number"],"schema":[{"id":"_id","displayName":"_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"sector","displayName":"sector","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"parent_organization","displayName":"parent_organization","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ministry_department","displayName":"ministry_department","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"year_of_establishment","displayName":"year_of_establishment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"address","displayName":"address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"head","displayName":"head","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"research_focus","displayName":"research_focus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facilities_available","displayName":"facilities_available","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"collaborating_institutions","displayName":"collaborating_institutions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"funding_agency","displayName":"funding_agency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"publications_patents","displayName":"publications_patents","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"projects_programs","displayName":"projects_programs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"target_beneficiaries","displayName":"target_beneficiaries","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"accessibility","displayName":"accessibility","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"key_achievements","displayName":"key_achievements","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"services_provided","displayName":"services_provided","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"collaboration_institutions","displayName":"collaboration_institutions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"collating_institutions","displayName":"collating_institutions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1440,-368],"id":"7042ec87-c6e5-4e8b-9ca1-6d2cc1aa401e","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"sendTo":"m.jasim@gmindia.tech","subject":"Table","message":"={{ $json.htmlTable }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1952,-368],"id":"3d30b31c-ba07-4768-8e67-7a98cc20b248","name":"Send a message","webhookId":"59a5752b-aaf6-4814-91f5-4d2c08410ee0","credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}},{"parameters":{"jsCode":"// Convert all rows to HTML table\nlet rows = items.map(item => item.json);\n\n// Get all keys (columns) from the first row\nlet headers = Object.keys(rows[0]);\n\n// Build table header\nlet html = '<table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"border-collapse: collapse; width: 100%;\">';\nhtml += '<tr>' + headers.map(h => `<th>${h}</th>`).join('') + '</tr>';\n\n// Build table rows\nrows.forEach(row => {\n  html += '<tr>' + headers.map(h => `<td>${row[h]}</td>`).join('') + '</tr>';\n});\nhtml += '</table>';\n\nreturn [{ json: { htmlTable: html } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,-368],"id":"4db47c25-c44f-4af1-97e0-47a748a3905e","name":"Code in JavaScript"},{"parameters":{"documentId":{"__rl":true,"value":"1rfAkSkXqL3Oy6CGqqW1rR_BvyFgPQ2mOoF3zeDS54Yw","mode":"list","cachedResultName":"research_data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rfAkSkXqL3Oy6CGqqW1rR_BvyFgPQ2mOoF3zeDS54Yw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":642665129,"mode":"list","cachedResultName":"Test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rfAkSkXqL3Oy6CGqqW1rR_BvyFgPQ2mOoF3zeDS54Yw/edit#gid=642665129"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1152,-48],"id":"7462812f-9253-4613-85bb-19175656f5c1","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"sendTo":"m.jasim@gmindia.tech","subject":"Test Table","message":"={{ $json.htmlTable }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1632,-48],"id":"39a757c9-470e-4705-b6fe-0135f8f52999","name":"Send a message1","webhookId":"28d8ef47-c6f6-4623-a9e1-5ffb211646db","credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}},{"parameters":{"jsCode":"// Convert all rows to HTML table\nlet rows = items.map(item => item.json);\n\n// Get all keys (columns) from the first row\nlet headers = Object.keys(rows[0]);\n\n// Build table header\nlet html = '<table border=\"1\" cellspacing=\"0\" cellpadding=\"5\" style=\"border-collapse: collapse; width: 100%;\">';\nhtml += '<tr>' + headers.map(h => `<th>${h}</th>`).join('') + '</tr>';\n\n// Build table rows\nrows.forEach(row => {\n  html += '<tr>' + headers.map(h => `<td>${row[h]}</td>`).join('') + '</tr>';\n});\nhtml += '</table>';\n\nreturn [{ json: { htmlTable: html } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,-48],"id":"81cb2247-a56d-4a39-822e-fac99eeb63ec","name":"Generate Table Custom Code"}],"connections":{"AI Agent":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get a document":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Generate Table Custom Code","type":"main","index":0}]]},"Generate Table Custom Code":{"main":[[{"node":"Send a message1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"ebae247f-dc38-46bd-b942-49284ae8833a","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T13:40:01.232Z","createdAt":"2025-10-06T13:40:01.232Z","role":"workflow:owner","workflowId":"wPaixGUCAX3sCgT9","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}