my-workflow-33-VwpHYWPOGTflUtq4.json
{"updatedAt":"2025-10-06T13:40:01.121Z","createdAt":"2025-10-06T13:40:01.121Z","id":"VwpHYWPOGTflUtq4","name":"My workflow 33","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2320,-544],"id":"9c7a34f2-8687-48c3-9c36-48cb71f9b3e8","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"mimeType = 'application/vnd.google-apps.folder'","filter":{"driveId":{"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1pSu466_oB0eXmKjPr5w2KfaE6YcjSisn","mode":"list","cachedResultName":"company_details","cachedResultUrl":"https://drive.google.com/drive/folders/1pSu466_oB0eXmKjPr5w2KfaE6YcjSisn"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1312,-64],"id":"7662426e-0024-402e-bb27-96f533112596","name":"Search files and folders"},{"parameters":{"jsCode":"// Collect files from all incoming inputs\nlet files = [];\nfor (const item of items) {\n  if (item.json.files && Array.isArray(item.json.files)) {\n    files = files.concat(item.json.files);\n  }\n}\n\nfunction formatSize(bytes) {\n  if (!bytes) return '';\n  const sizes = ['B', 'KB', 'MB', 'GB', 'TB'];\n  const i = Math.floor(Math.log(bytes) / Math.log(1024));\n  return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];\n}\nfunction isFolder(f) {\n  return f.mimeType === 'application/vnd.google-apps.folder';\n}\nfunction formatDate(iso) {\n  if (!iso) return '';\n  const d = new Date(iso);\n  return d.toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short' });\n}\n\n// Build lookup map\nconst map = new Map();\nfiles.forEach(f => map.set(f.id, { ...f, children: [] }));\n\n// Attach children to parents\nfor (const f of map.values()) {\n  if (f.parents && f.parents.length) {\n    const parentId = f.parents[0];\n    if (map.has(parentId)) {\n      map.get(parentId).children.push(f);\n    }\n  }\n}\n\n// Find roots (items with no known parent)\nconst roots = [...map.values()].filter(f => !f.parents || !map.has(f.parents[0]));\n\n// Recursive renderer\nfunction render(node, depth = 0) {\n  const indent = ' '.repeat(depth * 4);\n  const icon = isFolder(node) ? '📁' : '📄';\n  const size = isFolder(node) ? '' : ` (${formatSize(Number(node.size))})`;\n  const owner = node.owners && node.owners.length ? ` — 👤 ${node.owners[0].displayName}` : '';\n  const created = node.createdTime ? ` — 🕒 ${formatDate(node.createdTime)}` : '';\n  let out = `${indent}- ${icon} **${node.name}**${size}${owner}${created}\\n`;\n  for (const child of node.children.sort((a, b) => {\n    const af = isFolder(a), bf = isFolder(b);\n    if (af !== bf) return af ? -1 : 1;\n    return a.name.localeCompare(b.name);\n  })) {\n    out += render(child, depth + 1);\n  }\n  return out;\n}\n\n// Generate markdown\nlet tree = '# 📂 Directory Structure\\n\\n';\nfor (const root of roots) {\n  tree += render(root);\n}\n\nreturn [{ json: { markdown: tree } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,-1072],"id":"25b7bab6-1641-45fa-b902-693446117d31","name":"Code"},{"parameters":{"operation":"toText","sourceProperty":"markdown","binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1600,-688],"id":"33ef0eee-8331-451a-b660-671323e8958f","name":"Convert to File","disabled":true},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $('Code').item.json.markdown }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1200,-944],"id":"4075792c-dc75-4719-9f9a-eca06bad3e8c","name":"Markdown"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj","mode":"list","cachedResultName":"Company Informations","cachedResultUrl":"https://drive.google.com/drive/folders/1fmDVyEFTueoFs1qhftxLgPVIPQo4UtFj"},"event":"watchFolderUpdated"},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-2368,-272],"id":"6cf8ce5b-51af-4d5e-a77b-8731d65d3ac1","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files?q=\"'FOLDER_ID' in parents\"&fields=files(id,name,mimeType,size,modifiedTime,owners(displayName,emailAddress))&orderBy=modifiedTime desc&pageSize=1","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2080,-272],"id":"d410d051-cd12-4e3d-8ab0-31eeec8970e2","name":"HTTP Request","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"jsCode":"const files = items[0].json.files || [];\n\nfunction formatSize(bytes) {\n  if (!bytes) return '';\n  const sizes = ['B','KB','MB','GB','TB'];\n  const i = Math.floor(Math.log(bytes) / Math.log(1024));\n  return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];\n}\nfunction formatDate(iso) {\n  if (!iso) return '';\n  const d = new Date(iso);\n  return d.toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short' });\n}\n\n// Build a structured JSON array\nconst structured = files.map(f => ({\n  id: f.id,\n  name: f.name,\n  type: f.mimeType === 'application/vnd.google-apps.folder' ? 'Folder' : 'File',\n  size: f.size ? formatSize(Number(f.size)) : '',\n  owner: f.owners?.[0]?.displayName || '',\n  email: f.owners?.[0]?.emailAddress || '',\n  modifiedTime: f.modifiedTime,\n  modifiedTimeFormatted: formatDate(f.modifiedTime)\n}));\n\n// Sort by latest modifiedTime\nstructured.sort((a, b) => new Date(b.modifiedTime) - new Date(a.modifiedTime));\n\nreturn structured.map(file => ({ json: file }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1792,-272],"id":"6614a041-3f38-403e-a100-fe45536c91d5","name":"Code1"},{"parameters":{"sendTo":"m.jasim@gmindia.tech","subject":"Latest Updated File","emailType":"text","message":"=Hi user, \nThere is file updated by {{ $json.owner }} in the given folder {{ $json.name }}, {{ $json.size }},{{ $json.modifiedTime }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1504,-272],"id":"91944ee6-35c1-49dc-92fd-be164663586e","name":"Send a message","webhookId":"29775b31-a327-43eb-aca7-a141e32d7d9d","credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}},{"parameters":{"jsCode":"return items.map(item => {\n  const mimeType = item.json.mimeType;\n  const isFolder = mimeType === 'application/vnd.google-apps.folder';\n\n  return {\n    json: {\n      id: item.json.id,\n      name: item.json.name,\n      mimeType,\n      isFolder, // true for folders, false for files\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1952,144],"id":"4ad8d4ef-2dfe-4a2d-9103-77b053013b3f","name":"Code2"},{"parameters":{"jsCode":"const files = items[0].json.files;\n\nfunction formatSize(bytes) {\n  if (!bytes) return '';\n  const sizes = ['B', 'KB', 'MB', 'GB', 'TB'];\n  const i = Math.floor(Math.log(bytes) / Math.log(1024));\n  return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];\n}\nfunction isFolder(f) {\n  return f.mimeType === 'application/vnd.google-apps.folder';\n}\nfunction formatDate(iso) {\n  if (!iso) return '';\n  const d = new Date(iso);\n  return d.toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short' });\n}\n\n// Build lookup map\nconst map = new Map();\nfiles.forEach(f => map.set(f.id, { ...f, children: [] }));\n\n// Attach children to parents\nfor (const f of map.values()) {\n  if (f.parents && f.parents.length) {\n    const parentId = f.parents[0];\n    if (map.has(parentId)) {\n      map.get(parentId).children.push(f);\n    }\n  }\n}\n\n// Find roots\nconst roots = [...map.values()].filter(f => !f.parents || !map.has(f.parents[0]));\n\n// Recursive renderer\nfunction render(node, depth = 0) {\n  const indent = ' '.repeat(depth * 4);\n  const icon = isFolder(node) ? '📁' : '📄';\n  const size = isFolder(node) ? '' : ` (${formatSize(Number(node.size))})`;\n  const owner = node.owners && node.owners.length ? ` — 👤 ${node.owners[0].displayName}` : '';\n  const created = node.createdTime ? ` — 🕒 ${formatDate(node.createdTime)}` : '';\n  let out = `${indent}- ${icon} **${node.name}**${size}${owner}${created}\\n`;\n  for (const child of node.children.sort((a, b) => {\n    const af = isFolder(a), bf = isFolder(b);\n    if (af !== bf) return af ? -1 : 1;\n    return a.name.localeCompare(b.name);\n  })) {\n    out += render(child, depth + 1);\n  }\n  return out;\n}\n\n// Generate markdown\nlet tree = '# 📂 Directory Structure\\n\\n';\nfor (const root of roots) {\n  tree += render(root);\n}\n\nreturn [{ json: { markdown: tree } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,64],"id":"8b12694d-e4b8-4542-a05a-38b7ed5bac47","name":"Code3"},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files?q='1pSu466_oB0eXmKjPr5w2KfaE6YcjSisn' in parents and trashed = false&fields=files(id,name,mimeType)","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,-624],"id":"8fff0c7d-ea04-46cc-93db-c19cc246625c","name":"HTTP Request2"},{"parameters":{"jsCode":"// Function node (n8n)\nconst files = items[0].json.files || [];\nreturn files.map(f => ({ json: f }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,-624],"id":"0401c5eb-1856-4d1c-b193-32f6242e52c7","name":"Code4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5c03404-49fb-45d4-b7c6-4883d88b968f","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.folder","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1456,-624],"id":"ccc0fb50-cfd6-4443-b3fb-b2bd0244dc6b","name":"Filter"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1pSu466_oB0eXmKjPr5w2KfaE6YcjSisn","mode":"id"}},"options":{"fields":["id","name","mimeType"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[176,-1072],"id":"9093459d-e263-4edf-9450-fe1c973d5eb7","name":"Search files and folders1"},{"parameters":{"resource":"fileFolder","queryString":"=","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{"fields":["id","mimeType","name"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[400,-1072],"id":"6c29ae61-7564-4355-8892-af60a87cdb59","name":"Search files and folders2"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{"fields":["id","name","mimeType","kind"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[608,-1072],"id":"217f8d4c-24a6-4dd4-b5c5-d910b843ace6","name":"Search files and folders3"},{"parameters":{"jsCode":"const files = items[0].json.files;\n\nfunction formatSize(bytes) {\n  if (!bytes) return '';\n  const sizes = ['B', 'KB', 'MB', 'GB', 'TB'];\n  const i = Math.floor(Math.log(bytes) / Math.log(1024));\n  return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];\n}\nfunction isFolder(f) {\n  return f.mimeType === 'application/vnd.google-apps.folder';\n}\nfunction formatDate(iso) {\n  if (!iso) return '';\n  const d = new Date(iso);\n  return d.toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short' });\n}\n\n// Build lookup map\nconst map = new Map();\nfiles.forEach(f => map.set(f.id, { ...f, children: [] }));\n\n// Attach children to parents\nfor (const f of map.values()) {\n  if (f.parents && f.parents.length) {\n    const parentId = f.parents[0];\n    if (map.has(parentId)) {\n      map.get(parentId).children.push(f);\n    }\n  }\n}\n\n// Find roots\nconst roots = [...map.values()].filter(f => !f.parents || !map.has(f.parents[0]));\n\n// Recursive renderer with filter\nfunction render(node, depth = 0, type = \"all\") {\n  const indent = ' '.repeat(depth * 4);\n  const folder = isFolder(node);\n\n  // Filter by type\n  if (type === \"folders\" && !folder) return '';\n  if (type === \"files\" && folder) return '';\n\n  const icon = folder ? '📁' : '📄';\n  const size = folder ? '' : ` (${formatSize(Number(node.size))})`;\n  const owner = node.owners && node.owners.length ? ` — 👤 ${node.owners[0].displayName}` : '';\n  const created = node.createdTime ? ` — 🕒 ${formatDate(node.createdTime)}` : '';\n\n  let out = `${indent}- ${icon} **${node.name || '(no name)'}**${size}${owner}${created}\\n`;\n\n  for (const child of node.children.sort((a, b) => {\n    const af = isFolder(a), bf = isFolder(b);\n    if (af !== bf) return af ? -1 : 1;\n    return a.name.localeCompare(b.name);\n  })) {\n    out += render(child, depth + 1, type);\n  }\n  return out;\n}\n\n// Generate markdown\nfunction generateTree(type = \"all\") {\n  let tree = '# 📂 Directory Structure\\n\\n';\n  for (const root of roots) {\n    tree += render(root, 0, type);\n  }\n  return tree;\n}\n\n// Example usages:\nconst allContent = generateTree(\"all\");      // folders + files\nconst onlyFolders = generateTree(\"folders\"); // just folders\nconst onlyFiles = generateTree(\"files\");     // just files\n\nreturn [{ json: { allContent, onlyFolders, onlyFiles } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-768],"id":"8eddc4e7-340b-4c39-872d-181a1bac110d","name":"Code5"},{"parameters":{"jsCode":"const files = items[0].json.files;\n\nfunction formatSize(bytes) {\n  if (!bytes) return '';\n  const sizes = ['B', 'KB', 'MB', 'GB', 'TB'];\n  const i = Math.floor(Math.log(bytes) / Math.log(1024));\n  return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];\n}\nfunction isFolder(f) {\n  return f.mimeType === 'application/vnd.google-apps.folder';\n}\nfunction formatDate(iso) {\n  if (!iso) return '';\n  const d = new Date(iso);\n  return d.toLocaleString('en-US', { dateStyle: 'short', timeStyle: 'short' });\n}\n\n// Build lookup map\nconst map = new Map();\nfiles.forEach(f => map.set(f.id, { ...f, children: [] }));\n\n// Attach children to parents\nfor (const f of map.values()) {\n  if (f.parents && f.parents.length) {\n    const parentId = f.parents[0];\n    if (map.has(parentId)) {\n      map.get(parentId).children.push(f);\n    }\n  }\n}\n\n// Find roots\nconst roots = [...map.values()].filter(f => !f.parents || !map.has(f.parents[0]));\n\n// Recursive renderer\nfunction render(node, depth = 0) {\n  const indent = ' '.repeat(depth * 4);\n  const icon = isFolder(node) ? '📁' : '📄';\n  const size = isFolder(node) ? '' : ` (${formatSize(Number(node.size))})`;\n  const owner = node.owners && node.owners.length ? ` — 👤 ${node.owners[0].displayName}` : '';\n  const created = node.createdTime ? ` — 🕒 ${formatDate(node.createdTime)}` : '';\n  let out = `${indent}- ${icon} **${node.name}**${size}${owner}${created}\\n`;\n  for (const child of node.children.sort((a, b) => {\n    const af = isFolder(a), bf = isFolder(b);\n    if (af !== bf) return af ? -1 : 1;\n    return a.name.localeCompare(b.name);\n  })) {\n    out += render(child, depth + 1);\n  }\n  return out;\n}\n\n// Generate markdown\nlet tree = '# 📂 Directory Structure\\n\\n';\nfor (const root of roots) {\n  tree += render(root);\n}\n\nreturn [{ json: { markdown: tree } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1824,-544],"id":"9caba2fe-41ab-41d5-b055-110b4cb27d54","name":"Code6"},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files/","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"specifyQuery":"json","jsonQuery":"{\n  \"fields\": \"files(id,name,mimeType,size,parents,modifiedTime,owners(displayName,emailAddress))\",\n  \"pageSize\": \"1000\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2048,-544],"id":"01c37ab7-7a5f-4063-a789-1f256a0b8e94","name":"Drive API to get All Files","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"operation":"write","fileName":"E:\\Downloads\\file.md","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1024,-272],"id":"ca7888df-4013-454d-8dcb-8c93199062be","name":"Read/Write Files from Disk","disabled":true},{"parameters":{"jsCode":"// Run Once for All Items\n\nconst md = $input.first()?.json?.markdown ?? '';\nconst lines = String(md).split('\\n');\n\n// Unicode-aware regex; supports bold/non-bold and ignores trailing metadata\nconst FOLDER_RE = /^(\\s*)-\\s*📁\\s+(?:\\*\\*)?([^*].*?)(?:\\*\\*)?\\s*(?:—.*)?$/u;\n\nconst folders = [];\n\nfor (const raw of lines) {\n  const line = String(raw || '');\n  const m = line.match(FOLDER_RE);\n  if (!m) continue;\n\n  const indent = m[1] ?? '';\n  const nameRaw = m[2] ?? '';\n  const depth = Math.floor(indent.length / 2);\n  folders.push({ json: { nameSeen: nameRaw, depth, line } });\n}\n\n// If nothing parsed as folders, emit diagnostics to adjust regex\nif (folders.length === 0) {\n  return [{\n    json: {\n      ok: false,\n      reason: 'No folder lines matched. The emoji, dash, or spacing likely differ.',\n      sampleFirstLines: lines.slice(0, 10),\n      tip: 'Confirm the folder bullet uses \"- [space] 📁 [space]\". If bullets use a different dash/emoji or tabs, adjust the regex.',\n    }\n  }];\n}\n\nreturn folders;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1360,-544],"id":"5997b422-7c4f-4102-b719-9e564e442fac","name":"Code7"},{"parameters":{"jsCode":"// Run Once for All Items\n\n// Paste the exact value observed in the previous step, e.g. \"Company Informations\"\nconst targetFolder = 'GMI Document & PPT Template';\n\nconst md = $input.first()?.json?.markdown ?? '';\nconst lines = String(md).split('\\n');\n\nconst FOLDER_RE = /^(\\s*)-\\s*📁\\s+(?:\\*\\*)?([^*].*?)(?:\\*\\*)?\\s*(?:—.*)?$/u;\nconst FILE_RE   = /^(\\s*)-\\s*📄\\s+/u;\n\n// 1) Find the exact folder line\nlet startIndex = -1;\nlet baseIndentLen = 0;\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = String(lines[i] || '');\n  const m = line.match(FOLDER_RE);\n  if (!m) continue;\n\n  const rawName = m[3] ?? '';\n  if (rawName === targetFolder) {\n    startIndex = i;\n    baseIndentLen = (m[4] ?? '').length;\n    break;\n  }\n}\n\nif (startIndex === -1) {\n  return [{\n    json: {\n      ok: false,\n      reason: 'Target folder not found with exact match. Use the “List detected folder names” node to copy nameSeen exactly.',\n      triedTarget: targetFolder,\n    },\n  }];\n}\n\n// 2) Collect subtree until a sibling/ancestor (indent <= base) line appears\nconst subtree = [];\nsubtree.push(lines[startIndex]);\n\nfor (let i = startIndex + 1; i < lines.length; i++) {\n  const line = String(lines[i] || '');\n  const indentMatch = line.match(/^(\\s*)/);\n  const indentLen = indentMatch ? indentMatch[4].length : 0;\n  const isFolder = FOLDER_RE.test(line);\n  const isFile = FILE_RE.test(line);\n\n  if ((isFolder || isFile) && indentLen <= baseIndentLen) break;\n  subtree.push(line);\n}\n\nreturn [{\n  json: {\n    ok: true,\n    folder: targetFolder,\n    markdown: subtree.join('\\n'),\n  },\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1168,-544],"id":"da9928a3-437d-456a-844d-4faabd4322ac","name":"Code8"},{"parameters":{"options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-960,-544],"id":"e29c18d6-275a-484c-9302-053add2f08cc","name":"Markdown1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Drive API to get All Files","type":"main","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Search files and folders1":{"main":[[{"node":"Search files and folders2","type":"main","index":0}]]},"Search files and folders2":{"main":[[{"node":"Search files and folders3","type":"main","index":0}]]},"Search files and folders3":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Convert to File","type":"main","index":0},{"node":"Code7","type":"main","index":0}]]},"Drive API to get All Files":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Code8","type":"main","index":0}]]},"Code8":{"main":[[{"node":"Markdown1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"aac888ec-c4c9-49a7-a632-70ba97996ca6","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T13:40:01.266Z","createdAt":"2025-10-06T13:40:01.266Z","role":"workflow:owner","workflowId":"VwpHYWPOGTflUtq4","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}