my-workflow-24-hG26fkjwmsCJRaa9.json
{"updatedAt":"2025-10-06T13:40:00.943Z","createdAt":"2025-10-06T13:40:00.943Z","id":"hG26fkjwmsCJRaa9","name":"My workflow 24","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Website scraper","formFields":{"values":[{"fieldLabel":"Seed url","requiredField":true},{"fieldLabel":"Links must contain","requiredField":true},{"fieldLabel":"Depth","fieldType":"number","requiredField":true}]},"options":{}},"id":"318ecfaf-ef71-4681-8bde-9c502e3b8158","name":"On form submission","type":"n8n-nodes-base.formTrigger","position":[580,300],"webhookId":"6c508326-84d3-4155-9f2e-fe7ddb50f14a","typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"5970bab1-0bfb-4212-a8f2-df6b2e003800","name":"URL","type":"string","value":"={{ $('Unify params').item.json[\"Seed url\"] }}"},{"id":"5c941ad3-70bf-4fba-8cf3-1f79c1b20d3a","name":"Scraped","type":"string","value":""}]},"options":{}},"id":"2337a654-1d3d-416d-aabe-6fab18ee2b24","name":"Info to upload into spreadsheet","type":"n8n-nodes-base.set","position":[1240,400],"typeVersion":3.4},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"={{ $('Create Spreadsheet').item.json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Create Spreadsheet').item.json.sheets[0].properties.title }}"},"columns":{"value":{},"schema":[{"id":"URL","type":"string","display":true,"removed":false,"required":false,"displayName":"URL","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"autoMapInputData","matchingColumns":["URL"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"f4d40c7b-11b6-40ce-a472-ed63cd4e36b4","name":"Load info to spreadsheet","type":"n8n-nodes-base.googleSheets","position":[1460,400],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"resource":"extraction","operation":"scrape","sessionMode":"new","url":"={{ $json.URL }}","profileName":"="},"id":"b0c61ca6-b4e7-4d19-bde2-9c101a09b287","name":"Scrape webpage","type":"n8n-nodes-base.airtop","position":[1680,400],"typeVersion":1,"credentials":{"airtopApi":{"id":"fY2epYQOPCtek1M0","name":"Airtop account"}}},{"parameters":{"folderId":"18i5ruGNxK390u8pmegF-Yg-Z5MbSOyrE","title":"=Site to File - {{ $('Unify params').item.json[\"Seed url\"] }}"},"id":"1b7ca7ec-363b-4e3e-ab93-ac2de22e022d","name":"Create Google Docs","type":"n8n-nodes-base.googleDocs","position":[1900,400],"typeVersion":2,"credentials":{"googleDocsOAuth2Api":{"id":"UusyXo8d6ZZwWStW","name":"Google Docs account 5"}}},{"parameters":{"operation":"update","documentURL":"={{ $json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"=The entire content from {{ $('Info to upload into spreadsheet').item.json.URL }} up to {{ $('Unify params').item.json.Depth }} levels deep.\n---------------------------------------------  \n{{ $('Scrape webpage').item.json.data.modelResponse.scrapedContent.text }}\n---------------------------------------------"}]}},"id":"96482154-8b4a-4981-ad3e-4ddeecdbdf1d","name":"Write scraped content","type":"n8n-nodes-base.googleDocs","position":[2120,400],"typeVersion":2,"credentials":{"googleDocsOAuth2Api":{"id":"UusyXo8d6ZZwWStW","name":"Google Docs account 5"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"707d2bae-e834-478b-a4f6-9e6bbfa47530","operator":{"type":"number","operation":"lt"},"leftValue":"={{ $runIndex }}","rightValue":"={{ $('Unify params').first().json.Depth - 1 }}"},{"id":"cc763610-f775-4dcb-ae29-a3235b011b75","operator":{"type":"number","operation":"gt"},"leftValue":"={{ Number($('Unify params').first().json.Depth) }}","rightValue":1}]},"options":{}},"id":"08a106ae-df63-4162-b315-1e5da5ade791","name":"Should scrape more?","type":"n8n-nodes-base.if","position":[2360,400],"typeVersion":2.2},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"={{ $('Create Spreadsheet').first().json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Create Spreadsheet').first().json.sheets[0].properties.title }}"},"options":{}},"id":"f059b558-fece-42f4-bd73-4dbc267f68c0","name":"Read scraped webpages","type":"n8n-nodes-base.googleSheets","position":[2560,320],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"resource":"extraction","operation":"query","sessionMode":"new","url":"={{ $json.URL }}","prompt":"Extract the list of links that lead to other pages in the same domain","additionalFields":{"outputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"internal_links\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"description\": \"A URL that leads to another page within the airtop.ai domain\"\n      },\n      \"description\": \"A list of URLs that lead to other pages within the airtop.ai domain\"\n    }\n  },\n  \"required\": [\n    \"internal_links\"\n  ],\n  \"additionalProperties\": false,\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\"\n}"}},"id":"53e0b7a9-c5bf-458e-a1d3-963298d57424","name":"Retrieve links to scrape","type":"n8n-nodes-base.airtop","position":[2780,320],"typeVersion":1,"credentials":{"airtopApi":{"id":"fY2epYQOPCtek1M0","name":"Airtop account"}}},{"parameters":{"jsCode":"const modelResponse = $('Retrieve links to scrape').first().json.data.modelResponse;\nconst containsString = $('Unify params').first().json[\"Links must contain\"];\nconst parsed = JSON.parse(modelResponse);\nconst links = [...new Set(parsed.internal_links)]; \nconst sheetsLinks = $input.all().map(item => item.json.URL)\nlet response; \n\nif(containsString === \"\"){\n  response = links\n    .map(item =>(\n        { json: { link: item.split('?')[0] } }\n    ))\n} else {\n  response = links\n    .map(item =>\n      item.includes(containsString)\n        ? { json: { link: item.split('?')[0] } }\n        : null\n    )\n    .filter(item => item !== null);\n}\nconst dedupeBetweenSheetsAndModel = response.filter(item => !sheetsLinks.includes(item.json.link));\nconst deduped = [...new Map(dedupeBetweenSheetsAndModel.map(item => [item.json.link, item])).values()]\nreturn deduped\n"},"id":"547d28ee-e92f-45fb-a33d-400075981ea4","name":"Filter links to insert to Sheets","type":"n8n-nodes-base.code","position":[3000,320],"typeVersion":2},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"={{ $('Create Spreadsheet').first().json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Create Spreadsheet').first().json.sheets[0].properties.title }}"},"columns":{"value":{"URL":"={{ $json.link }}"},"schema":[{"id":"URL","type":"string","display":true,"removed":false,"required":false,"displayName":"URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Scraped","type":"string","display":true,"removed":false,"required":false,"displayName":"Scraped","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"0c8f8a04-ce1b-4c37-8f81-1d00c64d9d90","name":"Insert new links","type":"n8n-nodes-base.googleSheets","position":[3220,340],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"resource":"extraction","operation":"scrape","sessionMode":"new","url":"={{ $json.URL }}"},"id":"fcd83a75-5047-450c-9d3b-0e18d6dc91fa","name":"Scrape webpage1","type":"n8n-nodes-base.airtop","position":[3440,340],"typeVersion":1,"credentials":{"airtopApi":{"id":"fY2epYQOPCtek1M0","name":"Airtop account"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentURL":"={{ $('Create Google Docs').first().json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"=-------------------------  \n{{ $json.data.modelResponse.scrapedContent.text }}\n-------------------------"}]}},"id":"03db2327-18bf-4f93-ad7e-e1331699c5af","name":"Update with new scraped content","type":"n8n-nodes-base.googleDocs","position":[3660,340],"typeVersion":2,"credentials":{"googleApi":{"id":"vedrXe1YUbS1Auvz","name":"Google Service Account account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"72c9cd92-fd01-4339-b9fe-52477b691df3","name":"URL","type":"string","value":"={{ $('Insert new links').item.json.URL }}"},{"id":"a817116e-6ae5-4e0a-b210-4fd27f5a455a","name":"Scraped","type":"string","value":"={{ $runIndex }}"}]},"options":{}},"id":"f573411a-f90c-478c-b184-18bdd5e6664a","name":"Flag scraped link","type":"n8n-nodes-base.set","position":[3880,340],"typeVersion":3.4},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"id","value":"={{ $('Create Spreadsheet').first().json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Create Spreadsheet').first().json.sheets[0].properties.title }}"},"columns":{"value":{"URL":"={{ $('Insert new links').item.json.URL }}"},"schema":[{"id":"URL","type":"string","display":true,"removed":false,"required":false,"displayName":"URL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Scraped","type":"string","display":true,"removed":false,"required":false,"displayName":"Scraped","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"autoMapInputData","matchingColumns":["URL"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"487261dc-a7fe-47c3-a4c3-172a02ec97bc","name":"Insert flag","type":"n8n-nodes-base.googleSheets","position":[4100,400],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"content":"## Create Spreadsheet\nCreate a spreadsheet to track all the links found on the webpage.","height":280,"width":660},"id":"3255a0f9-d6a4-41e1-8660-f0a7c9a6033a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[960,280],"typeVersion":1},{"parameters":{"resource":"spreadsheet","title":"=Site map -  {{ $json[\"Seed url\"] }} (Depth - {{ $json.Depth }})","options":{}},"id":"52f38644-9ee3-4daf-a827-6e2fd79c4bce","name":"Create Spreadsheet","type":"n8n-nodes-base.googleSheets","position":[1020,400],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"content":"## Scrape webpage","height":280,"width":180,"color":4},"id":"efcef5bb-884c-4bdd-9977-f78b24019ee5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1640,280],"typeVersion":1},{"parameters":{"content":"## Create Doc\nCreate a document to store all the information scraped from the webpage.","height":280,"width":440},"id":"486e7cee-8f1c-467d-b794-352814cfd3ca","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1840,280],"typeVersion":1},{"parameters":{"content":"## Recursive Scraping Process\nReads a list of URLs from a Google Sheet, scrapes each page, saves the content to a doc, and adds new links back to the sheet. Repeats the process for each depth level, up to the defined scraping depth minus one.","height":380,"width":1980},"id":"7a5162eb-0814-443d-b9b9-2ee5e3fa6300","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2300,220],"typeVersion":1},{"parameters":{"content":"README\n# Recursive Web Scraping \n\n## Use Case  \nAutomating web scraping with recursive depth is ideal for collecting content across multiple linked pages—perfect for content aggregation, lead generation, or research projects.\n\n## What This Automation Does  \nThis automation reads a list of URLs from a Google Sheet, scrapes each page, stores the content in a document, and adds newly discovered links back to the sheet. It continues this process for a specified number of iterations based on the defined scraping depth.\n\n### Input Parameters:\n- `Seed URL`: The starting URL to begin the scraping process.  \n  Example: `https://example.com/`\n- `Links must contain`: Restricts the links to those that contain this specified string.  \n  Example: `https://example.com/`\n- `Depth`: The number of iterations (layers of links) to scrape beyond the initial set.  \n  Example: `3`\n\n## How It Works  \n1. Starts by reading the `Seed URL` from the Google Sheet.\n2. Scrapes each page and saves its content to the specified document.\n3. Extracts new links from each page that match the `Links must contain` string, appends them to the Google Sheet.\n4. Repeats steps 2–3 for the number of times specified by `Depth - 1`.\n\n## Setup Requirements  \n1. [Airtop API Key](https://portal.airtop.ai/api-keys) — free to generate.  \n2. Credentials set up for Google Docs (requires creating a project on Google Console). Read [how to](https://docs.n8n.io/integrations/builtin/credentials/google/).  \n3. Credentials set up for Google Spreadsheet.\n\n## Next Steps  \n- **Add Filtering Rules**: Filter which links to follow based on domain, path, or content type.  \n- **Combine with Scheduler**: Run this automation on a schedule to continuously explore newly discovered pages.  \n- **Export Structured Data**: Extend the process to store extracted data in a CSV or database for analysis.\n","height":940,"width":660,"color":7},"id":"46ad90e3-d43c-4017-8425-78d1eb4612b4","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-180,-40],"typeVersion":1},{"parameters":{"workflowInputs":{"values":[{"name":"Seed url"},{"name":"Links must contain"},{"name":"Depth","type":"number"}]}},"id":"94874f44-5873-45a1-9e25-4132ba91979a","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[580,500],"typeVersion":1.1},{"parameters":{"content":"## Input Parameters\nRun this workflow using a form or from another workflow","height":460,"width":400},"id":"cc4d17a8-dc6e-47a1-97ae-fe44c5b3d815","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[540,200],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"18e3200c-ab2a-44da-b401-eace47a3ccc0","name":"Seed url","type":"string","value":"={{ $json[\"Seed url\"] }}"},{"id":"cb21aa86-bf75-427f-bf07-70d4f2d83894","name":"Links must contain","type":"string","value":"={{ $json[\"Links must contain\"] }}"},{"id":"80bb934f-816d-43f0-9432-170047fa02a3","name":"Depth","type":"number","value":"={{ $json.Depth }}"}]},"options":{}},"id":"5001b385-b9c8-4c54-b267-a10b0f0eb79f","name":"Unify params","type":"n8n-nodes-base.set","position":[800,400],"typeVersion":3.4}],"connections":{"Insert flag":{"main":[[{"node":"Should scrape more?","type":"main","index":0}]]},"Unify params":{"main":[[{"node":"Create Spreadsheet","type":"main","index":0}]]},"Scrape webpage":{"main":[[{"node":"Create Google Docs","type":"main","index":0}]]},"Scrape webpage1":{"main":[[{"node":"Update with new scraped content","type":"main","index":0}]]},"Insert new links":{"main":[[{"node":"Scrape webpage1","type":"main","index":0}]]},"Flag scraped link":{"main":[[{"node":"Insert flag","type":"main","index":0}]]},"Create Google Docs":{"main":[[{"node":"Write scraped content","type":"main","index":0}]]},"Create Spreadsheet":{"main":[[{"node":"Info to upload into spreadsheet","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Unify params","type":"main","index":0}]]},"Should scrape more?":{"main":[[{"node":"Read scraped webpages","type":"main","index":0}]]},"Read scraped webpages":{"main":[[{"node":"Retrieve links to scrape","type":"main","index":0}]]},"Write scraped content":{"main":[[{"node":"Should scrape more?","type":"main","index":0}]]},"Load info to spreadsheet":{"main":[[{"node":"Scrape webpage","type":"main","index":0}]]},"Retrieve links to scrape":{"main":[[{"node":"Filter links to insert to Sheets","type":"main","index":0}]]},"Info to upload into spreadsheet":{"main":[[{"node":"Load info to spreadsheet","type":"main","index":0}]]},"Update with new scraped content":{"main":[[{"node":"Flag scraped link","type":"main","index":0}]]},"Filter links to insert to Sheets":{"main":[[{"node":"Insert new links","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Unify params","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"e57b098f-7752-43f5-9cca-7c2cd255639f","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T13:40:01.036Z","createdAt":"2025-10-06T13:40:01.036Z","role":"workflow:owner","workflowId":"hG26fkjwmsCJRaa9","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}