n8n-backup-to-google-drive-5Ddgv7aVYcYZnnE2.json
{"updatedAt":"2025-11-27T07:12:55.000Z","createdAt":"2025-10-06T13:41:06.786Z","id":"5Ddgv7aVYcYZnnE2","name":"N8N Backup to Google Drive","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"95c71c4b-d02a-4526-897b-faa436bc7276","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-176,0],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"7614fd9b-2414-4434-8f87-9fc4db243bf0","name":"n8n","type":"n8n-nodes-base.n8n","position":[208,144],"retryOnFail":true,"typeVersion":1,"alwaysOutputData":true,"credentials":{"n8nApi":{"id":"0cILAjLRBuHWVBvY","name":"n8n account 2"}}},{"parameters":{"options":{}},"id":"ef9ab515-761c-40c4-bae8-db0be858e079","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[384,144],"typeVersion":3},{"parameters":{"resource":"folder","name":"=Workflow Backups NEW {{ $now.format('cccc t dd-MM-yyyy') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1oI2wupP96vweB3EgaBwk03gI-Jy1GhNs","mode":"list","cachedResultName":"N8N Workflow Backups","cachedResultUrl":"https://drive.google.com/drive/folders/1oI2wupP96vweB3EgaBwk03gI-Jy1GhNs"},"options":{}},"id":"67c7a791-6350-460c-b941-c0aa7663d74b","name":"create new folder","type":"n8n-nodes-base.googleDrive","position":[32,144],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"DLw3gH8RlaCXiHCx","name":"Google Drive account 4"}}},{"parameters":{"operation":"toJson","options":{"format":true,"fileName":"={{ $json.name + \".json\" }} "}},"id":"d0cd7970-7616-4007-948c-90c4b521f86c","name":"Convert to File","type":"n8n-nodes-base.convertToFile","position":[624,240],"typeVersion":1.1},{"parameters":{"rule":{"interval":[{"triggerAtHour":20}]}},"id":"37d916fe-9a34-4367-bf0b-2aa25319ec6f","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-176,288],"typeVersion":1.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":false,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"538fc29d-2693-4c62-9848-bdcaf8566909","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.id }}","rightValue":"={{ $('create new folder').item.json.id }}"}]},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"5d2a0aaf-420d-4ff8-938f-f751f86b77fa","name":"Filter","type":"n8n-nodes-base.filter","position":[784,48],"typeVersion":2.2},{"parameters":{"resource":"folder","operation":"deleteFolder","folderNoRootId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"deletePermanently":true}},"id":"3c85151e-b279-4230-8020-6adfc168f9ed","name":"delete folder","type":"n8n-nodes-base.googleDrive","position":[992,48],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"DLw3gH8RlaCXiHCx","name":"Google Drive account 4"}}},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"1oI2wupP96vweB3EgaBwk03gI-Jy1GhNs","mode":"list","cachedResultName":"N8N Workflow Backups","cachedResultUrl":"https://drive.google.com/drive/folders/1oI2wupP96vweB3EgaBwk03gI-Jy1GhNs"}},"options":{}},"id":"5b35719d-317c-499a-afe8-65cf8c3a59b0","name":"Get folders","type":"n8n-nodes-base.googleDrive","position":[624,48],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"DLw3gH8RlaCXiHCx","name":"Google Drive account 4"}}},{"parameters":{"name":"={{ $('Loop Over Items').item.json.name + \".json\" }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"={{ $('create new folder').item.json.id }}"},"options":{}},"id":"d5384423-e122-4bdb-ace5-fed756dfd14f","name":"Upload file","type":"n8n-nodes-base.googleDrive","position":[784,240],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"DLw3gH8RlaCXiHCx","name":"Google Drive account 4"}}}],"connections":{"On clicking 'execute'":{"main":[[{"node":"create new folder","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Get folders","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}]]},"create new folder":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"create new folder","type":"main","index":0}]]},"Filter":{"main":[[{"node":"delete folder","type":"main","index":0}]]},"Get folders":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"14c18af8-d6a5-422f-8007-1edb67f49e2c","triggerCount":1,"shared":[{"updatedAt":"2025-10-06T13:41:06.796Z","createdAt":"2025-10-06T13:41:06.796Z","role":"workflow:owner","workflowId":"5Ddgv7aVYcYZnnE2","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}