n8n-backup-workflow-U66Dp9F0DiwQqXov.json
{"createdAt":"2025-02-06T10:40:43.749Z","updatedAt":"2025-02-06T11:27:24.924Z","id":"U66Dp9F0DiwQqXov","name":"N8N Backup Workflow","active":false,"nodes":[{"parameters":{},"id":"94c4c6ee-f2ea-4069-bb31-c50472be724d","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-120,360]},{"parameters":{"options":{}},"id":"7ace787b-4bcf-48aa-973a-0eea4cf04b04","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[80,360]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"9da28415-3e06-4e02-bdd3-e61779318888","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[280,360]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"29fcce5f-fbe8-476e-bf33-d1a582e051d1","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[480,360]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"m-jasim-gmi","mode":"list","cachedResultName":"m-jasim-gmi","cachedResultUrl":"https://github.com/m-jasim-gmi"},"repository":{"__rl":true,"value":"Backup-n8n-workflows","mode":"list","cachedResultName":"Backup-n8n-workflows","cachedResultUrl":"https://github.com/m-jasim-gmi/Backup-n8n-workflows"},"filePath":"="},"id":"c164a6b2-4831-4433-a4f5-eb5daceb6492","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[680,360],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"SiBvsmdRXXsnof6d","name":"GitHub account 2"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"edc975e6-d635-4d88-894d-3fe93b5078e1","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[880,360]},{"parameters":{"filters":{},"requestOptions":{}},"id":"752956fb-4f41-4fb6-9959-1a8b0b8096a3","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1080,360],"credentials":{"n8nApi":{"id":"tmwZiWh9Rj2QvSCi","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"763ac33f-84e8-441e-b632-9a7148ecb0a4","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1280,360]},{"parameters":{"batchSize":1,"options":{}},"id":"8949a2e7-1533-451a-a1af-76ce26484f65","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1520,360]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"e9fe8954-ae7a-4a2b-ba64-81c7e3f0b038","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1760,280]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"m-jasim-gmi","mode":"list","cachedResultName":"m-jasim-gmi","cachedResultUrl":"https://github.com/m-jasim-gmi"},"repository":{"__rl":true,"value":"Backup-n8n-workflows","mode":"list","cachedResultName":"Backup-n8n-workflows","cachedResultUrl":"https://github.com/m-jasim-gmi/Backup-n8n-workflows"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"456ed3cf-4d76-47bb-94f3-5dfeff9ea4f8","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1980,80],"credentials":{"githubOAuth2Api":{"id":"SiBvsmdRXXsnof6d","name":"GitHub account 2"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"m-jasim-gmi","mode":"list","cachedResultName":"m-jasim-gmi","cachedResultUrl":"https://github.com/m-jasim-gmi"},"repository":{"__rl":true,"value":"Backup-n8n-workflows","mode":"list","cachedResultName":"Backup-n8n-workflows","cachedResultUrl":"https://github.com/m-jasim-gmi/Backup-n8n-workflows"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"1e9c52b2-cee7-4c56-abb8-7afc7122d5e6","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1980,480],"credentials":{"githubOAuth2Api":{"id":"SiBvsmdRXXsnof6d","name":"GitHub account 2"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"aff4d33d-8abd-4a54-a4cc-1ba3bc97e28c","triggerCount":0,"tags":[]}