news-agent-using-serpapi-Bu6i7UmjVs4mv1jL.json
{"createdAt":"2025-01-31T07:34:59.559Z","updatedAt":"2025-02-06T06:21:41.515Z","id":"Bu6i7UmjVs4mv1jL","name":"News Agent Using SerpAPI","active":false,"isArchived":false,"nodes":[{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[780,220],"id":"96646d1f-3882-4422-9b73-a14195a107c9","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"options":{"google_domain":"google.com","hl":"en"}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[920,220],"id":"20c4c60c-033e-4aef-9cc8-e7bb8fdcb15c","name":"SerpAPI","credentials":{"serpApi":{"id":"nicgNtQdiArqfARf","name":"SerpAPI account 3"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[540,0],"id":"e4f078dc-b611-49f2-9f54-69efa5b5ee9e","name":"Schedule Trigger Every Day Morning 7am"},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"What is the latest news artificial intelligence?\n\nUse markdown language as output format.","options":{"systemMessage":"Assistant is a large language model trained by OpenAI.\n\nAssistant is designed to be able to assist with a wide range of tasks, from answering simple questions to providing in-depth explanations and discussions on a wide range of topics. As a language model, Assistant is able to generate human-like text based on the input it receives, allowing it to engage in natural-sounding conversations and provide responses that are coherent and relevant to the topic at hand.\n\nAssistant is constantly learning and improving, and its capabilities are constantly evolving. It is able to process and understand large amounts of text, and can use this knowledge to provide accurate and informative responses to a wide range of questions. Additionally, Assistant is able to generate its own text based on the input it receives, allowing it to engage in discussions and provide explanations and descriptions on a wide range of topics.\n\nOverall, Assistant is a powerful system that can help with a wide range of tasks and provide valuable insights and information on a wide range of topics. Whether you need help with a specific question or just want to have a conversation about a particular topic, Assistant is here to assist.\n\nSpecifically, You experienced Artificial Intelligence researcher. Your primary function is to continuously monitor and analyze news updates about a specific event or topic that is of interest.\n\nProvide a concise summary of the latest developments.\n\nDeliver your analysis in a clear, structured format. Include the event/topic, date of update, key developments, potential market impacts, risks, and opportunities.\n\nRemember to maintain a professional, objective tone in your analysis. Your goal is to provide timely, accurate, and relevant information"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[760,0],"id":"c6ce7298-f6ab-4d06-96e7-105a5f568b41","name":"Hacker News Get All News"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1120,0],"id":"d645bb3c-9a13-4007-9a86-3586afa55e6a","name":"Email Structure Markdown"},{"parameters":{"resource":"draft","subject":"Latest AI update","emailType":"html","message":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1340,0],"id":"ef30b941-17e7-4946-93f7-6f6f3869bded","name":"Create Gmail Draft","webhookId":"ae1539aa-4280-4575-9f02-9ba3fdc530f0","credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Hacker News Get All News","type":"ai_languageModel","index":0}]]},"SerpAPI":{"ai_tool":[[{"node":"Hacker News Get All News","type":"ai_tool","index":0}]]},"Schedule Trigger Every Day Morning 7am":{"main":[[{"node":"Hacker News Get All News","type":"main","index":0}]]},"Hacker News Get All News":{"main":[[{"node":"Email Structure Markdown","type":"main","index":0}]]},"Email Structure Markdown":{"main":[[{"node":"Create Gmail Draft","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"39e15a84-b2e4-476a-9944-ba0b8038031a","triggerCount":0,"shared":[{"createdAt":"2025-01-31T07:34:59.559Z","updatedAt":"2025-01-31T07:34:59.559Z","role":"workflow:owner","workflowId":"Bu6i7UmjVs4mv1jL","projectId":"tktBUJ9Wt0VRCCM2"}],"tags":[]}