news-agent-QypZOqsdSyv4XzET.json
{"createdAt":"2025-01-31T10:24:26.645Z","updatedAt":"2025-02-03T07:18:58.825Z","id":"QypZOqsdSyv4XzET","name":"News Agent","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"669b78c1-9261-435f-8f4a-8046780da68a","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[140,220],"typeVersion":1},{"parameters":{"resource":"all","additionalFields":{"keyword":"AI"}},"id":"0cf56bef-81f0-447e-a6f8-c6433af99af3","name":"Hacker News","type":"n8n-nodes-base.hackerNews","position":[440,220],"typeVersion":1},{"parameters":{"options":{}},"id":"29d5596f-1f8e-44a5-925f-9a671609b8f9","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[900,220],"typeVersion":3},{"parameters":{"toolDescription":"grab the article for the ai agent to use","url":"={{ $json.url }}"},"id":"8ec75534-c9b0-41f8-b4a0-82c1ac6359a4","name":"HTTP Request1","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","position":[1360,500],"typeVersion":1.1},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"summary\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"related\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"image urls\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"},"id":"193ea33e-fb52-4538-b572-9fa47bfd9ccd","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[1520,500],"typeVersion":1.2},{"parameters":{"operation":"upload","bucketName":"=","additionalFields":{"grantRead":true,"parentFolderKey":"="}},"id":"bcc26a84-0f9b-4684-9a8a-320caa717958","name":"Upload to Minio","type":"n8n-nodes-base.s3","position":[4700,1000],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"ec8013d5-84b5-43c8-abcb-6986ef15939d","name":"property_name","type":"string","value":"={{ $json.message.content['Article Title'] }}"},{"id":"4d91c4fc-12a2-4fe2-a58e-02284314e1de","name":"property_text","type":"string","value":"={{ $json.message.content['Article Blurb'] }}"},{"id":"cad2b795-8b71-415f-a100-700d9ec62bbd","name":"property_image_url","type":"string","value":"={{ $('If Topic').item.json.output['image urls'] }}"}]},"options":{}},"id":"6ef95409-260e-4bc1-9895-42d2d631d367","name":"News1","type":"n8n-nodes-base.set","position":[2640,240],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://cloud.leonardo.ai/api/rest/v1/prompt/improve","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $('Article Prep').item.json.message.content['Image Prompt 1'] }}\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"bffc1fc4-1b51-4054-be29-e69489a21024","name":"Leo - Improve Prompt","type":"n8n-nodes-base.httpRequest","position":[3180,20],"typeVersion":4.2},{"parameters":{"url":"=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.body.sdGenerationJob.generationId }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"cda29125-17f5-4b17-b172-501ea50ec373","name":"Leo - Get imageId","type":"n8n-nodes-base.httpRequest","position":[3780,20],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.dev.runwayml.com/v1/image_to_video","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"promptImage","value":"={{ $json.body.generations_by_pk.generated_images[0].url }}"},{"name":"promptText","value":"string"},{"name":"model","value":"gen3a_turbo"}]},"options":{}},"id":"8f0beebe-463e-4ecc-a34a-291432118b72","name":"Runway - Create Video","type":"n8n-nodes-base.httpRequest","position":[2980,220],"typeVersion":4.2},{"parameters":{"url":"=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"options":{}},"id":"71a5fd8e-6f15-4605-91ca-68a25ee0a1a4","name":"Runway - Get Video","type":"n8n-nodes-base.httpRequest","position":[3380,220],"typeVersion":4.2},{"parameters":{"amount":3,"unit":"minutes"},"id":"ff910175-88c2-4931-ae3e-560cf110b562","name":"Wait2","type":"n8n-nodes-base.wait","position":[3180,220],"webhookId":"ddca5833-a40b-404a-9140-686cd4fa26cb","typeVersion":1.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"56219de5-244d-4b7f-a511-f3061572cf93","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.output.related }}","rightValue":"yes"}],"combinator":"and"},"options":{}},"id":"bf5f5720-c48b-4f59-bb36-c7e098bc3347","name":"If Topic","type":"n8n-nodes-base.if","position":[1560,220],"typeVersion":2.2},{"parameters":{"url":"={{ $('Article Analysis').first().json.output['image urls'] }}","options":{"response":{"response":{"fullResponse":true}}}},"id":"7ce89233-3c8a-4ff2-aa7c-e04737ca0cc1","name":"Get Image","type":"n8n-nodes-base.httpRequest","position":[1960,240],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"56c8f20d-d9d9-4be7-ac2a-38df6ffdd722","name":"model","type":"string","value":"6b645e3a-d64f-4341-a6d8-7a3690fbf042"}]},"includeOtherFields":true,"options":{}},"id":"0f1f5665-612a-43d0-90ea-37815f549f28","name":"Prompt Settings1","type":"n8n-nodes-base.set","position":[2980,20],"typeVersion":3.4},{"parameters":{"method":"POST","url":"https://cloud.leonardo.ai/api/rest/v1/generations","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"alchemy\": true,\n  \"width\": 1024,\n  \"height\": 768,\n  \"modelId\": \"6b645e3a-d64f-4341-a6d8-7a3690fbf042\",\n  \"num_images\": 1,\n  \"presetStyle\": \"MONOCHROME\",\n  \"prompt\": \"{{ $json.body.promptGeneration.prompt }}; Use the rule of thirds, leading lines, & balance. DO NOT INCLUDE ANY WORDS OR LABELS.\",\n  \"guidance_scale\": 7,\n  \"highResolution\": true,\n  \"promptMagic\": false,\n  \"promptMagicStrength\": 0.5,\n  \"promptMagicVersion\": \"v3\",\n  \"public\": false,\n  \"ultra\": false,\n  \"photoReal\": false,\n  \"negative_prompt\": \"\"\n} ","options":{"response":{"response":{"fullResponse":true}}}},"id":"7e811ce8-d7d2-4a7e-bacf-031a542d6473","name":"Leo - Generate Image","type":"n8n-nodes-base.httpRequest","position":[3380,20],"typeVersion":4.2},{"parameters":{"amount":30},"id":"c99bd7c1-0bda-4a75-96e0-c086e8fc3c2e","name":"Wait1","type":"n8n-nodes-base.wait","position":[3580,20],"webhookId":"256c3814-6a52-4eb1-969a-30f9f3b8e04e","typeVersion":1.1},{"parameters":{"maxItems":50,"keep":"lastItems"},"id":"ae5677e5-874d-40b6-af96-76396bf937bf","name":"Limit","type":"n8n-nodes-base.limit","position":[700,220],"typeVersion":1},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"imageUrls":"={{ $json.output['image urls'] }}","options":{"detail":"auto"}},"id":"f1f39cae-66ce-4c25-b915-afd944872199","name":"Image Analysis","type":"@n8n/n8n-nodes-langchain.openAi","position":[1780,0],"typeVersion":1.6},{"parameters":{"unit":"minutes"},"id":"e2046b33-e0f9-45f8-aaa6-1a1bdb88312c","name":"Wait3","type":"n8n-nodes-base.wait","position":[3540,940],"webhookId":"6e4a0b8d-6c31-4a98-8ec3-2509aa2087e8","typeVersion":1.1,"disabled":true},{"parameters":{"promptType":"define","text":"=Can you tell me if the article at {{ $json._highlightResult.url.value }} is related to any? \n\nthen, create a 250 word summary of the article\n\nAlso, list any image url's related to the article content from the url. Limit to 1 image url.","hasOutputParser":true,"options":{}},"id":"0f628996-1247-40f3-91a6-6fc18e28f12d","name":"Article Analysis","type":"@n8n/n8n-nodes-langchain.agent","position":[1200,220],"typeVersion":1.7,"executeOnce":false,"onError":"continueErrorOutput"},{"parameters":{},"id":"7cd2f988-6400-47a9-ab75-d1aa77b86554","name":"Dropbox","type":"n8n-nodes-base.dropbox","position":[4100,1000],"typeVersion":1},{"parameters":{"operation":"update","fileId":{"__rl":true,"mode":"list","value":""},"options":{}},"id":"bb80e5b1-c34a-42e2-9064-8604349ea5ae","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[4300,1000],"typeVersion":3},{"parameters":{},"id":"ce3639a9-d2a2-43f1-8fb7-9ac8845282a7","name":"Microsoft OneDrive","type":"n8n-nodes-base.microsoftOneDrive","position":[4500,1000],"typeVersion":1},{"parameters":{"resource":"video","operation":"upload","options":{}},"id":"bf5fac02-c846-4074-a5d2-b40a751fd283","name":"YouTube","type":"n8n-nodes-base.youTube","position":[4100,1420],"typeVersion":1},{"parameters":{"additionalFields":{}},"id":"0aa948fe-7858-4c93-9806-38c5dc473ece","name":"X","type":"n8n-nodes-base.twitter","position":[4300,1420],"typeVersion":2},{"parameters":{"options":{}},"id":"04e7208d-5a2f-4de6-8560-d142e26c440d","name":"Instagram","type":"n8n-nodes-base.httpRequest","position":[4700,1420],"typeVersion":4.2},{"parameters":{"additionalFields":{}},"id":"bce61c80-afd8-415d-b948-987e0cca7918","name":"LinkedIn","type":"n8n-nodes-base.linkedIn","position":[4500,1420],"typeVersion":1},{"parameters":{"method":"POST","url":"https://cloud.leonardo.ai/api/rest/v1/prompt/improve","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $('Article Prep').item.json.message.content['Image Prompt 2'] }}\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"cf8fbc7a-cb2d-4ccc-b6cc-248f33cc4b66","name":"Leo - Improve Prompt2","type":"n8n-nodes-base.httpRequest","position":[3180,420],"typeVersion":4.2},{"parameters":{"amount":3,"unit":"minutes"},"id":"4ed371b8-18a1-4984-b502-223ef110dd60","name":"Wait4","type":"n8n-nodes-base.wait","position":[3180,620],"webhookId":"89b31515-b403-4644-a2c1-970e5e774008","typeVersion":1.1},{"parameters":{"amount":30},"id":"7afe82c2-5176-493f-bbb1-7267f3539f76","name":"Wait6","type":"n8n-nodes-base.wait","position":[3580,420],"webhookId":"2efb873f-bcbd-41d9-99da-b2b57ef5ad93","typeVersion":1.1},{"parameters":{"method":"POST","url":"https://cloud.leonardo.ai/api/rest/v1/generations","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"alchemy\": true,\n  \"width\": 1024,\n  \"height\": 768,\n  \"modelId\": \"6b645e3a-d64f-4341-a6d8-7a3690fbf042\",\n  \"num_images\": 1,\n  \"presetStyle\": \"MONOCHROME\",\n  \"prompt\": \"{{ $json.body.promptGeneration.prompt }}; Use the rule of thirds, leading lines, & balance. DO NOT INCLUDE ANY WORDS OR LABELS.\",\n  \"guidance_scale\": 7,\n  \"highResolution\": true,\n  \"promptMagic\": false,\n  \"promptMagicStrength\": 0.5,\n  \"promptMagicVersion\": \"v3\",\n  \"public\": false,\n  \"ultra\": false,\n  \"photoReal\": false,\n  \"negative_prompt\": \"\"\n} ","options":{"response":{"response":{"fullResponse":true}}}},"id":"01a99192-1cbb-479f-82e3-ae314b8a3e94","name":"Leo - Generate Image2","type":"n8n-nodes-base.httpRequest","position":[3380,420],"typeVersion":4.2},{"parameters":{"url":"=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.body.sdGenerationJob.generationId }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"a18fa944-c27b-497e-9bec-47136656d68f","name":"Leo - Get imageId2","type":"n8n-nodes-base.httpRequest","position":[3780,420],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.dev.runwayml.com/v1/image_to_video","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"promptImage","value":"={{ $json.body.generations_by_pk.generated_images[0].url }}"},{"name":"promptText","value":"string"},{"name":"model","value":"gen3a_turbo"}]},"options":{}},"id":"8de2a7b8-28c2-4d50-aa8e-7a4385a18f5a","name":"Runway - Create Video2","type":"n8n-nodes-base.httpRequest","position":[2980,620],"typeVersion":4.2},{"parameters":{"url":"=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Runway-Version","value":"2024-11-06"}]},"options":{}},"id":"4bf47629-7858-45ea-97d8-f188a5e897a2","name":"Runway - Get Video2","type":"n8n-nodes-base.httpRequest","position":[3380,620],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.creatomate.com/v1/renders","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"max_width\": 480,\n  \"template_id\": \"enterTemplateID\",\n  \"modifications\": {\n    \"Scenes.elements\": [\n      {\n        \"name\": \"Intro Comp\",\n        \"type\": \"composition\",\n        \"track\": 1,\n        \"elements\": [\n          {\n            \"name\": \"Image-1\",\n            \"type\": \"image\",\n            \"source\": \"{{ $('Leo - Get imageId').item.json.body.generations_by_pk.generated_images[0].url }}\"\n          },\n          {\n            \"name\": \"Subtitles-1\",\n            \"type\": \"text\",\n            \"transcript_source\": \"Voiceover-1\",\n            \"width\": \"86.66%\",\n            \"height\": \"37.71%\",\n            \"x_alignment\": \"50%\",\n            \"y_alignment\": \"50%\",\n            \"fill_color\": \"#ffffff\",\n            \"stroke_color\": \"#333333\",\n            \"stroke_width\": \"1.05 vmin\",\n            \"font_family\": \"Inter\",\n            \"font_weight\": \"700\",\n            \"font_size\": \"8 vmin\",\n            \"background_color\": \"rgba(255,255,255,0.2)\",\n            \"background_x_padding\": \"26%\",\n            \"background_y_padding\": \"7%\",\n            \"background_border_radius\": \"28%\",\n            \"transcript_effect\": \"highlight\",\n            \"transcript_color\": \"#ff5900\"\n          },\n          {\n            \"name\": \"Voiceover-1\",\n            \"type\": \"audio\",\n            \"source\": \"{{ $('News1').item.json.property_name }}\",\n            \"provider\": \"openai model=tts-1 voice=onyx\"\n          }\n        ]\n      },\n      {\n        \"name\": \"Auto Scene Comp\",\n        \"type\": \"composition\",\n        \"track\": 1,\n        \"elements\": [\n          {\n            \"name\": \"Video-2\",\n            \"type\": \"video\",\n            \"source\": \"{{ $('Runway - Get Video').first().json.output[0] }}\",\n            \"loop\": true\n          },\n          {\n            \"name\": \"Subtitles-2\",\n            \"type\": \"text\",\n            \"transcript_source\": \"Voiceover-2\",\n            \"y\": \"78.2173%\",\n            \"width\": \"86.66%\",\n            \"height\": \"37.71%\",\n            \"x_alignment\": \"50%\",\n            \"y_alignment\": \"50%\",\n            \"fill_color\": \"#ffffff\",\n            \"stroke_color\": \"#333333\",\n            \"stroke_width\": \"1.05 vmin\",\n            \"font_family\": \"Inter\",\n            \"font_weight\": \"700\",\n            \"font_size\": \"8 vmin\",\n            \"background_color\": \"rgba(255,255,255,0.2)\",\n            \"background_x_padding\": \"26%\",\n            \"background_y_padding\": \"7%\",\n            \"background_border_radius\": \"28%\",\n            \"transcript_effect\": \"highlight\",\n            \"transcript_color\": \"#ff5900\"\n          },\n          {\n            \"name\": \"Voiceover-2\",\n            \"type\": \"audio\",\n            \"source\": \"{{ $('Article Prep').item.json.message.content['Summary Blurb 1'] }}\",\n            \"provider\": \"openai model=tts-1 voice=onyx\"\n          }\n        ]\n      },\n      {\n        \"name\": \"Auto Scene Comp\",\n        \"type\": \"composition\",\n        \"track\": 1,\n        \"elements\": [\n          {\n            \"name\": \"Video-3\",\n            \"type\": \"video\",\n            \"source\": \"{{ $('Runway - Get Video2').first().json.output[0] }}\",\n            \"loop\": true\n          },\n          {\n            \"name\": \"Subtitles-3\",\n            \"type\": \"text\",\n            \"transcript_source\": \"Voiceover-3\",\n            \"y\": \"78.2173%\",\n            \"width\": \"86.66%\",\n            \"height\": \"37.71%\",\n            \"x_alignment\": \"50%\",\n            \"y_alignment\": \"50%\",\n            \"fill_color\": \"#ffffff\",\n            \"stroke_color\": \"#333333\",\n            \"stroke_width\": \"1.05 vmin\",\n            \"font_family\": \"Inter\",\n            \"font_weight\": \"700\",\n            \"font_size\": \"8 vmin\",\n            \"background_color\": \"rgba(255,89,0,0.5)\",\n            \"background_x_padding\": \"26%\",\n            \"background_y_padding\": \"7%\",\n            \"background_border_radius\": \"28%\",\n            \"transcript_effect\": \"highlight\",\n            \"transcript_color\": \"#ff0040\"\n          },\n          {\n            \"name\": \"Voiceover-3\",\n            \"type\": \"audio\",\n            \"source\": \"{{ $('Article Prep').item.json.message.content['Summary Blurb 2'] }}\",\n            \"provider\": \"openai model=tts-1 voice=onyx\"\n          }\n        ]\n      }\n    ]\n  }\n}","options":{"response":{"response":{"fullResponse":true}}}},"id":"4804233e-f96f-4714-ad53-4be6a5ed1f5b","name":"Cre - Generate Video1","type":"n8n-nodes-base.httpRequest","position":[3340,940],"typeVersion":4.2},{"parameters":{"url":"=https://api.creatomate.com/v1/renders/{{ $json.body.body[0].id }}","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"6e24535c-d381-4d90-aa77-b22f33995ec2","name":"Cre - Get Video","type":"n8n-nodes-base.httpRequest","position":[3740,940],"typeVersion":4.2},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=prepare the following summary for a newsletter where the article will be 1 of several presented in the newsletter:\n\n{{ $('Article Analysis').first().json.output.summary }}\n\nMake sure the Article Blurb lenght is less than 15 words.\n\nThen, create 2 Summary Blurbs, making sure each is less than 15 words.\n\nAlso create 2 image prompts that is less than 15 words long for each Summary Blurb"},{"content":"Output in markdown format\nArticle Title\nArticle Blurb\nSummary Blurb 1\nSummary Blurb 2\nArticle Image\nImage Prompt 1\nImage Prompt 2","role":"system"}]},"jsonOutput":true,"options":{}},"id":"08e4f54c-f87b-4a13-913b-b4b85dcf58b3","name":"Article Prep","type":"@n8n/n8n-nodes-langchain.openAi","position":[2280,240],"typeVersion":1.6},{"parameters":{"content":"Don't forget to connect this last node to the loop to process additional items","height":100,"width":180,"color":7},"id":"e06b1bbe-f9bc-4aab-a98b-b6c4fc3a19c8","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[3740,1100],"typeVersion":1},{"parameters":{"modelName":"models/gemini-1.5-flash","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1200,500],"id":"fac99e77-33e9-42f2-9e0c-094221429e3a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[740,560],"id":"862fb2cb-1e22-4732-8b6e-da762b02df9b","name":"Groq Chat Model","credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Hacker News","type":"main","index":0}]]},"Hacker News":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Article Analysis","type":"main","index":0}]]},"HTTP Request1":{"ai_tool":[[{"node":"Article Analysis","type":"ai_tool","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Article Analysis","type":"ai_outputParser","index":0}]]},"News1":{"main":[[{"node":"Prompt Settings1","type":"main","index":0}]]},"Leo - Improve Prompt":{"main":[[{"node":"Leo - Generate Image","type":"main","index":0}]]},"Leo - Get imageId":{"main":[[{"node":"Runway - Create Video","type":"main","index":0}]]},"Runway - Create Video":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Runway - Get Video":{"main":[[{"node":"Leo - Improve Prompt2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Runway - Get Video","type":"main","index":0}]]},"If Topic":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Image":{"main":[[{"node":"Article Prep","type":"main","index":0}]]},"Prompt Settings1":{"main":[[{"node":"Leo - Improve Prompt","type":"main","index":0}]]},"Leo - Generate Image":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Leo - Get imageId","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Image Analysis":{"main":[[]]},"Wait3":{"main":[[{"node":"Cre - Get Video","type":"main","index":0}]]},"Article Analysis":{"main":[[{"node":"If Topic","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Dropbox":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Microsoft OneDrive","type":"main","index":0}]]},"Microsoft OneDrive":{"main":[[{"node":"Upload to Minio","type":"main","index":0}]]},"YouTube":{"main":[[{"node":"X","type":"main","index":0}]]},"X":{"main":[[{"node":"LinkedIn","type":"main","index":0}]]},"LinkedIn":{"main":[[{"node":"Instagram","type":"main","index":0}]]},"Leo - Improve Prompt2":{"main":[[{"node":"Leo - Generate Image2","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Runway - Get Video2","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Leo - Get imageId2","type":"main","index":0}]]},"Leo - Generate Image2":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Leo - Get imageId2":{"main":[[{"node":"Runway - Create Video2","type":"main","index":0}]]},"Runway - Create Video2":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Runway - Get Video2":{"main":[[{"node":"Cre - Generate Video1","type":"main","index":0}]]},"Cre - Generate Video1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Article Prep":{"main":[[{"node":"News1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Article Analysis","type":"ai_languageModel","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d2668c07-06a9-4863-a7d4-b21719a6595b","triggerCount":0,"shared":[{"createdAt":"2025-01-31T10:24:26.645Z","updatedAt":"2025-01-31T10:24:26.645Z","role":"workflow:owner","workflowId":"QypZOqsdSyv4XzET","projectId":"tktBUJ9Wt0VRCCM2"}],"tags":[]}