ppt-ffsWCRgl1C7AmrWh.json
{"updatedAt":"2025-10-06T13:40:01.621Z","createdAt":"2025-10-06T13:40:01.621Z","id":"ffsWCRgl1C7AmrWh","name":"PPT","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[368,48],"id":"cc1c5a4f-e66c-47be-a6fc-c6fd34fe703d","name":"When clicking ‘Execute workflow’"},{"parameters":{"promptType":"define","text":"Reaserch about nano AI and give me few lines.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[560,48],"id":"168a333e-d7a7-4a1e-a909-630d1cdf45c1","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[560,240],"id":"502ceeb6-5958-4232-b7ba-193a369967f1","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"authentication":"serviceAccount","title":"Nano AI"},"type":"n8n-nodes-base.googleSlides","typeVersion":2,"position":[880,48],"id":"77ab2709-a6bd-484d-bdf1-e3a26e67cdb6","name":"Create a presentation"},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{}},"id":"26c371f7-a837-43e5-ad25-373d6886a727","name":"Download by ID","type":"n8n-nodes-base.googleDrive","position":[-128,784],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"mode":"id","value":"={{ $('Create new Sheet').first().json.spreadsheetId }}"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"=1-oMQTyijYXNmt-Dwh748JFjlDZVCu6ii"}},"id":"5b939769-033a-4bbb-8881-a617e4e88e88","name":"MoveToLeadListFolder","type":"n8n-nodes-base.googleDrive","position":[1216,784],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"id","value":"={{ $('Create new Sheet').first().json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"id","value":"={{ $('Create new Sheet').first().json.sheets[0].properties.sheetId }}"},"columns":{"value":{"Email":"={{ $('Get all Leads').item.json.Email }}","PresentationID":"={{ $json.presentationId }}"},"schema":[{"id":"First Name","type":"string","display":true,"required":false,"displayName":"First Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Last Name","type":"string","display":true,"required":false,"displayName":"Last Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Full Name","type":"string","display":true,"required":false,"displayName":"Full Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Title","type":"string","display":true,"required":false,"displayName":"Title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Email","type":"string","display":true,"removed":false,"required":false,"displayName":"Email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Company","type":"string","display":true,"required":false,"displayName":"Company","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Contact Location","type":"string","display":true,"required":false,"displayName":"Contact Location","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Employees","type":"string","display":true,"required":false,"displayName":"Employees","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Phone","type":"string","display":true,"required":false,"displayName":"Phone","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Industry","type":"string","display":true,"required":false,"displayName":"Industry","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Country","type":"string","display":true,"required":false,"displayName":"Country","defaultMatch":false,"canBeUsedToMatch":true},{"id":"State","type":"string","display":true,"required":false,"displayName":"State","defaultMatch":false,"canBeUsedToMatch":true},{"id":"City","type":"string","display":true,"required":false,"displayName":"City","defaultMatch":false,"canBeUsedToMatch":true},{"id":"PresentationID","type":"string","display":true,"removed":false,"required":false,"displayName":"PresentationID","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Keywords","type":"string","display":true,"required":false,"displayName":"Keywords","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["Email"]},"options":{}},"id":"d64bd0aa-f215-40a8-8ff3-57320fde702b","name":"Add Presentation ID to Lead List","type":"n8n-nodes-base.googleSheets","position":[1888,784],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"={{ $('Create new Sheet').first().json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"id","value":"={{ $('Create new Sheet').first().json.sheets[0].properties.sheetId }}"},"options":{}},"id":"5a9cb06c-afba-46cf-9cce-6d4a83ce2643","name":"Get all Leads","type":"n8n-nodes-base.googleSheets","position":[992,784],"executeOnce":true,"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"resource":"spreadsheet","title":"=Leads_{{ $now.setZone('Europe/Berlin').toFormat('yyyy-dd-MM') }}","sheetsUi":{"sheetValues":[{"title":"sample_data"}]},"options":{}},"id":"b1b8d663-e5a6-496d-9195-6dfed353a805","name":"Create new Sheet","type":"n8n-nodes-base.googleSheets","position":[144,672],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"={{ $('Create new Sheet').first().json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"id","value":"={{ $('Create new Sheet').first().json.sheets[0].properties.sheetId }}"},"columns":{"value":{},"schema":[{"id":"First Name","type":"string","display":true,"removed":false,"required":false,"displayName":"First Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Last Name","type":"string","display":true,"removed":false,"required":false,"displayName":"Last Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Full Name","type":"string","display":true,"removed":false,"required":false,"displayName":"Full Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Title","type":"string","display":true,"removed":false,"required":false,"displayName":"Title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Email","type":"string","display":true,"removed":false,"required":false,"displayName":"Email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Company","type":"string","display":true,"removed":false,"required":false,"displayName":"Company","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Contact Location","type":"string","display":true,"removed":false,"required":false,"displayName":"Contact Location","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Employees","type":"string","display":true,"removed":false,"required":false,"displayName":"Employees","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Phone","type":"string","display":true,"removed":false,"required":false,"displayName":"Phone","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Industry","type":"string","display":true,"removed":false,"required":false,"displayName":"Industry","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Country","type":"string","display":true,"removed":false,"required":false,"displayName":"Country","defaultMatch":false,"canBeUsedToMatch":true},{"id":"State","type":"string","display":true,"removed":false,"required":false,"displayName":"State","defaultMatch":false,"canBeUsedToMatch":true},{"id":"City","type":"string","display":true,"removed":false,"required":false,"displayName":"City","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Keywords","type":"string","display":true,"removed":false,"required":false,"displayName":"Keywords","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"autoMapInputData","matchingColumns":[]},"options":{"useAppend":true}},"id":"232ee1fd-1f4e-4280-9ac1-772006246fbb","name":"Merge Data for new Lead Document","type":"n8n-nodes-base.googleSheets","position":[736,784],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"list","value":"1GYT9Z8_BnqqY9dqsMpFWJqjeNVsq_xTY","cachedResultUrl":"https://drive.google.com/drive/folders/1GYT9Z8_BnqqY9dqsMpFWJqjeNVsq_xTY","cachedResultName":"__cmath"},"event":"fileCreated","options":{}},"id":"c269ebfd-a9ac-4fe8-8990-08847ada256c","name":"New Leads Arrived","type":"n8n-nodes-base.googleDriveTrigger","position":[-656,784],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.mimeType }}","rightValue":"text/csv"}]},"renameOutput":true,"outputKey":"csv"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c2f2fb50-a750-4870-aff7-11df142a9be5","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"}]},"renameOutput":true,"outputKey":"xlsx"}]},"options":{}},"id":"170bb28c-3ec9-4c36-bb8d-4201473186f5","name":"File Type?","type":"n8n-nodes-base.switch","position":[-416,784],"typeVersion":3.2},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"id":"4a5d72ae-2543-442f-94fe-363e582f100d","name":"Combine Empty New Document with CSV Data","type":"n8n-nodes-base.merge","position":[448,784],"typeVersion":3},{"parameters":{"operation":"replaceText","presentationId":"={{ $json.id }}","textUi":{"textValues":[{"text":"{COMPANYNAME}","replaceText":"={{ $('Get all Leads').item.json.Company }}"},{"text":"{Testdurchgestrichen}","replaceText":"={{ $('Get all Leads').item.json['Full Name'] }}"},{"text":"{nichtdurchgestrichen}","replaceText":"={{ $('Get all Leads').item.json['First Name'] }}"}]},"options":{}},"id":"7446965f-9ecc-44e3-83f7-523b45d67af5","name":"Create Custom Presentation","type":"n8n-nodes-base.googleSlides","position":[1664,784],"typeVersion":2},{"parameters":{"content":"# Duplicate Template and Create Custom Presentations","height":340,"width":960,"color":4},"id":"685f8184-53b1-4573-8804-81cd2eaf5105","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1136,688],"typeVersion":1},{"parameters":{"content":"# Create New Google Sheets and Insert Data from CSV file","height":520,"width":1300,"color":4},"id":"7e852a70-d172-4261-be67-6eba57526d3c","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-176,496],"typeVersion":1},{"parameters":{"options":{"delimiter":",","encoding":"utf-8","headerRow":true}},"id":"d810b808-fab9-47e0-b895-c663dd0779c2","name":"Extract Information from CSV file","type":"n8n-nodes-base.extractFromFile","position":[144,848],"typeVersion":1},{"parameters":{"operation":"copy","fileId":{"__rl":true,"mode":"list","value":"1FtMBECbZY-9gSW6L6DtioOOJv-V9LXduEjZO0pp-NmA","cachedResultUrl":"https://docs.google.com/presentation/d/1FtMBECbZY-9gSW6L6DtioOOJv-V9LXduEjZO0pp-NmA/edit?usp=drivesdk","cachedResultName":"Stardawn Updated"},"name":"={{ $('Get all Leads').item.json.Company }} X MYCOMPANYNAME_{{ $now.setZone('Europe/Berlin').toFormat('yyyy-dd-MM') }}","sameFolder":false,"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"1Yu2s72rgOJlz1-tMuzlaeN8UZezYftRT","cachedResultUrl":"https://drive.google.com/drive/folders/1Yu2s72rgOJlz1-tMuzlaeN8UZezYftRT","cachedResultName":"Custom Presentations"},"options":{}},"id":"e0784f54-8358-4249-b5da-b44d23f374f2","name":"Copy Presentation Template","type":"n8n-nodes-base.googleDrive","position":[1456,784],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Create a presentation","type":"main","index":0}]]},"Download by ID":{"main":[[{"node":"Extract Information from CSV file","type":"main","index":0},{"node":"Create new Sheet","type":"main","index":0}]]},"MoveToLeadListFolder":{"main":[[{"node":"Copy Presentation Template","type":"main","index":0}]]},"Get all Leads":{"main":[[{"node":"MoveToLeadListFolder","type":"main","index":0}]]},"Create new Sheet":{"main":[[{"node":"Combine Empty New Document with CSV Data","type":"main","index":0}]]},"Merge Data for new Lead Document":{"main":[[{"node":"Get all Leads","type":"main","index":0}]]},"New Leads Arrived":{"main":[[{"node":"File Type?","type":"main","index":0}]]},"File Type?":{"main":[[{"node":"Download by ID","type":"main","index":0}]]},"Combine Empty New Document with CSV Data":{"main":[[{"node":"Merge Data for new Lead Document","type":"main","index":0}]]},"Create Custom Presentation":{"main":[[{"node":"Add Presentation ID to Lead List","type":"main","index":0}]]},"Extract Information from CSV file":{"main":[[{"node":"Combine Empty New Document with CSV Data","type":"main","index":1}]]},"Copy Presentation Template":{"main":[[{"node":"Create Custom Presentation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"2e23bd98-f74f-4173-a17e-8d5c2ea00c40","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T13:40:01.684Z","createdAt":"2025-10-06T13:40:01.684Z","role":"workflow:owner","workflowId":"ffsWCRgl1C7AmrWh","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}