rag-chatbot-for-company-documents-using-google-drive-and-gemini-e7xnIDRmnAc0rSWz.json
{"createdAt":"2025-03-06T11:45:35.964Z","updatedAt":"2025-05-08T06:51:05.728Z","id":"e7xnIDRmnAc0rSWz","name":"RAG Chatbot for Company Documents using Google Drive and Gemini","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"company-files","mode":"list","cachedResultName":"company-files"},"options":{}},"id":"753455a3-ddc8-4a74-b043-70a0af38ff9e","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[920,360],"typeVersion":1,"credentials":{"pineconeApi":{"id":"ma3QfVS0RlM8kmmz","name":"PineconeApi account 3"}}},{"parameters":{"modelName":"models/text-embedding-004"},"id":"a7c8fa7f-cad2-4497-a295-30aa2e98cacc","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[880,640],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{}},"id":"215f0519-4359-4e4b-a90c-7e54b1cc52b5","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[1080,580],"typeVersion":1},{"parameters":{"chunkOverlap":100,"options":{}},"id":"863d3d1d-1621-406e-8320-688f64b07b09","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[1060,780],"typeVersion":1},{"parameters":{"options":{"systemMessage":"=You are a highly capable assistant designed to retrieve and provide precise, concise, and informative answers based on internal company documents.\n\nGuidelines for Response Generation:\nAlways Use the Tool for Retrieval:\nBefore answering any company-related query, use the company_knowledge_search to search for relevant information.\nIf the information is found, extract and present it in a clear, structured manner.\n\nFormat Responses Clearly:\nKeep answers direct and relevant.\nIf needed, summarize lengthy information while retaining key details.\nUse bullet points or numbered lists for clarity if the information is complex.\n\n\n\nMaintain Confidentiality & Relevance:\nProvide only factual information from company records.\nAvoid adding unnecessary details or opinions.\n\nTool Usage:\nMandatory: Always execute a query using company_knowledge_search before responding to company-related questions.\n\nIf the user asks for additional details, re-run the tool with a refined query if necessary."}},"id":"5af1efb1-ea69-466e-bb3b-2b7e6b1ceef7","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[660,1200],"typeVersion":1.7},{"parameters":{"name":"company_knowledge_search","description":"Retrieve information from any company documents"},"id":"825632ac-1edf-4e63-948d-b1a498b2b962","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[1060,1420],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"value":"company-files","mode":"list","cachedResultName":"company-files"},"options":{}},"id":"72d2f685-bcc3-4e62-a5e3-72c0fe65f8e8","name":"Pinecone Vector Store (Retrieval)","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[960,1600],"typeVersion":1,"credentials":{"pineconeApi":{"id":"ma3QfVS0RlM8kmmz","name":"PineconeApi account 3"}}},{"parameters":{"modelName":"models/text-embedding-004"},"id":"eeff81cb-6aec-4e7f-afe0-432d87085fb2","name":"Embeddings Google Gemini (retrieval)","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[940,1760],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"fileName":"={{ $json.name }}"}},"id":"8bb6ebb1-1deb-498b-8da4-b809a736e097","name":"Download File From Google Drive","type":"n8n-nodes-base.googleDrive","position":[700,360],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"content":"## Chat with company documents","height":120},"id":"bd83bacf-dff1-4b7c-af5c-b249fb16c113","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[660,1060],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo","mode":"list","cachedResultName":"RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo"},"event":"fileUpdated","options":{}},"id":"7b90daab-0fb2-4c8a-93e6-b138bb04f282","name":"Google Drive File Updated","type":"n8n-nodes-base.googleDriveTrigger","position":[380,500],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo","mode":"list","cachedResultName":"RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1jZNhpS84lHf9lTjSOU2yKVJfDkzrpNEo"},"event":"fileCreated","options":{"fileType":"all"}},"id":"3a6c6cef-7a19-42ef-8092-eaf57dae4cdd","name":"Google Drive File Created","type":"n8n-nodes-base.googleDriveTrigger","position":[380,240],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"options":{}},"id":"4b0ab858-99b1-4337-8c5c-a223519e3662","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[320,1200],"webhookId":"5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd","typeVersion":1.1},{"parameters":{"content":"## Add docuemnts to vector store when updating or creating new documents in Google Drive","width":320},"id":"bfb684d1-e5c1-41da-8305-b2606a2eade6","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[680,120],"typeVersion":1},{"parameters":{"modelName":"models/gemini-1.5-flash-001","options":{}},"id":"8f627ec6-4b3f-43ad-a4a3-e2b199a7fe58","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[560,1500],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"id":"f2133a06-0088-46de-9f74-a3f9fe478f98","name":"Google Gemini Chat Model (retrieval)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1320,1600],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"content":"## Set up steps\n\n1. Google Cloud Project and Vertex AI API:\n* Create a Google Cloud project.\n* Enable the Vertex AI API for your project.\n2. Google AI API Key:\n* Obtain a Google AI API key from Google AI Studio.\n3. Pinecone Account:\n* Create a free account on the Pinecone website.\nObtain your API key from your Pinecone dashboard.\n* Create an index named company-files in your Pinecone project.\n4. Google Drive:\n* Create a dedicated folder in your Google Drive where company documents will be stored.\n5. Credentials in n8n: Configure credentials in your n8n environment for:\n* Google Drive OAuth2\n* Google Gemini(PaLM) Api (using your Google AI API key)\n* Pinecone API (using your Pinecone API key)\n5. Import the Workflow:\n* Import this workflow into your n8n instance.\n6. Configure the Workflow:\n* Update both Google Drive Trigger nodes to watch the specific folder you created in your Google Drive.\n* Configure the Pinecone Vector Store nodes to use your company-files index.","height":720,"width":420},"id":"578deb96-8393-4850-9757-fa97b2bc9992","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-300,580],"typeVersion":1},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[760,1500],"id":"27811922-7f64-4fda-9b68-1e6b82cb09e0","name":"Window Buffer Memory"}],"connections":{"AI Agent":{"main":[[]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Pinecone Vector Store":{"main":[[]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Drive File Created":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Google Drive File Updated":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Download File From Google Drive":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Pinecone Vector Store (Retrieval)":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Google Gemini (retrieval)":{"ai_embedding":[[{"node":"Pinecone Vector Store (Retrieval)","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model (retrieval)":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2753"},"pinData":{},"versionId":"cd8568a7-11dc-4480-be58-0d508fb94e3b","triggerCount":0,"shared":[{"createdAt":"2025-03-06T11:45:35.964Z","updatedAt":"2025-03-06T11:45:35.964Z","role":"workflow:owner","workflowId":"e7xnIDRmnAc0rSWz","projectId":"tktBUJ9Wt0VRCCM2"}],"tags":[]}