seo-research-fCZBeSHhY0H5J2j5.json
{"createdAt":"2025-02-21T13:34:03.185Z","updatedAt":"2025-02-21T13:46:14.021Z","id":"fCZBeSHhY0H5J2j5","name":"SEO Research","active":false,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"rows","options":{}},"id":"22cc95fe-f444-40fe-971d-fea79a0ef367","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[60,80]},{"parameters":{"assignments":{"assignments":[{"id":"7343c80f-37f3-4bb5-84d8-9f21f8a350cd","name":"Keyword","value":"={{ $json.keys[0] }}","type":"string"},{"id":"436e7c8b-2df2-40a9-97af-597dc00cf143","name":"clicks","value":"={{ $json.clicks }}","type":"number"},{"id":"5b4aaffe-391a-4c9d-8249-f447397a3f5d","name":"impressions","value":"={{ $json.impressions }}","type":"number"},{"id":"33677237-57fe-48f4-aff8-72ae81b5f5a2","name":"ctr","value":"={{ $json.ctr }}","type":"number"},{"id":"f961deee-d222-4df7-a7ff-b7286405e4a7","name":"position","value":"={{ $json.position }}","type":"number"}]},"options":{}},"id":"d2472e3f-106c-48b2-975d-20dc8d140ad4","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,80]},{"parameters":{"method":"POST","url":"https://www.googleapis.com/webmasters/v3/sites/sc-domain:gmindia.tech/searchAnalytics/query","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"startDate\": \"2024-04-01\",\n  \"endDate\": \"2024-05-01\",\n  \"dimensions\": [\"query\"]\n}","options":{}},"id":"f1c98904-0be6-4236-8534-884159435186","name":"query","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-140,80]},{"parameters":{"fieldToSplitOut":"rows","options":{}},"id":"920d7237-474d-4900-97ae-0b9abbb9aa29","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[80,260]},{"parameters":{"assignments":{"assignments":[{"id":"7343c80f-37f3-4bb5-84d8-9f21f8a350cd","name":"page","value":"={{ $json.keys[0] }}","type":"string"},{"id":"436e7c8b-2df2-40a9-97af-597dc00cf143","name":"clicks","value":"={{ $json.clicks }}","type":"number"},{"id":"5b4aaffe-391a-4c9d-8249-f447397a3f5d","name":"impressions","value":"={{ $json.impressions }}","type":"number"},{"id":"33677237-57fe-48f4-aff8-72ae81b5f5a2","name":"ctr","value":"={{ $json.ctr }}","type":"number"},{"id":"f961deee-d222-4df7-a7ff-b7286405e4a7","name":"position","value":"={{ $json.position }}","type":"number"}]},"options":{}},"id":"40632275-a6a2-4921-88d9-e518730027b6","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,260]},{"parameters":{"method":"POST","url":"https://www.googleapis.com/webmasters/v3/sites/sc-domain:effibotics.com/searchAnalytics/query","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"startDate\": \"2024-04-01\",\n  \"endDate\": \"2024-05-01\",\n  \"dimensions\": [\"page\"]\n}","options":{}},"id":"7ddbbf5a-ad7e-4e2f-8f0b-7b5ab3f15cc6","name":"page","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,260]},{"parameters":{"fieldToSplitOut":"rows","options":{}},"id":"6c6d995a-e5cb-486a-9fd3-17cdd0429330","name":"Split Out2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[100,440]},{"parameters":{"assignments":{"assignments":[{"id":"7343c80f-37f3-4bb5-84d8-9f21f8a350cd","name":"date","value":"={{ $json.keys[0] }}","type":"string"},{"id":"436e7c8b-2df2-40a9-97af-597dc00cf143","name":"clicks","value":"={{ $json.clicks }}","type":"number"},{"id":"5b4aaffe-391a-4c9d-8249-f447397a3f5d","name":"impressions","value":"={{ $json.impressions }}","type":"number"},{"id":"33677237-57fe-48f4-aff8-72ae81b5f5a2","name":"ctr","value":"={{ $json.ctr }}","type":"number"},{"id":"f961deee-d222-4df7-a7ff-b7286405e4a7","name":"position","value":"={{ $json.position }}","type":"number"}]},"options":{}},"id":"7fd41928-e83a-47ba-8271-bc0fe58d59b5","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,440]},{"parameters":{"method":"POST","url":"https://www.googleapis.com/webmasters/v3/sites/sc-domain:effibotics.com/searchAnalytics/query","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"startDate\": \"2024-04-01\",\n  \"endDate\": \"2024-05-01\",\n  \"dimensions\": [\"date\"]\n}","options":{}},"id":"14d91db9-b4ec-4cbb-ac30-11fd2b00c310","name":"date","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,440]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":996986484,"mode":"list","cachedResultName":"Query","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit#gid=996986484"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Keyword"],"schema":[{"id":"Keyword","displayName":"Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"clicks","displayName":"clicks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"impressions","displayName":"impressions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ctr","displayName":"ctr","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"position","displayName":"position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"aa8e9b69-a45f-4b57-a8eb-09a3000a608b","name":"queryes","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[480,80],"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":1823079319,"mode":"list","cachedResultName":"Dates","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit#gid=1823079319"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["date"],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"clicks","displayName":"clicks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"impressions","displayName":"impressions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ctr","displayName":"ctr","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"position","displayName":"position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"832b83eb-6d4e-4b9a-b9ea-cd4722540627","name":"date1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[520,440],"retryOnFail":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PAGES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["page"],"schema":[{"id":"page","displayName":"page","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"clicks","displayName":"clicks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"impressions","displayName":"impressions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ctr","displayName":"ctr","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"position","displayName":"position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"d386e78f-30a5-49d9-b2c3-6c0553a17bf8","name":"pages","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[500,260]},{"parameters":{"rule":{"interval":[{}]}},"id":"66d524f9-1b61-43a7-be9a-068d8224d4e1","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-460,260]},{"parameters":{"content":"# Search console automation","height":80,"width":521.6875},"id":"e92dc414-0153-4649-a978-50383708a80e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,-40]},{"parameters":{"content":"## What do I do\n\nI help prepaire reports each day that you can use for your day to day reporting for the Google search console results\n\nWith this, you can get all your results on a schedule and create any report based on your preferences\n\n\n## Usage\n\n1. Make a copy of this google sheet https://docs.google.com/spreadsheets/d/10hSuGOOf14YvVY2Bw8WXUIpsyXO614l7qNEjkyVY_Qg/edit?usp=sharing\n\n2. Set your google service credentials and add these scopes `https://www.googleapis.com/auth/webmasters, https://www.googleapis.com/auth/webmasters.readonly, https://www.googleapis.com/auth/adwords`\n\n3. Replace the domains with your desired domains\n","height":188.48085106382936,"width":442.76879432624156},"id":"f16e5109-f08f-4284-a198-d266fb72744a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-720,40]}],"connections":{"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"query":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"page":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"date":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"queryes","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"pages","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"date1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"query","type":"main","index":0},{"node":"page","type":"main","index":0},{"node":"date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b136db3d-c668-4a81-87c5-a74b85c85fba","triggerCount":0,"shared":[{"createdAt":"2025-02-21T13:34:03.185Z","updatedAt":"2025-02-21T13:34:03.185Z","role":"workflow:owner","workflowId":"fCZBeSHhY0H5J2j5","projectId":"tktBUJ9Wt0VRCCM2"}],"tags":[]}