simple-news-agent-gteIB9NRMtp2HC1y.json
{"createdAt":"2025-02-03T07:30:54.256Z","updatedAt":"2025-02-03T13:04:20.897Z","id":"gteIB9NRMtp2HC1y","name":"Simple News Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"modelName":"models/gemini-1.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[180,180],"id":"52a6a603-d03b-4a76-a178-bcc5fd2ef70a","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"options":{"google_domain":"google.com","hl":"en"}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[320,180],"id":"59948d64-d5b8-4f6d-a667-4f8ce2c06d4e","name":"SerpAPI","credentials":{"serpApi":{"id":"nicgNtQdiArqfARf","name":"SerpAPI account 3"}}},{"parameters":{"additionalFields":{"includeComments":false}},"type":"n8n-nodes-base.hackerNews","typeVersion":1,"position":[-260,340],"id":"28601a80-f010-43be-a888-9b5541bfde35","name":"Hacker News1"},{"parameters":{"resource":"all","additionalFields":{"keyword":"Latest Artificial Intelligence"}},"type":"n8n-nodes-base.hackerNews","typeVersion":1,"position":[-320,-40],"id":"f243184d-3662-43b7-bab3-9451da858e7f","name":"Hacker News Get All News"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-580,-40],"id":"00557e7d-bc42-4672-92c5-4705be5b765c","name":"Schedule Trigger Every Day Morning 7am"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-60,-40],"id":"2375b3f5-23b8-4e97-a833-1c194ff6faa9","name":"Limit the number of news"},{"parameters":{"promptType":"define","text":"What is the latest news on artificial intelligence?\n\nUse both Hacker News Get All Node and SerpAPI Tool to collect the latest AI-related news updates.\n\nRetrieve the latest 10 AI-related news articles from Hacker News.\nFetch relevant and recent AI news using SerpAPI (Google News search).\nAnalyze and pass one key news result for further processing.\nYour response should follow a structured format with the following details:\n\nEvent/Topic: The main subject of the news update.\nDate of Update: When the news was last updated or reported.\nKey Developments: Summarize the core points of the news, including new advancements, breakthroughs, or industry changes.\nPotential Market Impacts: How this news could affect businesses, industries, investments, or the AI market in general.\nRisks and Opportunities: Possible risks, challenges, or controversies linked to this development, along with potential opportunities or benefits.\nEnsure that the analysis is professional, objective, and data-driven, providing valuable insights based on the latest available information.","hasOutputParser":true,"options":{"systemMessage":"You are an Artificial Intelligence researcher and news analyst with expertise in gathering and analyzing AI-related news updates.\n\nYour primary responsibility is to monitor, collect, and analyze the latest AI news from multiple sources, including:\n\nHacker News Get All Node – Retrieve the latest 10 AI-related articles.\nSerpAPI Tool – Conduct real-time AI news searches using Google News.\nYour task is to:\n\nCollect and process AI-related news updates from both sources.\nIdentify and extract the most relevant and recent news from the dataset.\nPass one key news result to the agent for further analysis.\nProvide a structured summary with clear insights and critical details.\nYour response must follow this structured format:\n\nEvent/Topic: The specific AI-related event or news.\nDate of Update: When the news was published or last updated.\nKey Developments: A summary of significant updates, research, policies, or industry changes.\nPotential Market Impacts: How the development affects businesses, technology, or economic factors.\nRisks and Opportunities: Potential risks, ethical concerns, or challenges, along with new opportunities for growth and innovation.\nEnsure that your analysis remains timely, accurate, and professionally structured. Your goal is to deliver concise, data-driven insights that help in understanding the latest trends and developments in artificial intelligence."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[180,-40],"id":"4c613129-6447-4d72-903d-a7939fecf2e0","name":"News Search AI Agent","executeOnce":false},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[540,-40],"id":"aef42d1a-6a1d-4123-9eff-96b93eb5726d","name":"Email Structure Markdown"},{"parameters":{"resource":"draft","subject":"Latest AI update","emailType":"html","message":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[760,-40],"id":"c9b0d0f3-7772-41c4-a870-5091d40218cb","name":"Create Gmail Draft","webhookId":"ae1539aa-4280-4575-9f02-9ba3fdc530f0","credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"News Search AI Agent","type":"ai_languageModel","index":0}]]},"SerpAPI":{"ai_tool":[[{"node":"News Search AI Agent","type":"ai_tool","index":0}]]},"Hacker News1":{"main":[[]]},"Hacker News Get All News":{"main":[[{"node":"Limit the number of news","type":"main","index":0}]]},"Schedule Trigger Every Day Morning 7am":{"main":[[{"node":"Hacker News Get All News","type":"main","index":0}]]},"Limit the number of news":{"main":[[{"node":"News Search AI Agent","type":"main","index":0}]]},"News Search AI Agent":{"main":[[{"node":"Email Structure Markdown","type":"main","index":0}]]},"Email Structure Markdown":{"main":[[{"node":"Create Gmail Draft","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0b1f111b-1678-4aa9-aa10-ca83bc99f1ec","triggerCount":0,"shared":[{"createdAt":"2025-02-03T07:30:54.256Z","updatedAt":"2025-02-03T07:30:54.256Z","role":"workflow:owner","workflowId":"gteIB9NRMtp2HC1y","projectId":"tktBUJ9Wt0VRCCM2"}],"tags":[]}