sortby-laptop-specification-list-Fs01u21SD6DmFNxR.json
{"createdAt":"2025-02-24T10:39:14.822Z","updatedAt":"2025-02-25T06:39:23.324Z","id":"Fs01u21SD6DmFNxR","name":"Sortby Laptop Specification List","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-300,-120],"id":"a602f8c5-5d59-4533-abda-6b0eb0c67187","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1BNMYvj5VuQGe0CPHWkmD6UHxRKMqtMY4U11VtXcpQgY","mode":"list","cachedResultName":"laptops.details","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BNMYvj5VuQGe0CPHWkmD6UHxRKMqtMY4U11VtXcpQgY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":632006818,"mode":"list","cachedResultName":"laptops.details.csv","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BNMYvj5VuQGe0CPHWkmD6UHxRKMqtMY4U11VtXcpQgY/edit#gid=632006818"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-80,-120],"id":"cf4a4b26-5cda-4790-8272-fe41007eb9bd","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"promptType":"define","text":"={{ $json.brand }}, {{ $json.model }}, {{ $json.specs }}, {{ $json.screen_size }}, {{ $json.ram }}, {{ $json.storage }}","hasOutputParser":true,"options":{"systemMessage":"You are a System Specification Analyst tasked with identifying the best system specifications for a given use case. Your goal is to analyze requirements, compare available options, and recommend a higher system configuration that meets the performance, storage, RAM, and scalability needs."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[360,-120],"id":"ac41d5f5-2074-457b-83a2-8fd1c9922308","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[360,100],"id":"49e147b7-bb7e-4871-9845-4b32b73ae8c6","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"brand\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"model\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"specs\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"screen_size\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"ram\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"storage\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[560,100],"id":"1e58afc0-193f-4078-b511-121218d1894e","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Please analyze all laptop entries and identify the best one with the highest specifications. Compare RAM = {{ $json.ram }}, storage = {{ $json.storage }}, processor generation = {{ $json.specs }}, recent years = {{ $json.year }}, and screen size = {{ $json.screen_size }}. Present the results showing the best one with the highest specifications found.","hasOutputParser":true,"options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[920,-120],"id":"efadd3c5-e1de-4962-b497-951becdd9135","name":"AI Agent1","disabled":true},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"brand"},{"fieldToAggregate":"model"},{"fieldToAggregate":"specs"},{"fieldToAggregate":"screen_size"},{"fieldToAggregate":"ram"},{"fieldToAggregate":"storage"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[140,-120],"id":"aad4a293-820f-4ef2-b920-47398cdc7f00","name":"Aggregate"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cc1effeb-c0bf-42d9-8fd2-f811fa539312","triggerCount":0,"shared":[{"createdAt":"2025-02-24T10:39:14.822Z","updatedAt":"2025-02-24T10:39:14.822Z","role":"workflow:owner","workflowId":"Fs01u21SD6DmFNxR","projectId":"tktBUJ9Wt0VRCCM2"}],"tags":[]}