voicemail-+-callback-system-NVn2CVunBYgVsoKR.json
{"updatedAt":"2025-10-06T13:41:03.690Z","createdAt":"2025-10-06T13:41:03.690Z","id":"NVn2CVunBYgVsoKR","name":"Voicemail + Callback System","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ad4d22d0-c1a4-461f-acf1-e80381ae41cc","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1720,340],"id":"91c8a7c3-a6da-4e3a-9de7-28009b24ab05","name":"Webhook","webhookId":"ad4d22d0-c1a4-461f-acf1-e80381ae41cc"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appi8o2urjTtctZ5S","mode":"list","cachedResultName":"Outbound System","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S"},"table":{"__rl":true,"value":"tbleTZTXCgR1hNK3g","mode":"list","cachedResultName":"Data","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S/tbleTZTXCgR1hNK3g"},"columns":{"mappingMode":"defineBelow","value":{"milliseconds":"={{ $json.body.message.durationMs }}","cost(stt)":"={{ $json.body.message.costBreakdown.stt }}","cost(llm)":"={{ $json.body.message.costBreakdown.llm }}","cost(tts)":"={{ $json.body.message.costBreakdown.tts }}","cost(total)":"={{ $json.body.message.costBreakdown.total }}","started":"={{ $json.body.message.startedAt }}","ended":"={{ $json.body.message.endedAt }}","ended reason":"={{ $json.body.message.endedReason }}","transcript":"={{ $json.body.message.transcript }}","recording":"={{ $json.body.message.recordingUrl }}","customernumber":"={{ $json.body.message.call.customer.number }}","type":"={{ $json.body.message.call.type }}","id":"={{ $json.body.message.call.id }}","callproviderID":"={{ $json.body.message.call.phoneCallProviderId }}","phonenumberID":"={{ $json.body.message.call.phoneNumberId }}","cost(twilio)":0},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"callproviderID","displayName":"callproviderID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"phonenumberID","displayName":"phonenumberID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"customernumber","displayName":"customernumber","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"started","displayName":"started","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ended","displayName":"ended","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"milliseconds","displayName":"milliseconds","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"cost(stt)","displayName":"cost(stt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"cost(llm)","displayName":"cost(llm)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"cost(tts)","displayName":"cost(tts)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"cost(total)","displayName":"cost(total)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"cost(twilio)","displayName":"cost(twilio)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"cost(totals)","displayName":"cost(totals)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"ended reason","displayName":"ended reason","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"transcript","displayName":"transcript","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"recording","displayName":"recording","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1320,200],"id":"fe994bf1-f43f-4535-b74e-61e86c86484e","name":"Raw Data"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appi8o2urjTtctZ5S","mode":"list","cachedResultName":"Outbound System","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S"},"table":{"__rl":true,"value":"tblIaRaDlT6gGW1JM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S/tblIaRaDlT6gGW1JM"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"Called","Attempt":"#Success","Summary":"={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}","Date Time":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"Voicemail","value":"Voicemail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#Success","value":"#Success"},{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-680,200],"id":"f11da3a0-491e-4cc4-83c5-8dcf65581d6f","name":"Connected Call"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appi8o2urjTtctZ5S","mode":"list","cachedResultName":"Outbound System","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S"},"table":{"__rl":true,"value":"tblIaRaDlT6gGW1JM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S/tblIaRaDlT6gGW1JM"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"Failed","Summary":"={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"Voicemail","value":"Voicemail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#Success","value":"#Success"},{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-500,580],"id":"47c62a1c-fff0-449f-b391-87051dbe6b5e","name":"Failed Call"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appi8o2urjTtctZ5S","mode":"list","cachedResultName":"Outbound System","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S"},"table":{"__rl":true,"value":"tblIaRaDlT6gGW1JM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S/tblIaRaDlT6gGW1JM"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"Voicemail","Attempt":"Unreachable","Summary":"={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}","Date Time":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"Voicemail","value":"Voicemail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"},{"name":"Unreachable","value":"Unreachable"},{"name":"#Success","value":"#Success"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[20,500],"id":"dab9f138-94df-424f-8765-42e5a09b02ba","name":"Unreachable"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appi8o2urjTtctZ5S","mode":"list","cachedResultName":"Outbound System","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S"},"table":{"__rl":true,"value":"tblIaRaDlT6gGW1JM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S/tblIaRaDlT6gGW1JM"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('+1 Day AND @ 4:00pm (Optimal Call Time)').item.json.id }}","Status":"Voicemail","Attempt":"#3","Summary":"={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}","Date Time":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"Voicemail","value":"Voicemail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#Success","value":"#Success"},{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[420,300],"id":"2b8067ac-56ce-4f2c-a60c-7bca58f27587","name":"Voicemail Attempt #3"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appi8o2urjTtctZ5S","mode":"list","cachedResultName":"Outbound System","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S"},"table":{"__rl":true,"value":"tblIaRaDlT6gGW1JM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S/tblIaRaDlT6gGW1JM"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('1 Minute').item.json.id }}","Status":"Voicemail","Attempt":"#2","Summary":"={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}","Date Time":"={{ $now }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"Voicemail","value":"Voicemail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#Success","value":"#Success"},{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[420,80],"id":"ef0f37b9-70dc-4912-8b3d-9c3bde3305e0","name":"Voicemail Attempt #2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"87640d60-4973-4256-8e37-e8c7fc3bf1a8","leftValue":"={{ $json.fields['ended reason'] }}","rightValue":"customer-did-not-answer","operator":{"type":"string","operation":"notEquals"}},{"id":"7d0759f2-7c19-45be-bbb9-09db3da6eacc","leftValue":"={{ $json.fields['ended reason'] }}","rightValue":"assistant-error","operator":{"type":"string","operation":"notEquals"}},{"id":"bcce32ec-9fc1-4f42-b352-69ed90b8b7a6","leftValue":"={{ $json.fields['ended reason'] }}","rightValue":"pipeline-error-*","operator":{"type":"string","operation":"notEquals"}},{"id":"fb91210a-c14a-432b-ba6d-3c859d5972a4","leftValue":"={{ $json.fields['ended reason'] }}","rightValue":"pipeline-error-first-message-failed","operator":{"type":"string","operation":"notEquals"}},{"id":"9104cca1-09aa-4781-9400-3fa998134595","leftValue":"={{ $json.fields['ended reason'] }}","rightValue":"pipeline-no-available-llm-model","operator":{"type":"string","operation":"notEquals"}},{"id":"8717e004-1033-4a34-b827-d16c2d147501","leftValue":"={{ $json.fields['ended reason'] }}","rightValue":"phone-call-provider-closed-websocket","operator":{"type":"string","operation":"notEquals"}},{"id":"37a69a1f-b6d7-42ce-b20e-d3a8dbc6df92","leftValue":"={{ $json.fields['ended reason'] }}","rightValue":"twilio-failed-to-connect-call","operator":{"type":"string","operation":"notEquals"}},{"id":"52f427ca-adbc-4364-a1c0-81c3b23d26a3","leftValue":"={{ $json.fields['ended reason'] }}","rightValue":"unknown-error","operator":{"type":"string","operation":"notEquals"}},{"id":"fad61fe3-b7e5-4bca-be09-f22f89bdeb4a","leftValue":"={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}","rightValue":"voicemail","operator":{"type":"string","operation":"notContains"}},{"id":"7b24dc3c-be9b-4b7a-aa71-83eb0b13b071","leftValue":"={{ $('Event = end-of-call-report').item.json.body.message.artifact.transcript }}","rightValue":"leave a message","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1100,200],"id":"c2745e7a-f321-4c90-8301-1e6dd58cea8e","name":"Condition = Answered"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3457791-6f2c-4c4f-8e92-d73b65c728bc","leftValue":"={{ $('Event = end-of-call-report').item.json.body.message.endedReason }}","rightValue":"voicemail","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"058579be-1c16-45db-abe7-dffdc709b015","leftValue":"={{ $('Event = end-of-call-report').item.json.body.message.endedReason }}","rightValue":"customer-busy","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6252cc6b-aa3f-43e0-9dc6-a497a2f303ee","leftValue":"={{ $('Event = end-of-call-report').item.json.body.message.endedReason }}","rightValue":"customer-did-not-answer","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"655fde08-4343-4336-b4ec-3f8a9217b384","leftValue":"={{ $('Event = end-of-call-report').item.json.body.message.endedReason }}","rightValue":"customer-ended-call","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-900,400],"id":"c1fb24c7-c6ae-4b7e-9cb7-bd0b8b62f24a","name":"Condition = Voicemail"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23f6dcb0-0cd3-4d53-995e-7bf6f3e981de","leftValue":"={{ $json.Attempt }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-500,380],"id":"930e422b-b847-4d17-98ca-0bf3acf1bb00","name":"First Call"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5dbf49f4-4e26-4684-b86a-13b11de984fe","leftValue":"={{ $json.Attempt }}","rightValue":"#1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-340,380],"id":"73fe21fb-feef-4deb-896c-870f55495b0c","name":"First Call - Recapture"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9373607-17cb-466f-a492-9a1e52627d26","leftValue":"={{ $json.Attempt }}","rightValue":"#2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,380],"id":"a2e8f1d0-2e70-4bbb-bb89-b7f32b93e29c","name":"Third Call"},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer cb10042c-e626-462a-9804-fd2a10f1c4e4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"assistantId\": \"b4d31f49-eec6-4a7f-818b-918625957ba1\",\n  \"customer\": {\n    \"name\": \"{{ $json.fields['First Name'] }}\",\n    \"number\": \"{{ $json.fields.Mobile }}\"\n  },\n  \"phoneNumberId\": \"8b6a043f-f584-48af-8a67-c4489f24f434\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,80],"id":"6f60301e-8cfe-4519-b3cf-c41db345784c","name":"Call #2"},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer cb10042c-e626-462a-9804-fd2a10f1c4e4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"assistantId\": \"b4d31f49-eec6-4a7f-818b-918625957ba1\",\n  \"customer\": {\n    \"name\": \"{{ $json['First Name'] }}\",\n    \"number\": \"{{ $json.Mobile }}\"\n  },\n  \"phoneNumberId\": \"8b6a043f-f584-48af-8a67-c4489f24f434\"\n}","options":{"batching":{"batch":{"batchSize":10,"batchInterval":120000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,300],"id":"2ed76a66-ebf8-4fa6-b4a1-2d6ad93da85f","name":"Call #3"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appi8o2urjTtctZ5S","mode":"list","cachedResultName":"Outbound System","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S"},"table":{"__rl":true,"value":"tblIaRaDlT6gGW1JM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S/tblIaRaDlT6gGW1JM"},"filterByFormula":"=({Mobile} = '{{ $('Event = end-of-call-report').item.json.body.message.call.customer.number }}')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-900,200],"id":"a37fe4e3-4aa3-4ce5-b5e7-1c9548578f6f","name":"Get ID"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appi8o2urjTtctZ5S","mode":"list","cachedResultName":"Outbound System","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S"},"table":{"__rl":true,"value":"tblIaRaDlT6gGW1JM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S/tblIaRaDlT6gGW1JM"},"filterByFormula":"=({Mobile} = '{{ $('Event = end-of-call-report').item.json.body.message.call.customer.number }}')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-680,380],"id":"e36a45d2-5d05-4a56-8d2f-c5423bf220ef","name":"Get ID #2"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appi8o2urjTtctZ5S","mode":"list","cachedResultName":"Outbound System","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S"},"table":{"__rl":true,"value":"tblIaRaDlT6gGW1JM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S/tblIaRaDlT6gGW1JM"},"filterByFormula":"=({Mobile} = '{{ $('Event = end-of-call-report').item.json.body.message.call.customer.number }}')","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-680,580],"id":"3e637e52-a8b0-4d76-9c3f-3174443afe12","name":"Get ID #3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"32155059-a744-47e1-879c-f93968fe8a8a","leftValue":"={{ $json.body.message.type }}","rightValue":"end-of-call-report","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1520,340],"id":"fc1e5b65-9192-4081-8683-0b6ef77fa879","name":"Event = end-of-call-report"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appi8o2urjTtctZ5S","mode":"list","cachedResultName":"Outbound System","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S"},"table":{"__rl":true,"value":"tblIaRaDlT6gGW1JM","mode":"list","cachedResultName":"Leads","cachedResultUrl":"https://airtable.com/appi8o2urjTtctZ5S/tblIaRaDlT6gGW1JM"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","Status":"Voicemail","Attempt":"#1","Summary":"={{ $('Event = end-of-call-report').item.json.body.message.analysis.summary }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Date Time","displayName":"Date Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mobile","displayName":"Mobile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"In-Progress","value":"In-Progress"},{"name":"Called","value":"Called"},{"name":"Failed","value":"Failed"},{"name":"Voicemail","value":"Voicemail"},{"name":"TBC","value":"TBC"}],"readOnly":false,"removed":false},{"id":"Attempt","displayName":"Attempt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"#Success","value":"#Success"},{"name":"#1","value":"#1"},{"name":"#2","value":"#2"},{"name":"#3","value":"#3"}],"readOnly":false,"removed":false},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Final Call","displayName":"Final Call","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-160,80],"id":"4002c574-31fc-4bd5-814f-7bbc7edb05ee","name":"Voicemail Attempt #1"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[20,80],"id":"484e4202-64d4-4858-961a-0d71f2bec864","name":"1 Minute","webhookId":"0c1d989a-b8de-4488-86c5-281db988f5b7"},{"parameters":{"resume":"specificTime","dateTime":"={{ \n  String(\n    $now.plus(1, \"day\")\n      .toDateTime()\n      .setZone(\"Australia/Sydney\")\n      .set({ hour: 16, minute: 0, second: 0, millisecond: 0 })\n      .toISO()\n  )\n}}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[20,300],"id":"ed7892f3-2ea6-4ab6-93c4-3313fd513cdd","name":"+1 Day AND @ 4:00pm (Optimal Call Time)","webhookId":"cc3caa32-c6d5-4333-8719-5962749cc0c3"}],"connections":{"Webhook":{"main":[[{"node":"Event = end-of-call-report","type":"main","index":0}]]},"Raw Data":{"main":[[{"node":"Condition = Answered","type":"main","index":0}]]},"Condition = Answered":{"main":[[{"node":"Get ID","type":"main","index":0}],[{"node":"Condition = Voicemail","type":"main","index":0}]]},"Condition = Voicemail":{"main":[[{"node":"Get ID #2","type":"main","index":0}],[{"node":"Get ID #3","type":"main","index":0}]]},"First Call":{"main":[[{"node":"Voicemail Attempt #1","type":"main","index":0}],[{"node":"First Call - Recapture","type":"main","index":0}]]},"First Call - Recapture":{"main":[[{"node":"Voicemail Attempt #1","type":"main","index":0}],[{"node":"Third Call","type":"main","index":0}]]},"Third Call":{"main":[[{"node":"+1 Day AND @ 4:00pm (Optimal Call Time)","type":"main","index":0}],[{"node":"Unreachable","type":"main","index":0}]]},"Call #2":{"main":[[{"node":"Voicemail Attempt #2","type":"main","index":0}]]},"Call #3":{"main":[[{"node":"Voicemail Attempt #3","type":"main","index":0}]]},"Get ID":{"main":[[{"node":"Connected Call","type":"main","index":0}]]},"Get ID #2":{"main":[[{"node":"First Call","type":"main","index":0}]]},"Get ID #3":{"main":[[{"node":"Failed Call","type":"main","index":0}]]},"Event = end-of-call-report":{"main":[[{"node":"Raw Data","type":"main","index":0}]]},"Voicemail Attempt #1":{"main":[[{"node":"1 Minute","type":"main","index":0}]]},"1 Minute":{"main":[[{"node":"Call #2","type":"main","index":0}]]},"+1 Day AND @ 4:00pm (Optimal Call Time)":{"main":[[{"node":"Call #3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"da569de1-6464-4280-9a19-dd8388e99acb","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T13:41:03.698Z","createdAt":"2025-10-06T13:41:03.698Z","role":"workflow:owner","workflowId":"NVn2CVunBYgVsoKR","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}