webhook-custom-post-type-plugin-generator-v1.2-jyLa6QQhE6TQcEda.json
{"updatedAt":"2025-10-06T13:40:01.923Z","createdAt":"2025-10-06T13:40:01.923Z","id":"jyLa6QQhE6TQcEda","name":"Webhook Custom Post Type Plugin Generator V1.2","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[312,80],"id":"abe1a518-dcdf-40c1-8880-57d808f80d59","name":"Groq Chat Model","credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}}},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[664,376],"id":"d48df85c-23d5-4f8f-80c8-4e08049268bb","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}}},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[664,776],"id":"1cdd1319-4f91-42b6-9640-723d15a8cb50","name":"Groq Chat Model2","credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}}},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[664,1176],"id":"0f3513c9-569e-4fa5-aa16-de1e11676dfb","name":"Groq Chat Model3","credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}}},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[664,1680],"id":"dbdced0a-1679-44b1-b9a9-34558d682e91","name":"Groq Chat Model4","credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}}},{"parameters":{"formTitle":"WordPress Post Type Generator","formFields":{"values":[{"fieldLabel":"What post type you need to create?","placeholder":"service","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1728,1088],"id":"43b77f37-b674-4996-b3c6-73242af4ed19","name":"Get Post Type Input","webhookId":"4396accf-a436-435e-856e-df6206dd1ccb","disabled":true},{"parameters":{"jsCode":"let input = $input.first().json.body.post_type_description || '';\n\n// Basic plural to singular conversion\nif (input.endsWith('ies')) {\n  input = input.slice(0, -3) + 'y'; // e.g., \"stories\" → \"story\"\n} else if (input.endsWith('ses')) {\n  input = input.slice(0, -2);       // e.g., \"classes\" → \"class\"\n} else if (input.endsWith('s') && !input.endsWith('ss')) {\n  input = input.slice(0, -1);       // e.g., \"books\" → \"book\"\n}\n\nreturn [{ json: { singularPostType: input } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,1056],"id":"b3b23d11-faac-48f1-875b-3854f09eeedb","name":"Convert to Singular Post Type"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1AocSjZLEYW8heXumYcWEeBUbVml3Xvaq","mode":"list","cachedResultName":"service-custom-post-type.php","cachedResultUrl":"https://drive.google.com/file/d/1AocSjZLEYW8heXumYcWEeBUbVml3Xvaq/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-208,-40],"id":"8759bab6-3e83-4776-bf86-4624692e4d7b","name":"Download PHP Template File","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"operation":"text","destinationKey":"service-custom-post-type","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[16,-40],"id":"bb4f3620-6b0c-47fd-b196-adf1fb7b3dd0","name":"Extract PHP Code from Template"},{"parameters":{"promptType":"define","text":"=You are a PHP developer specializing in WordPress plugins.\nUse the following reference code:\n{{ $json['service-custom-post-type'] }}\n\nReplace 'service' with the value from this form field:\n{{ $('Convert to Singular Post Type').item.json.singularPostType }}\n\n✅ Requirements:\nAlways use the singular form of the post type and class name.\n\nOutput only the final PHP code.\n\nThe output must begin with <?php and be inside a single code block.\n\nThe code must be valid, well-commented, and follow WordPress plugin best practices.\n\nDo not include any text, explanation, or message before or after the code block. Only output the code.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[240,-144],"id":"5ddb3246-58dc-40fe-b30e-000f3bb67b43","name":"Generate Custom Post Type Code"},{"parameters":{"jsCode":"const input = items[0].json.output || '';\nlet cleaned = input\n  .replace(/```php/g, '')  // Remove ```php\n  .replace(/```/g, '')     // Remove ```\n  .replace(/Here is the updated PHP code:/g, '') // Remove helper text\n  .trim();\n\n// Add <?php at the beginning if it's not present\nif (!cleaned.startsWith('<?php')) {\n  cleaned = '<?php\\n' + cleaned;\n}\n\nreturn [{ json: { cleanedOutput: cleaned } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[656,-40],"id":"adf35823-2cb3-49af-b1a4-242c05cbf5ad","name":"Clean & Validate PHP Output"},{"parameters":{"operation":"toText","sourceProperty":"cleanedOutput","options":{"fileName":"={{ $('Convert to Singular Post Type').item.json.singularPostType }}-custom-post-type.php"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[944,-40],"id":"ba338ce0-3e8f-4244-8d0a-a76639245c60","name":"Convert PHP Code to File"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1sFIcm-a1K0h23rLrlEsn6n9f2q0-8t_l","mode":"list","cachedResultName":"class-service-cpt-type.php","cachedResultUrl":"https://drive.google.com/file/d/1sFIcm-a1K0h23rLrlEsn6n9f2q0-8t_l/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[16,256],"id":"fbd05a39-6b73-410c-a5b3-f9f67a1b651e","name":"Download CPT Class Template","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"operation":"text","destinationKey":"class-service-cpt-type","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[304,256],"id":"221dfa62-2a8c-43b8-bd57-bbcaca8e8d20","name":"Extract CPT Class Code"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"12mTgmwl1WhvLLFbh8thjc907gxNLsvqK","mode":"list","cachedResultName":"class-service-custom-post-type-loader.php","cachedResultUrl":"https://drive.google.com/file/d/12mTgmwl1WhvLLFbh8thjc907gxNLsvqK/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[16,656],"id":"ead849c0-ffe1-4e83-9189-f43258d33307","name":"Download CPT Loader Template","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"jsCode":"const input = items[0].json.output || '';\nlet cleaned = input\n  .replace(/```php/g, '')  // Remove ```php\n  .replace(/```/g, '')     // Remove ```\n  .replace(/Here is the updated PHP code:/g, '') // Remove helper text\n  .trim();\n\n// Add <?php at the beginning if it's not present\nif (!cleaned.startsWith('<?php')) {\n  cleaned = '<?php\\n' + cleaned;\n}\n\nreturn [{ json: { cleanedOutput: cleaned } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,256],"id":"0706d3dd-6719-4e67-b61b-aeeed19f4d30","name":"Clean & Validate PHP Output1"},{"parameters":{"operation":"toText","sourceProperty":"cleanedOutput","options":{"fileName":"=class-{{ $('Convert to Singular Post Type').item.json.singularPostType }}-cpt-types.php"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1168,256],"id":"48461174-3160-43e2-b918-ea19e66c4504","name":"Convert PHP Code to File1"},{"parameters":{"resource":"folder","name":"includes","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-208,456],"id":"9dfa2256-42bd-4b09-bc2d-48ae5530d157","name":"Create Include Folder","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"resource":"folder","name":"admin","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-208,1056],"id":"6e3c5fce-e547-4bdc-8da9-7b2641fd8fb9","name":"Create Admin Folder","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"resource":"folder","name":"public","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-208,1456],"id":"e474fcca-f145-40ba-ae37-6711f825e4ff","name":"Create Public Folder","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1l3LGnxK2DnYH9x0JG6qsm-T1GuOHpndB","mode":"list","cachedResultName":"class-service-custom-post-type-admin.php","cachedResultUrl":"https://drive.google.com/file/d/1l3LGnxK2DnYH9x0JG6qsm-T1GuOHpndB/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[16,1056],"id":"facfb11e-884f-4473-b581-4093c71d7efc","name":"Download CPT Admin Template","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1mX-KbDfPCrPVLbsegr8LN-IZpYzU1rAy","mode":"list","cachedResultName":"class-service-custom-post-type-public.php","cachedResultUrl":"https://drive.google.com/file/d/1mX-KbDfPCrPVLbsegr8LN-IZpYzU1rAy/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[16,1456],"id":"8bd9a8cc-8f3e-4d61-8e26-544288d92112","name":"Download CPT Public Template","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"operation":"text","destinationKey":"class-service-custom-post-type-loader","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[304,656],"id":"49d0613f-6758-4460-836c-b3dd13afb7a4","name":"Extract CPT Loader Code"},{"parameters":{"operation":"text","destinationKey":"class-service-custom-post-type-admin","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[304,1056],"id":"0c017928-ea0f-4c8b-ad27-dd8487e5cf5c","name":"Extract CPT Admin Code"},{"parameters":{"operation":"text","destinationKey":"class-service-custom-post-type-public","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[304,1456],"id":"0d3ff2dd-b1f9-450e-9503-fdf67cfe890b","name":"Extract CPT Public Code"},{"parameters":{"resource":"folder","name":"={{ $json.singularPostType }}-post-type","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1LyvV3bYVimKpKQ01mDMjtBCjpUFZOWv_","mode":"list","cachedResultName":"AI generated plugin","cachedResultUrl":"https://drive.google.com/drive/folders/1LyvV3bYVimKpKQ01mDMjtBCjpUFZOWv_"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-432,1056],"id":"30d5a840-3549-4657-a5a1-257a7a7812eb","name":"Create Plugin Folder","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"name":"={{ $('Convert to Singular Post Type').item.json.singularPostType }}-custom-post-type.php","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create Plugin Folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1168,-40],"id":"406f0b4c-48a1-4f69-88f6-07877b77a49f","name":"Upload File to Plugin Folder","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"name":"=class-{{ $('Convert to Singular Post Type').item.json.singularPostType }}-cpt-type.php","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create Include Folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1392,256],"id":"99dc54c3-ae07-4717-8578-0b1c34c4900e","name":"Upload CPT Class File to Include Folder","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"name":"=class-{{ $('Convert to Singular Post Type').item.json.singularPostType }}-custom-post-type-loader.php","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create Include Folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1392,656],"id":"86900cc0-9321-49ed-a12c-af8e8a467945","name":"Upload CPT Loader File to Include Folder","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"name":"=class-{{ $('Convert to Singular Post Type').item.json.singularPostType }}-custom-post-type-admin.php","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create Admin Folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1392,1056],"id":"4e923708-45dc-4f25-b5c6-74e910cbb121","name":"Upload File to Admin Folder","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"name":"=class-{{ $('Convert to Singular Post Type').item.json.singularPostType }}-custom-post-type-public.php","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create Public Folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1392,1456],"id":"b1cd34e2-7e39-4605-a433-4f95cf772b9b","name":"Upload File to Public Folder","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"jsCode":"const input = items[0].json.output || '';\nlet cleaned = input\n  .replace(/```php/g, '')  // Remove ```php\n  .replace(/```/g, '')     // Remove ```\n  .replace(/Here is the updated PHP code:/g, '') // Remove helper text\n  .trim();\n\n// Add <?php at the beginning if it's not present\nif (!cleaned.startsWith('<?php')) {\n  cleaned = '<?php\\n' + cleaned;\n}\n\nreturn [{ json: { cleanedOutput: cleaned } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,656],"id":"03da9445-7191-4bc6-a7a7-67bfc00e91b2","name":"Clean & Validate PHP Output2"},{"parameters":{"jsCode":"const input = items[0].json.output || '';\nlet cleaned = input\n  .replace(/```php/g, '')  // Remove ```php\n  .replace(/```/g, '')     // Remove ```\n  .replace(/Here is the updated PHP code:/g, '') // Remove helper text\n  .trim();\n\n// Add <?php at the beginning if it's not present\nif (!cleaned.startsWith('<?php')) {\n  cleaned = '<?php\\n' + cleaned;\n}\n\nreturn [{ json: { cleanedOutput: cleaned } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,1056],"id":"e39a5dbc-4f87-4c42-801d-4332459db7e6","name":"Clean & Validate PHP Output3"},{"parameters":{"jsCode":"const input = items[0].json.output || '';\nlet cleaned = input\n  .replace(/```php/g, '')  // Remove ```php\n  .replace(/```/g, '')     // Remove ```\n  .replace(/Here is the updated PHP code:/g, '') // Remove helper text\n  .trim();\n\n// Add <?php at the beginning if it's not present\nif (!cleaned.startsWith('<?php')) {\n  cleaned = '<?php\\n' + cleaned;\n}\n\nreturn [{ json: { cleanedOutput: cleaned } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,1456],"id":"7d381ca0-37af-497d-9b61-b93ee481c2c4","name":"Clean & Validate PHP Output4"},{"parameters":{"operation":"toText","sourceProperty":"cleanedOutput","options":{"fileName":"=class-{{ $('Convert to Singular Post Type').item.json.singularPostType }}-custom-post-type-loader.php"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1168,656],"id":"f18cf604-2a2c-467a-813a-59148965fb46","name":"Convert PHP Code to File2"},{"parameters":{"operation":"toText","sourceProperty":"cleanedOutput","options":{"fileName":"=class-{{ $('Convert to Singular Post Type').item.json.singularPostType }}-custom-post-type-admin.php"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1168,1056],"id":"ae3cd289-318b-4098-9f3b-75a052650526","name":"Convert PHP Code to File3"},{"parameters":{"operation":"toText","sourceProperty":"cleanedOutput","options":{"fileName":"=class-{{ $('Convert to Singular Post Type').item.json.singularPostType }}-custom-post-type-public.php"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1168,1456],"id":"69918ce5-10ac-44f2-8dbd-4f5125cdd6c2","name":"Convert PHP Code to File4"},{"parameters":{"promptType":"define","text":"=You are a PHP developer specializing in WordPress plugins.\n\nUse the following PHP code as a reference template:\n{{ $json['class-service-custom-post-type-loader'] }}\n\nReplace all instances of 'service' (used for the custom post type name) and 'Service' (used in class names, labels, and comments) with the value from this form field (in singular form):\n{{ $('Convert to Singular Post Type').item.json.singularPostType }}\n\n✅ Requirements:\nOutput only the final PHP code.\n\nThe output must start with <?php and be wrapped in a single code block.\n\nDo not include any explanation, description, or extra text—just the PHP code block.\n\nEnsure both the class name and custom post type name use the singular form of the user-provided value.\n\nMaintain the original structure and naming conventions (adjusted accordingly).\n\nEnsure the code is valid, well-commented, and follows WordPress best practices.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[592,552],"id":"31291a44-5f99-42bc-95bb-67ba69a9ecaf","name":"Generate CPT Loader PHP Code"},{"parameters":{"promptType":"define","text":"=You are a PHP developer specializing in WordPress plugins.\n\nUse the following PHP code as a reference template:\n{{ $json['class-service-custom-post-type-admin'] }}\n\nReplace all instances of 'service' (used in the custom post type name) and 'Service' (used in class names, labels, comments, and filenames) with the value from the following form field, converted to singular form:\n{{ $('Convert to Singular Post Type').item.json.singularPostType }}\n\n✅ Requirements:\nOutput only the final PHP code.\n\nThe output must begin with <?php and be enclosed in a single code block.\n\nDo not include any explanation, intro, or extra text—only the final code.\n\nMake sure the new custom post type name and the class name are both in singular form.\n\nPreserve the original plugin structure and comments.\n\nEnsure the PHP code is valid, well-commented, and follows WordPress best practices.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[592,952],"id":"86c471c5-63df-48d6-831a-f3e99051036d","name":"Generate CPT Admin PHP Code"},{"parameters":{"promptType":"define","text":"=You are a PHP developer specializing in WordPress plugins.\n\nUse the following PHP code as a reference template:\n{{ $json['class-service-custom-post-type-public'] }}\n\nReplace all instances of 'service' (used in the custom post type name) and 'Service' (used in class names, labels, comments, etc.) with the value provided from this form field (in singular form):\n{{ $('Convert to Singular Post Type').item.json.singularPostType }}\n\n✅ Requirements:\nOutput only the final PHP code.\n\nThe code must begin with <?php and be wrapped in a single code block.\n\nDo not register the post type in this code — only adapt the reference code.\n\nDo not include any explanation, headers, or extra text — only the PHP code.\n\nEnsure the output uses the singular form for both custom post type name and class name.\n\nMaintain the structure and logic of the reference code.\n\nThe code must be valid, well-commented, and follow WordPress plugin best practices.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[592,1456],"id":"b91babb8-8056-49fb-91bb-290946c442cc","name":"Generate CPT Public PHP Code"},{"parameters":{"promptType":"define","text":"=You are a PHP developer specializing in WordPress plugins.\n\nUse the following PHP code as a reference template:\n{{ $json['class-service-cpt-type'] }}\n\nReplace all instances of 'service' (used for custom post type) and 'Service' (used in class names or labels) with the value from this form field (in singular form):\n{{ $('Convert to Singular Post Type').item.json.singularPostType }}\n\n✅ Requirements:\nOutput only the final PHP code.\n\nThe code must begin with <?php and be wrapped in a single code block.\n\nDo not include any explanation or extra text—just the code block.\n\nEnsure the output uses the singular form consistently for both the class name and the custom post type name.\n\nMaintain the original code structure and format.\n\nThe output must be valid, well-commented, and follow WordPress plugin best practices.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[592,152],"id":"dd7e9a5e-2737-4087-98ee-21c925e31d91","name":"Generate CPT Class PHP Code"},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/files?q='1w7Hiui56JarEqyOe_c0jAW124SBLs1VG' in parents&fields=files(id,name,mimeType)","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1952,416],"id":"11c4ec3c-6ce9-4ace-92d4-358761f869f8","name":"HTTP Request","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1568,624],"id":"24c78bab-3de6-40dd-a5e1-4ca6e0de0d37","name":"Loop Over Items","disabled":true},{"parameters":{"url":"https://www.googleapis.com/drive/v3/files/<FILE_ID>?alt=media","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1360,640],"id":"f37afbe5-09c3-4609-a9cb-7562434214d5","name":"HTTP Request1","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6cefbbe5-165c-4c36-9c7b-60883be2118f","leftValue":"={{ $json.files[0].mimeType }}","rightValue":"=application/vnd.google-apps.folder","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1744,416],"id":"4b536e38-136b-44eb-85bd-6ad4a5e070fc","name":"If","disabled":true},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}","filter":{"folderId":{"__rl":true,"value":"1LyvV3bYVimKpKQ01mDMjtBCjpUFZOWv_","mode":"list","cachedResultName":"AI generated plugin","cachedResultUrl":"https://drive.google.com/drive/folders/1LyvV3bYVimKpKQ01mDMjtBCjpUFZOWv_"},"whatToSearch":"folders"},"options":{"fields":["webViewLink"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-208,1648],"id":"f513ae55-4d86-4aa7-80d3-6b65a38c482a","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}},{"parameters":{"httpMethod":"POST","path":"caf9fbae-569d-41e8-b8ea-4048a7af818f","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-880,1056],"id":"92769450-8907-4ddb-b0a0-3f576d91a213","name":"Webhook","webhookId":"caf9fbae-569d-41e8-b8ea-4048a7af818f"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.webViewLink }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[16,1648],"id":"c9f3cd08-60aa-4898-aeb3-a136da509695","name":"Respond to Webhook"},{"parameters":{"operation":"compress","fileName":"={{ $json.name }}"},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[-656,1872],"id":"fae42bb5-d809-42dd-8cfe-d8a6cf90cc71","name":"Compression"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}","filter":{"folderId":{"__rl":true,"value":"1LyvV3bYVimKpKQ01mDMjtBCjpUFZOWv_","mode":"list","cachedResultName":"AI generated plugin","cachedResultUrl":"https://drive.google.com/drive/folders/1LyvV3bYVimKpKQ01mDMjtBCjpUFZOWv_"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-880,1872],"id":"7d0c0d4a-edb5-4a0b-b2f7-e63567f7ad86","name":"Search files and folders1","credentials":{"googleDriveOAuth2Api":{"id":"3TbOiTnNd4YOKvTq","name":"Google Drive account 3"}}}],"connections":{"Groq Chat Model":{"ai_languageModel":[[{"node":"Generate Custom Post Type Code","type":"ai_languageModel","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"Generate CPT Class PHP Code","type":"ai_languageModel","index":0}]]},"Groq Chat Model2":{"ai_languageModel":[[{"node":"Generate CPT Loader PHP Code","type":"ai_languageModel","index":0}]]},"Groq Chat Model3":{"ai_languageModel":[[{"node":"Generate CPT Admin PHP Code","type":"ai_languageModel","index":0}]]},"Groq Chat Model4":{"ai_languageModel":[[{"node":"Generate CPT Public PHP Code","type":"ai_languageModel","index":0}]]},"Get Post Type Input":{"main":[[]]},"Convert to Singular Post Type":{"main":[[{"node":"Create Plugin Folder","type":"main","index":0}]]},"Download PHP Template File":{"main":[[{"node":"Extract PHP Code from Template","type":"main","index":0}]]},"Extract PHP Code from Template":{"main":[[{"node":"Generate Custom Post Type Code","type":"main","index":0}]]},"Generate Custom Post Type Code":{"main":[[{"node":"Clean & Validate PHP Output","type":"main","index":0}]]},"Clean & Validate PHP Output":{"main":[[{"node":"Convert PHP Code to File","type":"main","index":0}]]},"Convert PHP Code to File":{"main":[[{"node":"Upload File to Plugin Folder","type":"main","index":0}]]},"Download CPT Class Template":{"main":[[{"node":"Extract CPT Class Code","type":"main","index":0}]]},"Extract CPT Class Code":{"main":[[{"node":"Generate CPT Class PHP Code","type":"main","index":0}]]},"Download CPT Loader Template":{"main":[[{"node":"Extract CPT Loader Code","type":"main","index":0}]]},"Clean & Validate PHP Output1":{"main":[[{"node":"Convert PHP Code to File1","type":"main","index":0}]]},"Convert PHP Code to File1":{"main":[[{"node":"Upload CPT Class File to Include Folder","type":"main","index":0}]]},"Create Include Folder":{"main":[[{"node":"Download CPT Class Template","type":"main","index":0},{"node":"Download CPT Loader Template","type":"main","index":0}]]},"Create Admin Folder":{"main":[[{"node":"Download CPT Admin Template","type":"main","index":0}]]},"Create Public Folder":{"main":[[{"node":"Download CPT Public Template","type":"main","index":0}]]},"Download CPT Admin Template":{"main":[[{"node":"Extract CPT Admin Code","type":"main","index":0}]]},"Download CPT Public Template":{"main":[[{"node":"Extract CPT Public Code","type":"main","index":0}]]},"Extract CPT Loader Code":{"main":[[{"node":"Generate CPT Loader PHP Code","type":"main","index":0}]]},"Extract CPT Admin Code":{"main":[[{"node":"Generate CPT Admin PHP Code","type":"main","index":0}]]},"Extract CPT Public Code":{"main":[[{"node":"Generate CPT Public PHP Code","type":"main","index":0}]]},"Create Plugin Folder":{"main":[[{"node":"Download PHP Template File","type":"main","index":0},{"node":"Create Include Folder","type":"main","index":0},{"node":"Create Admin Folder","type":"main","index":0},{"node":"Create Public Folder","type":"main","index":0},{"node":"Search files and folders","type":"main","index":0}]]},"Clean & Validate PHP Output2":{"main":[[{"node":"Convert PHP Code to File2","type":"main","index":0}]]},"Clean & Validate PHP Output3":{"main":[[{"node":"Convert PHP Code to File3","type":"main","index":0}]]},"Clean & Validate PHP Output4":{"main":[[{"node":"Convert PHP Code to File4","type":"main","index":0}]]},"Convert PHP Code to File2":{"main":[[{"node":"Upload CPT Loader File to Include Folder","type":"main","index":0}]]},"Convert PHP Code to File3":{"main":[[{"node":"Upload File to Admin Folder","type":"main","index":0}]]},"Convert PHP Code to File4":{"main":[[{"node":"Upload File to Public Folder","type":"main","index":0}]]},"Generate CPT Loader PHP Code":{"main":[[{"node":"Clean & Validate PHP Output2","type":"main","index":0}]]},"Generate CPT Admin PHP Code":{"main":[[{"node":"Clean & Validate PHP Output3","type":"main","index":0}]]},"Generate CPT Public PHP Code":{"main":[[{"node":"Clean & Validate PHP Output4","type":"main","index":0}]]},"Generate CPT Class PHP Code":{"main":[[{"node":"Clean & Validate PHP Output1","type":"main","index":0}]]},"Upload File to Public Folder":{"main":[[]]},"Upload File to Admin Folder":{"main":[[]]},"HTTP Request":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Convert to Singular Post Type","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Compression":{"main":[[]]},"Search files and folders1":{"main":[[{"node":"Compression","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"e0701b68-b169-466c-827a-3992c8bd1772","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T13:40:01.964Z","createdAt":"2025-10-06T13:40:01.964Z","role":"workflow:owner","workflowId":"jyLa6QQhE6TQcEda","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}