webpage-generation-using-openai-YjYjqV9WRLcnh6Ow.json
{"updatedAt":"2025-10-06T13:41:06.752Z","createdAt":"2025-10-06T13:41:06.752Z","id":"YjYjqV9WRLcnh6Ow","name":"Webpage Generation Using OpenAI","active":false,"isArchived":false,"nodes":[{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=UTF-8"}]}}},"id":"f6b4c52c-98c8-45bf-a199-3f2645fca25f","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","position":[1880,220],"typeVersion":1.1},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gpt-4o-2024-08-06\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a user interface designer and copy writter. Your job is to help users visualize their website ideas. You design elegant and simple webs, with professional text. You use Tailwind framework\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.query.query }}\"\n    }\n  ],\n  \"response_format\":\n{\n  \"type\": \"json_schema\",\n  \"json_schema\": {\n    \"name\": \"ui\",\n    \"description\": \"Dynamically generated UI\",\n    \"strict\": true,\n    \"schema\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"type\": {\n          \"type\": \"string\",\n          \"description\": \"The type of the UI component\",\n          \"enum\": [\n  \"div\",\n  \"span\",\n  \"a\",\n  \"p\",\n  \"h1\",\n  \"h2\",\n  \"h3\",\n  \"h4\",\n  \"h5\",\n  \"h6\",\n  \"ul\",\n  \"ol\",\n  \"li\",\n  \"img\",\n  \"button\",\n  \"input\",\n  \"textarea\",\n  \"select\",\n  \"option\",\n  \"label\",\n  \"form\",\n  \"table\",\n  \"thead\",\n  \"tbody\",\n  \"tr\",\n  \"th\",\n  \"td\",\n  \"nav\",\n  \"header\",\n  \"footer\",\n  \"section\",\n  \"article\",\n  \"aside\",\n  \"main\",\n  \"figure\",\n  \"figcaption\",\n  \"blockquote\",\n  \"q\",\n  \"hr\",\n  \"code\",\n  \"pre\",\n  \"iframe\",\n  \"video\",\n  \"audio\",\n  \"canvas\",\n  \"svg\",\n  \"path\",\n  \"circle\",\n  \"rect\",\n  \"line\",\n  \"polyline\",\n  \"polygon\",\n  \"g\",\n  \"use\",\n  \"symbol\"\n]\n        },\n        \"label\": {\n          \"type\": \"string\",\n          \"description\": \"The label of the UI component, used for buttons or form fields\"\n        },\n        \"children\": {\n          \"type\": \"array\",\n          \"description\": \"Nested UI components\",\n          \"items\": {\n            \"$ref\": \"#\"\n          }\n        },\n        \"attributes\": {\n          \"type\": \"array\",\n          \"description\": \"Arbitrary attributes for the UI component, suitable for any element using Tailwind framework\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"name\": {\n                \"type\": \"string\",\n                \"description\": \"The name of the attribute, for example onClick or className\"\n              },\n              \"value\": {\n                \"type\": \"string\",\n                \"description\": \"The value of the attribute using the Tailwind framework classes\"\n              }\n            },\n            \"additionalProperties\": false,\n            \"required\": [\"name\", \"value\"]\n          }\n        }\n      },\n      \"required\": [\"type\", \"label\", \"children\", \"attributes\"],\n      \"additionalProperties\": false\n    }\n  }\n}\n}","options":{}},"id":"f5967b09-6f27-47b5-b42d-968e3871ef15","name":"Open AI - Using Structured Output","type":"n8n-nodes-base.httpRequest","position":[960,220],"typeVersion":4.2,"credentials":{"oAuth2Api":{"id":"f5PDMkCjofQO7otm","name":"0auth"}}},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You convert a JSON to HTML. \nThe JSON output has the following fields:\n- html: the page HTML\n- title: the page title","role":"system"},{"content":"={{ $json.choices[0].message.content }}"}]},"jsonOutput":true,"options":{"temperature":0.2}},"id":"a054a5b1-0fbf-4104-86f8-542c2f9c4490","name":"OpenAI - JSON to HTML","type":"@n8n/n8n-nodes-langchain.openAi","position":[1140,220],"typeVersion":1.3},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n  <title>{{ $json.message.content.title }}</title>\n</head>\n<body>\n{{ $json.message.content.html }}\n</body>\n</html>"},"id":"9a3f578b-3783-430b-940e-ce9a28d7a538","name":"Format the HTML result","type":"n8n-nodes-base.html","position":[1660,220],"typeVersion":1.2},{"parameters":{"content":"## Generate HTML from user query\n\n**HTTP Request node**\n- Send the user query to OpenAI, with a defined JSON response format - *using HTTP Request node as it has not yet been implemented in the OpenAI nodes*\n- The response format is inspired by the [Structured Output defined in OpenAI Introduction post](https://openai.com/index/introducing-structured-outputs-in-the-api)\n- The output is a JSON containing HTML components and attributed\n\n\n**OpenAI node**\n- Format the response from the previous node from JSON format to HTML format","height":503,"width":638,"color":7},"id":"16f85be4-395d-4cb4-b9ab-f86af45e1a33","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[860,-100],"typeVersion":1},{"parameters":{"content":"## Workflow: Dynamically generate an HTML page from a user request using OpenAI Structured Output\n\n**Overview**\n- This workflow is a experiment to build HTML pages from a user input using the new Structured Output from OpenAI.\n- The Structured Output could be used in a variety of cases. Essentially, it guarantees the output from the GPT will follow a defined structure (JSON object).\n- It uses Tailwind CSS to make it slightly nicer, but any\n\n**How it works**\n- Once active, go to the production URL and add what you'd like to build as the parameter \"query\"\n- Example: https://production_url.com?query=a%20signup%20form\n- OpenAI nodes will first output the UI as a JSON then convert it to HTML\n- Finally, the response is integrated in a HTML container and rendered to the user\n\n**Further thoughts**\n- Results are not yet amazing, it is hard to see the direct value of such an experiment\n- But it showcase the potential of the Structured Output. Being able to guarantee the output format is key to build robust AI applications.","height":503,"width":768,"color":7},"id":"ecf4949c-f31c-4001-93fb-c30ef55533bb","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-280,-100],"typeVersion":1},{"parameters":{"path":"d962c916-6369-431a-9d80-af6e6a50fdf5","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"id":"718e5268-775a-406b-8b8c-6b35a6a6f107","name":"Webhook","type":"n8n-nodes-base.webhook","position":[540,220],"webhookId":"d962c916-6369-431a-9d80-af6e6a50fdf5","typeVersion":2}],"connections":{"Open AI - Using Structured Output":{"main":[[{"node":"OpenAI - JSON to HTML","type":"main","index":0}]]},"OpenAI - JSON to HTML":{"main":[[{"node":"Format the HTML result","type":"main","index":0}]]},"Format the HTML result":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Open AI - Using Structured Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"427138e3-a902-49be-906a-1ac9bbdee082","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T13:41:06.763Z","createdAt":"2025-10-06T13:41:06.763Z","role":"workflow:owner","workflowId":"YjYjqV9WRLcnh6Ow","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}