website-uptime-monitoring-3RLcXNsD1dlMeAuq.json
{"createdAt":"2025-02-03T13:17:34.457Z","updatedAt":"2025-03-07T04:14:37.076Z","id":"3RLcXNsD1dlMeAuq","name":"Website Uptime Monitoring","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"ff3d0f3e-8a41-4bf5-a46d-ac6be527a1cf","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-540,780],"typeVersion":1.2},{"parameters":{"documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"n8n uptime test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"options":{}},"id":"773a9e40-dfd0-4cb3-bcdc-f8f9e4a9ae8f","name":"Get Sites","type":"n8n-nodes-base.googleSheets","position":[-300,780],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"options":{}},"id":"d82fc1f7-b3c4-4dea-a15b-5c4374c6e282","name":"For Each Site...","type":"n8n-nodes-base.splitInBatches","position":[-100,780],"typeVersion":3},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"444e579c-3b5b-4f8b-b36e-25c6422fdf54","leftValue":"={{ $json.row_number }}","rightValue":9,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-20,1020],"id":"cd58e4da-7cc7-4c10-b011-ef226d1c4030","name":"If","executeOnce":false},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[220,1000],"id":"cf615dbf-5b72-4d93-9c72-a24eb6e75be9","name":"Wait","webhookId":"cd125a95-aefe-4105-bb5f-834c903d231d","executeOnce":false},{"parameters":{"url":"={{ $json.Property }}","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"raw","options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"id":"c6de226f-6506-4aa4-9a9c-7d4ea0243dd1","name":"Perform Site Test","type":"n8n-nodes-base.httpRequest","position":[420,780],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Loop over input items and check for hosting suspension messages\nfor (const item of $input.all()) {\n  try {\n    // Get the response/content - adjust this field based on your HTTP Request node output\n    const content = item.json.response?.body || \n                   item.json.content || \n                   item.json.data || \n                   '';\n                   \n    // Convert to string if it's not already\n    const pageContent = String(content).toLowerCase();\n    \n    const suspensionPhrases = [\n      'Account Suspended',\n      'suspended for non-payment',\n      'subscription expired',\n      'hosting suspended',\n      'suspended due to payment',\n      'account has been suspended',\n      'website suspended',\n      'this site has been suspended',\n      'service is suspended',\n      'please contact your hosting provider',\n      'defaultwebpage'\n    ];\n    \n    item.json.is_suspended = suspensionPhrases.some(phrase => \n      pageContent.includes(phrase)\n    );\n    \n    // Add suspension details for debugging\n    if (item.json.is_suspended) {\n      item.json.suspension_reason = suspensionPhrases.find(phrase => \n        pageContent.includes(phrase)\n      );\n    }\n    \n  } catch (error) {\n    // Handle any errors and mark the item as failed to check\n    item.json.is_suspended = false;\n    item.json.check_error = error.message;\n  }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,1000],"id":"0227c5fd-d89d-444f-a61a-0288868d06f6","name":"Seperate suspension URL"},{"parameters":{"assignments":{"assignments":[{"id":"b0cbcff5-bfcf-46a5-a386-65c4dd56c42f","name":"date","type":"string","value":"={{ $json.headers.date }}"},{"id":"8c4155e4-bcc6-41dd-9582-346a57a7b997","name":"Property","type":"string","value":"={{ $('For Each Site...').item.json['Property'] }}"},{"id":"f0320678-d352-486f-a633-9980c4fc73b2","name":"UP_FROM_UP","type":"boolean","value":"={{ $json.statusCode < 400 && ($json.Status === 'UP' || !$json.Status) }}"},{"id":"61783eb6-a683-44c9-aa0c-5fc5247da9fa","name":"DOWN_FROM_DOWN","type":"boolean","value":"={{ $json.statusCode >= 400 && ($json.Status === 'DOWN' || !$json.Status) }}"},{"id":"1052a69e-4456-445d-bdd9-2765b334cf64","name":"UP_FROM_DOWN","type":"boolean","value":"={{ $json.statusCode < 400 && ($json.Status !== 'UP') }}"},{"id":"9af72278-5b29-406a-b4c5-f47f3d805063","name":"DOWN_FROM_UP","type":"boolean","value":"={{ $json.statusCode >= 400 && ($json.Status !== 'DOWN') }}"},{"id":"68559dc5-f4cc-4aae-b1c7-9afd31678ce3","name":"Status Code","value":"={{ $json.statusCode }}","type":"string"},{"id":"c2bb8d7a-6e94-4c7c-9a8e-8962053e0402","name":"Status Message","value":"={{ $json.statusMessage }}","type":"string"},{"id":"825ed71f-9191-499c-a00c-117d0a7ffd36","name":"Platform","value":"={{ $json.headers.platform }}","type":"string"},{"id":"e11770d3-b183-4b2c-9f05-1c517c926dbc","name":"Server","value":"={{ $json.headers.server }}","type":"string"},{"id":"9c7fce9b-2b2f-4dfd-8a98-e16150c7b423","name":"Suspended","value":"={{ $json.is_suspended }}","type":"boolean"}]},"options":{}},"id":"c07d336c-4666-4a00-9546-67386952b6ac","name":"Calculate Status","type":"n8n-nodes-base.set","position":[840,1000],"typeVersion":3.3},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Suspended }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"SUSPENDED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f74bbae2-da63-418b-a0c4-95889ef97a29","leftValue":"={{ $json.UP_FROM_UP }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"UP_FROM_UP"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b22dbf79-0ffd-4b39-a6fe-2d7e3630374e","leftValue":"={{ $json.DOWN_FROM_DOWN }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"DOWN_FROM_DOWN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c588476-2921-4593-9c2b-ee6bfaaab833","leftValue":"={{ $json.UP_FROM_DOWN }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"UP_FROM_DOWN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77877772-0777-44c4-9838-5d114d4121ba","leftValue":"={{ $json.DOWN_FROM_UP }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"DOWN_FROM_UP"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[60,1300],"id":"08fdee94-8b12-480f-8745-4cb1a15381bf","name":"Status Router"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"n8n uptime test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('Calculate Status').item.json.Property }}","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{"date":"={{ $json.date }}","Property":"={{ $json.Property }}","UP_FROM_UP":"={{ $json.UP_FROM_UP }}"},"matchingColumns":[],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UP_FROM_UP","displayName":"UP_FROM_UP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DOWN_FROM_DOWN","displayName":"DOWN_FROM_DOWN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UP_FROM_DOWN","displayName":"UP_FROM_DOWN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DOWN_FROM_UP","displayName":"DOWN_FROM_UP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"9c99fe2e-823a-4fee-9b81-93d43868e91d","name":"Log Uptime Event","type":"n8n-nodes-base.googleSheets","position":[320,1460],"typeVersion":4.3,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"n8n uptime test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Property":"={{ $json.Property }}","Status":"={{ $json.Property ? ($json.Suspended ? \"SUSPENDED\" : ($json[\"DOWN_FROM_UP\"] || $json[\"DOWN_FROM_DOWN\"] ? \"DOWN\" : \"UP\")) : undefined }}","Status Code":"={{ $json['Status Code'] }}","Status Message":"={{ $json['Status Message'] }}","Platform":"={{ $json.Platform }}","Server":"={{ $json.Server }}"},"matchingColumns":["Property"],"schema":[{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"a17779ee-a77f-4517-9f0f-177336d9c546","name":"Update Site Status","type":"n8n-nodes-base.googleSheets","position":[480,1460],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"sendTo":"m.jasim@gmindia.tech, vk.asokan@gmindia.tech","subject":"={{ \"Website: \" + $('Calculate Status').item.json.Property + \" is \" + \n   ($('Calculate Status').item.json.Suspended ? \"SUSPENDED\" : \n   ($('Calculate Status').item.json[\"DOWN_FROM_UP\"] ? \"DOWN\" : \"UP\")) }}","message":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Website Status Notification</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            color: #333333;\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 20px;\n        }\n        .email-container {\n            border: 1px solid #e0e0e0;\n            border-radius: 8px;\n            overflow: hidden;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.05);\n        }\n        .email-header {\n            background-color: #f8f8f8;\n            padding: 15px 20px;\n            border-bottom: 1px solid #e0e0e0;\n        }\n        .email-header h2 {\n            margin: 0;\n            color: #444444;\n            font-size: 18px;\n            font-weight: 600;\n        }\n        .email-body {\n            padding: 20px;\n            background-color: #ffffff;\n        }\n        .metadata {\n            margin-bottom: 20px;\n            color: #666666;\n            font-size: 14px;\n        }\n        .metadata-item {\n            margin-bottom: 5px;\n        }\n        .metadata-label {\n            font-weight: bold;\n        }\n        .status-message {\n            font-size: 16px;\n            line-height: 1.5;\n            margin-bottom: 20px;\n        }\n        .website-link {\n            color: #0066cc;\n            text-decoration: none;\n            font-weight: 500;\n        }\n        .website-link:hover {\n            text-decoration: underline;\n        }\n        .status-up {\n            color: #28a745;\n            font-weight: bold;\n        }\n        .status-down {\n            color: #dc3545;\n            font-weight: bold;\n        }\n        .status-suspended {\n            color: #fd7e14;\n            font-weight: bold;\n        }\n        .server-info {\n            background-color: #f9f9f9;\n            padding: 12px 15px;\n            border-radius: 6px;\n            margin-top: 15px;\n            font-size: 14px;\n        }\n        .server-info-item {\n            margin-bottom: 5px;\n        }\n        .footer {\n            text-align: center;\n            padding: 15px;\n            font-size: 12px;\n            color: #999999;\n            border-top: 1px solid #e0e0e0;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"email-header\">\n            <h2>Website Monitoring Notification</h2>\n        </div>\n        <div class=\"email-body\">\n            <div class=\"metadata\">\n                <div class=\"metadata-item\">\n                    <span class=\"metadata-label\">From:</span> Website Uptime Monitoring N8N Automation Workflow\n                </div>\n                <div class=\"metadata-item\">\n                    <span class=\"metadata-label\">Date:</span> {{ $('Calculate Status').item.json[\"date\"] }}\n                </div>\n            </div>\n            \n            <div class=\"status-message\">\n                Website <a href=\"{{ $('Calculate Status').item.json.Property }}\" class=\"website-link\">{{ $('Calculate Status').item.json.Property }}</a> is \n                <span class=\"{{ $('Calculate Status').item.json.Suspended ? 'status-suspended' : ($('Calculate Status').item.json['DOWN_FROM_UP'] ? 'status-down' : 'status-up') }}\">\n                    {{ $('Calculate Status').item.json.Suspended ? 'SUSPENDED' : ($('Calculate Status').item.json['DOWN_FROM_UP'] ? 'DOWN' : 'UP') }}\n                </span>\n                {{ $('Calculate Status').item.json.Suspended ? ' due to hosting provider' : '' }}\n            </div>\n            \n            <div class=\"server-info\">\n                <div class=\"server-info-item\">\n                    <strong>Platform:</strong> {{ $json.Platform }}\n                </div>\n                <div class=\"server-info-item\">\n                    <strong>Server:</strong> {{ $json.Server }}\n                </div>\n            </div>\n        </div>\n        <div class=\"footer\">\n            This is an automated notification from your N8N Website Monitoring System\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"senderName":"GMI Website Monitoring Automation"}},"id":"9aa855e3-9106-4da0-beaa-086988cccb1a","name":"Send Email Alert for SUSPEND/DOWN","type":"n8n-nodes-base.gmail","position":[480,1240],"typeVersion":2.1,"webhookId":"1229af3c-b450-4977-9be1-84f31b718997","executeOnce":true,"credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}},{"parameters":{"jsCode":"// Define the HTML structure with improved styling\nconst htmlTemplate = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Website Monitoring Report</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 900px;\n            margin: 0 auto;\n            padding: 20px;\n            background-color: #f5f7fa;\n        }\n        .container {\n            background-color: #ffffff;\n            border-radius: 10px;\n            box-shadow: 0 4px 15px rgba(0,0,0,0.08);\n            padding: 30px;\n            border-top: 5px solid #3498db;\n        }\n        header {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            padding-bottom: 20px;\n            margin-bottom: 25px;\n            border-bottom: 2px solid #f0f2f5;\n        }\n        .header-content {\n            flex-grow: 1;\n            margin-right: 30px;\n        }\n        .timestamp {\n            background-color: #f8fafc;\n            padding: 8px 12px;\n            border-radius: 6px;\n            font-size: 14px;\n            color: #64748b;\n        }\n        .timestamp-container {\n            display: flex;\n            flex-direction: column;\n            gap: 5px;\n        }\n        h2 {\n            color: #1e3a8a;\n            margin-top: 0;\n            font-size: 26px;\n            font-weight: 600;\n        }\n        table {\n            width: 100%;\n            border-collapse: separate;\n            border-spacing: 0;\n            margin: 20px 0;\n            font-size: 15px;\n            box-shadow: 0 2px 5px rgba(0,0,0,0.05);\n            border-radius: 8px;\n            overflow: hidden;\n        }\n        th, td {\n            padding: 14px 18px;\n            border: none;\n            border-bottom: 1px solid #e5e7eb;\n        }\n        th {\n            background-color: #f1f5f9;\n            color: #334155;\n            font-weight: 600;\n            text-transform: uppercase;\n            font-size: 13px;\n            letter-spacing: 0.5px;\n        }\n        tr:last-child td {\n            border-bottom: none;\n        }\n        tr:nth-child(even) {\n            background-color: #fafbfc;\n        }\n        tr:hover {\n            background-color: #f1f5fb;\n        }\n        .status-up {\n            color: green;\n            font-weight: bold;\n        }\n        .status-down {\n            color: red;\n            font-weight: bold;\n        }\n        .status-suspended {\n            color: orange;\n            font-weight: bold;\n        }\n        .website-column {\n            width: 25%;\n            text-align: left;\n        }\n        .status-column {\n            width: 15%;\n            text-align: left;\n        }\n        .code-column {\n            width: 10%;\n            text-align: center;\n        }\n        .message-column {\n            width: 20%;\n            text-align: center;\n        }\n        .visitors-column {\n            width: 15%;\n            text-align: center;\n        }\n        .website-link {\n            color: #2563eb;\n            text-decoration: none;\n            font-weight: 500;\n            display: block;\n            white-space: nowrap;\n            overflow: hidden;\n            text-overflow: ellipsis;\n            max-width: 300px;\n            transition: color 0.2s;\n        }\n        .website-link:hover {\n            color: #1d4ed8;\n            text-decoration: underline;\n        }\n        .code-badge {\n            display: inline-block;\n            padding: 4px 8px;\n            background-color: #f1f5f9;\n            border-radius: 4px;\n            font-family: monospace;\n            font-weight: 600;\n        }\n        .success-code {\n            background-color: #ecfdf5;\n            color: #065f46;\n        }\n        .error-code {\n            background-color: #fef2f2;\n            color: #991b1b;\n        }\n        .warning-code {\n            background-color: #fffbeb;\n            color: #92400e;\n        }\n        .footer {\n            margin-top: 30px;\n            text-align: center;\n            font-size: 14px;\n            color: #64748b;\n            padding-top: 20px;\n            border-top: 1px solid #e5e7eb;\n        }\n        .summary-section {\n            display: flex;\n            justify-content: space-around;\n            margin-bottom: 25px;\n            text-align: center;\n        }\n        .summary-box {\n            padding: 15px;\n            border-radius: 8px;\n            width: 30%;\n        }\n        .summary-label {\n            font-size: 14px;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n            margin-bottom: 5px;\n            color: #64748b;\n        }\n        .summary-value {\n            font-size: 24px;\n            font-weight: 700;\n        }\n        .up-box {\n            background-color: #f0fdf4;\n            border: 1px solid #dcfce7;\n        }\n        .down-box {\n            background-color: #fef2f2;\n            border: 1px solid #fee2e2;\n        }\n        .suspended-box {\n            background-color: #fffbeb;\n            border: 1px solid #fef3c7;\n        }\n        .timestamp-label {\n            font-weight: 600;\n        }\n        .visitor-count {\n            font-weight: 600;\n            color: #4b5563;\n        }\n        .visitor-badge {\n            display: inline-block;\n            padding: 3px 6px;\n            border-radius: 4px;\n            background-color: #e0f2fe;\n            color: #0369a1;\n            font-weight: 600;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <header>\n            <div class=\"header-content\">\n                <h2>Website Monitoring Report</h2>\n                <p>Monitoring the results for all our websites</p>\n            </div>\n            <div class=\"timestamp-container\">\n                <div class=\"timestamp\">\n                    <span class=\"timestamp-label\">🇫🇷 France:</span> ${formatFrenchTime()} <br><br> <span class=\"timestamp-label\">🇮🇳 India:</span> ${formatIndianTime()}\n                </div>\n            </div>\n        </header>\n        \n        <div class=\"summary-section\">\n            <div class=\"summary-box up-box\">\n                <div class=\"summary-label\">Up</div>\n                <div class=\"summary-value\">{{UP_COUNT}}</div>\n            </div>\n            <div class=\"summary-box down-box\">\n                <div class=\"summary-label\">Down</div>\n                <div class=\"summary-value\">{{DOWN_COUNT}}</div>\n            </div>\n            <div class=\"summary-box suspended-box\">\n                <div class=\"summary-label\">Suspended</div>\n                <div class=\"summary-value\">{{SUSPENDED_COUNT}}</div>\n            </div>\n        </div>\n        \n        <table>\n            <thead>\n                <tr>\n                    <th class=\"website-column\">Website</th>\n                    <th class=\"status-column\">Status</th>\n                    <th class=\"code-column\">Status Code</th>\n                    <th class=\"message-column\">Status Message</th>\n                    <th class=\"visitors-column\">Last 7 Days<br><span>visitors<span></th>\n                    <th class=\"visitors-column\">Last 28 Days<br><span>visitors<span></th>\n                </tr>\n            </thead>\n            <tbody>\n                {{TABLE_ROWS}}\n            </tbody>\n        </table>\n        \n        <div class=\"footer\">\n            <p>This is an automated status report generated on:</p>\n            <p>🇫🇷 France: ${formatFrenchTime()} | 🇮🇳 India: ${formatIndianTime()}</p>\n        </div>\n    </div>\n</body>\n</html>\n`;\n\n// Function to format date in French timezone with DD/MM/YYYY format\nfunction formatFrenchTime() {\n    const now = new Date();\n    \n    // Format for France (Central European Time)\n    const frenchOptions = { timeZone: 'Europe/Paris' };\n    const frenchDate = now.toLocaleDateString('fr-FR', frenchOptions);\n    const frenchTime = now.toLocaleTimeString('fr-FR', frenchOptions);\n    \n    return `${frenchDate} ${frenchTime}`;\n}\n\n// Function to format date in Indian timezone with DD/MM/YYYY format\nfunction formatIndianTime() {\n    const now = new Date();\n    \n    // Format for India (Indian Standard Time)\n    const indianOptions = { timeZone: 'Asia/Kolkata' };\n    const indianDate = now.toLocaleDateString('en-IN', indianOptions);\n    const indianTime = now.toLocaleTimeString('en-IN', indianOptions);\n    \n    return `${indianDate} ${indianTime}`;\n}\n\n// Function to get status indicator - using your original code\nfunction getStatusIndicator(status) {\n    if (status === \"UP\") return `<span class=\"status-up\">🟢 UP</span>`;\n    if (status === \"DOWN\") return `<span class=\"status-down\">🔴 DOWN</span>`;\n    if (status === \"SUSPENDED\") return `<span class=\"status-suspended\">🟡 SUSPENDED</span>`;\n    return status;\n}\n\n// Function to get appropriate code badge styling\nfunction getCodeBadgeClass(code) {\n    const codeNum = parseInt(code);\n    if (codeNum >= 200 && codeNum < 300) return \"success-code\";\n    if (codeNum >= 400 && codeNum < 500) return \"warning-code\";\n    if (codeNum >= 500) return \"error-code\";\n    return \"\";\n}\n\n// Get input data from n8n\nconst inputData = $input.all(); \nlet tableRows = \"\";\n\n// Count statuses\nlet upCount = 0;\nlet downCount = 0;\nlet suspendedCount = 0;\n\n// Loop through each item in the data\nfor (const item of inputData) {\n    // Count statuses\n    if (item.json.Status === \"UP\") upCount++;\n    else if (item.json.Status === \"DOWN\") downCount++;\n    else if (item.json.Status === \"SUSPENDED\") suspendedCount++;\n    \n    const statusCode = item.json[\"Status Code\"];\n    const codeBadgeClass = getCodeBadgeClass(statusCode);\n    \n    const row = `\n        <tr>\n            <td class=\"website-column\">\n                <a href=\"${item.json.Property}\" target=\"_blank\" class=\"website-link\">${item.json.Property}</a>\n            </td>\n            <td class=\"status-column\">${getStatusIndicator(item.json.Status)}</td>\n            <td class=\"code-column\">\n                <span class=\"code-badge ${codeBadgeClass}\">${statusCode}</span>\n            </td>\n            <td class=\"message-column\">${item.json[\"Status Message\"]}</td>\n            <td class=\"visitors-column\">\n                <span class=\"visitor-badge\">${item.json[\"Visitor Last 7 Days\"]}</span>\n            </td>\n            <td class=\"visitors-column\">\n                <span class=\"visitor-badge\">${item.json[\"Visitor Last 28 Days\"]}</span>\n            </td>\n        </tr>\n    `;\n    tableRows += row;\n}\n\n// Replace placeholders in the HTML template\nlet finalHtml = htmlTemplate.replace(\"{{TABLE_ROWS}}\", tableRows);\nfinalHtml = finalHtml.replace(\"{{UP_COUNT}}\", upCount);\nfinalHtml = finalHtml.replace(\"{{DOWN_COUNT}}\", downCount);\nfinalHtml = finalHtml.replace(\"{{SUSPENDED_COUNT}}\", suspendedCount);\n\n// Return the HTML output\nreturn [{ json: { html: finalHtml } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,1800],"id":"c64180a0-cd3a-4dd1-8796-82c54b5d585e","name":"HTML website status table generator"},{"parameters":{"sendTo":"m.jasim@gmindia.tech, vk.asokan@gmindia.tech, ms.ceo@gmindia.tech, jj.egbert@gmindia.tech","subject":"=Website Monitoring Report | {{ new Date().toLocaleDateString(\"en-US\", { year: \"numeric\", month: \"long\", day: \"numeric\" }) }}\n","message":"={{ $json.html }}","options":{"appendAttribution":"={{ false }}","senderName":"GMI Website Monitoring Automation"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1040,1800],"id":"83ab7db1-c462-489b-9cbc-21c03f31d25a","name":"Send Overall Report Email","webhookId":"a7d914d6-b2b7-47c5-8f87-9315388f5e5b","executeOnce":true,"credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[560,1800],"id":"9b882ed1-ded4-48ce-8515-84a3f9ce658c","name":"Get the website monitoring RESULTS","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-100,1800],"id":"a5eb4f22-1542-44b4-8b57-46cbf24262cd","name":"Waiting for website monitoring updates","webhookId":"ebb478cf-9e62-49e3-89de-0222b3a3f493"},{"parameters":{"propertyId":{"__rl":true,"value":"455453859","mode":"id"},"dateRange":"yesterday","metricsGA4":{"metricValues":[{"listName":"active7DayUsers"},{"listName":"active28DayUsers"}]},"dimensionsGA4":{"dimensionValues":[{}]},"returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.googleAnalytics","typeVersion":2,"position":[120,1800],"id":"11c292ef-4201-497a-8177-855bebc6ae7d","name":"Google Analytics","credentials":{"googleAnalyticsOAuth2":{"id":"QNgzYDBNwqVS9ez3","name":"Google Analytics account 2"}}},{"parameters":{"sendTo":"m.jasim@gmindia.tech, vk.asokan@gmindia.tech, ms.ceo@gmindia.tech","subject":"=Website Monitoring Report | {{ new Date().toLocaleDateString(\"en-US\", { year: \"numeric\", month: \"long\", day: \"numeric\" }) }}\n","message":"={{ $json.html }}","options":{"senderName":"GMI Website Monitoring Automation"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1320,1280],"id":"5591c850-10a3-4ca0-b75b-44eafd440c8c","name":"Send Overall Report Email1","webhookId":"a7d914d6-b2b7-47c5-8f87-9315388f5e5b","executeOnce":true,"credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}},"disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Property":"=https://www.gmindia.tech","Visitor Last 7 Days":"={{ $json.active7DayUsers }}","Visitor Last 28 Days":"={{ $json.active28DayUsers }}"},"matchingColumns":["Property"],"schema":[{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Visitor Last 7 Days","displayName":"Visitor Last 7 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Visitor Last 28 Days","displayName":"Visitor Last 28 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"726ac181-fd0f-4f10-b1af-0a1c66dd6f3b","name":"Update Site Status1","type":"n8n-nodes-base.googleSheets","position":[340,1800],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"sendTo":"m.jasim@gmindia.tech, vk.asokan@gmindia.tech","subject":"={{ \"Website: \" + $('Calculate Status').item.json.Property + \" is \" + \n   ($('Calculate Status').item.json.Suspended ? \"SUSPENDED\" : \n   ($('Calculate Status').item.json[\"DOWN_FROM_UP\"] ? \"DOWN\" : \"UP\")) }}","message":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Website Status Notification</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            color: #333333;\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 20px;\n        }\n        .email-container {\n            border: 1px solid #e0e0e0;\n            border-radius: 8px;\n            overflow: hidden;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.05);\n        }\n        .email-header {\n            background-color: #f8f8f8;\n            padding: 15px 20px;\n            border-bottom: 1px solid #e0e0e0;\n        }\n        .email-header h2 {\n            margin: 0;\n            color: #444444;\n            font-size: 18px;\n            font-weight: 600;\n        }\n        .email-body {\n            padding: 20px;\n            background-color: #ffffff;\n        }\n        .metadata {\n            margin-bottom: 20px;\n            color: #666666;\n            font-size: 14px;\n        }\n        .metadata-item {\n            margin-bottom: 5px;\n        }\n        .metadata-label {\n            font-weight: bold;\n        }\n        .status-message {\n            font-size: 16px;\n            line-height: 1.5;\n            margin-bottom: 20px;\n        }\n        .website-link {\n            color: #0066cc;\n            text-decoration: none;\n            font-weight: 500;\n        }\n        .website-link:hover {\n            text-decoration: underline;\n        }\n        .status-up {\n            color: #28a745;\n            font-weight: bold;\n        }\n        .status-down {\n            color: #dc3545;\n            font-weight: bold;\n        }\n        .status-suspended {\n            color: #fd7e14;\n            font-weight: bold;\n        }\n        .server-info {\n            background-color: #f9f9f9;\n            padding: 12px 15px;\n            border-radius: 6px;\n            margin-top: 15px;\n            font-size: 14px;\n        }\n        .server-info-item {\n            margin-bottom: 5px;\n        }\n        .footer {\n            text-align: center;\n            padding: 15px;\n            font-size: 12px;\n            color: #999999;\n            border-top: 1px solid #e0e0e0;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"email-header\">\n            <h2>Website Monitoring Notification</h2>\n        </div>\n        <div class=\"email-body\">\n            <div class=\"metadata\">\n                <div class=\"metadata-item\">\n                    <span class=\"metadata-label\">From:</span> Website Uptime Monitoring N8N Automation Workflow\n                </div>\n                <div class=\"metadata-item\">\n                    <span class=\"metadata-label\">Date:</span> {{ $('Calculate Status').item.json[\"date\"] }}\n                </div>\n            </div>\n            \n            <div class=\"status-message\">\n                Website <a href=\"{{ $('Calculate Status').item.json.Property }}\" class=\"website-link\">{{ $('Calculate Status').item.json.Property }}</a> is \n                <span class=\"{{ $('Calculate Status').item.json.Suspended ? 'status-suspended' : ($('Calculate Status').item.json['DOWN_FROM_UP'] ? 'status-down' : 'status-up') }}\">\n                    {{ $('Calculate Status').item.json.Suspended ? 'SUSPENDED' : ($('Calculate Status').item.json['DOWN_FROM_UP'] ? 'DOWN' : 'UP') }}\n                </span>\n                {{ $('Calculate Status').item.json.Suspended ? ' due to hosting provider' : '' }}\n            </div>\n            \n            <div class=\"server-info\">\n                <div class=\"server-info-item\">\n                    <strong>Platform:</strong> {{ $json.Platform }}\n                </div>\n                <div class=\"server-info-item\">\n                    <strong>Server:</strong> {{ $json.Server }}\n                </div>\n            </div>\n        </div>\n        <div class=\"footer\">\n            This is an automated notification from your N8N Website Monitoring System\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"senderName":"GMI Website Monitoring Automation"}},"id":"3e0aa79c-ac5e-43d2-8b49-7cbbb6bd5820","name":"Send Email Alert for SUSPEND/DOWN1","type":"n8n-nodes-base.gmail","position":[1320,1060],"typeVersion":2.1,"webhookId":"1229af3c-b450-4977-9be1-84f31b718997","executeOnce":true,"credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}},"disabled":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Sites","type":"main","index":0},{"node":"Waiting for website monitoring updates","type":"main","index":0}]]},"Get Sites":{"main":[[{"node":"For Each Site...","type":"main","index":0}]]},"For Each Site...":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Perform Site Test","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Perform Site Test","type":"main","index":0}]]},"Perform Site Test":{"main":[[{"node":"Seperate suspension URL","type":"main","index":0}]]},"Seperate suspension URL":{"main":[[{"node":"Calculate Status","type":"main","index":0}]]},"Calculate Status":{"main":[[{"node":"Status Router","type":"main","index":0}]]},"Status Router":{"main":[[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}]]},"Log Uptime Event":{"main":[[{"node":"Update Site Status","type":"main","index":0}]]},"Update Site Status":{"main":[[{"node":"For Each Site...","type":"main","index":0}]]},"HTML website status table generator":{"main":[[{"node":"Send Overall Report Email","type":"main","index":0}]]},"Get the website monitoring RESULTS":{"main":[[{"node":"HTML website status table generator","type":"main","index":0}]]},"Waiting for website monitoring updates":{"main":[[{"node":"Google Analytics","type":"main","index":0}]]},"Google Analytics":{"main":[[{"node":"Update Site Status1","type":"main","index":0}]]},"Update Site Status1":{"main":[[{"node":"Get the website monitoring RESULTS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[12]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5f8f5301-8fc9-4238-94bf-50873d5d58cb","triggerCount":1,"shared":[{"createdAt":"2025-02-03T13:17:34.457Z","updatedAt":"2025-02-03T13:17:34.457Z","role":"workflow:owner","workflowId":"3RLcXNsD1dlMeAuq","projectId":"tktBUJ9Wt0VRCCM2"}],"tags":[]}