website-uptime-monitoring-with-visitors-count-&-ranking-RZbuXRwCS4ORuPRP.json
{"createdAt":"2025-02-25T06:55:21.116Z","updatedAt":"2025-02-27T10:54:21.953Z","id":"RZbuXRwCS4ORuPRP","name":"Website Uptime Monitoring with VIsitors Count & Ranking","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"0a2b34b2-2e8c-40f7-9b23-fcda8bdafeb4","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-540,780],"typeVersion":1.2},{"parameters":{"documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"n8n uptime test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"options":{}},"id":"8b273a29-bc10-4782-86eb-5f29b78d67fb","name":"Get Sites","type":"n8n-nodes-base.googleSheets","position":[-300,780],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"options":{}},"id":"cbbb2c31-0752-4264-b750-b787268ccedf","name":"For Each Site...","type":"n8n-nodes-base.splitInBatches","position":[-100,780],"typeVersion":3},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"444e579c-3b5b-4f8b-b36e-25c6422fdf54","leftValue":"={{ $json.row_number }}","rightValue":9,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-20,1020],"id":"20a36226-51d1-4343-ad32-b161a4724672","name":"If","executeOnce":false},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[220,1000],"id":"5f2a8645-4392-4529-acf2-1c9742ce3b73","name":"Wait","webhookId":"f9bd9814-fe72-479a-ab27-5cde64742148","executeOnce":false},{"parameters":{"url":"={{ $json.Property }}","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"raw","options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"id":"0784519b-c47c-47c2-8b06-8c16aa1ea9fa","name":"Perform Site Test","type":"n8n-nodes-base.httpRequest","position":[420,780],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Loop over input items and check for hosting suspension messages\nfor (const item of $input.all()) {\n  try {\n    // Get the response/content - adjust this field based on your HTTP Request node output\n    const content = item.json.response?.body || \n                   item.json.content || \n                   item.json.data || \n                   '';\n                   \n    // Convert to string if it's not already\n    const pageContent = String(content).toLowerCase();\n    \n    const suspensionPhrases = [\n      'Account Suspended',\n      'suspended for non-payment',\n      'subscription expired',\n      'hosting suspended',\n      'suspended due to payment',\n      'account has been suspended',\n      'website suspended',\n      'this site has been suspended',\n      'service is suspended',\n      'please contact your hosting provider',\n      'defaultwebpage'\n    ];\n    \n    item.json.is_suspended = suspensionPhrases.some(phrase => \n      pageContent.includes(phrase)\n    );\n    \n    // Add suspension details for debugging\n    if (item.json.is_suspended) {\n      item.json.suspension_reason = suspensionPhrases.find(phrase => \n        pageContent.includes(phrase)\n      );\n    }\n    \n  } catch (error) {\n    // Handle any errors and mark the item as failed to check\n    item.json.is_suspended = false;\n    item.json.check_error = error.message;\n  }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,1000],"id":"c2ed02d1-7594-4821-8e2a-c22599ecd5fd","name":"Seperate suspension URL"},{"parameters":{"assignments":{"assignments":[{"id":"b0cbcff5-bfcf-46a5-a386-65c4dd56c42f","name":"date","type":"string","value":"={{ $json.headers.date }}"},{"id":"8c4155e4-bcc6-41dd-9582-346a57a7b997","name":"Property","type":"string","value":"={{ $('For Each Site...').item.json['Property'] }}"},{"id":"f0320678-d352-486f-a633-9980c4fc73b2","name":"UP_FROM_UP","type":"boolean","value":"={{ $json.statusCode < 400 && ($json.Status === 'UP' || !$json.Status) }}"},{"id":"61783eb6-a683-44c9-aa0c-5fc5247da9fa","name":"DOWN_FROM_DOWN","type":"boolean","value":"={{ $json.statusCode >= 400 && ($json.Status === 'DOWN' || !$json.Status) }}"},{"id":"1052a69e-4456-445d-bdd9-2765b334cf64","name":"UP_FROM_DOWN","type":"boolean","value":"={{ $json.statusCode < 400 && ($json.Status !== 'UP') }}"},{"id":"9af72278-5b29-406a-b4c5-f47f3d805063","name":"DOWN_FROM_UP","type":"boolean","value":"={{ $json.statusCode >= 400 && ($json.Status !== 'DOWN') }}"},{"id":"68559dc5-f4cc-4aae-b1c7-9afd31678ce3","name":"Status Code","value":"={{ $json.statusCode }}","type":"string"},{"id":"c2bb8d7a-6e94-4c7c-9a8e-8962053e0402","name":"Status Message","value":"={{ $json.statusMessage }}","type":"string"},{"id":"825ed71f-9191-499c-a00c-117d0a7ffd36","name":"Platform","value":"={{ $json.headers.platform }}","type":"string"},{"id":"e11770d3-b183-4b2c-9f05-1c517c926dbc","name":"Server","value":"={{ $json.headers.server }}","type":"string"},{"id":"9c7fce9b-2b2f-4dfd-8a98-e16150c7b423","name":"Suspended","value":"={{ $json.is_suspended }}","type":"boolean"}]},"options":{}},"id":"d67eeb87-d123-4cd0-8b4e-d71c8d01024e","name":"Calculate Status","type":"n8n-nodes-base.set","position":[840,1000],"typeVersion":3.3},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Suspended }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"SUSPENDED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f74bbae2-da63-418b-a0c4-95889ef97a29","leftValue":"={{ $json.UP_FROM_UP }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"UP_FROM_UP"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b22dbf79-0ffd-4b39-a6fe-2d7e3630374e","leftValue":"={{ $json.DOWN_FROM_DOWN }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"DOWN_FROM_DOWN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c588476-2921-4593-9c2b-ee6bfaaab833","leftValue":"={{ $json.UP_FROM_DOWN }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"UP_FROM_DOWN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77877772-0777-44c4-9838-5d114d4121ba","leftValue":"={{ $json.DOWN_FROM_UP }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"DOWN_FROM_UP"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[60,1300],"id":"407750b4-adff-42a7-bfa5-777c3fa6f879","name":"Status Router"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"n8n uptime test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('Calculate Status').item.json.Property }}","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{"date":"={{ $json.date }}","Property":"={{ $json.Property }}","UP_FROM_UP":"={{ $json.UP_FROM_UP }}"},"matchingColumns":[],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UP_FROM_UP","displayName":"UP_FROM_UP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DOWN_FROM_DOWN","displayName":"DOWN_FROM_DOWN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UP_FROM_DOWN","displayName":"UP_FROM_DOWN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DOWN_FROM_UP","displayName":"DOWN_FROM_UP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"2780de9c-eafc-491a-a7f4-68e5774653d8","name":"Log Uptime Event","type":"n8n-nodes-base.googleSheets","position":[320,1460],"typeVersion":4.3,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"n8n uptime test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Property":"={{ $json.Property }}","Status":"={{ $json.Property ? ($json.Suspended ? \"SUSPENDED\" : ($json[\"DOWN_FROM_UP\"] || $json[\"DOWN_FROM_DOWN\"] ? \"DOWN\" : \"UP\")) : undefined }}","Status Code":"={{ $json['Status Code'] }}","Status Message":"={{ $json['Status Message'] }}","Platform":"={{ $json.Platform }}","Server":"={{ $json.Server }}"},"matchingColumns":["Property"],"schema":[{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"5e050665-43c0-4a22-bc45-eaefbc72e46c","name":"Update Site Status","type":"n8n-nodes-base.googleSheets","position":[480,1460],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"sendTo":"m.jasim@gmindia.tech","subject":"={{ \"Website: \" + $('Calculate Status').item.json.Property + \" is \" + \n   ($('Calculate Status').item.json.Suspended ? \"SUSPENDED\" : \n   ($('Calculate Status').item.json[\"DOWN_FROM_UP\"] ? \"DOWN\" : \"UP\")) }}","message":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Website Status Notification</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            color: #333333;\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 20px;\n        }\n        .email-container {\n            border: 1px solid #e0e0e0;\n            border-radius: 8px;\n            overflow: hidden;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.05);\n        }\n        .email-header {\n            background-color: #f8f8f8;\n            padding: 15px 20px;\n            border-bottom: 1px solid #e0e0e0;\n        }\n        .email-header h2 {\n            margin: 0;\n            color: #444444;\n            font-size: 18px;\n            font-weight: 600;\n        }\n        .email-body {\n            padding: 20px;\n            background-color: #ffffff;\n        }\n        .metadata {\n            margin-bottom: 20px;\n            color: #666666;\n            font-size: 14px;\n        }\n        .metadata-item {\n            margin-bottom: 5px;\n        }\n        .metadata-label {\n            font-weight: bold;\n        }\n        .status-message {\n            font-size: 16px;\n            line-height: 1.5;\n            margin-bottom: 20px;\n        }\n        .website-link {\n            color: #0066cc;\n            text-decoration: none;\n            font-weight: 500;\n        }\n        .website-link:hover {\n            text-decoration: underline;\n        }\n        .status-up {\n            color: #28a745;\n            font-weight: bold;\n        }\n        .status-down {\n            color: #dc3545;\n            font-weight: bold;\n        }\n        .status-suspended {\n            color: #fd7e14;\n            font-weight: bold;\n        }\n        .server-info {\n            background-color: #f9f9f9;\n            padding: 12px 15px;\n            border-radius: 6px;\n            margin-top: 15px;\n            font-size: 14px;\n        }\n        .server-info-item {\n            margin-bottom: 5px;\n        }\n        .footer {\n            text-align: center;\n            padding: 15px;\n            font-size: 12px;\n            color: #999999;\n            border-top: 1px solid #e0e0e0;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"email-header\">\n            <h2>Website Monitoring Notification</h2>\n        </div>\n        <div class=\"email-body\">\n            <div class=\"metadata\">\n                <div class=\"metadata-item\">\n                    <span class=\"metadata-label\">From:</span> Website Uptime Monitoring N8N Automation Workflow\n                </div>\n                <div class=\"metadata-item\">\n                    <span class=\"metadata-label\">Date:</span> {{ $('Calculate Status').item.json[\"date\"] }}\n                </div>\n            </div>\n            \n            <div class=\"status-message\">\n                Website <a href=\"{{ $('Calculate Status').item.json.Property }}\" class=\"website-link\">{{ $('Calculate Status').item.json.Property }}</a> is \n                <span class=\"{{ $('Calculate Status').item.json.Suspended ? 'status-suspended' : ($('Calculate Status').item.json['DOWN_FROM_UP'] ? 'status-down' : 'status-up') }}\">\n                    {{ $('Calculate Status').item.json.Suspended ? 'SUSPENDED' : ($('Calculate Status').item.json['DOWN_FROM_UP'] ? 'DOWN' : 'UP') }}\n                </span>\n                {{ $('Calculate Status').item.json.Suspended ? ' due to hosting provider' : '' }}\n            </div>\n            \n            <div class=\"server-info\">\n                <div class=\"server-info-item\">\n                    <strong>Platform:</strong> {{ $json.Platform }}\n                </div>\n                <div class=\"server-info-item\">\n                    <strong>Server:</strong> {{ $json.Server }}\n                </div>\n            </div>\n        </div>\n        <div class=\"footer\">\n            This is an automated notification from your N8N Website Monitoring System\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"senderName":"GMI Website Monitoring Automation"}},"id":"42ad2ea3-22bf-44b2-89fa-65043cb63cac","name":"Send Email Alert for SUSPEND/DOWN","type":"n8n-nodes-base.gmail","position":[480,1240],"typeVersion":2.1,"webhookId":"c256d657-ac92-46a4-9922-43e5a19756ab","executeOnce":true,"credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}},{"parameters":{"jsCode":"// Define the HTML structure with improved styling\nconst htmlTemplate = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Website Monitoring Report</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 900px;\n            margin: 0 auto;\n            padding: 20px;\n            background-color: #f5f7fa;\n        }\n        .container {\n            background-color: #ffffff;\n            border-radius: 10px;\n            box-shadow: 0 4px 15px rgba(0,0,0,0.08);\n            padding: 30px;\n            border-top: 5px solid #3498db;\n        }\n        header {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            padding-bottom: 20px;\n            margin-bottom: 25px;\n            border-bottom: 2px solid #f0f2f5;\n        }\n        .header-content {\n            flex-grow: 1;\n            margin-right: 30px;\n        }\n        .timestamp {\n            background-color: #f8fafc;\n            padding: 8px 12px;\n            border-radius: 6px;\n            font-size: 14px;\n            color: #64748b;\n        }\n        .timestamp-container {\n            display: flex;\n            flex-direction: column;\n            gap: 5px;\n        }\n        h2 {\n            color: #1e3a8a;\n            margin-top: 0;\n            font-size: 26px;\n            font-weight: 600;\n        }\n        table {\n            width: 100%;\n            border-collapse: separate;\n            border-spacing: 0;\n            margin: 20px 0;\n            font-size: 15px;\n            box-shadow: 0 2px 5px rgba(0,0,0,0.05);\n            border-radius: 8px;\n            overflow: hidden;\n        }\n        th, td {\n            padding: 14px 18px;\n            border: none;\n            border-bottom: 1px solid #e5e7eb;\n        }\n        th {\n            background-color: #f1f5f9;\n            color: #334155;\n            font-weight: 600;\n            text-transform: uppercase;\n            font-size: 13px;\n            letter-spacing: 0.5px;\n        }\n        tr:last-child td {\n            border-bottom: none;\n        }\n        tr:nth-child(even) {\n            background-color: #fafbfc;\n        }\n        tr:hover {\n            background-color: #f1f5fb;\n        }\n        .status-up {\n            color: green;\n            font-weight: bold;\n        }\n        .status-down {\n            color: red;\n            font-weight: bold;\n        }\n        .status-suspended {\n            color: orange;\n            font-weight: bold;\n        }\n        .website-column {\n            width: 25%;\n            text-align: left;\n        }\n        .status-column {\n            width: 15%;\n            text-align: left;\n        }\n        .code-column {\n            width: 10%;\n            text-align: center;\n        }\n        .message-column {\n            width: 20%;\n            text-align: center;\n        }\n        .visitors-column {\n            width: 15%;\n            text-align: center;\n        }\n        .website-link {\n            color: #2563eb;\n            text-decoration: none;\n            font-weight: 500;\n            display: block;\n            white-space: nowrap;\n            overflow: hidden;\n            text-overflow: ellipsis;\n            max-width: 300px;\n            transition: color 0.2s;\n        }\n        .website-link:hover {\n            color: #1d4ed8;\n            text-decoration: underline;\n        }\n        .code-badge {\n            display: inline-block;\n            padding: 4px 8px;\n            background-color: #f1f5f9;\n            border-radius: 4px;\n            font-family: monospace;\n            font-weight: 600;\n        }\n        .success-code {\n            background-color: #ecfdf5;\n            color: #065f46;\n        }\n        .error-code {\n            background-color: #fef2f2;\n            color: #991b1b;\n        }\n        .warning-code {\n            background-color: #fffbeb;\n            color: #92400e;\n        }\n        .footer {\n            margin-top: 30px;\n            text-align: center;\n            font-size: 14px;\n            color: #64748b;\n            padding-top: 20px;\n            border-top: 1px solid #e5e7eb;\n        }\n        .summary-section {\n            display: flex;\n            justify-content: space-around;\n            margin-bottom: 25px;\n            text-align: center;\n        }\n        .summary-box {\n            padding: 15px;\n            border-radius: 8px;\n            width: 30%;\n        }\n        .summary-label {\n            font-size: 14px;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n            margin-bottom: 5px;\n            color: #64748b;\n        }\n        .summary-value {\n            font-size: 24px;\n            font-weight: 700;\n        }\n        .up-box {\n            background-color: #f0fdf4;\n            border: 1px solid #dcfce7;\n        }\n        .down-box {\n            background-color: #fef2f2;\n            border: 1px solid #fee2e2;\n        }\n        .suspended-box {\n            background-color: #fffbeb;\n            border: 1px solid #fef3c7;\n        }\n        .timestamp-label {\n            font-weight: 600;\n        }\n        .visitor-count {\n            font-weight: 600;\n            color: #4b5563;\n        }\n        .visitor-badge {\n            display: inline-block;\n            padding: 3px 6px;\n            border-radius: 4px;\n            background-color: #e0f2fe;\n            color: #0369a1;\n            font-weight: 600;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <header>\n            <div class=\"header-content\">\n                <h2>Website Monitoring Report</h2>\n                <p>Monitoring the results for all our websites</p>\n            </div>\n            <div class=\"timestamp-container\">\n                <div class=\"timestamp\">\n                    <span class=\"timestamp-label\">🇫🇷 France:</span> ${formatFrenchTime()} <br><br> <span class=\"timestamp-label\">🇮🇳 India:</span> ${formatIndianTime()}\n                </div>\n            </div>\n        </header>\n        \n        <div class=\"summary-section\">\n            <div class=\"summary-box up-box\">\n                <div class=\"summary-label\">Up</div>\n                <div class=\"summary-value\">{{UP_COUNT}}</div>\n            </div>\n            <div class=\"summary-box down-box\">\n                <div class=\"summary-label\">Down</div>\n                <div class=\"summary-value\">{{DOWN_COUNT}}</div>\n            </div>\n            <div class=\"summary-box suspended-box\">\n                <div class=\"summary-label\">Suspended</div>\n                <div class=\"summary-value\">{{SUSPENDED_COUNT}}</div>\n            </div>\n        </div>\n        \n        <table>\n            <thead>\n                <tr>\n                    <th class=\"website-column\">Website</th>\n                    <th class=\"status-column\">Status</th>\n                    <th class=\"code-column\">Status Code</th>\n                    <th class=\"message-column\">Status Message</th>\n                    <th class=\"visitors-column\">Last 7 Days<br><span>visitors<span></th>\n                    <th class=\"visitors-column\">Last 28 Days<br><span>visitors<span></th>\n                </tr>\n            </thead>\n            <tbody>\n                {{TABLE_ROWS}}\n            </tbody>\n        </table>\n        \n        <div class=\"footer\">\n            <p>This is an automated status report generated on:</p>\n            <p>🇫🇷 France: ${formatFrenchTime()} | 🇮🇳 India: ${formatIndianTime()}</p>\n        </div>\n    </div>\n</body>\n</html>\n`;\n\n// Function to format date in French timezone with DD/MM/YYYY format\nfunction formatFrenchTime() {\n    const now = new Date();\n    \n    // Format for France (Central European Time)\n    const frenchOptions = { timeZone: 'Europe/Paris' };\n    const frenchDate = now.toLocaleDateString('fr-FR', frenchOptions);\n    const frenchTime = now.toLocaleTimeString('fr-FR', frenchOptions);\n    \n    return `${frenchDate} ${frenchTime}`;\n}\n\n// Function to format date in Indian timezone with DD/MM/YYYY format\nfunction formatIndianTime() {\n    const now = new Date();\n    \n    // Format for India (Indian Standard Time)\n    const indianOptions = { timeZone: 'Asia/Kolkata' };\n    const indianDate = now.toLocaleDateString('en-IN', indianOptions);\n    const indianTime = now.toLocaleTimeString('en-IN', indianOptions);\n    \n    return `${indianDate} ${indianTime}`;\n}\n\n// Function to get status indicator - using your original code\nfunction getStatusIndicator(status) {\n    if (status === \"UP\") return `<span class=\"status-up\">🟢 UP</span>`;\n    if (status === \"DOWN\") return `<span class=\"status-down\">🔴 DOWN</span>`;\n    if (status === \"SUSPENDED\") return `<span class=\"status-suspended\">🟡 SUSPENDED</span>`;\n    return status;\n}\n\n// Function to get appropriate code badge styling\nfunction getCodeBadgeClass(code) {\n    const codeNum = parseInt(code);\n    if (codeNum >= 200 && codeNum < 300) return \"success-code\";\n    if (codeNum >= 400 && codeNum < 500) return \"warning-code\";\n    if (codeNum >= 500) return \"error-code\";\n    return \"\";\n}\n\n// Get input data from n8n\nconst inputData = $input.all(); \nlet tableRows = \"\";\n\n// Count statuses\nlet upCount = 0;\nlet downCount = 0;\nlet suspendedCount = 0;\n\n// Loop through each item in the data\nfor (const item of inputData) {\n    // Count statuses\n    if (item.json.Status === \"UP\") upCount++;\n    else if (item.json.Status === \"DOWN\") downCount++;\n    else if (item.json.Status === \"SUSPENDED\") suspendedCount++;\n    \n    const statusCode = item.json[\"Status Code\"];\n    const codeBadgeClass = getCodeBadgeClass(statusCode);\n    \n    const row = `\n        <tr>\n            <td class=\"website-column\">\n                <a href=\"${item.json.Property}\" target=\"_blank\" class=\"website-link\">${item.json.Property}</a>\n            </td>\n            <td class=\"status-column\">${getStatusIndicator(item.json.Status)}</td>\n            <td class=\"code-column\">\n                <span class=\"code-badge ${codeBadgeClass}\">${statusCode}</span>\n            </td>\n            <td class=\"message-column\">${item.json[\"Status Message\"]}</td>\n            <td class=\"visitors-column\">\n                <span class=\"visitor-badge\">${item.json[\"Visitor Last 7 Days\"]}</span>\n            </td>\n            <td class=\"visitors-column\">\n                <span class=\"visitor-badge\">${item.json[\"Visitor Last 28 Days\"]}</span>\n            </td>\n        </tr>\n    `;\n    tableRows += row;\n}\n\n// Replace placeholders in the HTML template\nlet finalHtml = htmlTemplate.replace(\"{{TABLE_ROWS}}\", tableRows);\nfinalHtml = finalHtml.replace(\"{{UP_COUNT}}\", upCount);\nfinalHtml = finalHtml.replace(\"{{DOWN_COUNT}}\", downCount);\nfinalHtml = finalHtml.replace(\"{{SUSPENDED_COUNT}}\", suspendedCount);\n\n// Return the HTML output\nreturn [{ json: { html: finalHtml } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,2100],"id":"0f28a95b-3659-4f4c-85c1-84e7ac334ec8","name":"HTML website status table generator"},{"parameters":{"sendTo":"m.jasim@gmindia.tech","subject":"=Website Monitoring Report | {{ new Date().toLocaleDateString(\"en-US\", { year: \"numeric\", month: \"long\", day: \"numeric\" }) }}\n","message":"={{ $json.html }}","options":{"senderName":"GMI Website Monitoring Automation"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-80,2100],"id":"ce8127ee-6790-4337-91d4-da60fe3066f7","name":"Send Overall Report Email","webhookId":"8555225a-410b-4466-9e0a-a1c75f2b869a","executeOnce":true,"credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-560,2100],"id":"632d60bd-d3cd-44f6-9811-8dfdc5d1d872","name":"Get the website monitoring RESULTS","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1740,2100],"id":"72448775-f05f-4ee9-aedd-17404509ba0a","name":"Waiting for website monitoring updates","webhookId":"058a31a3-a635-4cab-848b-bfe05d272e50"},{"parameters":{"sendTo":"m.jasim@gmindia.tech, vk.asokan@gmindia.tech, ms.ceo@gmindia.tech","subject":"=Website Monitoring Report | {{ new Date().toLocaleDateString(\"en-US\", { year: \"numeric\", month: \"long\", day: \"numeric\" }) }}\n","message":"={{ $json.html }}","options":{"senderName":"GMI Website Monitoring Automation"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1320,1280],"id":"125a73c6-4920-4352-8bc6-f39af27d3a92","name":"Send Overall Report Email1","webhookId":"69a50fd8-c3fb-48fc-bd02-8c4793efc5f1","executeOnce":true,"credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}},"disabled":true},{"parameters":{"sendTo":"m.jasim@gmindia.tech, vk.asokan@gmindia.tech","subject":"={{ \"Website: \" + $('Calculate Status').item.json.Property + \" is \" + \n   ($('Calculate Status').item.json.Suspended ? \"SUSPENDED\" : \n   ($('Calculate Status').item.json[\"DOWN_FROM_UP\"] ? \"DOWN\" : \"UP\")) }}","message":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Website Status Notification</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            color: #333333;\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 20px;\n        }\n        .email-container {\n            border: 1px solid #e0e0e0;\n            border-radius: 8px;\n            overflow: hidden;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.05);\n        }\n        .email-header {\n            background-color: #f8f8f8;\n            padding: 15px 20px;\n            border-bottom: 1px solid #e0e0e0;\n        }\n        .email-header h2 {\n            margin: 0;\n            color: #444444;\n            font-size: 18px;\n            font-weight: 600;\n        }\n        .email-body {\n            padding: 20px;\n            background-color: #ffffff;\n        }\n        .metadata {\n            margin-bottom: 20px;\n            color: #666666;\n            font-size: 14px;\n        }\n        .metadata-item {\n            margin-bottom: 5px;\n        }\n        .metadata-label {\n            font-weight: bold;\n        }\n        .status-message {\n            font-size: 16px;\n            line-height: 1.5;\n            margin-bottom: 20px;\n        }\n        .website-link {\n            color: #0066cc;\n            text-decoration: none;\n            font-weight: 500;\n        }\n        .website-link:hover {\n            text-decoration: underline;\n        }\n        .status-up {\n            color: #28a745;\n            font-weight: bold;\n        }\n        .status-down {\n            color: #dc3545;\n            font-weight: bold;\n        }\n        .status-suspended {\n            color: #fd7e14;\n            font-weight: bold;\n        }\n        .server-info {\n            background-color: #f9f9f9;\n            padding: 12px 15px;\n            border-radius: 6px;\n            margin-top: 15px;\n            font-size: 14px;\n        }\n        .server-info-item {\n            margin-bottom: 5px;\n        }\n        .footer {\n            text-align: center;\n            padding: 15px;\n            font-size: 12px;\n            color: #999999;\n            border-top: 1px solid #e0e0e0;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"email-header\">\n            <h2>Website Monitoring Notification</h2>\n        </div>\n        <div class=\"email-body\">\n            <div class=\"metadata\">\n                <div class=\"metadata-item\">\n                    <span class=\"metadata-label\">From:</span> Website Uptime Monitoring N8N Automation Workflow\n                </div>\n                <div class=\"metadata-item\">\n                    <span class=\"metadata-label\">Date:</span> {{ $('Calculate Status').item.json[\"date\"] }}\n                </div>\n            </div>\n            \n            <div class=\"status-message\">\n                Website <a href=\"{{ $('Calculate Status').item.json.Property }}\" class=\"website-link\">{{ $('Calculate Status').item.json.Property }}</a> is \n                <span class=\"{{ $('Calculate Status').item.json.Suspended ? 'status-suspended' : ($('Calculate Status').item.json['DOWN_FROM_UP'] ? 'status-down' : 'status-up') }}\">\n                    {{ $('Calculate Status').item.json.Suspended ? 'SUSPENDED' : ($('Calculate Status').item.json['DOWN_FROM_UP'] ? 'DOWN' : 'UP') }}\n                </span>\n                {{ $('Calculate Status').item.json.Suspended ? ' due to hosting provider' : '' }}\n            </div>\n            \n            <div class=\"server-info\">\n                <div class=\"server-info-item\">\n                    <strong>Platform:</strong> {{ $json.Platform }}\n                </div>\n                <div class=\"server-info-item\">\n                    <strong>Server:</strong> {{ $json.Server }}\n                </div>\n            </div>\n        </div>\n        <div class=\"footer\">\n            This is an automated notification from your N8N Website Monitoring System\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"senderName":"GMI Website Monitoring Automation"}},"id":"7acb5866-f7d0-4b91-91da-53272419234d","name":"Send Email Alert for SUSPEND/DOWN1","type":"n8n-nodes-base.gmail","position":[1320,1060],"typeVersion":2.1,"webhookId":"39d84aa6-f0c2-4e95-b291-d352487e11c7","executeOnce":true,"credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}},"disabled":true},{"parameters":{"propertyId":{"__rl":true,"value":"479928252","mode":"id"},"dateRange":"yesterday","metricsGA4":{"metricValues":[{"listName":"active7DayUsers"},{"listName":"active28DayUsers"}]},"dimensionsGA4":{"dimensionValues":[{}]},"returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.googleAnalytics","typeVersion":2,"position":[-1240,1260],"id":"5cce3cae-99d3-4900-bfaa-d10c8c56ddce","name":"acetechinside.com Google Analytics","alwaysOutputData":false,"credentials":{"googleAnalyticsOAuth2":{"id":"QNgzYDBNwqVS9ez3","name":"Google Analytics account 2"}}},{"parameters":{"propertyId":{"__rl":true,"value":"455453859","mode":"id"},"dateRange":"yesterday","metricsGA4":{"metricValues":[{"listName":"active7DayUsers"},{"listName":"active28DayUsers"}]},"dimensionsGA4":{"dimensionValues":[{}]},"returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.googleAnalytics","typeVersion":2,"position":[-1240,1040],"id":"7a359133-a133-4d04-85c4-5f49fb2005d3","name":"gmindia.tech Google Analytics","credentials":{"googleAnalyticsOAuth2":{"id":"QNgzYDBNwqVS9ez3","name":"Google Analytics account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Property":"=https://www.gmindia.tech","Visitor Last 7 Days":"={{ $json.active7DayUsers }}","Visitor Last 28 Days":"={{ $json.active28DayUsers }}"},"matchingColumns":["Property"],"schema":[{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Visitor Last 7 Days","displayName":"Visitor Last 7 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Visitor Last 28 Days","displayName":"Visitor Last 28 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"21653513-92eb-465f-bb8c-e20383dfe16e","name":"gmindia.tech Update Visitor Status","type":"n8n-nodes-base.googleSheets","position":[-1020,1040],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Property":"=https://acetechinside.com","Visitor Last 7 Days":"={{ $json.active7DayUsers }}","Visitor Last 28 Days":"={{ $json.active28DayUsers }}"},"matchingColumns":["Property"],"schema":[{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Visitor Last 7 Days","displayName":"Visitor Last 7 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Visitor Last 28 Days","displayName":"Visitor Last 28 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"8ebc14c4-0c48-4b65-b9c6-91e1e1972524","name":"acetechinside.com  Update Visitor Status","type":"n8n-nodes-base.googleSheets","position":[-1020,1260],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"propertyId":{"__rl":true,"value":"479928252","mode":"id"},"dateRange":"yesterday","metricsGA4":{"metricValues":[{"listName":"active7DayUsers"},{"listName":"active28DayUsers"}]},"dimensionsGA4":{"dimensionValues":[{}]},"returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.googleAnalytics","typeVersion":2,"position":[-1240,1500],"id":"08cc0309-b33f-486c-b859-fb3048768395","name":"acetechinside.tech Google Analytics","alwaysOutputData":false,"credentials":{"googleAnalyticsOAuth2":{"id":"QNgzYDBNwqVS9ez3","name":"Google Analytics account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Property":"=https://acetechinside.tech","Visitor Last 7 Days":"={{ $json.active7DayUsers }}","Visitor Last 28 Days":"={{ $json.active28DayUsers }}"},"matchingColumns":["Property"],"schema":[{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Visitor Last 7 Days","displayName":"Visitor Last 7 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Visitor Last 28 Days","displayName":"Visitor Last 28 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"9281cd70-dea3-4fab-bae6-51b295edf27e","name":"acetechinside.tech Update Visitor Status","type":"n8n-nodes-base.googleSheets","position":[-1020,1500],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"propertyId":{"__rl":true,"value":"479968831","mode":"id"},"dateRange":"yesterday","metricsGA4":{"metricValues":[{"listName":"active7DayUsers"},{"listName":"active28DayUsers"}]},"dimensionsGA4":{"dimensionValues":[{}]},"returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.googleAnalytics","typeVersion":2,"position":[-1240,1740],"id":"dd3b6ec2-4a6c-451a-b468-be20d7cf1c1b","name":"become.institute Google Analytics","alwaysOutputData":false,"credentials":{"googleAnalyticsOAuth2":{"id":"QNgzYDBNwqVS9ez3","name":"Google Analytics account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Property":"=https://acetechinside.tech","Visitor Last 7 Days":"={{ $json.active7DayUsers }}","Visitor Last 28 Days":"={{ $json.active28DayUsers }}"},"matchingColumns":["Property"],"schema":[{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Visitor Last 7 Days","displayName":"Visitor Last 7 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Visitor Last 28 Days","displayName":"Visitor Last 28 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"1af94ecc-546e-4930-9b51-261d9b52e2ed","name":"become.institute Update Visitor Status","type":"n8n-nodes-base.googleSheets","position":[-1020,1740],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"propertyId":{"__rl":true,"value":"479970202","mode":"id"},"dateRange":"yesterday","metricsGA4":{"metricValues":[{"listName":"active7DayUsers"},{"listName":"active28DayUsers"}]},"dimensionsGA4":{"dimensionValues":[{}]},"returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.googleAnalytics","typeVersion":2,"position":[-1240,1980],"id":"46e2fa7a-5b8a-41fc-9d3f-d89f2d36ddb1","name":"cleanformation.fr Google Analytics","alwaysOutputData":false,"credentials":{"googleAnalyticsOAuth2":{"id":"QNgzYDBNwqVS9ez3","name":"Google Analytics account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Property":"=https://www.cleanformation.fr","Visitor Last 7 Days":"={{ $json.active7DayUsers }}","Visitor Last 28 Days":"={{ $json.active28DayUsers }}"},"matchingColumns":["Property"],"schema":[{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Visitor Last 7 Days","displayName":"Visitor Last 7 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Visitor Last 28 Days","displayName":"Visitor Last 28 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"52e5e3a1-d3e7-46f6-87b4-d2dac61d2371","name":"cleanformation.fr Update Visitor Status","type":"n8n-nodes-base.googleSheets","position":[-1020,1980],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"propertyId":{"__rl":true,"value":"479925721","mode":"id"},"dateRange":"yesterday","metricsGA4":{"metricValues":[{"listName":"active7DayUsers"},{"listName":"active28DayUsers"}]},"dimensionsGA4":{"dimensionValues":[{}]},"returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.googleAnalytics","typeVersion":2,"position":[-1240,2220],"id":"2e358032-cc18-4ac2-8dd8-2e651f180eb9","name":"euronixa.eu Google Analytics","alwaysOutputData":false,"credentials":{"googleAnalyticsOAuth2":{"id":"QNgzYDBNwqVS9ez3","name":"Google Analytics account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Property":"=https://www.euronixa.eu","Visitor Last 7 Days":"={{ $json.active7DayUsers }}","Visitor Last 28 Days":"={{ $json.active28DayUsers }}"},"matchingColumns":["Property"],"schema":[{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Visitor Last 7 Days","displayName":"Visitor Last 7 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Visitor Last 28 Days","displayName":"Visitor Last 28 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"d69e68fc-2bcf-4fed-bc55-622c75dcd11f","name":"euronixa.eu Update Visitor Status","type":"n8n-nodes-base.googleSheets","position":[-1020,2220],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Property":"=https://france.euronixa.eu","Visitor Last 7 Days":"={{ $json.active7DayUsers }}","Visitor Last 28 Days":"={{ $json.active28DayUsers }}"},"matchingColumns":["Property"],"schema":[{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Visitor Last 7 Days","displayName":"Visitor Last 7 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Visitor Last 28 Days","displayName":"Visitor Last 28 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"215a354a-f805-4975-81b0-04322fd2d9cf","name":"france.euronixa.eu Update Visitor Status","type":"n8n-nodes-base.googleSheets","position":[-1020,2460],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Property":"=https://lourse.art","Visitor Last 7 Days":"={{ $json.active7DayUsers }}","Visitor Last 28 Days":"={{ $json.active28DayUsers }}"},"matchingColumns":["Property"],"schema":[{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Visitor Last 7 Days","displayName":"Visitor Last 7 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Visitor Last 28 Days","displayName":"Visitor Last 28 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"e7c1f0f2-5870-4aae-976e-7b965556865f","name":"lourse.art Update Visitor Status","type":"n8n-nodes-base.googleSheets","position":[-1020,2720],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"propertyId":{"__rl":true,"value":"479947711","mode":"id"},"dateRange":"yesterday","metricsGA4":{"metricValues":[{"listName":"active7DayUsers"},{"listName":"active28DayUsers"}]},"dimensionsGA4":{"dimensionValues":[{}]},"returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.googleAnalytics","typeVersion":2,"position":[-1240,2720],"id":"4a11b6d5-8f36-4a66-846f-f6bc6590a326","name":"lourse.art Google Analytics","alwaysOutputData":false,"credentials":{"googleAnalyticsOAuth2":{"id":"QNgzYDBNwqVS9ez3","name":"Google Analytics account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Property":"=https://quantumleap.paris","Visitor Last 7 Days":"={{ $json.active7DayUsers }}","Visitor Last 28 Days":"={{ $json.active28DayUsers }}"},"matchingColumns":["Property"],"schema":[{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Visitor Last 7 Days","displayName":"Visitor Last 7 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Visitor Last 28 Days","displayName":"Visitor Last 28 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"697c5b7b-15a7-41eb-9642-fefa47a53c15","name":"quantumleap.paris Update Visitor Status","type":"n8n-nodes-base.googleSheets","position":[-1020,2960],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"propertyId":{"__rl":true,"value":"479943696","mode":"id"},"dateRange":"yesterday","metricsGA4":{"metricValues":[{"listName":"active7DayUsers"},{"listName":"active28DayUsers"}]},"dimensionsGA4":{"dimensionValues":[{}]},"returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.googleAnalytics","typeVersion":2,"position":[-1240,2960],"id":"476a9a2b-09b1-41a4-8640-0574e33bba95","name":"quantumleap.paris Google Analytics","alwaysOutputData":false,"credentials":{"googleAnalyticsOAuth2":{"id":"QNgzYDBNwqVS9ez3","name":"Google Analytics account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Property":"=https://preprod.gmindia.tech/mda/","Visitor Last 7 Days":"={{ $json.active7DayUsers }}","Visitor Last 28 Days":"={{ $json.active28DayUsers }}"},"matchingColumns":["Property"],"schema":[{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Visitor Last 7 Days","displayName":"Visitor Last 7 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Visitor Last 28 Days","displayName":"Visitor Last 28 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"92fc4577-8207-4d3a-af83-31fb4e90e8b0","name":"preprod.gmindia.tech/mda/ Update Visitor Status","type":"n8n-nodes-base.googleSheets","position":[-1020,3180],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"propertyId":{"__rl":true,"value":"479943696","mode":"id"},"dateRange":"yesterday","metricsGA4":{"metricValues":[{"listName":"active7DayUsers"},{"listName":"active28DayUsers"}]},"dimensionsGA4":{"dimensionValues":[{}]},"returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.googleAnalytics","typeVersion":2,"position":[-1240,3180],"id":"16c1f4d0-85d4-40fe-b16d-19677e880679","name":"preprod.gmindia.tech/mda/ Google Analytics","alwaysOutputData":false,"credentials":{"googleAnalyticsOAuth2":{"id":"QNgzYDBNwqVS9ez3","name":"Google Analytics account 2"}}},{"parameters":{"propertyId":{"__rl":true,"value":"479960075","mode":"id"},"dateRange":"yesterday","metricsGA4":{"metricValues":[{"listName":"active7DayUsers"},{"listName":"active28DayUsers"}]},"dimensionsGA4":{"dimensionValues":[{}]},"returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.googleAnalytics","typeVersion":2,"position":[-1240,2460],"id":"8b6cb6c4-f3d9-4153-aea9-37a7b56d304c","name":"france.euronixa.eu Google Analytics","alwaysOutputData":false,"credentials":{"googleAnalyticsOAuth2":{"id":"QNgzYDBNwqVS9ez3","name":"Google Analytics account 2"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Sites","type":"main","index":0},{"node":"Waiting for website monitoring updates","type":"main","index":0}]]},"Get Sites":{"main":[[{"node":"For Each Site...","type":"main","index":0}]]},"For Each Site...":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Perform Site Test","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Perform Site Test","type":"main","index":0}]]},"Perform Site Test":{"main":[[{"node":"Seperate suspension URL","type":"main","index":0}]]},"Seperate suspension URL":{"main":[[{"node":"Calculate Status","type":"main","index":0}]]},"Calculate Status":{"main":[[{"node":"Status Router","type":"main","index":0}]]},"Status Router":{"main":[[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}]]},"Log Uptime Event":{"main":[[{"node":"Update Site Status","type":"main","index":0}]]},"Update Site Status":{"main":[[{"node":"For Each Site...","type":"main","index":0}]]},"HTML website status table generator":{"main":[[{"node":"Send Overall Report Email","type":"main","index":0}]]},"Get the website monitoring RESULTS":{"main":[[{"node":"HTML website status table generator","type":"main","index":0}]]},"Waiting for website monitoring updates":{"main":[[{"node":"gmindia.tech Google Analytics","type":"main","index":0},{"node":"acetechinside.com Google Analytics","type":"main","index":0},{"node":"acetechinside.tech Google Analytics","type":"main","index":0},{"node":"become.institute Google Analytics","type":"main","index":0},{"node":"cleanformation.fr Google Analytics","type":"main","index":0},{"node":"euronixa.eu Google Analytics","type":"main","index":0},{"node":"lourse.art Google Analytics","type":"main","index":0},{"node":"quantumleap.paris Google Analytics","type":"main","index":0},{"node":"preprod.gmindia.tech/mda/ Google Analytics","type":"main","index":0},{"node":"france.euronixa.eu Google Analytics","type":"main","index":0}]]},"acetechinside.com Google Analytics":{"main":[[{"node":"acetechinside.com  Update Visitor Status","type":"main","index":0}]]},"gmindia.tech Google Analytics":{"main":[[{"node":"gmindia.tech Update Visitor Status","type":"main","index":0}]]},"gmindia.tech Update Visitor Status":{"main":[[{"node":"Get the website monitoring RESULTS","type":"main","index":0}]]},"acetechinside.com  Update Visitor Status":{"main":[[{"node":"Get the website monitoring RESULTS","type":"main","index":0}]]},"acetechinside.tech Google Analytics":{"main":[[{"node":"acetechinside.tech Update Visitor Status","type":"main","index":0}]]},"acetechinside.tech Update Visitor Status":{"main":[[{"node":"Get the website monitoring RESULTS","type":"main","index":0}]]},"become.institute Google Analytics":{"main":[[{"node":"become.institute Update Visitor Status","type":"main","index":0}]]},"become.institute Update Visitor Status":{"main":[[{"node":"Get the website monitoring RESULTS","type":"main","index":0}]]},"cleanformation.fr Google Analytics":{"main":[[{"node":"cleanformation.fr Update Visitor Status","type":"main","index":0}]]},"cleanformation.fr Update Visitor Status":{"main":[[{"node":"Get the website monitoring RESULTS","type":"main","index":0}]]},"euronixa.eu Google Analytics":{"main":[[{"node":"euronixa.eu Update Visitor Status","type":"main","index":0}]]},"euronixa.eu Update Visitor Status":{"main":[[{"node":"Get the website monitoring RESULTS","type":"main","index":0}]]},"france.euronixa.eu Update Visitor Status":{"main":[[{"node":"Get the website monitoring RESULTS","type":"main","index":0}]]},"lourse.art Google Analytics":{"main":[[{"node":"lourse.art Update Visitor Status","type":"main","index":0}]]},"lourse.art Update Visitor Status":{"main":[[{"node":"Get the website monitoring RESULTS","type":"main","index":0}]]},"quantumleap.paris Google Analytics":{"main":[[{"node":"quantumleap.paris Update Visitor Status","type":"main","index":0}]]},"preprod.gmindia.tech/mda/ Google Analytics":{"main":[[{"node":"preprod.gmindia.tech/mda/ Update Visitor Status","type":"main","index":0}]]},"quantumleap.paris Update Visitor Status":{"main":[[{"node":"Get the website monitoring RESULTS","type":"main","index":0}]]},"preprod.gmindia.tech/mda/ Update Visitor Status":{"main":[[{"node":"Get the website monitoring RESULTS","type":"main","index":0}]]},"france.euronixa.eu Google Analytics":{"main":[[{"node":"france.euronixa.eu Update Visitor Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[12]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"acaf7245-fabf-430c-891e-d9dd76e77ab6","triggerCount":1,"tags":[]}