website-uptime-monitoring-3RLcXNsD1dlMeAuq.json
{"createdAt":"2025-02-03T13:17:34.457Z","updatedAt":"2025-02-07T10:21:05.543Z","id":"3RLcXNsD1dlMeAuq","name":"Website Uptime Monitoring","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"id":"846ed6ec-0eee-41e2-b6b5-3720e73323e7","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-1980,620],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"b0cbcff5-bfcf-46a5-a386-65c4dd56c42f","name":"date","type":"string","value":"={{ $json.headers.date }}"},{"id":"8c4155e4-bcc6-41dd-9582-346a57a7b997","name":"Property","type":"string","value":"={{ $('For Each Site...').item.json['Property'] }}"},{"id":"f0320678-d352-486f-a633-9980c4fc73b2","name":"UP_FROM_UP","type":"boolean","value":"={{ $json.statusCode < 400 && ($json.Status === 'UP' || !$json.Status) }}"},{"id":"61783eb6-a683-44c9-aa0c-5fc5247da9fa","name":"DOWN_FROM_DOWN","type":"boolean","value":"={{ $json.statusCode >= 400 && ($json.Status === 'DOWN' || !$json.Status) }}"},{"id":"1052a69e-4456-445d-bdd9-2765b334cf64","name":"UP_FROM_DOWN","type":"boolean","value":"={{ $json.statusCode < 400 && ($json.Status !== 'UP') }}"},{"id":"9af72278-5b29-406a-b4c5-f47f3d805063","name":"DOWN_FROM_UP","type":"boolean","value":"={{ $json.statusCode >= 400 && ($json.Status !== 'DOWN') }}"},{"id":"68559dc5-f4cc-4aae-b1c7-9afd31678ce3","name":"Status Code","value":"={{ $json.statusCode }}","type":"string"},{"id":"c2bb8d7a-6e94-4c7c-9a8e-8962053e0402","name":"Status Message","value":"={{ $json.statusMessage }}","type":"string"},{"id":"825ed71f-9191-499c-a00c-117d0a7ffd36","name":"Platform","value":"={{ $json.headers.platform }}","type":"string"},{"id":"e11770d3-b183-4b2c-9f05-1c517c926dbc","name":"Server","value":"={{ $json.headers.server }}","type":"string"},{"id":"9c7fce9b-2b2f-4dfd-8a98-e16150c7b423","name":"Suspended","value":"={{ $json.is_suspended }}","type":"boolean"}]},"options":{}},"id":"549f72bd-a742-4a35-aafd-b226dbbb409f","name":"Calculate Status","type":"n8n-nodes-base.set","position":[-900,840],"typeVersion":3.3},{"parameters":{"documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"n8n uptime test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"options":{}},"id":"18145414-65ba-47e2-bfbe-b9dbede432e5","name":"Get Sites","type":"n8n-nodes-base.googleSheets","position":[-1800,620],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"n8n uptime test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('Calculate Status').item.json.Property }}","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{"date":"={{ $json.date }}","Property":"={{ $json.Property }}","UP_FROM_UP":"={{ $json.UP_FROM_UP }}"},"matchingColumns":[],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UP_FROM_UP","displayName":"UP_FROM_UP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DOWN_FROM_DOWN","displayName":"DOWN_FROM_DOWN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UP_FROM_DOWN","displayName":"UP_FROM_DOWN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DOWN_FROM_UP","displayName":"DOWN_FROM_UP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"14c81db7-2336-4d39-b658-0afccd91db2b","name":"Log Uptime Event","type":"n8n-nodes-base.googleSheets","position":[-1200,1300],"typeVersion":4.3,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"n8n uptime test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Property":"={{ $json.Property }}","Status":"={{ $json.Property ? ($json.Suspended ? \"SUSPENDED\" : ($json[\"DOWN_FROM_UP\"] || $json[\"DOWN_FROM_DOWN\"] ? \"DOWN\" : \"UP\")) : undefined }}","Status Code":"={{ $json['Status Code'] }}","Status Message":"={{ $json['Status Message'] }}","Platform":"={{ $json.Platform }}","Server":"={{ $json.Server }}"},"matchingColumns":["Property"],"schema":[{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"384c7f91-a198-41b5-b228-2e89680247a9","name":"Update Site Status","type":"n8n-nodes-base.googleSheets","position":[-1040,1300],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"url":"={{ $json.Property }}","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"raw","options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"id":"5d1936b1-fb8f-4a64-af77-67f916d47453","name":"Perform Site Test","type":"n8n-nodes-base.httpRequest","position":[-1100,620],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"options":{}},"id":"c94eed31-6a7a-4aa0-913c-62fefb0aebbd","name":"For Each Site...","type":"n8n-nodes-base.splitInBatches","position":[-1620,620],"typeVersion":3},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"444e579c-3b5b-4f8b-b36e-25c6422fdf54","leftValue":"={{ $json.row_number }}","rightValue":9,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1540,860],"id":"7e3bb0bb-6ae8-4307-8e97-af52f661964b","name":"If","executeOnce":false},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1300,840],"id":"65cca1d3-0f40-4d52-845f-c622663f0db7","name":"Wait","webhookId":"cd125a95-aefe-4105-bb5f-834c903d231d","executeOnce":false},{"parameters":{"jsCode":"// Loop over input items and check for hosting suspension messages\nfor (const item of $input.all()) {\n  try {\n    // Get the response/content - adjust this field based on your HTTP Request node output\n    const content = item.json.response?.body || \n                   item.json.content || \n                   item.json.data || \n                   '';\n                   \n    // Convert to string if it's not already\n    const pageContent = String(content).toLowerCase();\n    \n    const suspensionPhrases = [\n      'Account Suspended',\n      'suspended for non-payment',\n      'subscription expired',\n      'hosting suspended',\n      'suspended due to payment',\n      'account has been suspended',\n      'website suspended',\n      'this site has been suspended',\n      'service is suspended'\n    ];\n    \n    item.json.is_suspended = suspensionPhrases.some(phrase => \n      pageContent.includes(phrase)\n    );\n    \n    // Add suspension details for debugging\n    if (item.json.is_suspended) {\n      item.json.suspension_reason = suspensionPhrases.find(phrase => \n        pageContent.includes(phrase)\n      );\n    }\n    \n  } catch (error) {\n    // Handle any errors and mark the item as failed to check\n    item.json.is_suspended = false;\n    item.json.check_error = error.message;\n  }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1080,840],"id":"efa770b8-f08c-4e2f-ae0d-cf5f4ca275e1","name":"Seperate suspension URL"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Suspended }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"SUSPENDED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f74bbae2-da63-418b-a0c4-95889ef97a29","leftValue":"={{ $json.UP_FROM_UP }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"UP_FROM_UP"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b22dbf79-0ffd-4b39-a6fe-2d7e3630374e","leftValue":"={{ $json.DOWN_FROM_DOWN }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"DOWN_FROM_DOWN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c588476-2921-4593-9c2b-ee6bfaaab833","leftValue":"={{ $json.UP_FROM_DOWN }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"UP_FROM_DOWN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77877772-0777-44c4-9838-5d114d4121ba","leftValue":"={{ $json.DOWN_FROM_UP }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"DOWN_FROM_UP"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1460,1140],"id":"89b41744-4564-4e76-9ac8-b062937cca03","name":"Status Router"},{"parameters":{"sendTo":"m.jasim@gmindia.tech","subject":"={{ \"Website Status: \" + $('Calculate Status').item.json.Property + \" is \" + \n   ($('Calculate Status').item.json.Suspended ? \"SUSPENDED\" : \n   ($('Calculate Status').item.json[\"DOWN_FROM_UP\"] ? \"DOWN\" : \"UP\")) }}","emailType":"text","message":"=From: Website Uptime Monitoring N8N Automation Workflow\nDate: {{ $('Calculate Status').item.json[\"date\"] }}\n\n{{ \"Website \" + $('Calculate Status').item.json.Property + \" is \" + \n   ($('Calculate Status').item.json.Suspended ? \"SUSPENDED due to hosting provider\" : \n   ($('Calculate Status').item.json[\"DOWN_FROM_UP\"] ? \"DOWN\" : \"UP\")) + \n   \"\\nPlatform: \" + $json.Platform +\n   \"\\nServer: \" + $json.Server }}","options":{"appendAttribution":false,"senderName":"N8N Website Monitoring Automation"}},"id":"d385530f-e5a4-495b-b0cd-13e7b3edd41a","name":"Send Email Alert for SUSPEND/DOWN","type":"n8n-nodes-base.gmail","position":[-1120,1100],"typeVersion":2.1,"webhookId":"1229af3c-b450-4977-9be1-84f31b718997","executeOnce":true,"credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}}],"connections":{"Get Sites":{"main":[[{"node":"For Each Site...","type":"main","index":0}]]},"Calculate Status":{"main":[[{"node":"Status Router","type":"main","index":0}]]},"For Each Site...":{"main":[[],[{"node":"If","type":"main","index":0}]]},"Log Uptime Event":{"main":[[{"node":"Update Site Status","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Sites","type":"main","index":0}]]},"Perform Site Test":{"main":[[{"node":"Seperate suspension URL","type":"main","index":0}]]},"Update Site Status":{"main":[[{"node":"For Each Site...","type":"main","index":0}]]},"If":{"main":[[{"node":"Perform Site Test","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Perform Site Test","type":"main","index":0}]]},"Seperate suspension URL":{"main":[[{"node":"Calculate Status","type":"main","index":0}]]},"Status Router":{"main":[[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}]]},"Send Email Alert for SUSPEND/DOWN":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[0]}},"meta":null,"pinData":{},"versionId":"583044eb-daa1-4e82-b6df-2575872eafac","triggerCount":1,"tags":[]}