website-uptime-monitoring-with-visitors-count-&-ranking-v.2-TMIVa4fVgmN3WnnN.json
{"createdAt":"2025-04-24T05:18:37.803Z","updatedAt":"2025-04-29T10:47:41.742Z","id":"TMIVa4fVgmN3WnnN","name":"Website Uptime Monitoring with Visitors Count & Ranking V.2","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"2265e5ef-bf51-4124-9707-17aa739e19f7","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-480,1100],"typeVersion":1.2},{"parameters":{"documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"options":{}},"id":"348e9168-4d6b-4c0a-9548-63b04351c106","name":"Get Sites","type":"n8n-nodes-base.googleSheets","position":[-120,700],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"options":{}},"id":"9ad36dad-1c38-4e10-9920-d0c0089961f2","name":"For Each Site...","type":"n8n-nodes-base.splitInBatches","position":[220,700],"typeVersion":3},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"444e579c-3b5b-4f8b-b36e-25c6422fdf54","leftValue":"={{ $json.row_number }}","rightValue":9,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[300,940],"id":"792de52d-14c0-414b-ac0b-8d815fc9a5ca","name":"If","executeOnce":false},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[540,920],"id":"af11aaf7-d9c8-4585-95af-da53e61356e8","name":"Wait","webhookId":"c6e70201-6593-4560-9ea2-219ec93716b9","executeOnce":false},{"parameters":{"url":"={{ $json.Property }}","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"contentType":"raw","options":{"response":{"response":{"fullResponse":true,"neverError":true}}}},"id":"cd8d9c78-f61c-4e61-945a-43bc14757beb","name":"Perform Site Test","type":"n8n-nodes-base.httpRequest","position":[740,700],"typeVersion":4.2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Loop over input items and check for various website issues\nfor (const item of $input.all()) {\n  try {\n    // Get the response/content - adjust this field based on your HTTP Request node output\n    const content = item.json.response?.body || \n                   item.json.content || \n                   item.json.data || \n                   '';\n                   \n    // Convert to string if it's not already\n    const pageContent = String(content).toLowerCase();\n    \n    const suspensionPhrases = [\n      'account suspended',\n      'suspended for non-payment',\n      'subscription expired',\n      'hosting suspended',\n      'suspended due to payment',\n      'account has been suspended',\n      'website suspended',\n      'this site has been suspended',\n      'service is suspended',\n      'please contact your hosting provider',\n      'defaultwebpage'\n    ];\n    \n    // Common indicators of compromised websites\n    const compromisedPhrases = [\n      'hacked by',\n      'site hacked',\n      'website hacked',\n      'defaced by',\n      'pwned by',\n      'owned by',\n      'crypto miner',\n      'unauthorized script',\n      'malicious redirect',\n      'suspicious iframe',\n      'eval(base64_decode',\n      'eval(unescape',\n      'document.location.replace',\n      'pharma hack',\n      'hidden link',\n      'spam seo',\n      'blackhat seo'\n    ];\n    \n    // WordPress specific errors\n    const wordpressErrorPhrases = [\n      'error establishing a database connection',\n      'database connection error',\n      'wordpress database error',\n      'critical error on this website',\n      'fatal error:',\n      'uncaught error',\n      'warning: cannot modify header',\n      'wordpress installation error',\n      'wp-config.php not found',\n      'error 500',\n      'wordpress setup configuration file',\n      'the site is experiencing technical difficulties',\n      'temporarily unavailable due to scheduled maintenance',\n      'white screen of death'\n    ];\n    \n    // Common website errors\n    const generalErrorPhrases = [\n      '404 not found',\n      '403 forbidden',\n      '500 internal server error',\n      '502 bad gateway',\n      '503 service unavailable',\n      '504 gateway timeout',\n      'bandwidth limit exceeded',\n      'connection timed out',\n      'dns error',\n      'domain expired',\n      'parking page',\n      'site under construction',\n      'coming soon',\n      'site temporarily unavailable',\n      'maintenance mode',\n      'domain for sale',\n      'this domain may be for sale',\n      'this page is parked free',\n      'domain parked',\n      'website builder coming soon'\n    ];\n    \n    // Check for suspension status\n    item.json.is_suspended = suspensionPhrases.some(phrase => \n      pageContent.includes(phrase.toLowerCase())\n    );\n    \n    // Add suspension details for debugging\n    if (item.json.is_suspended) {\n      item.json.suspension_reason = suspensionPhrases.find(phrase => \n        pageContent.includes(phrase.toLowerCase())\n      );\n    }\n    \n    // Check for compromise status\n    item.json.is_compromised = compromisedPhrases.some(phrase => \n      pageContent.includes(phrase.toLowerCase())\n    );\n    \n    // Add compromise details for debugging\n    if (item.json.is_compromised) {\n      item.json.compromise_indicator = compromisedPhrases.find(phrase => \n        pageContent.includes(phrase.toLowerCase())\n      );\n    }\n    \n    // Check for WordPress errors\n    item.json.has_wordpress_error = wordpressErrorPhrases.some(phrase => \n      pageContent.includes(phrase.toLowerCase())\n    );\n    \n    // Add WordPress error details\n    if (item.json.has_wordpress_error) {\n      item.json.wordpress_error_reason = wordpressErrorPhrases.find(phrase => \n        pageContent.includes(phrase.toLowerCase())\n      );\n    }\n    \n    // Check for general website errors\n    item.json.has_website_error = generalErrorPhrases.some(phrase => \n      pageContent.includes(phrase.toLowerCase())\n    );\n    \n    // Add general error details\n    if (item.json.has_website_error) {\n      item.json.website_error_reason = generalErrorPhrases.find(phrase => \n        pageContent.includes(phrase.toLowerCase())\n      );\n    }\n    \n    // Check for blank page\n    // Remove HTML tags, whitespace, and common empty page indicators\n    const cleanContent = pageContent\n      .replace(/<[^>]*>/g, '')  // Remove HTML tags\n      .replace(/\\s+/g, ' ')     // Normalize whitespace\n      .trim();                  // Remove leading/trailing whitespace\n    \n    // Define blank page conditions\n    const isBlankOrNearly = \n      cleanContent.length === 0 || \n      cleanContent.length < 50 ||\n      /^(\\s*|index of\\/|directory listing|not found|404|403|error|forbidden|no content)$/i.test(cleanContent);\n    \n    item.json.is_blank = isBlankOrNearly;\n    \n    // Add blank page details for debugging\n    if (item.json.is_blank) {\n      item.json.blank_reason = cleanContent.length === 0 ? \n        'Empty content' : \n        cleanContent.length < 50 ? \n          `Minimal content (${cleanContent.length} chars)` : \n          'Default/error page detected';\n    }\n    \n    // Create a summary status\n    item.json.site_status = \n      item.json.is_suspended ? 'suspended' :\n      item.json.is_compromised ? 'compromised' :\n      item.json.has_wordpress_error ? 'wordpress_error' :\n      item.json.has_website_error ? 'website_error' :\n      item.json.is_blank ? 'blank' : 'normal';\n    \n  } catch (error) {\n    // Handle any errors and mark the item as failed to check\n    item.json.is_suspended = false;\n    item.json.is_compromised = false;\n    item.json.is_blank = false;\n    item.json.has_wordpress_error = false;\n    item.json.has_website_error = false;\n    item.json.site_status = 'check_failed';\n    item.json.check_error = error.message;\n  }\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[760,920],"id":"720db65d-740a-432f-903d-a982af5d44b4","name":"Seperate suspension URL"},{"parameters":{"assignments":{"assignments":[{"id":"b0cbcff5-bfcf-46a5-a386-65c4dd56c42f","name":"date","type":"string","value":"={{ $json.headers.date }}"},{"id":"8c4155e4-bcc6-41dd-9582-346a57a7b997","name":"Property","type":"string","value":"={{ $('For Each Site...').item.json['Property'] }}"},{"id":"f0320678-d352-486f-a633-9980c4fc73b2","name":"UP_FROM_UP","type":"boolean","value":"={{ $json.statusCode < 400 && ($json.Status === 'UP' || !$json.Status) }}"},{"id":"61783eb6-a683-44c9-aa0c-5fc5247da9fa","name":"DOWN_FROM_DOWN","type":"boolean","value":"={{ $json.statusCode >= 400 && ($json.Status === 'DOWN' || !$json.Status) }}"},{"id":"1052a69e-4456-445d-bdd9-2765b334cf64","name":"UP_FROM_DOWN","type":"boolean","value":"={{ $json.statusCode < 400 && ($json.Status !== 'UP') }}"},{"id":"9af72278-5b29-406a-b4c5-f47f3d805063","name":"DOWN_FROM_UP","type":"boolean","value":"={{ $json.statusCode >= 400 && ($json.Status !== 'DOWN') }}"},{"id":"68559dc5-f4cc-4aae-b1c7-9afd31678ce3","name":"Status Code","value":"={{ $json.statusCode }}","type":"string"},{"id":"c2bb8d7a-6e94-4c7c-9a8e-8962053e0402","name":"Status Message","value":"={{ $json.statusMessage }}","type":"string"},{"id":"825ed71f-9191-499c-a00c-117d0a7ffd36","name":"Platform","value":"={{ $json.headers.platform }}","type":"string"},{"id":"e11770d3-b183-4b2c-9f05-1c517c926dbc","name":"Server","value":"={{ $json.headers.server }}","type":"string"},{"id":"9c7fce9b-2b2f-4dfd-8a98-e16150c7b423","name":"Suspended","value":"={{ $json.is_suspended }}","type":"boolean"},{"id":"9589f3e2-9c50-4667-bb1c-3e21cdbc1ced","name":"Compromised","value":"={{ $json.is_compromised }}","type":"boolean"},{"id":"4e468b5e-407e-4542-ba36-88ff98d83fda","name":"WordPress Error","value":"={{ $json.has_wordpress_error }}","type":"boolean"},{"id":"88a7342e-3e9a-4c95-b154-a386b286ae8c","name":"Website Error","value":"={{ $json.has_website_error }}","type":"boolean"},{"id":"6bf007c4-21f2-4825-ab28-a28aff88bb3a","name":"Whitescreen Death","value":"={{ $json.is_blank }}","type":"boolean"}]},"options":{}},"id":"5092801c-708f-4537-8c24-04da7f97ba0c","name":"Calculate Status","type":"n8n-nodes-base.set","position":[1040,920],"typeVersion":3.3},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Suspended }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"SUSPENDED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"66f22bd3-01a6-441b-8684-00b75f918843","leftValue":"={{ $json[\"Whitescreen Death\"] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"WHITESCREEN DEATH"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b85dcdbc-0ce1-4d16-99cb-83325292ecdf","leftValue":"={{ $json[\"Website Error\"] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"WEBSITE ERROR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"68d0877a-cfe1-433a-b3a5-e105a12b7c36","leftValue":"={{ $json[\"WordPress Error\"] }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"WORDPRESS ERROR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"61c77470-d46e-4a1a-97ee-231934ce508a","leftValue":"={{ $json.Compromised }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"COMPROMISED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f74bbae2-da63-418b-a0c4-95889ef97a29","leftValue":"={{ $json.UP_FROM_UP }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"UP_FROM_UP"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b22dbf79-0ffd-4b39-a6fe-2d7e3630374e","leftValue":"={{ $json.DOWN_FROM_DOWN }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"DOWN_FROM_DOWN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c588476-2921-4593-9c2b-ee6bfaaab833","leftValue":"={{ $json.UP_FROM_DOWN }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"UP_FROM_DOWN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77877772-0777-44c4-9838-5d114d4121ba","leftValue":"={{ $json.DOWN_FROM_UP }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"DOWN_FROM_UP"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[400,1100],"id":"5c902f8d-00be-4a2d-989f-14dc69e0351d","name":"Status Router"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('Calculate Status').item.json.Property }}","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{"date":"={{ $json.date }}","Property":"={{ $json.Property }}","UP_FROM_UP":"={{ $json.UP_FROM_UP }}"},"matchingColumns":[],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UP_FROM_UP","displayName":"UP_FROM_UP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DOWN_FROM_DOWN","displayName":"DOWN_FROM_DOWN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UP_FROM_DOWN","displayName":"UP_FROM_DOWN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DOWN_FROM_UP","displayName":"DOWN_FROM_UP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"e9038977-fb5b-41f7-a6ef-1d3563b3c7f4","name":"Log Uptime Event","type":"n8n-nodes-base.googleSheets","position":[640,1380],"typeVersion":4.3,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Property":"={{ $json.Property }}","Status":"={{ $json.Property ? (   $json.Suspended ? \"SUSPENDED\" :   $json.Compromised ? \"COMPROMISED\" :   $json[\"WordPress Error\"] ? \"WORDPRESS ERROR\" :   $json[\"Website Error\"] ? \"WEBSITE ERROR\" :   $json[\"Whitescreen Death\"] ? \"WHITESCREEN DEATH\" :   ($json[\"DOWN_FROM_UP\"] || $json[\"DOWN_FROM_DOWN\"] ? \"DOWN\" : \"UP\") ) : undefined }}","Status Code":"={{ $json[\"Status Code\"] }}","Status Message":"={{ $json[\"Status Message\"] }}","Platform":"={{ $json.Platform }}","Server":"={{ $json.Server }}"},"matchingColumns":["Property"],"schema":[{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Visitor Last 7 Days","displayName":"Visitor Last 7 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Visitor Last 28 Days","displayName":"Visitor Last 28 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Avg. Session Duration","displayName":"Avg. Session Duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Bounce Rate","displayName":"Bounce Rate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Top Country","displayName":"Top Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"a70862c1-c244-4351-831d-3ec393088a12","name":"Update Site Status","type":"n8n-nodes-base.googleSheets","position":[800,1380],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"sendTo":"m.jasim@gmindia.tech, vk.asokan@gmindia.tech","subject":"={{ \"Website: \" + $('Calculate Status').item.json.Property + \" is \" + \n  ($('Calculate Status').item.json.Suspended ? \"SUSPENDED\" : \n   $('Calculate Status').item.json.Compromised ? \"COMPROMISED\" :\n   $('Calculate Status').item.json[\"WordPress Error\"] ? \"WORDPRESS ERROR\" :\n   $('Calculate Status').item.json[\"Website Error\"] ? \"WEBSITE ERROR\" :\n   $('Calculate Status').item.json[\"Whitescreen Death\"] ? \"WHITESCREEN DEATH\" :\n   ($('Calculate Status').item.json[\"DOWN_FROM_UP\"] || $('Calculate Status').item.json[\"DOWN_FROM_DOWN\"] ? \"DOWN\" : \"UP\")) }}","message":"=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Website Status Notification</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            color: #333333;\n            max-width: 600px;\n            margin: 0 auto;\n            padding: 20px;\n        }\n        .email-container {\n            border: 1px solid #e0e0e0;\n            border-radius: 8px;\n            overflow: hidden;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.05);\n        }\n        .email-header {\n            background-color: #f8f8f8;\n            padding: 15px 20px;\n            border-bottom: 1px solid #e0e0e0;\n        }\n        .email-header h2 {\n            margin: 0;\n            color: #444444;\n            font-size: 18px;\n            font-weight: 600;\n        }\n        .email-body {\n            padding: 20px;\n            background-color: #ffffff;\n        }\n        .metadata {\n            margin-bottom: 20px;\n            color: #666666;\n            font-size: 14px;\n        }\n        .metadata-item {\n            margin-bottom: 5px;\n        }\n        .metadata-label {\n            font-weight: bold;\n        }\n        .status-message {\n            font-size: 16px;\n            line-height: 1.5;\n            margin-bottom: 20px;\n        }\n        .website-link {\n            color: #0066cc;\n            text-decoration: none;\n            font-weight: 500;\n        }\n        .website-link:hover {\n            text-decoration: underline;\n        }\n        .status-up {\n            color: #28a745;\n            font-weight: bold;\n        }\n        .status-down,\n        .status-compromised,\n        .status-wp-error,\n        .status-website-error,\n        .status-whitescreen {\n            color: #dc3545;\n            font-weight: bold;\n        }\n        .status-suspended {\n            color: #fd7e14;\n            font-weight: bold;\n        }\n        .server-info {\n            background-color: #f9f9f9;\n            padding: 12px 15px;\n            border-radius: 6px;\n            margin-top: 15px;\n            font-size: 14px;\n        }\n        .server-info-item {\n            margin-bottom: 5px;\n        }\n        .footer {\n            text-align: center;\n            padding: 15px;\n            font-size: 12px;\n            color: #999999;\n            border-top: 1px solid #e0e0e0;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"email-header\">\n            <h2>Website Monitoring Notification</h2>\n        </div>\n        <div class=\"email-body\">\n            <div class=\"metadata\">\n                <div class=\"metadata-item\">\n                    <span class=\"metadata-label\">From:</span> Website Uptime Monitoring N8N Automation Workflow\n                </div>\n                <div class=\"metadata-item\">\n                    <span class=\"metadata-label\">Date:</span> {{ $('Calculate Status').item.json[\"date\"] }}\n                </div>\n            </div>\n            \n            <div class=\"status-message\">\n    Website \n    <a href=\"{{ $('Calculate Status').item.json.Property }}\" class=\"website-link\">\n        {{ $('Calculate Status').item.json.Property }}\n    </a> is \n    <span class=\"\n        {{ $('Calculate Status').item.json.Suspended ? 'status-suspended' : \n           $('Calculate Status').item.json.Compromised ? 'status-compromised' :\n           $('Calculate Status').item.json['WordPress Error'] ? 'status-wp-error' :\n           $('Calculate Status').item.json['Website Error'] ? 'status-website-error' :\n           $('Calculate Status').item.json['Whitescreen Death'] ? 'status-whitescreen' :\n           ($('Calculate Status').item.json['DOWN_FROM_UP'] || $('Calculate Status').item.json['DOWN_FROM_DOWN']) ? 'status-down' : 'status-up' }}\">\n        {{\n            $('Calculate Status').item.json.Suspended ? 'SUSPENDED' : \n            $('Calculate Status').item.json.Compromised ? 'COMPROMISED' :\n            $('Calculate Status').item.json['WordPress Error'] ? 'WORDPRESS ERROR' :\n            $('Calculate Status').item.json['Website Error'] ? 'WEBSITE ERROR' :\n            $('Calculate Status').item.json['Whitescreen Death'] ? 'WHITESCREEN DEATH' :\n            ($('Calculate Status').item.json['DOWN_FROM_UP'] || $('Calculate Status').item.json['DOWN_FROM_DOWN']) ? 'DOWN' : 'UP'\n        }}\n    </span>\n    {{\n        $('Calculate Status').item.json.Suspended ? ' due to hosting provider' :\n        $('Calculate Status').item.json.Compromised ? ' – site may be at risk' :\n        $('Calculate Status').item.json['WordPress Error'] ? ' – WordPress configuration issue' :\n        $('Calculate Status').item.json['Website Error'] ? ' – General website error' :\n        $('Calculate Status').item.json['Whitescreen Death'] ? ' – White screen detected' :\n        ''\n    }}\n</div>\n            \n            <div class=\"server-info\">\n                <div class=\"server-info-item\">\n                    <strong>Platform:</strong> {{ $json.Platform }}\n                </div>\n                <div class=\"server-info-item\">\n                    <strong>Server:</strong> {{ $json.Server }}\n                </div>\n            </div>\n        </div>\n        <div class=\"footer\">\n            This is an automated notification from your N8N Website Monitoring System\n        </div>\n    </div>\n</body>\n</html>","options":{"appendAttribution":false,"senderName":"GMI Website Monitoring Automation"}},"id":"50902313-e572-48fe-9fae-fbaf3c6c1eb9","name":"Send Email Alert for SUSPEND/DOWN","type":"n8n-nodes-base.gmail","position":[800,1160],"typeVersion":2.1,"webhookId":"7c4ce27c-5f12-4535-9477-31b3a43dfbcc","executeOnce":true,"credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}},{"parameters":{"jsCode":"// Define the HTML structure with improved styling and categorization\nconst htmlTemplate = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Website Monitoring Report</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 900px;\n            margin: 0 auto;\n            padding: 20px;\n            background-color: #f5f7fa;\n        }\n        .container {\n            background-color: #ffffff;\n            border-radius: 10px;\n            box-shadow: 0 4px 15px rgba(0,0,0,0.08);\n            padding: 30px;\n            border-top: 5px solid #3498db;\n        }\n        header {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            padding-bottom: 20px;\n            margin-bottom: 25px;\n            border-bottom: 2px solid #f0f2f5;\n        }\n        .header-content {\n            flex-grow: 1;\n            margin-right: 30px;\n        }\n        .timestamp {\n            background-color: #f8fafc;\n            padding: 8px 12px;\n            border-radius: 6px;\n            font-size: 14px;\n            color: #64748b;\n        }\n        .timestamp-container {\n            display: flex;\n            flex-direction: column;\n            gap: 5px;\n        }\n        h2 {\n            color: #1e3a8a;\n            margin-top: 0;\n            font-size: 26px;\n            font-weight: 600;\n        }\n        h3 {\n            color: #1e3a8a;\n            margin-top: 40px;\n            margin-bottom: 15px;\n            font-size: 20px;\n            font-weight: 600;\n            padding-bottom: 8px;\n            border-bottom: 2px solid #e5e7eb;\n        }\n        table {\n            width: 100%;\n            border-collapse: separate;\n            border-spacing: 0;\n            margin: 20px 0;\n            font-size: 15px;\n            box-shadow: 0 2px 5px rgba(0,0,0,0.05);\n            border-radius: 8px;\n            overflow: hidden;\n        }\n        th, td {\n            padding: 14px 18px;\n            border: none;\n            border-bottom: 1px solid #e5e7eb;\n        }\n        th {\n            background-color: #f1f5f9;\n            color: #334155;\n            font-weight: 600;\n            text-transform: uppercase;\n            font-size: 13px;\n            letter-spacing: 0.5px;\n        }\n        tr:last-child td {\n            border-bottom: none;\n        }\n        tr:nth-child(even) {\n            background-color: #fafbfc;\n        }\n        tr:hover {\n            background-color: #f1f5fb;\n        }\n        .status-up {\n            color: green;\n            font-weight: bold;\n        }\n        .status-down, .status-compromised, .status-wordpress-error, .status-website-error, .status-whitescreen-death {\n            color: red;\n            font-weight: bold;\n        }\n        .status-suspended {\n            color: orange;\n            font-weight: bold;\n        }\n        .website-column {\n            width: 25%;\n            text-align: left;\n        }\n        .status-column {\n            width: 15%;\n            text-align: left;\n        }\n        .code-column {\n            width: 10%;\n            text-align: center;\n        }\n        .message-column {\n            width: 20%;\n            text-align: center;\n        }\n        .visitors-column {\n            width: 15%;\n            text-align: center;\n        }\n        .metrics-column {\n            width: 15%;\n            text-align: center;\n        }\n        .website-link {\n            color: #2563eb;\n            text-decoration: none;\n            font-weight: 500;\n            display: block;\n            white-space: nowrap;\n            overflow: hidden;\n            text-overflow: ellipsis;\n            max-width: 300px;\n            transition: color 0.2s;\n        }\n        .website-link:hover {\n            color: #1d4ed8;\n            text-decoration: underline;\n        }\n        .code-badge {\n            display: inline-block;\n            padding: 4px 8px;\n            background-color: #f1f5f9;\n            border-radius: 4px;\n            font-family: monospace;\n            font-weight: 600;\n        }\n        .success-code {\n            background-color: #ecfdf5;\n            color: #065f46;\n        }\n        .error-code {\n            background-color: #fef2f2;\n            color: #991b1b;\n        }\n        .warning-code {\n            background-color: #fffbeb;\n            color: #92400e;\n        }\n        .footer {\n            margin-top: 30px;\n            text-align: center;\n            font-size: 14px;\n            color: #64748b;\n            padding-top: 20px;\n            border-top: 1px solid #e5e7eb;\n        }\n        .summary-section {\n            display: flex;\n            justify-content: space-around;\n            margin-bottom: 25px;\n            text-align: center;\n        }\n        .summary-box {\n            padding: 15px;\n            border-radius: 8px;\n            width: 30%;\n        }\n        .summary-label {\n            font-size: 14px;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n            margin-bottom: 5px;\n            color: #64748b;\n        }\n        .summary-value {\n            font-size: 24px;\n            font-weight: 700;\n        }\n        .up-box {\n            background-color: #f0fdf4;\n            border: 1px solid #dcfce7;\n        }\n        .down-box {\n            background-color: #fef2f2;\n            border: 1px solid #fee2e2;\n        }\n        .suspended-box {\n            background-color: #fffbeb;\n            border: 1px solid #fef3c7;\n        }\n        .error-box {\n            background-color: #fef2f2;\n            border: 1px solid #fee2e2;\n        }\n        .timestamp-label {\n            font-weight: 600;\n        }\n        .visitor-count {\n            font-weight: 600;\n            color: #4b5563;\n        }\n        .visitor-badge {\n            display: inline-block;\n            padding: 3px 6px;\n            border-radius: 4px;\n            background-color: #e0f2fe;\n            color: #0369a1;\n            font-weight: 600;\n        }\n        .metrics-badge {\n            display: inline-block;\n            padding: 3px 6px;\n            border-radius: 4px;\n            background-color: #f0f9ff;\n            color: #075985;\n            font-weight: 600;\n        }\n        .category-section {\n            margin-bottom: 30px;\n        }\n        .empty-table-message {\n            text-align: center;\n            padding: 20px;\n            font-style: italic;\n            color: #64748b;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <header>\n            <div class=\"header-content\">\n                <h2>Website Monitoring Report</h2>\n                <p>Monitoring the results for all our websites</p>\n            </div>\n            <div class=\"timestamp-container\">\n                <div class=\"timestamp\">\n                    <span class=\"timestamp-label\">🇫🇷 France:</span> ${formatFrenchTime()} <br><br> <span class=\"timestamp-label\">🇮🇳 India:</span> ${formatIndianTime()}\n                </div>\n            </div>\n        </header>\n        \n        <div class=\"summary-section\">\n            <div class=\"summary-box up-box\">\n                <div class=\"summary-label\">Up</div>\n                <div class=\"summary-value\">{{UP_COUNT}}</div>\n            </div>\n            <div class=\"summary-box down-box\">\n                <div class=\"summary-label\">Down</div>\n                <div class=\"summary-value\">{{DOWN_COUNT}}</div>\n            </div>\n            <div class=\"summary-box suspended-box\">\n                <div class=\"summary-label\">Suspended</div>\n                <div class=\"summary-value\">{{SUSPENDED_COUNT}}</div>\n            </div>\n            <div class=\"summary-box error-box\">\n                <div class=\"summary-label\">Errors</div>\n                <div class=\"summary-value\">{{ERROR_COUNT}}</div>\n            </div>\n        </div>\n        \n        <!-- GMG Internal Section -->\n        <div id=\"gmg-internal\" class=\"category-section\">\n            <h3>GMG Internal</h3>\n            {{GMG_INTERNAL_TABLE}}\n        </div>\n        \n        <!-- GMG External Section -->\n        <div id=\"gmg-external\" class=\"category-section\">\n            <h3>GMG External</h3>\n            {{GMG_EXTERNAL_TABLE}}\n        </div>\n        \n        <!-- Clients Section -->\n        <div id=\"clients\" class=\"category-section\">\n            <h3>Clients</h3>\n            {{CLIENTS_TABLE}}\n        </div>\n        \n        <div class=\"footer\">\n            <p>This is an automated status report generated on:</p>\n            <p>🇫🇷 France: ${formatFrenchTime()} | 🇮🇳 India: ${formatIndianTime()}</p>\n        </div>\n    </div>\n</body>\n</html>\n`;\n\n// Table template for each category\nconst tableTemplate = `\n<table>\n    <thead>\n        <tr>\n            <th class=\"website-column\">Website</th>\n            <th class=\"status-column\">Status</th>\n            <th class=\"code-column\">Status Code</th>\n            <th class=\"message-column\">Status Message</th>\n            <th class=\"visitors-column\">Last 7 Days<br><span>visitors<span></th>\n            <th class=\"visitors-column\">Last 28 Days<br><span>visitors<span></th>\n            <th class=\"metrics-column\">Avg. Session<br><span>Duration<span></th>\n            <th class=\"metrics-column\">Bounce<br><span>Rate<span></th>\n            <th class=\"metrics-column\">Top<br><span>Country<span></th>\n        </tr>\n    </thead>\n    <tbody>\n        {{ROWS}}\n    </tbody>\n</table>\n`;\n\n// Function to format date in French timezone with DD/MM/YYYY format\nfunction formatFrenchTime() {\n    const now = new Date();\n    \n    // Format for France (Central European Time)\n    const frenchOptions = { timeZone: 'Europe/Paris' };\n    const frenchDate = now.toLocaleDateString('fr-FR', frenchOptions);\n    const frenchTime = now.toLocaleTimeString('fr-FR', frenchOptions);\n    \n    return `${frenchDate} ${frenchTime}`;\n}\n\n// Function to format date in Indian timezone with DD/MM/YYYY format\nfunction formatIndianTime() {\n    const now = new Date();\n    \n    // Format for India (Indian Standard Time)\n    const indianOptions = { timeZone: 'Asia/Kolkata' };\n    const indianDate = now.toLocaleDateString('en-IN', indianOptions);\n    const indianTime = now.toLocaleTimeString('en-IN', indianOptions);\n    \n    return `${indianDate} ${indianTime}`;\n}\n\n// Function to get status indicator\nfunction getStatusIndicator(status) {\n    if (status === \"UP\") return `<span class=\"status-up\">🟢 UP</span>`;\n    if (status === \"DOWN\") return `<span class=\"status-down\">🔴 DOWN</span>`;\n    if (status === \"SUSPENDED\") return `<span class=\"status-suspended\">🟡 SUSPENDED</span>`;\n    if (status === \"COMPROMISED\") return `<span class=\"status-compromised\">🔴 COMPROMISED</span>`;\n    if (status === \"WORDPRESS ERROR\") return `<span class=\"status-wordpress-error\">🔴 WORDPRESS ERROR</span>`;\n    if (status === \"WEBSITE ERROR\") return `<span class=\"status-website-error\">🔴 WEBSITE ERROR</span>`;\n    if (status === \"WHITESCREEN DEATH\") return `<span class=\"status-whitescreen-death\">🔴 WHITESCREEN DEATH</span>`;\n    return status;\n}\n\n// Function to get appropriate code badge styling\nfunction getCodeBadgeClass(code) {\n    const codeNum = parseInt(code);\n    if (codeNum >= 200 && codeNum < 300) return \"success-code\";\n    if (codeNum >= 400 && codeNum < 500) return \"warning-code\";\n    if (codeNum >= 500) return \"error-code\";\n    return \"\";\n}\n\n// Define website categories\nconst gmgInternalSites = [\n    \"https://www.gmindia.tech/\",\n    \"https://acetechinside.com/\",\n    \"https://acetechinside.tech/\",\n    \"https://www.become.institute/\",\n    \"https://www.bimatech.io/\",\n    \"https://quantumleap.paris/\"\n];\n\nconst gmgExternalSites = [\n    \"http://a2zvisas.com/\",\n    \"https://edunextparis.com/\",\n    \"https://www.euronixa.eu/\",\n    \"https://www.euronixa.fr/\",\n    \"https://france.euronixa.eu/\"\n];\n\nconst clientSites = [\n    \"https://www.cleanformation.fr/\",\n    \"https://monbateauprive.com/\",\n    \"https://memoire-a-venir.org/\",\n    \"https://preprod.gmindia.tech/mda/\",\n    \"https://lourse.art/\",\n    \"https://a2zformalites.com/\"\n];\n\n// Get input data from n8n\nconst inputData = $input.all(); \n\n// Initialize objects to store categorized data\nconst categories = {\n    gmgInternal: [],\n    gmgExternal: [],\n    clients: []\n};\n\n// Count statuses\nlet upCount = 0;\nlet downCount = 0;\nlet suspendedCount = 0;\nlet errorCount = 0; // New counter for error statuses\n\n// Loop through each item in the data and categorize\nfor (const item of inputData) {\n    // Count statuses\n    if (item.json.Status === \"UP\") upCount++;\n    else if (item.json.Status === \"DOWN\") downCount++;\n    else if (item.json.Status === \"SUSPENDED\") suspendedCount++;\n    else if ([\"COMPROMISED\", \"WORDPRESS ERROR\", \"WEBSITE ERROR\", \"WHITESCREEN DEATH\"].includes(item.json.Status)) errorCount++;\n    \n    // Get website URL\n    const websiteUrl = item.json.Property;\n    \n    // Categorize based on website URL\n    if (gmgInternalSites.includes(websiteUrl)) {\n        categories.gmgInternal.push(item);\n    } else if (gmgExternalSites.includes(websiteUrl)) {\n        categories.gmgExternal.push(item);\n    } else if (clientSites.includes(websiteUrl)) {\n        categories.clients.push(item);\n    } else {\n        // If it doesn't match any predefined category, check for patterns\n        if (websiteUrl.includes(\"gmindia\") || \n            websiteUrl.includes(\"acetech\") || \n            websiteUrl.includes(\"become.institute\") || \n            websiteUrl.includes(\"bimatech\") || \n            websiteUrl.includes(\"quantumleap\")) {\n            categories.gmgInternal.push(item);\n        } else if (websiteUrl.includes(\"a2zvisas\") || \n                  websiteUrl.includes(\"edunext\") || \n                  websiteUrl.includes(\"euronixa\")) {\n            categories.gmgExternal.push(item);\n        } else if (websiteUrl.includes(\"a2zformalites\")) {\n            categories.clients.push(item);\n        } else {\n            // If still can't categorize, add to clients as fallback\n            categories.clients.push(item);\n        }\n    }\n}\n\n// Function to create a table row for a website\nfunction createTableRow(item) {\n    if (!item || !item.json) return \"\";\n    \n    const statusCode = item.json[\"Status Code\"] || \"\";\n    const codeBadgeClass = getCodeBadgeClass(statusCode);\n    \n    return `\n        <tr>\n            <td class=\"website-column\">\n                <a href=\"${item.json.Property}\" target=\"_blank\" class=\"website-link\">${item.json.Property}</a>\n            </td>\n            <td class=\"status-column\">${getStatusIndicator(item.json.Status || \"\")}</td>\n            <td class=\"code-column\">\n                <span class=\"code-badge ${codeBadgeClass}\">${statusCode}</span>\n            </td>\n            <td class=\"message-column\">${item.json[\"Status Message\"] || \"\"}</td>\n            <td class=\"visitors-column\">\n                <span class=\"visitor-badge\">${item.json[\"Visitor Last 7 Days\"] || \"\"}</span>\n            </td>\n            <td class=\"visitors-column\">\n                <span class=\"visitor-badge\">${item.json[\"Visitor Last 28 Days\"] || \"\"}</span>\n            </td>\n            <td class=\"metrics-column\">\n                <span class=\"metrics-badge\">${item.json[\"Avg. Session Duration\"] || \"\"}</span>\n            </td>\n            <td class=\"metrics-column\">\n                <span class=\"metrics-badge\">${item.json[\"Bounce Rate\"] || \"\"}</span>\n            </td>\n            <td class=\"metrics-column\">\n                <span class=\"metrics-badge\">${item.json[\"Top Country\"] || \"\"}</span>\n            </td>\n        </tr>\n    `;\n}\n\n// Function to generate table with rows or placeholder message\nfunction generateTable(categoryItems) {\n    if (categoryItems.length === 0) {\n        return `<div class=\"empty-table-message\">No websites currently monitored in this category</div>`;\n    }\n    \n    let rows = \"\";\n    for (const item of categoryItems) {\n        rows += createTableRow(item);\n    }\n    \n    return tableTemplate.replace(\"{{ROWS}}\", rows);\n}\n\n// Generate tables for each category\nconst gmgInternalTable = generateTable(categories.gmgInternal);\nconst gmgExternalTable = generateTable(categories.gmgExternal);\nconst clientsTable = generateTable(categories.clients);\n\n// Replace placeholders in the HTML template\nlet finalHtml = htmlTemplate\n    .replace(\"{{GMG_INTERNAL_TABLE}}\", gmgInternalTable)\n    .replace(\"{{GMG_EXTERNAL_TABLE}}\", gmgExternalTable)\n    .replace(\"{{CLIENTS_TABLE}}\", clientsTable)\n    .replace(\"{{UP_COUNT}}\", upCount)\n    .replace(\"{{DOWN_COUNT}}\", downCount)\n    .replace(\"{{SUSPENDED_COUNT}}\", suspendedCount)\n    .replace(\"{{ERROR_COUNT}}\", errorCount);\n\n// Return the HTML output\nreturn [{ json: { html: finalHtml } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,1700],"id":"2758a57c-1aa8-4fed-93c9-1f7a53150fc1","name":"HTML website status table generator"},{"parameters":{"sendTo":"m.jasim@gmindia.tech, vk.asokan@gmindia.tech, ms.ceo@gmindia.tech, jj.egbert@gmindia.tech","subject":"=Website Monitoring Report | {{ new Date().toLocaleDateString(\"en-US\", { year: \"numeric\", month: \"long\", day: \"numeric\" }) }}\n","message":"={{ $json.html }}","options":{"appendAttribution":"={{ false }}","senderName":"GMI Website Monitoring Automation"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[940,1700],"id":"084f41a4-130f-4b13-8666-a0cd34fff961","name":"Send Overall Report Email","webhookId":"cb3b4ea2-4ff9-4b03-8bf4-3254b9b7a08b","executeOnce":true,"credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[400,1700],"id":"8c9c6cc3-585d-4cb1-9e01-0ad20c51ac90","name":"Get the website monitoring RESULTS","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-300,1780],"id":"bb7c50fa-6e8e-481c-84dc-01ac18e66e34","name":"Waiting for website monitoring updates","webhookId":"85cb0598-32f3-444e-a689-757592c7ce7b"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[120,1780],"id":"8b265e47-8354-4853-9837-6906b201399b","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"1Fcuf9Nl0HIFgtu7F3G0z5MbgH9k---dVwTf_sbEOMyU","mode":"list","cachedResultName":"GMI Websites Google Anaytics Properties","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Fcuf9Nl0HIFgtu7F3G0z5MbgH9k---dVwTf_sbEOMyU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Properties","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Fcuf9Nl0HIFgtu7F3G0z5MbgH9k---dVwTf_sbEOMyU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-80,1780],"id":"23a3615b-f6c4-4597-bf12-659e95ec3da6","name":"Get properties & site links","retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU","mode":"list","cachedResultName":"N8N Website Monitoring Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Dashboard","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bILozE3ODNd7ajl6n1QgDfZyGuHdqhIElBco7n9YfVU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Property":"={{ $('Loop Over Items').item.json['Website Link'] }}","Visitor Last 7 Days":"={{ $json.active7DayUsers }}","Visitor Last 28 Days":"={{ $json.active28DayUsers }}","Avg. Session Duration":"={{ $json.userEngagementDuration && $json.userEngagementDuration !== 0 ? Math.floor($json.userEngagementDuration / 60) + \"m \" + ($json.userEngagementDuration % 60) + \"s\" : \"\" }}","Bounce Rate":"={{ $json.bounceRate && $json.bounceRate !== 0 ? ($json.bounceRate * 100).toFixed(2) + \"%\" : \"\" }}","Top Country":"={{ $json.country }}"},"matchingColumns":["Property"],"schema":[{"id":"Property","displayName":"Property","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Code","displayName":"Status Code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status Message","displayName":"Status Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Platform","displayName":"Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Server","displayName":"Server","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Visitor Last 7 Days","displayName":"Visitor Last 7 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Visitor Last 28 Days","displayName":"Visitor Last 28 Days","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Avg. Session Duration","displayName":"Avg. Session Duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Bounce Rate","displayName":"Bounce Rate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Top Country","displayName":"Top Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"821c9375-d44b-4f68-823f-4992a4803ae2","name":"Update Visitor Status","type":"n8n-nodes-base.googleSheets","position":[1060,2100],"typeVersion":4.3,"credentials":{"googleSheetsOAuth2Api":{"id":"elzGQmQMVKk7BX6Q","name":"Google Sheets account 9"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"de0776c0-a081-42b3-bc77-2156116c46ce","leftValue":"={{ $json['Property ID'] }}","rightValue":"={{ $json['Property ID'] }}","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[180,2020],"id":"3a0afe03-f7fa-41ca-aab0-424664ac59c8","name":"If empty"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[860,2000],"id":"da7322bd-e92f-45aa-8599-0eb3dfe6e91f","name":"Merge"},{"parameters":{"propertyId":{"__rl":true,"value":"={{ $('If empty').item.json['Property ID'] }}","mode":"id"},"dateRange":"yesterday","metricsGA4":{"metricValues":[{}]},"dimensionsGA4":{"dimensionValues":[{"listName":"country"}]},"returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.googleAnalytics","typeVersion":2,"position":[440,2040],"id":"25c6a609-9261-4a7f-9009-22a500c591cf","name":"Demographics Data Google Analytics","alwaysOutputData":true,"credentials":{"googleAnalyticsOAuth2":{"id":"QNgzYDBNwqVS9ez3","name":"Google Analytics account 2"}}},{"parameters":{"propertyId":{"__rl":true,"value":"={{ $json['Property ID'] }}","mode":"id"},"dateRange":"yesterday","metricsGA4":{"metricValues":[{"listName":"active7DayUsers"},{"listName":"active28DayUsers"},{"listName":"userEngagementDuration"},{"listName":"other","name":"=bounceRate"}]},"dimensionsGA4":{"dimensionValues":[{}]},"returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.googleAnalytics","typeVersion":2,"position":[540,1860],"id":"738083d0-78e1-4322-a830-01fb9a620926","name":"Visitors, Engagement & BounceRate Google Analytics","retryOnFail":false,"executeOnce":false,"alwaysOutputData":true,"credentials":{"googleAnalyticsOAuth2":{"id":"QNgzYDBNwqVS9ez3","name":"Google Analytics account 2"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  // Sort the items by totalUsers in descending order\nconst sortedItems = items.sort((a, b) => b.json.totalUsers - a.json.totalUsers);\n\n// Return only the first item (country with highest totalUsers)\nreturn [sortedItems[0]];\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,2040],"id":"c54b0f39-ac58-441b-b2a5-dfeb41ac9a5d","name":"Seperate Top Visitors Country | CustomCode"},{"parameters":{"content":"## Website Up & Down Time Monitoring","height":1020,"width":1440},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,620],"id":"9bf0eac0-978d-467e-98ba-0d7fd1b919a3","name":"Sticky Note1"},{"parameters":{"sendTo":"m.jasim@gmindia.tech, vk.asokan@gmindia.tech, ms.ceo@gmindia.tech, jj.egbert@gmindia.tech","subject":"=Website Monitoring Report | {{ new Date().toLocaleDateString(\"en-US\", { year: \"numeric\", month: \"long\", day: \"numeric\" }) }}\n","message":"={{ $json.html }}","options":{"appendAttribution":"={{ false }}","senderName":"GMI Website Monitoring Automation"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1400,1700],"id":"8476010d-2627-44d6-acc5-3fa51409d6ed","name":"Send Overall Report Email1","webhookId":"cb3b4ea2-4ff9-4b03-8bf4-3254b9b7a08b","executeOnce":true,"credentials":{"gmailOAuth2":{"id":"CTQPBdqXhtBIuuJt","name":"Gmail account 5"}},"disabled":true},{"parameters":{"content":"## Google Analytics Report","height":680,"width":1640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-380,1680],"id":"ef885a06-7c9e-431b-a4f9-b24e3e87a518","name":"Sticky Note"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Sites","type":"main","index":0},{"node":"Waiting for website monitoring updates","type":"main","index":0}]]},"Get Sites":{"main":[[{"node":"For Each Site...","type":"main","index":0}]]},"For Each Site...":{"main":[[],[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Perform Site Test","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Perform Site Test","type":"main","index":0}]]},"Perform Site Test":{"main":[[{"node":"Seperate suspension URL","type":"main","index":0}]]},"Seperate suspension URL":{"main":[[{"node":"Calculate Status","type":"main","index":0}]]},"Calculate Status":{"main":[[{"node":"Status Router","type":"main","index":0}]]},"Status Router":{"main":[[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Log Uptime Event","type":"main","index":0},{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0}],[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Log Uptime Event","type":"main","index":0},{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0}],[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Log Uptime Event","type":"main","index":0},{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0}],[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}],[{"node":"Send Email Alert for SUSPEND/DOWN","type":"main","index":0},{"node":"Log Uptime Event","type":"main","index":0}]]},"Log Uptime Event":{"main":[[{"node":"Update Site Status","type":"main","index":0}]]},"Update Site Status":{"main":[[{"node":"For Each Site...","type":"main","index":0}]]},"HTML website status table generator":{"main":[[{"node":"Send Overall Report Email","type":"main","index":0}]]},"Get the website monitoring RESULTS":{"main":[[{"node":"HTML website status table generator","type":"main","index":0}]]},"Waiting for website monitoring updates":{"main":[[{"node":"Get properties & site links","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Get the website monitoring RESULTS","type":"main","index":0}],[{"node":"If empty","type":"main","index":0}]]},"Get properties & site links":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update Visitor Status":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If empty":{"main":[[{"node":"Visitors, Engagement & BounceRate Google Analytics","type":"main","index":0},{"node":"Demographics Data Google Analytics","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Update Visitor Status","type":"main","index":0}]]},"Demographics Data Google Analytics":{"main":[[{"node":"Seperate Top Visitors Country | CustomCode","type":"main","index":0}]]},"Visitors, Engagement & BounceRate Google Analytics":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Seperate Top Visitors Country | CustomCode":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[12]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4f63b12d-cd82-4925-b587-397360de524a","triggerCount":1,"tags":[]}