wordpress-template-generation-gXdevnFooiWvxtRT.json
{"createdAt":"2025-04-04T07:36:17.203Z","updatedAt":"2025-04-04T13:43:55.826Z","id":"gXdevnFooiWvxtRT","name":"Wordpress Template Generation","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1N6iJeIXrPOHrPDZC5wBaeMMXXayCPjYm","mode":"list","cachedResultName":"Wordpress Template","cachedResultUrl":"https://drive.google.com/drive/folders/1N6iJeIXrPOHrPDZC5wBaeMMXXayCPjYm"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-700,-40],"id":"e69b18f2-a250-47c5-bbdf-8847b7a7b6a2","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=Extract only the HTML, CSS, and JavaScript code from the provided source {{ $json.data }}. Completely remove all content inside <section> tags, including the tags themselves. Remove \\n and just delete the entire <section>...</section> blocks. Return only the cleaned code without any explanations or extra output.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[180,-40],"id":"9a7051a7-774c-4b00-ab97-dae34bbff30b","name":"AI Agent"},{"parameters":{"url":"={{ $json.webContentLink }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-340,-360],"id":"c41cd085-9773-48e7-90e8-d8255a01b173","name":"HTTP Request"},{"parameters":{"operation":"toText","sourceProperty":"data","binaryPropertyName":"datahtml","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-680,-360],"id":"00245488-bd49-4dc4-aadf-a6c4ed18cdb5","name":"Convert to File"},{"parameters":{"operation":"text","binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-180,-40],"id":"94cdd396-1a2e-4077-a6c2-21ec40659805","name":"Extract from File"},{"parameters":{"modelName":"models/gemini-2.5-pro-exp-03-25","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[200,160],"id":"10833bd0-d567-4fa2-b127-a52d230b4a9c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-440,-40],"id":"e1d342a5-c8bf-406e-b1c8-fb627a8058ec","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"html":"{{ $json.data }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[260,-260],"id":"bdaed3ee-b206-4c2d-89d5-272122f9a81c","name":"HTML"},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=You will receive a JSON object in the format {{ $json.data }}. For each section in the data, extract the content and format it as valid HTML. Before each section, include a clearly separated title using an <h2> tag with the section's title. Remove all newline characters from the final HTML output. Only return the HTML, nothing else.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[180,360],"id":"f36e7193-04c5-48d5-a347-32bedcc8ab2e","name":"AI Agent1"},{"parameters":{"modelName":"models/gemini-2.0-flash-thinking-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[220,580],"id":"b728c465-ddaf-4602-bf8a-4980a0cebe05","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"model":"deepseek-r1-distill-qwen-32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[840,60],"id":"9ed2ccb9-bb04-4e8d-a466-a7f53cb150c3","name":"Groq Chat Model","credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Convert to File":{"main":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"HTML","type":"main","index":0},{"node":"AI Agent","type":"main","index":0},{"node":"AI Agent1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"91bd8ca7-d486-4d59-9b8f-6c6b7b094d8f","triggerCount":0,"tags":[]}