wordpress-context-b9sjve3uEY27D5Px.json
{"updatedAt":"2025-10-06T13:41:06.738Z","createdAt":"2025-10-06T13:41:06.738Z","id":"b9sjve3uEY27D5Px","name":"WordPress Context","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Subworkflow","height":751,"width":2547,"color":6},"id":"d1dd53b6-2257-430d-b1cf-d2802dfa72bf","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-400,400],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"81de2a3e-24e3-4049-87e3-a7e6b5e7e1e8","name":"Return","type":"n8n-nodes-base.set","position":[1940,600],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"ed5c7b35-8d25-4193-aafb-266716345776","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[1040,480],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"12b5594b-ac7b-4218-a230-0f4162aae47d","name":"If file too large","type":"n8n-nodes-base.if","position":[840,500],"typeVersion":2},{"parameters":{},"id":"08d78322-eb3b-4537-98b3-6fae8cf7404e","name":"Merge Items","type":"n8n-nodes-base.merge","position":[840,760],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"},"id":"02e2a4b3-33d1-485b-a4fe-9bc792cfbd20","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[1040,760],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"2f42e0ad-dd47-44c4-8215-085c4d269b41","name":"Check Status","type":"n8n-nodes-base.switch","position":[1260,760],"typeVersion":1},{"parameters":{},"id":"02981ed7-ea10-492e-aab2-e05fb3fade68","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1480,600],"typeVersion":1},{"parameters":{},"id":"91916a82-e4df-4ec9-badc-c1b5fe6d1860","name":"File is different","type":"n8n-nodes-base.noOp","position":[1480,760],"typeVersion":1},{"parameters":{},"id":"44d8a2ca-eb60-488b-8733-605d88bbfaf9","name":"File is new","type":"n8n-nodes-base.noOp","position":[1480,920],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.name }}"},"filePath":"={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"fd453de7-a80f-43dd-86c7-70c11521724e","name":"Create new file","type":"n8n-nodes-base.github","position":[1700,920],"webhookId":"d7722bc1-3b69-4038-8f1e-ff7ba50498d1","typeVersion":1},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Globals').item.json.repo.name }}"},"filePath":"={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"73d8c82a-1fbc-4d7a-9929-f3b24a894e5f","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1700,740],"webhookId":"e55f87f7-9be4-425f-98b7-00ff88a09696","typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo.owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo.name }}"},"filePath":"={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"21894f7c-e3a8-4564-8f04-39543efc999a","name":"Get file data","type":"n8n-nodes-base.github","position":[640,500],"webhookId":"27006429-54a9-4234-a1ca-3ccc36a5a4ec","typeVersion":1,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"boagolden82"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"n8nback"},{"id":"81c4dc54-86bf-4432-a23f-22c7ea831e74","name":"repo.path","type":"string","value":"=workflows/{{ $json.tags[0].name }}"}]},"options":{}},"id":"8c10d079-3dbd-4857-9b41-25220564e32e","name":"Globals","type":"n8n-nodes-base.set","position":[420,660],"typeVersion":3.4},{"parameters":{"content":"## Edit this node 👇","height":80,"width":150,"color":4},"id":"4525fa7c-03fe-4749-8a2f-23917839578c","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[400,540],"typeVersion":1},{"parameters":{"inputSource":"passthrough"},"id":"bb8d1248-5081-42d5-8023-d1c44f779ec9","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-300,840],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"12cad226-e091-4bbb-aed9-a8e01311772c","name":"tags[0].name","type":"string","value":"={{ $('Execute Workflow Trigger').item.json.tags[0].name }}/"}]},"options":{}},"id":"4c9293c8-8ee5-462c-b5e6-a4df3376984b","name":"/","type":"n8n-nodes-base.set","position":[180,560],"typeVersion":3.4},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $json.tags[0] }}","rightValue":""}]},"renameOutput":true,"outputKey":"tag"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2656fbe3-fe35-4770-9c03-9a455ec618e4","operator":{"type":"object","operation":"notExists","singleValue":true},"leftValue":"={{ $json.tags[0] }}","rightValue":""}]},"renameOutput":true,"outputKey":"none"}]},"options":{}},"id":"b7b733f0-5be3-4dfc-88d1-80999f5d8bb6","name":"tag?","type":"n8n-nodes-base.switch","position":[-60,660],"typeVersion":3.2},{"parameters":{},"id":"85364c09-19cb-439d-8a9d-46374b379319","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[-260,-60],"typeVersion":1},{"parameters":{"operation":"getAll","returnAll":true,"options":{}},"id":"e814fcf7-3e3e-45b4-8851-c6a82b25f8a1","name":"Get All WP Posts","type":"n8n-nodes-base.wordpress","position":[40,80],"typeVersion":1},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"id":"03778a8c-b03a-449f-871a-44adac6cbb02","name":"Format JSON","type":"n8n-nodes-base.code","position":[300,100],"typeVersion":1,"notes":"将所有WP文章格式化为JSON文本"},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"value":{},"schema":[],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"id":"133b8652-c1ba-4c44-b637-ed8dd6756cc1","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[640,80],"typeVersion":1.2},{"parameters":{"rule":{"interval":[{"triggerAtHour":17}]}},"id":"1c1beef6-5c7a-4932-aadb-5b8abeb35480","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-180,180],"typeVersion":1.2}],"connections":{"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Get file data","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Merge Items","type":"main","index":1},{"node":"tag?","type":"main","index":0}]]},"/":{"main":[[{"node":"Globals","type":"main","index":0}]]},"tag?":{"main":[[{"node":"/","type":"main","index":0}],[{"node":"Globals","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Get All WP Posts","type":"main","index":0}]]},"Get All WP Posts":{"main":[[{"node":"Format JSON","type":"main","index":0}]]},"Format JSON":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get All WP Posts","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"c409bbe4-8a84-488f-b740-4cd294bedfb7","triggerCount":0,"shared":[{"updatedAt":"2025-10-06T13:41:06.749Z","createdAt":"2025-10-06T13:41:06.749Z","role":"workflow:owner","workflowId":"b9sjve3uEY27D5Px","projectId":"D9UETpAh94LkbOrf"}],"tags":[]}