wordpress-template-generation-gXdevnFooiWvxtRT.json
{"createdAt":"2025-04-04T07:36:17.203Z","updatedAt":"2025-05-02T07:39:22.659Z","id":"gXdevnFooiWvxtRT","name":"Wordpress Template Generation","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1N6iJeIXrPOHrPDZC5wBaeMMXXayCPjYm","mode":"list","cachedResultName":"Wordpress Template","cachedResultUrl":"https://drive.google.com/drive/folders/1N6iJeIXrPOHrPDZC5wBaeMMXXayCPjYm"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-700,-40],"id":"e69b18f2-a250-47c5-bbdf-8847b7a7b6a2","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"promptType":"define","text":"=Extract only the HTML, CSS, and JavaScript code from the provided source of google drive tools. Completely remove all content inside <section> tags, including the tags themselves. Remove \\n and just delete the entire <section>...</section> blocks. Return only the cleaned code without any explanations or extra output.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[180,-40],"id":"9a7051a7-774c-4b00-ab97-dae34bbff30b","name":"AI Agent","disabled":true},{"parameters":{"url":"={{ $json.webContentLink }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-340,-360],"id":"c41cd085-9773-48e7-90e8-d8255a01b173","name":"HTTP Request","disabled":true},{"parameters":{"operation":"toText","sourceProperty":"data","binaryPropertyName":"datahtml","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-680,-360],"id":"00245488-bd49-4dc4-aadf-a6c4ed18cdb5","name":"Convert to File","disabled":true},{"parameters":{"operation":"text","binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-180,-40],"id":"94cdd396-1a2e-4077-a6c2-21ec40659805","name":"Extract from File","disabled":true},{"parameters":{"modelName":"models/gemini-2.5-pro-exp-03-25","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[200,160],"id":"10833bd0-d567-4fa2-b127-a52d230b4a9c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}},"disabled":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-440,-40],"id":"e1d342a5-c8bf-406e-b1c8-fb627a8058ec","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}},"disabled":true},{"parameters":{"html":"{{ $json.data }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[260,-260],"id":"bdaed3ee-b206-4c2d-89d5-272122f9a81c","name":"HTML","disabled":true},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=You will receive a JSON object in the format {{ $json.data }}. For each section in the data, extract the content and format it as valid HTML. Before each section, include a clearly separated title using an <h2> tag with the section's title. Remove all newline characters from the final HTML output. Only return the HTML, nothing else.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[180,360],"id":"f36e7193-04c5-48d5-a347-32bedcc8ab2e","name":"AI Agent1","disabled":true},{"parameters":{"modelName":"models/gemini-2.0-flash-thinking-exp","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[220,580],"id":"b728c465-ddaf-4602-bf8a-4980a0cebe05","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}},"disabled":true},{"parameters":{"model":"deepseek-r1-distill-qwen-32b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-60,-340],"id":"9ed2ccb9-bb04-4e8d-a466-a7f53cb150c3","name":"Groq Chat Model","credentials":{"groqApi":{"id":"OMg6wcM6CQrVSwuJ","name":"Groq account 3"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[680,-440],"id":"8294b78d-741b-404b-a8b6-0e0acb590be4","name":"When clicking ‘Test workflow’"},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=You are a web development assistant specialized in WordPress and Elementor.\n\nI will provide raw HTML code (including HTML, CSS, and JavaScript) Here is the html code - {{ $json.data }}.\n\nYour task is to:\nExtract only the relevant front-end code (HTML, CSS, JavaScript) from the input.\n\nConvert this front-end code into a valid Elementor JSON template, compatible with Elementor's import/export system.\n\nEnsure:\nAll styles and scripts are properly inlined or referenced in a way that Elementor can render correctly.\n\nLayout, responsiveness, and design fidelity are preserved.\n\nSimulate missing structure using appropriate Elementor widgets or comments if needed.\n\nRemove any unnecessary /n and /, broken, or duplicate elements that don't serve the layout or function.\n\nOutput a fully-structured Elementor-compatible JSON file, ready for import via the Elementor editor.\n\nUse placeholder content when necessary, and ensure the output is as clean and optimized as possible.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1360,-440],"id":"7998cd14-c188-4e97-ad3d-e396e56dea02","name":"AI Agent2"},{"parameters":{"modelName":"models/gemini-2.5-pro-exp-03-25","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1340,-220],"id":"8d377826-9de0-4266-ad2d-17a8a3b2601d","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"LpKUzBEiaACwRhaP","name":"Google Gemini(PaLM) Api account 7"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1X4fZ68N7yFXAMe08rz7OazHuPCj73VI_","mode":"list","cachedResultName":"Myboat paris - Home page.html","cachedResultUrl":"https://drive.google.com/file/d/1X4fZ68N7yFXAMe08rz7OazHuPCj73VI_/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[900,-440],"id":"3aa52cdd-d4e4-4f96-85f7-355651acc478","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"QPbseGO1YaiqWnXP","name":"Google Drive account 3"}}},{"parameters":{"operation":"html","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[960,20],"id":"778a9fd7-2716-44a6-b838-b4d8a384e59e","name":"Extract from File1","disabled":true},{"parameters":{"operation":"toJson","options":{"format":false}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1420,20],"id":"b635d8ff-8e6d-4706-8130-45cc81ebecb5","name":"Convert to File1","disabled":true},{"parameters":{"operation":"binaryToPropery","options":{"encoding":"utf8"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1180,20],"id":"460a79c5-5533-4c4b-8b67-709d3842b2f8","name":"Extract from File3","disabled":true},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1100,-440],"id":"659ec8b0-81f6-4cd8-987e-5036d5989053","name":"Extract from File2"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"Convert to File":{"main":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"HTML","type":"main","index":0},{"node":"AI Agent","type":"main","index":0},{"node":"AI Agent1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"AI Agent2":{"main":[[]]},"Google Drive1":{"main":[[{"node":"Extract from File2","type":"main","index":0}]]},"Extract from File1":{"main":[[]]},"Convert to File1":{"main":[[]]},"Extract from File3":{"main":[[]]},"Extract from File2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Test workflow’":[{"json":{}}]},"versionId":"d19e607d-185a-4cc5-89f6-2d98567ddb86","triggerCount":0,"tags":[]}